<td>
<%=raw( image_tag('icons/page_white_text.png') )%>
<%=raw( link_to file_name, :action => 'download', :id => @assignment.id,
 :revision_number => @revision.revision_number, :file_name => file_name,
  :path => @path )%>
</td>

<td>
<%=I18n.l(file.last_modified_date, :format => :long_date) %>
</td>

<td>
<%= file.user_id %>
</td>

<td>
<input type="hidden" id="file_revisions[<%= file_name %>]"
name="file_revisions[<%= file_name %>]" value="<%= file.last_modified_revision%>"/>

<input id="replace_files[<%= file_name %>]" name="replace_files[<%= file_name %>]" type="file" onchange="check_change_of_filename('<%= file_name %>', this.value.escapeHTML(), this); set_onbeforeunload(true);" <%="disabled" if !@grouping.is_valid? %> size="5"/>

<a href="#" onclick="$('replace_files[<%= file_name %>]').setValue(''); set_onbeforeunload(true); return false;" >Cancel</a>
</td>

<td>
<input name="delete_files[<%= file_name %>]" type="checkbox"
<%="disabled" if !@grouping.is_valid? %> onclick="if($(this).getValue()) {
   $('replace_files[<%= file_name %>]').disable();
  } else {
   $('replace_files[<%= file_name %>]').enable();
  }; set_onbeforeunload(true);
"/>

</td>
