<style>
#main_submit {
    margin-left: 350px;
}
#sidebar {
    float: left;
    width: 350px;
    margin: 0;
    border: 10px;
}
.module {
    width: 300px;
    border: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted grey;
}
div.module h3 {
    color: #AE0000;
}
div.module table {
    list-style: none;
    color: #3c3c3c;
    font-weight: bold;
    padding-left: 2em;
}

.status { 
  color: #FFF; 
  padding-left: 0.5em; 
  padding-right: 0.5em; 
}

.inviter { background: #6B006B; }
.pending { background: #FFCC00; }
.accepted { background: #00B366; }
.rejected { background: #B32400; }


/* submissions table */
#browser table {
border-left:1px solid #D8D8D8;
border-right:1px solid #D8D8D8;
border-top:1px solid #D8D8D8;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
font-size:90%;
width:65%;
text-align:left;
line-height: 1.4em;
}

#browser table th {
background-color:#EAEAEA;
border-bottom:1px solid #D8D8D8;
color:#999999;
font-weight:normal;
padding:0.5em 0.3em;
text-align:left;
}

#browser table td {
background:#F8F8F8 url(/images/row_bg.png) repeat-x scroll 0 100%;
border-bottom:1px solid #E1E1E1;
color:#484848;
padding:0.25em 0.15em;
font-size:90%;
}
#browser table td.icon {
width:1.3em;
}

#browser table a {
    color:#0066B3;
}

</style>


<span id="time"><%= Time.now.strftime("Today is %A, %B %d, %Y %I:%M%p") %></span>

<div id="sidebar">

  <div class="module">
    <h3 style="background:#555;color:#fff;padding:0.25em;">Group Information</h3>

    <table style="border:none">
      <tr><td>g6busemi</td><td><span class="status inviter">inviter</span></td></tr>
      <tr><td>g8bergal</td><td><span class="status pending">pending</span></td></tr>
      <tr><td>g6flor</td><td><span class="status accepted">accepted</span></td></tr>
      <tr><td>c4arnold</td><td><span class="status rejected">rejected</span></td><td><a href="#"> [x]</a></td></tr>
      <tr><td>g6busemi</td><td><span class="status accepted">accepted</span></td></tr>
      <tr><td>g6flor</td><td><span class="status accepted">accepted</span></td></tr>
      <tr><td>g6flore</td><td><span class="status pending">pending</span></td></tr>
      <tr><td>g6flor</td><td><span class="status rejected">rejected</span></td><td><a href="#"> [x]</a></td></tr>
    </table>
<% form_tag :action => 'status', :id => @assignment.id do -%>
  <p style="background:#E0EAF1; padding:0.3em;font-size:85%;">Invite other members in the group by typing their username(s) separated by commas</p>

    <p>
      <div class="fail-no-img" style="width:250px;margin-left:0.5em">
        <%= image_tag '/images/icon_error.png', :size => "13x13" %> 
      <b>g6flores</b> has <b>not</b> been invited<br />
 <%= image_tag '/images/icon_error.png', :size => "13x13" %> 
      <b>g8turino</b> has <b>not</b> been invited<br />
      </div>
  </p><br/>

  
  <%= text_field_tag 'lala', 'type username(s) to invite', :size => 30, :onclick => "if (this.value == 'type username(s) to invite') { this.value='' }", :style => "color:  #777;" %>
  <p><%= submit_tag "Invite" %></p>
<% end -%>

  </div>

</div>

<h1>Submit an Assignment</h1>

<% # lists files to upload -%>
<h3>Upload Files for <%= h(@assignment.name) %> (deadline: 
<%= @assignment.due_date.strftime("%A, %B %d, %Y at %I:%M%p") %>)</h3>

<% if flash[:error] -%>
  <div class="error"><%= flash[:error] %></div><br />
<% end -%>

<% # Display upload messages -%>
<% if flash[:upload] -%>
<% unless flash[:upload][:fail].empty? -%>
  <div class="fail-no-img">
    <% for f in flash[:upload][:fail] -%>
        <%= image_tag '/images/icon_error.png', :size => "13x13" %> 
      <b><%=h f %></b> has <b>not</b> been submitted<br />
    <% end -%>
  </div><br />
<% end -%>
<% unless flash[:upload][:success].empty? -%>
  <div class="success-no-img">
    <% for f in flash[:upload][:success] -%>
        <%= image_tag '/images/icon_success.png', :size => "13x13" %> 
      <b><%=h f %></b> has been submitted<br />
    <% end -%>
  </div>
<% end -%>
<% end -%>

<p><%= h(@assignment.message) %></p>
<ul>
  <% for file in @assignment.assignment_files -%>
  <li><%= file.filename %></li>
  <% end -%>
</ul>


<% # Upload form -%>
<div id="submit_form">
<% form_tag({ :action => 'submit', :id => @assignment.id}, 
  :multipart => true) do -%>
  
  <% 1.times do |index| -%>
    <% fields_for "files[#{index}]" do |f| -%>
    <p><%= f.file_field :file %></p>
    <% end -%>
  <% end -%>
  
  <% if flash[:grace_days] && flash[:grace_days] > 0 -%>
    <p><%= check_box "group", "use_grace_day" %> Use a grace day to submit<p>
  <% end -%>
  
  <p><%= submit_tag "Submit Files", :name => 'upload' %></p>
<% end -%>
</div>

<% # lists submissions so far by student/group -%>
<% if @files.length == 0 -%>
<h3>You have no submissions so far</h3>
<% else -%>

<% # display links to submitted files by student/group -%>
<h3>View your<%= "group's" unless @assignment.individual? -%> submitted files:</h3>
<% end -%>

<div id="browser">

  <table cellpadding="0" cellspacing="0">
    <tbody><tr>
      <th></th>
      <th>name</th>
      <th>last submitted</th>
      <th>submitted by</th>
    </tr>

    
      <tr class="alt">
        <td class="icon"> <%= image_tag '/images/icon_file.png' %>  </td>
        <td> <a href="/arya/tm_syntax_highlighting/tree/master/MIT-LICENSE">MIT-LICENSE</a> </td>

        <td> <span class="relatize">October 30, 2008  09:56 AM</span> </td>
        <td> g6hitchco </td>
      </tr>
    
      <tr class="">
        <td class="icon"> <%= image_tag '/images/icon_file.png' %> </td>

        <td> <a href="/arya/tm_syntax_highlighting/tree/master/README">README</a> </td>
        <td> <span class="relatize">May 30, 2008  3:45 PM</span> </td>
        <td> g6wachows </td>
      </tr>

    
      <tr class="alt">
        <td class="icon"><%= image_tag '/images/icon_file.png' %> </td>
        <td> <a href="/arya/tm_syntax_highlighting/tree/master/Rakefile">Rakefile</a> </td>
        <td> <span class="relatize">June 08, 2008  11:23 AM</span> </td>
        <td>g6flores </td>

      </tr>
    
      <tr class="">
        <td class="icon"> <%= image_tag '/images/icon_file.png' %> </td>
        <td> <a href="/arya/tm_syntax_highlighting/tree/master/generators">supercalifragelisticexpialidocious</a> </td>
        <td> <span class="relatize">December 30, 2008  12:34 AM</span> </td>

        <td> g6deniro </td>
      </tr>
  </tbody></table>

  


  
  
  
  
</div>
  

