

<span id="time"><%= Time.now.strftime("Today is %A, %B %d, %Y %I:%M%p") %></span>
<h1>Submit an Assignment</h1>


<% # Display when assignment has groups -%>
<% if @group -%>
<h3>Group Status</h3>
<%= render :partial => 'group_status', :locals => { :group => @group } %>
<p><%= link_to "Add more members", :action => 'status', :id => @assignment.id %></p>
<% end -%>

<% # lists files to upload -%>
<h3>Upload Files for <%= h(@assignment.name) %> (deadline: 
<%= @assignment.due_date.strftime("%A, %B %d, %Y at %I:%M%p") %>)</h3>

<% if flash[:error] -%>
  <div class="error"><%= flash[:error] %></div><br />
<% end -%>

<% # Display upload messages -%>
<% if flash[:upload] -%>
<% unless flash[:upload][:fail].empty? -%>
  <div class="fail-no-img">
    <% for f in flash[:upload][:fail] -%>
        <%= image_tag '/images/icon_error.png', :size => "13x13" %> 
      <b><%=h f %></b> has <b>not</b> been submitted<br />
    <% end -%>
  </div><br />
<% end -%>
<% unless flash[:upload][:success].empty? -%>
  <div class="success-no-img">
    <% for f in flash[:upload][:success] -%>
        <%= image_tag '/images/icon_success.png', :size => "13x13" %> 
      <b><%=h f %></b> has been submitted<br />
    <% end -%>
  </div>
<% end -%>
<% end -%>

<p><%= h(@assignment.message) %></p>
<ul>
  <% for file in @assignment.assignment_files -%>
  <li><%= file.filename %></li>
  <% end -%>
</ul>


<% # Upload form -%>
<div id="submit_form">
<% form_tag({ :action => 'submit', :id => @assignment.id}, 
  :multipart => true) do -%>
  
  <% 3.times do |index| -%>
    <% fields_for "files[#{index}]" do |f| -%>
    <p><%= f.file_field :file %></p>
    <% end -%>
  <% end -%>
  
  <% if flash[:grace_days] && flash[:grace_days] > 0 -%>
    <p><%= check_box "group", "use_grace_day" %> Use a grace day to submit<p>
  <% end -%>
  
  <p><%= submit_tag "Submit Files", :name => 'upload' %></p>
<% end -%>
</div>

<% # lists submissions so far by student/group -%>
<% if @files.length == 0 -%>
<h3>You have no submissions so far</h3>
<% else -%>

<% # display links to submitted files by student/group -%>
<h3>Select the files below to view  your<%= "group's" unless @assignment.individual? -%> submitted files:</h3>
<% for sub in @files do -%>
  <%= link_to sub.filename, 
    :action => 'view', :id => @assignment.id, :filename => sub.filename %>
  <% end -%>

<% end -%>

  
