<%= stylesheet_link_tag 'submit.css', :media => 'all' %>

<script type="text/javascript" language="JavaScript">
  var submit_field_count = 1;

  // helper method to create a file field element of the form:
  // <input id="files_0_file" name="files[0][file]" size="30" type="file" />
  function create_submit_field() {
    var new_ff = new Element('input', {'type': 'file'});
    $(new_ff).id = "files_" + submit_field_count + "_file";
    $(new_ff).name = "files[" + submit_field_count + "][file]";
    $(new_ff).size = '30';
    submit_field_count++;

    return new_ff
  }

  /* Removes the file field paragraph (as parent of 'elem') */
  function remove_submit_field(elem) {
    var parent = elem.parentNode;
    $(parent).remove();
  }

  /* Adds additional submission file fields */
  function add_submit_fields() { 
    elem = new Element('p');
    // a javascript href does not accept 'this' as a pointer to the current node.
    elem.insert('<%= link_to "x ", "#", :onclick => "remove_submit_field(this);return false;" %>');
    var new_ff = create_submit_field();
    elem.insert(new_ff);
    
    // insert new field at the end (i.e. top of the submit button) of existing fields
    Element.insert($('submit_button'), { before: elem });
  }
</script>

<span id="time"><%= Time.now.strftime("Last refresh time is %A, %B %d, %Y %I:%M%p") %></span>

<% if @assignment.group_assignment? -%>
  <div id="sidebar">
    <%= render :partial => 'groups/status' %>
  </div>
<% end -%>

<!-- Main submissions page -->
<h1>Submit an Assignment</h1>
<div id="main_submit" <%= 'class="group_submit"' if @assignment.group_assignment? -%>>

  <% unless flash[:error] -%>
    
    <h3>
      Upload Files for <%= h(@assignment.name) %> (due 
      <%= @assignment.due_date.strftime("%A, %B %d, %Y at %I:%M%p") %>)
    </h3>
    <p><%= h(@assignment.message) %></p>
  
    <% # Upload error messages -%>
    <% unless flash[:upload][:fail].empty? -%>
      <div class="fail-no-img">
      <% for f in flash[:upload][:fail] -%>
        <%= image_tag '/images/icon_error.png', :size => "13x13" %> 
        <b><%=h f %></b> has <b>not</b> been submitted<br />
      <% end -%>
      </div><br />
    <% end -%>
  
    <% # Upload success messages -%>
    <% unless flash[:upload][:success].empty? -%>
      <div class="success-no-img">
      <% for f in flash[:upload][:success] -%>
        <%= image_tag '/images/icon_success.png', :size => "13x13" %> 
        <b><%=h f %></b> has been submitted<br />
      <% end -%>
      </div>
    <% end -%>
  
    <% # Upload form -%>
    <div id="submit_form">
      <p><%= link_to "Add more files", "#", :onclick => "add_submit_fields();return false;" %></p>
    <% form_tag({ :action => 'submit', 
        :id => @assignment.id}, :multipart => true) do -%>

      <% 1.times do |index| -%>
        <% fields_for "files[#{index}]" do |file| -%>
          <p>
            <%= link_to "x", "#", :onclick => "remove_submit_field(this);return false;" %>
            <%= file.file_field :file %>
          </p>
        <% end -%>
      <% end -%>
      <p id="submit_button"><%= submit_tag "Submit Files", :name => 'upload' %></p>
    <% end -%>
    </div>
  
    
    <% # lists submissions so far by student/group -%>
    <div id="browser">
      <% if @files.length == 0 -%>
      <h3>You have no submissions so far</h3>
        
      <% else -%>
      <h3>View your<%= " group's" if @assignment.group_assignment? -%> submitted files:</h3>
        
      <table cellpadding="0" cellspacing="0"><tbody>
        <tr id="table_heading">
          <th></th>
          <th>name</th>
          <th>last submitted</th>
          <th>submitted by</th>
          <th>delete?</th>
        </tr>
                
        <% for sub in @files do -%>
           <tr id="<%= 'filename_' + sub.filename %>">
             <td class="icon"><%= image_tag '/images/icon_file.png' %></td>
                      
             <% if sub.status == 'unsubmitted' -%>
             <td class="unsubmitted"><%= sub.filename %></td>
             <td class="unsubmitted">Not yet submitted (required)</td>
             <td></td>
             <td></td>
                        
             <% else -%>
             <td>
               <%= link_to sub.filename, :action => 'view', 
                 :id => @assignment.id, :filename => sub.filename %>
             </td>
             <td><%=h time_ago_in_words(sub.submitted_at) %> ago</td>
             <td><%=h sub.user.user_name %></td>
             <td align="center">
               <%= link_to_remote "x", :method => "delete", 
                 :url => { :action => 'remove_file', :id => @assignment.id, :filename => sub.filename}, 
                 :confirm => "Are you sure you want to delete this submission?" %>
             </td>
             <% end -%>
           </tr>
         <% end -%>
                    
       </tbody></table>
       <% end -%>
     </div>
  
  
  <% else -%>
    <% # User failed a requirement for submission; display message -%>
    <div class="error"><%= flash[:error] %></div>
  <% end -%>
  
</div>
  

