<%= stylesheet_link_tag("tabs") %>
<%= stylesheet_link_tag("rubrics") %>
<%= javascript_include_tag  'livepipe' %>
<%= javascript_include_tag  'tabs' %>
<%= javascript_include_tag  'rubrics' %>

<script>
var create_num = <%=@assignment.rubric_criterias.length%> + 1;
var authenticity_token = '<%=form_authenticity_token%>';
var selected_criterion_id = null;
var xhr_in_progress = false;
</script>

<ul id="rubric_tabs" class="subsection_tabs">
	<li class="tab"><a href="#manually_edit_rubric_canvas">Manually Edit Rubric</a></li>
	<li class="tab"><a href="#upload_rubric_file_canvas">Upload Rubric File</a></li>
</ul>


<div id="manually_edit_rubric_canvas">
	<input type="text" id="pull_focus" value="Hidden field to pull focus" style="display: none;">
	<div id="rubric_upper_pane">
	    <h2>Rubric Management:  <%= @assignment.name %></h2>	
		<div id="rubric_menu">
		<%= link_to '< Back to Manage Assignments', :controller => 'assignments', :action => 'index' %>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<div id="rubric_lower_pane">
		<div id="rubric_criteria_pane">
			<div id="rubric_criteria_pane_menu">
				<div style="float: left;">
					<h1>Rubric Criteria</h1>
				</div>
				<div style="float: right;">
                                        <%= link_to_remote '+ Add Criterion',:url => { :action => 'add_criterion',:id => @assignment.id}, :with => "'create_num='+create_num", :before => "create_num++;" %>
				</div>
				<div class="clear"></div>
			</div>

			<ul id="rubric_criteria_pane_list">
                          <% @assignment.rubric_criterias.each do |criterion| -%>
                                <%= render :partial => "rubrics/manage/criterion", :locals => {:criterion => criterion} %>
                         <% end -%>

			</ul>
                         <%= sortable_element("rubric_criteria_pane_list", :handle=> 'div', :url => { :action => "update_positions" }) %>			
		</div>
		
		<div id="rubric_levels_pane">
			<div id="rubric_levels_pane_menu">
				<h1>Rubric Levels: <span id="selected_criterion_name"></span></h1>
				
			</div>
			<div id="rubric_levels_pane_list">
                            <div class="rubric_level_holder" id="rubric_levels">
                            </div>
			</div>
			
			
		</div>
	</div>
</div>

<div id="upload_rubric_file_canvas">
<h1>Upload Rubric File</h1>
<form>
	<input type="file" name="rubric_file" id="rubric_file">
	<input type="submit" value="Upload File">
</form>
<form action="<%= url_for(:action => 'update') %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
<input type="hidden" name="val_from_submit" value="This works!">
<input type="submit">
</form>
</div>
