<div id="about_text">
  <h1><%= I18n.t(:about_markus) %></h1>
    
  <h2><%= I18n.t(:version) %></h2>
  <p><%= I18n.t(:using_markus_version) %><strong><%= @markus_version %></strong> </p>
    
  <h2><%= I18n.t(:license) %></h2>
  <p><%= I18n.t(:markus_license_OSI) %></p>
  
  <p><%= I18n.t(:markus_license_permission) %></p>
  
  <p><%= I18n.t(:markus_copyright_intro) %></p>
  
  <p><%= I18n.t(:markus_no_warranty) %></p>
  
  <p><%= I18n.t(:markus_copyright) %></p>
    
  <h2><%= I18n.t(:markus_credits) %></h2>
  <p><%= I18n.t(:markus_credits_thanks) %></p>
  <ul>
    <li>Geoffrey Flores, Mike Conley, Andrew Louis, Justin Foong (<%= I18n.t(:fall_2008) %>)</li>
    <li>Mike Conley, Veronica Wong, Amanda Manarin, Severin Gehwolf, Catherine Fawcett (<%= I18n.t(:winter_2009) %>)</li>
    <li>Mike Conley, Severin Gehwolf, Nelle Varoquaux, Neha Kumar (<%= I18n.t(:summer_2009) %>)</li>
    <li>Mike Conley, Gabriel Roy-Lortie, Simon Lavigne-Giroux, Mélanie Gaudet, Nelle Varoquaux, Fernando Garces, Tara Clark, Farah Juma, Severin Gehwolf (<%= I18n.t(:fall_2009) %>)</li>
    <li>Mike Gunderloy, Adam Goucher (<%= I18n.t(:industry_advisors) %>)</li>
    <li>Karen Reid (<%= I18n.t(:supervisor) %>)</li>
  </ul>
    
  <h2><%= I18n.t(:contact_us) %></h2>
  <p><%= I18n.t(:email_more_info) %></p>
  <p>&nbsp;</p>
</div>
<div id="about_close"><a class="button" href="#" onclick="about_modal.close();"><%= I18n.t(:close) %></a></div>
