<div id="about_content">
  <h1>About <%= I18n.t(:markus) %></h1>
  
  <h2>Version</h2>
  <p>You are using <%= I18n.t(:markus) %> version: <strong><%= @markus_version %></strong> </p>
  
  <h2>License</h2>
  <p>MarkUs is made available under the <a href="http://www.opensource.org">OSI</a>-approved
  <a href="http://www.opensource.org/licenses/mit-license.html">MIT license</a>.</p>

  <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software
  and associated documentation files (the "Software"), to deal in the Software without restriction,
  including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense,
  and/or sell copies of the Software, and to permit persons to whom the Software is furnished to
  do so, subject to the following conditions:</p>

  <p>The above copyright notice and this permission notice shall be included in all copies or
  substantial portions of the Software.</p>

  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING
  BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
  NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
  DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>

  <p>Copyright (c) 2008-09 by the authors.</p>
  
  <h2>Credits</h2>
  <p>Thanks to everyone who contributed to and made <%= I18n.t(:markus) %> possible.</p>
  
  <h2><%= I18n.t(:markus) %> Project Homepage</h2>
  <p>Please visit <a href="http://www.markusproject.org/">http://www.markusproject.org/</a> for more information.</p>
  
  <div id="about_close"><a class="button" href="#" onclick="about_modal.close();">Close</a></div>
</div>