<div id='about_text'>
  <h1><%= t(:about_markus) %></h1>
  <h2><%= t(:version) %></h2>

  <p><%= t(:using_markus_version) %><strong><%= @markus_version %></strong></p>
  <% if @current_user.admin? %>
    <p><%= t(:using_ruby_version) %><strong><%= RUBY_VERSION %></strong> </p>
    <p><%= t(:using_rails_version) %><strong><%= Rails::VERSION::STRING %></strong> </p>
  <% end %>

  <h2><%= raw(t(:license)) %></h2>
  <p><%= raw(t(:markus_license_OSI)) %></p>
  <p><%= raw(t(:markus_license_permission)) %></p>
  <p><%= raw(t(:markus_copyright_intro)) %></p>
  <p><%= raw(t(:markus_no_warranty)) %></p>
  <p><%= raw(t(:markus_copyright)) %></p>

  <h2><%= t(:markus_credits) %></h2>
  <p><%= t(:markus_credits_thanks) %></p>
  <p><%= render partial: 'markus_contributors' %></p>
  <p><%= t(:supervisors) %>Karen Reid, Morgan Magnin</p>

  <h2><%= raw(t(:contact_us)) %></h2>
  <p><%= raw(t(:email_more_info)) %></p>
</div>

<section class='dialog-actions'>
  <%= button_to_function t(:close), 'about_modal.close();' %>
</section>
