<div id="about_text">
  <h1><%= I18n.t(:about_markus) %></h1>
    
  <h2><%= I18n.t(:version) %></h2>
  <p><%= I18n.t(:using_markus_version) %><strong><%= @markus_version %></strong> </p>
    
  <h2><%= I18n.t(:license) %></h2>
  <p><%= I18n.t(:markus_license_OSI) %></p>
  
  <p><%= I18n.t(:markus_license_permission) %></p>
  
  <p><%= I18n.t(:markus_copyright_intro) %></p>
  
  <p><%= I18n.t(:markus_no_warranty) %></p>
  
  <p><%= I18n.t(:markus_copyright) %></p>
    
  <h2><%= I18n.t(:markus_credits) %></h2>
  <p><%= I18n.t(:markus_credits_thanks) %></p>
  <p>
    <%= render :partial => "markus_contributors" %>
  </p>
  <p><%= I18n.t(:supervisors) %> Karen Reid, Morgan Magnin </p>
    
  <h2><%= I18n.t(:contact_us) %></h2>
  <p><%= I18n.t(:email_more_info) %></p>
  <p>&nbsp;</p>
</div>
<div id="about_close">
  <a class="button" href="#" onclick="about_modal.close();">
    <%= I18n.t(:close) %>
  </a>
</div>
