<div id='about_text'>
  <h1><%= t(:about_markus) %></h1>
  <h2><%= t('about.version') %></h2>

  <p><%= t('about.markus_version') %><strong><%= Rails.configuration.markus_version %></strong></p>
  <p><%= t('about.ruby_version') %><strong><%= RUBY_VERSION %></strong> </p>
  <p><%= t('about.rails_version') %><strong><%= Rails::VERSION::STRING %></strong> </p>

  <h2><%= t('about.license') %></h2>
  <%= t('about.license_text_html') %>

  <h2><%= t('about.credits') %></h2>
  <p><%= t('about.credits_thanks') %></p>
  <p><%= render partial: 'markus_contributors' %></p>
  <p><%= t('about.supervisors') %> Karen Reid, Morgan Magnin, Benjamin Vialle, David Liu</p>

  <h2><%= t('about.contact_us') %></h2>
  <p><%= t('about.email_more_info_html') %></p>
</div>

<section class='dialog-actions'>
  <%= button_tag t(:close), id: 'about-modal-close' %>
</section>
