<div class="assignment_summary">

  <h2 class="title">
    <%= link_to I18n.t(
        :assignment_link,
        :short_id => assignment.short_identifier,
        :description => assignment.description),
      edit_assignment_path(:id => assignment.id),
      :class => 'title'
     %>
  </h2>

  <div class="left">
    <%= render :partial => "grade_distribution_graph", :locals => { :assignment => assignment } %>
  </div>

  <div class="right">
    <%= render :partial => "assignment_info_summary", :locals => { :assignment => assignment } %>
    <%= render :partial => "grader_summary", :locals => { :assignment => assignment } %>
    <p><%= link_to I18n.t(:refresh_graph), :controller => 'assignments',
        :action => 'refresh_graph', :id => assignment.id %></p>
  </div>
</div>
