<div class='section'>
  <% if @assignments.empty? %>
    <p><%= t(:no_assignments) %></p>
  <% else %>
    <div class="table">
      <table>
        <thead>
        <tr>
          <th><%= t(:name) %></th>
          <th><%= t(:due) %></th>
        </tr>
        </thead>
        <tbody>
        <% @assignments.each do |assignment| -%>
          <tr>
            <% unless assignment.is_peer_review? %>
              <td>
                <% if assignment.is_hidden %>
                  <%= link_to truncate(t('assignment.hidden',
                                         assignment_text:
                                           "#{h(assignment.short_identifier)}: #{h(assignment.description)}")),
                                       view_summary_assignment_path(assignment.id),
                              data: { remote: true, id: assignment.short_identifier },
                              class: (assignment == @current_assignment ? "link_disabled" : "") %>
                <% else %>
                  <%= link_to assignment.short_identifier + ': ' + assignment.description,
                              view_summary_assignment_path(assignment.id),
                              data: { remote: true, id: assignment.short_identifier },
                              class: (assignment == @current_assignment ? "link_disabled" : "") %>
                <% end %>

                <% if assignment.has_peer_review? %>
                  <% if assignment.pr_assignment.is_hidden %>
                    <%= link_to truncate(t('assignment.hidden',
                                           assignment_text:
                                               t('results.review_for') + assignment.short_identifier)),
                                view_summary_assignment_path(assignment.pr_assignment.id),
                                data: { remote: true, id: assignment.pr_assignment.short_identifier },
                                class: (assignment.pr_assignment == @current_assignment ? "pr_assignment_list link_disabled" :
                                    "pr_assignment_list") %>
                  <% else %>
                    <%= link_to t('results.review_for') + assignment.short_identifier,
                                view_summary_assignment_path(assignment.pr_assignment.id),
                                data: { remote: true, id: assignment.pr_assignment.short_identifier },
                                class: (assignment.pr_assignment == @current_assignment ? "pr_assignment_list link_disabled" :
                                    "pr_assignment_list") %>
                  <% end %>
                <% end %>
              </td>

              <td class="due_date">
                <div class="<%= due_date_color(assignment) %>">
                  <%= l(assignment.due_date, format: :short_date ) %>
                </div>

                <% if assignment.has_peer_review? %>
                    <div class="<%= due_date_color(assignment.pr_assignment) %> pr_date">
                      <%= l(assignment.pr_assignment.due_date, format: :short_date ) %>
                    </div>
                <% end %>
              </td>
            <% end %>


          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
