<div id='role_switch_text'>
  <%= form_tag login_as_main_index_path(),
               { method: 'post', remote: true } do %>
    <div id='role_switch_error'></div>

    <h2><%= t(:switch_role)%></h2>

    <%= text_field_tag 'effective_user_login',
                       nil,
                       placeholder: t(:login_as),
                       autocorrect: 'off',
                       tabindex: 10 %>

    <%
      # For REMOTE_USER we have no way to check a password, so don't
      # provide UI for entering it.
    %>
    <% if !MarkusConfigurator.markus_config_remote_user_auth %>
      <%= password_field_tag 'admin_password',
                             nil,
                             placeholder: t(:admin_password),
                             tabindex: 20 %>
    <% end %>

    <section class='dialog-actions'>
      <%= submit_tag t(:log_in),
                     data: { disable_with: t(:logging_in) },
                     tabindex: 100 %>
      <%= button_tag t(:cancel),
                     onclick: 'role_switch_modal.close()',
                     tabindex: 110 %>
    </section>
  <% end %>
</div>
