<% content_for :head do %>
  <%= javascript_include_tag 'Chart' %>
<% end %>

<div class='title_bar'>
  <h1><%= t(:dashboard) %></h1>
</div>

<div class='wrapper'>
  <div id='section'>
    <div id='assignment_list'>
      <h3 class='title'>Assignments</h3>
      <%= render partial: 'dashboard_list',
                 locals: { controller: 'main' } %>
    </div>
    <div id='assignment_summaries'>
      <% @assignments.each do |a| %>
        <%= render partial: 'assignments/assignment_summary', locals: { assignment: a } %>
      <% end %>
    </div>
  </div>
  <div id='section'>
    <%= render partial: 'api/key_display', locals: { user: @current_user } %>
  </div>
</div>
