<% content_for :head do %>
  <%= javascript_include_tag 'Chart' %>
<% end %>

<div class='title_bar'>
  <h1><%= t(:dashboard) %></h1>
</div>

<div class='grid-row'>
  <div class='grid-col-5'>
    <h3><%= t(:assignments) %></h3>
    <%= render partial: 'dashboard_list',
               locals: { controller: 'main' } %>

    <h3><%= t(:spreadsheets) %></h3>
    <%= render partial: 'spreadsheet_list',
               locals: { controller: 'main' } %>
  </div>

  <div class='grid-col-7'>
    <%= render partial: 'assignments/assignment_summary',
               locals: { assignment: @current_assignment, ta: @current_ta } %>
  </div>
</div>

<%= render partial: 'api/key_display',
           locals: { user: @current_user } %>
