<div class='title_bar'>
  <h1><%= t('menu.dashboard') %></h1>
</div>

<div class='wrapper'>
  <div id='section'>
    <div id='dashboard_lists'>
      <div id='assignment_list'>
        <h3 class='title'><%= Assignment.model_name.human.pluralize %></h3>
        <%= render partial: 'dashboard_list' %>
      </div>
      <div id='spreadsheet_list'>
        <h3 class='title'><%= GradeEntryForm.model_name.human.pluralize %></h3>
        <%= render partial: 'spreadsheet_list' %>
      </div>
      <div id='summary'>
        <h3 class='title'><%= t('course_summary.title') %></h3>
        <%= render partial: 'summary' %>
      </div>
    </div>
    <div id='assignment_summaries'>
      <%= render partial: 'assignments/assignment_summary', locals: { assignment: @current_assignment, tas: @tas } %>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div id='section'>
    <%= render partial: 'api/key_display', locals: { user: @current_user } %>
  </div>
</div>
