<% content_for :head do %>
  <%= javascript_include_tag 'Chart' %>
<% end %>

<div class='title_bar'>
  <h1><%= t(:dashboard) %></h1>
</div>

<div class='wrapper'>
  <div id='section'>
    <div id='dashboard_lists'>
      <div id='assignment_list'>
        <h3 class='title'><%= t(:assignments) %></h3>
        <%= render partial: 'dashboard_list',
                   locals: { controller: 'main' } %>
      </div>
      <div id='spreadsheet_list'>
        <h3 class='title'><%= t(:spreadsheets) %></h3>
        <%= render partial: 'spreadsheet_list',
                   locals: { controller: 'main' } %>
      </div>
    </div>
    <div id='assignment_summaries'>
      <%= render partial: 'assignments/assignment_summary', locals: { assignment: @current_assignment, ta: @current_ta } %>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div id='section'>
    <%= render partial: 'api/key_display', locals: { user: @current_user } %>
  </div>
</div>
