<% content_for :head do %>
  <%= javascript_include_tag 'Chart' %>
<% end %>

<div class='title_bar'>
  <h1><%= t(:dashboard) %></h1>
</div>

<div class='wrapLeft'>
  <p><%= t(:welcome_to_markus, {user_name: @current_user.first_name}) %></p>

  <div id='assignment_summaries'>
    <% @assignments.each do |a| %>
      <%= render partial: 'assignment_summary', locals: { assignment: a } %>
    <% end %>
  </div>

  <div id='section'>
    <%= render partial: 'api/key_display', locals: { user: @current_user } %>
  </div>
</div>
