<% content_for :head do %>
  <%= javascript_include_tag 'cookies_eu', nonce: true %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('local-login-selector').addEventListener('click', () => {
        const formElem = document.getElementById('local-login-form');
        if (getComputedStyle(formElem).display === 'none') {
          formElem.style.display = 'block';
        } else {
          formElem.style.display = 'none';
        }
      })
    })
  <% end %>
<% end %>

<main class='login'>
  <div class='login-image'></div>

  <div class='login-error'>
    <%= render 'shared/flash_message' %>
  </div>

  <div class='login-form'>
    <% if Settings.validate_file %>
      <% if Settings.remote_auth_login_url %>
        <div class="login-selector">
          <a class="button" id="local-login-selector"><%= t('main.login_with',
                                                            name: Settings.local_auth_login_name ||
                                                                  t('main.local_authentication_default_name') ) %></a>
        </div>
      <% end %>
      <%= form_tag({ action: 'login' },
                   { id: 'local-login-form', class: Settings.remote_auth_login_url ? 'no-display' : '' }) do %>
        <% unless defined? user_login
             user_login = ''
           end %>
        <%= text_field_tag 'user_login',
                           nil,
                           placeholder: User.human_attribute_name(:user_name),
                           'aria-label': User.human_attribute_name(:user_name),
                           autocomplete: 'off',
                           autocorrect: 'off',
                           autocapitalize: 'off',
                           autofocus: user_login == '',
                           value: user_login %>
        <%= password_field_tag 'user_password',
                               nil,
                               placeholder: t('main.password'),
                               'aria-label': t('main.password'),
                               autofocus: user_login != '',
                               autocomplete: 'off' %>
        <div class='submit'>
          <%= submit_tag t('main.log_in'),
                         data: { disable_with: t('main.logging_in') } %>
        </div>
      <% end %>
      <% if Settings.remote_auth_login_url %>
        <div id='login-or-container'><h4 id="login-or"><%= I18n.t('or').upcase %></h4></div>
      <% end %>
  <% end %>
    <% if Settings.remote_auth_login_url %>
      <div class="login-selector">
        <a class="button"
           href="<%= login_remote_auth_main_index_path %>">
          <%= t('main.login_with',
               name: Settings.remote_auth_login_name || t('main.external_authentication_default_name') ) %>
        </a>
      </div>
    <% end %>
  </div>
</main>

<%= render 'cookies_eu/consent_banner' %>
