<% content_for :head do %>
  <%= javascript_include_tag 'cookies_eu' %>
<% end %>

<div class='login'>
  <div class='login-image'></div>

  <p class='login-course'>
    <%= Rails.configuration.course_name %>
  </p>

  <div class='login-error'>
    <%= render 'shared/flash_message' %>
  </div>

  <div class='login-form'>
    <%= form_tag({ action: 'login' }) do %>
      <% unless defined? user_login
           user_login = ''
         end %>
      <%= text_field_tag 'user_login',
                         nil,
                         tabindex: 1,
                         placeholder: User.human_attribute_name(:user_name),
                         autocorrect: 'off',
                         autocapitalize: 'off',
                         autofocus: user_login == '',
                         value: user_login %>
      <%= password_field_tag 'user_password',
                             nil,
                             tabindex: 2,
                             placeholder: t('main.password'),
                             autofocus: user_login != '' %>
      <div class='submit'>
        <%= submit_tag t('main.log_in'),
                       data: { disable_with: t('main.logging_in') },
                       tabindex: 3 %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'cookies_eu/consent_banner' %>
