<div class='login'>
  <div class='login-image'></div>

  <p class='login-course'>
    <%= MarkusConfigurator.markus_config_course_name %>
  </p>

  <div class='login-error'>
    <%= render 'shared/flash_message' %>
  </div>

  <div class='login-form'>
    <%= form_tag({ action: 'login' }) do %>
      <% unless defined? user_login
           user_login = ''
         end %>
      <%= text_field_tag 'user_login',
                         nil,
                         tabindex: 1,
                         placeholder: t(:login),
                         autocorrect: 'off',
                         autocapitalize: 'off',
                         autofocus: user_login == '',
                         value: user_login %>
      <%= password_field_tag 'user_password',
                             nil,
                             tabindex: 2,
                             placeholder: t(:password),
                             autofocus: user_login != '' %>
      <div class='submit'>
        <%= submit_tag t(:log_in),
                       data: { disable_with: t(:logging_in) },
                       tabindex: 3 %>
      </div>
    <% end %>
  </div>
</div>
