<%= javascript_include_tag 'jquery.js',
    'rails.js' %>
<div class="login">
  <div class="login-greeting"><%= I18n.t(:welcome_to) %></div>

  <div class="login-image">
    <%= image_tag("markus_logo_big.png", :alt => "[Logo] Markus Beta") %>
  </div>

  <div class="login-course"><%= MarkusConfigurator.markus_config_course_name %></div>

  <%= render 'shared/flash_message' %>
  <div class="login-content">
    <!-- login form -->
    <%= form_tag({ :action => 'login', :id => nil }, :id => 'login_form') do %>

      <%= label_tag 'user_login', I18n.t(:login) + ':' -%>
      <%= text_field_tag 'user_login', nil, :tabindex => 10 %>
      <br />

      <%= label_tag 'user_password', I18n.t(:password) + ':' %>
      <%= password_field_tag 'user_password', nil, :tabindex => 20 %>
      <br />

      <div class="submit">
        <%= submit_tag I18n.t(:log_in), :disable_with => I18n.t(:logging_in), :tabindex => 100 %>
      </div>

    <% end %>
  </div>
</div>

<div id="ie_warning_dialog" style="display:none;">
  <%= I18n.t(:ie_warning)%><br /><br />
  <a href="http://www.mozilla.org/en-US/firefox/">FireFox</a><br />
  <a href="https://www.google.com/chrome/">Google Chrome</a><br />
  <br />
</div>

<script type="text/javascript">
//<![CDATA[
  <% if @first_visit %>
    <%# Alert Internet Explorer users of incompatibility %>
      if (jQuery.browser.name == 'msie') {
        jQuery('#ie_warning_dialog').dialog({
          modal: true,
          width: 400,
          buttons: {
            Ok: function() {
              $(this).dialog('close');
            }
          }
        });
      }
  <% end %>

  <%# Try to put focus on the login text field on load %>
  jQuery(document).ready(function(){
    jQuery("#user_login").focus();
  });
//]]>
</script>
