<div id="login">
  <div id="login-greeting">Welcome to <%= t(:markus) %>!</div>

  <div id="login-image">
    <%= image_tag("markus_logo_big.png", :alt => "[Logo] Markus Beta") %>
  </div>

  <% if flash[:login_notice] -%>
    <div class="error"><%=h flash[:login_notice] %></div>
  <% end -%>
  <div id="login-content">
    <!-- login form -->    
    <% form_tag({ :action => 'login', :id => nil }, :id => 'login_form') do %>
  
        <%= label_tag 'user_login', I18n.t(:login) -%>
        <%= text_field_tag 'user_login', nil, :tabindex => 10 %><br />
  
        <%= label_tag 'user_password', I18n.t(:password) %>
        <%= password_field_tag 'user_password', nil, :tabindex => 20 %><br />
  
        <%= submit_tag "Log in", :disabled_with => 'Logging in...', :tabindex => 100, :class => 'button indent_button'%>
        
    <% end %>
  </div>
</div>

<%# Try to put focus on the login text field on load %>
<script type="text/javascript">
  try{ document.getElementById('user_login').focus(); } catch(e) {}
</script>