<%= content_for :modal_id, 'download_dialog' %>
<%= content_for :modal_title, t('grade_entry_forms.grades.download') %>
<%= content_for :modal_content do %>
  <div class='clickable_links'>
    <div class='clickable_text'>
      <img class='clickable_image' src='<%= image_url('icons/download-file.png') %>'>
      <%= t('grade_entry_forms.grades.download_prompt') %>
    </div>
    <%= link_to '',
                { action: 'csv_download',
                  id: @grade_entry_form },
                onclick: 'modal_download.close();',
                class: 'make_div_clickable' if @current_user.admin? %>
  </div>
  <section class='dialog-actions'>
    <input type='reset' id='download' value='<%= t(:cancel) %>' onclick='modal_download.close();' />
  </section>
<% end %>
