<% # Grade entry creation form
   # #{short_identifier} - An identifier for this grade entry form
   # #{description} - A name for this grade entry form
   # #{message} - Some additional information about this grade entry form
   # #{date} - The date the exam/test/lab corresponding to this grade entry form took place
   # #{grade_entry_item(s)} - Column name and total
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'common/jquery-ui' %>
  <%= javascript_include_tag 'moment-with-langs.min' %>

  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div class='wrapper'>
  <p><%= t('grade_entry_forms.required_fields').html_safe %></p>

  <%= render 'shared/flash_message' %>

  <%= form_for @grade_entry_form, as: :grade_entry_form do |f| %>

    <%= render partial: 'shared/error_explanation',
               locals: { model: @grade_entry_form } %>

    <fieldset>
      <legend><%= t('grade_entry_forms.properties') %></legend>

      <div>
        <%= f.label :short_identifier, t(:short_identifier),
                    class: 'required' %>
        <%= f.text_field :short_identifier %>
      </div>

      <div>
        <%= f.label :description, t(:description) %>
        <%= f.text_field :description %>
      </div>

      <div>
        <%= f.label :message %>
        <%= f.text_area :message, rows: 8, cols: 65 %>
      </div>

      <div>
        <%= f.label :date, t(:shortened_date) %>
        <%= f.text_field :date,
                         class: 'datepicker',
                         size: 30,
                         placeholder: t('date.formats.date_placeholder') %>
        (<%= label :date_check, t(:remove_date) %>
        <%= check_box_tag :date_check,
                          true,
                          false,
                          disabled: @grade_entry_form.date.blank? %>)
      </div>

      <div>
        <%= f.label :show_total, t('grade_entry_forms.show_total') %>
        <%= f.check_box :show_total %>
      </div>

      <div>
        <%= f.label :is_hidden, t('grade_entry_forms.is_hidden') %>
        <%= f.check_box :is_hidden %>
      </div>

      <% # Display the column names and totals %>
      <div id='grade_entry_items'>
        <% # Ensures there is at least one column whenever the form is loaded. %>
        <% if @grade_entry_form.grade_entry_items.empty? %>
          <%= f.fields_for :grade_entry_items, GradeEntryItem.new do |entry_item| %>
            <%= render partial: 'grade_entry_item',
                       locals: { grade_entry_item: entry_item.object,
                                 form: entry_item } %>
          <% end %>
        <% else %>
          <%= f.fields_for :grade_entry_items do |entry_item| %>
            <%= render partial: 'grade_entry_item',
                       locals: { grade_entry_item: entry_item.object,
                                 form: entry_item } %>
          <% end %>
        <% end %>
      </div>

      <% # Allow the user to add a new column to the form %>
      <%= link_to t('grade_entry_forms.add_column'),
                  '#',
                  onclick: 'add_column(); return false;' %>

    </fieldset>

    <%= f.submit t(f.object.new_record? ? 'grade_entry_forms.create.submit' : 
                                          'grade_entry_forms.edit.submit'), 
                 data: { disable_with: t('working') } %>
  <% end %>
</div>

