<%# Grade entry creation form
    #{short_identifier} - An identifier for this grade entry form
    #{description} - A name for this grade entry form
    #{message} - Some additional information about this grade entry form
    #{date} - The date the exam/test/lab corresponding to this grade entry form took place
    #{grade_entry_item(s)} - Column name and total %>

<% content_for :head do %>
  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener("DOMContentLoaded", function() {
      $('#add-new-column').click(function(e) {
        add_column();
        e.preventDefault();
      })
      refresh_event_listeners();
    });
  <% end %>
<% end %>

<p><%= t('grade_entry_forms.required_fields_html') %></p>
<%= form_for [@current_course, @grade_entry_form], as: :grade_entry_form do |f| %>

  <%= render partial: 'shared/error_explanation',
             locals: { model: @grade_entry_form } %>

  <fieldset class='no-legend'>
    <div class='inline-labels'>
      <%= f.label :short_identifier, Assignment.human_attribute_name(:short_identifier),
                  class: 'required' %>
      <%= f.text_field :short_identifier %>

      <%= f.label :description, GradeEntryForm.human_attribute_name(:description),
                  class: 'required' %>
      <%= f.text_field :description %>

      <%= f.label :message %>
      <%= f.text_area :message,
                      rows: 8,
                      cols: 65,
                      placeholder:
                        t('grade_entry_forms.message_placeholder') %>

      <%= f.label :due_date, GradeEntryForm.human_attribute_name(:date) %>
      <%= f.text_field :due_date,
                       value: @grade_entry_form.due_date.nil? ? '' : l(@grade_entry_form.due_date, format: :flatpickr),
                       class: 'datepicker',
                       size: 30,
                       placeholder: t('date.format_string.placeholder') %>

      <%= f.label :show_total, GradeEntryForm.human_attribute_name(:show_total) %>
      <%= f.check_box :show_total %>

      <%= f.label :is_hidden, GradeEntryForm.human_attribute_name(:is_hidden) %>
      <%= f.check_box :is_hidden %>
    </div>
  </fieldset>

  <div class="grade-entry-items-wrapper" id='grade_entry_items'>
    <div class="float-right">
      <a href="#" class="button" id="add-new-column">
        <i class="fa-solid fa-circle-plus"></i>
        <%= t('grade_entry_forms.add_column') %>
      </a>
    </div>
    <h2><%= GradeEntryItem.model_name.human.pluralize %></h2>
    <%# Ensures there is at least one column whenever the form is loaded. %>
    <% if @grade_entry_form.grade_entry_items.empty? %>
      <%= f.fields_for :grade_entry_items, GradeEntryItem.new do |entry_item| %>
        <%= render partial: 'grade_entry_item',
                   locals: { grade_entry_item: entry_item.object,
                             form: entry_item } %>
      <% end %>
    <% else %>
      <%= f.fields_for :grade_entry_items do |entry_item| %>
        <%= render partial: 'grade_entry_item',
                   locals: { grade_entry_item: entry_item.object,
                             form: entry_item } %>
      <% end %>
    <% end %>
  </div>

  <p>
    <%= f.submit (f.object.new_record? ? t('helpers.submit.create', model: GradeEntryForm.model_name.human) :
                                         t('helpers.submit.update', model: GradeEntryForm.model_name.human)),
                 data: { disable_with: t('working') } %>
  </p>
<% end %>

<% unless @grade_entry_form.new_record? %>
  <% not_deletable = @grade_entry_form.grades.where.not(grade: nil).exists? %>
  <%= button_to t('delete'),
                course_grade_entry_form_path(@current_course.id, @grade_entry_form.id),
                method: :delete,
                title: not_deletable ? t('grade_entry_forms.grades.non_nil_grade_exists') : nil,
                disabled: not_deletable %>
<% end %>
