<p>
  <% if grade_entry_form.due_date %>
    <%= "#{GradeEntryForm.human_attribute_name(:date)}: #{l(grade_entry_form.due_date)}" %>
  <% end %>
</p>

<table>
  <tr>
    <td><%= t(:average) %></td>
    <td>
      <%= number_to_percentage(grade_entry_form.calculate_average || 0, precision: 1) %>
    </td>
  </tr>

  <tr>
    <td><%= t(:median) %></td>
    <td>
      <%= number_to_percentage(grade_entry_form.calculate_median || 0, precision: 1) %>
    </td>
  </tr>

  <tr>
    <td><%= t(:num_entries) %></td>
    <td>
      <%= "#{grade_entry_form.count_non_nil}/" +
          grade_entry_form.grade_entry_students.joins(:user).where('users.hidden': false).count.to_s %>
    </td>
  </tr>

  <tr>
    <td><%= t(:num_failed) %></td>
    <td>
      <%= "#{grade_entry_form.calculate_failed}" %>
    </td>
  </tr>

  <tr>
    <td><%= t(:num_zeros) %></td>
    <td>
      <%= "#{grade_entry_form.calculate_zeros}" %>
    </td>
  </tr>
</table>
