<% # Column names for the grades table
%>

<tr>
  <% if @current_user.admin?%>
    <% # Extra column heading for release/unrelease checkbox
    %>
    <th></th>
  <% end %>
  <% # Display headings for: student ID, last name,first name, section
  %>
  <% #only sorting functionality for admins %>
  <th
      <% if @current_user.admin? || @current_user.ta?%>
          class="<%="ap_sorting_by" if (sort_by == 'user_name')%>
                    <%="ap_sorting_by_desc" if (sort_by == 'user_name' && !desc.blank?)%>">
          <%= link_to I18n.t("user.user_name"),
                  :desc => (sort_by == 'user_name' && desc.blank?),
                  :sort_by => 'user_name',
                  :per_page => per_page,
                  :filter =>filter,
                  :controller =>controller,
                  :action => action%>
      <% else %>
          ><%= t('user.user_name') %>
      <% end %>
  </th>
  <th
      <% if @current_user.admin? || @current_user.ta?%>
          class="<%="ap_sorting_by" if (sort_by == 'last_name')%>
                    <%="ap_sorting_by_desc" if (sort_by == 'last_name' && !desc.blank?)%>">
          <%= link_to I18n.t("user.last_name"),
                    :desc => (sort_by == 'last_name' && desc.blank?),
                    :sort_by => 'last_name',
                    :per_page => per_page,
                    :filter =>filter,
                    :controller =>controller,
                    :action => action%>
       <% else %>
          ><%= t('user.last_name') %>
       <% end %>
  </th>
  <th
      <% if @current_user.admin? || @current_user.ta?%>
          class="<%="ap_sorting_by" if (sort_by == 'first_name')%>
                    <%="ap_sorting_by_desc" if (sort_by == 'first_name' && !desc.blank?)%>">
          <%= link_to I18n.t("user.first_name"),
                  :desc => (sort_by == 'first_name' && desc.blank?),
                  :sort_by => 'first_name',
                  :per_page => per_page,
                  :filter =>filter,
                  :controller =>controller,
                  :action => action%>
      <% else %>
         ><%= t('user.first_name') %>
      <% end %>
  </th>
  <% if @current_user.admin? || @current_user.ta?%>
  <th class="<%="ap_sorting_by" if (sort_by == 'section')%>
                      <%="ap_sorting_by_desc" if (sort_by == 'section' && !desc.blank?)%>">
          <%= link_to I18n.t("user.section"),
                  :desc => (sort_by == 'section' && desc.blank?),
                  :sort_by => 'section',
                  :per_page => per_page,
                  :filter =>filter,
                  :controller =>controller,
                  :action => action%>
  </th>
  <% end %>

  <% # Display the question names and totals
  %>
  <% @grade_entry_form.grade_entry_items.each do |grade_entry_item| %>
    <th class="out_of">
      <%= grade_entry_item.name %>
      <br />
      <%= "(" + grade_entry_item.out_of.to_s + ")" %>
    </th>
  <% end %>

  <% # Display the total number of marks for this grade entry form only if
     # the "show total" option is checked
  %>
  <% if @grade_entry_form.show_total %>
		<th class="student_total" >
		<%= t('grade_entry_forms.grades.total') + " " + @grade_entry_form.out_of_total.to_s %>
		<% if @current_user.admin? or @current_user.ta? %>
			<br /> <a href="#" onclick="toggleTotalColVisibility()"> <%= t('grade_entry_forms.toggle_column') %> </a>
		<% end %>
		</th>
  <% end %>
  <% if @current_user.admin? or @current_user.ta? %>
    <% # Extra column heading for marking state
    %>
    <th><%= t('grade_entry_forms.grades.marking_state') %></th>
  <% end %>
</tr>
