<p class="due_date">
  <% if grade_entry_form.date %>
    <%= "#{t(:spreadsheet_date)}: #{l(grade_entry_form.date)}" %>
  <% end %>
</p>

<table>
  <tr>
    <td><%= t(:average) %></td>
    <td>
      <%= number_to_percentage(grade_entry_form.calculate_released_average || 0, precision: 1) %>
    </td>
  </tr>

  <tr>
    <td><%= t(:median) %></td>
    <td>
      <%= number_to_percentage(grade_entry_form.calculate_released_median || 0, precision: 1) %>
    </td>
  </tr>

  <tr>
    <td><%= t(:num_entries) %></td>
    <td>
      <%= "#{grade_entry_form.grade_entry_forms_submitted}/#{grade_entry_form.grade_entry_students.size}" %>
    </td>
  </tr>

  <tr>
    <td><%= t(:num_failed) %></td>
    <td>
      <%= "#{grade_entry_form.calculate_released_failed}" %>
    </td>
  </tr>

  <tr>
    <td><%= t(:num_zeros) %></td>
    <td>
      <%= "#{grade_entry_form.calculate_released_zeros}" %>
    </td>
  </tr>
</table>
