<fieldset class='grade_entry_item'>
  <legend>
    <span><%= t('grade_entry_forms.column') %></span>
  </legend>
  <div>
    <%= form.label :name,
                   t('grade_entry_forms.column_name'),
                   class: 'required' %>
    <%= form.text_field :name, size: 20 %>

    <%= form.label :out_of,
                   t('grade_entry_forms.column_out_of'),
                   class: 'required' %>
    <%= form.text_field :out_of, size: 5, maxlength: 3 %>
  </div>
  <div>
    <%= form.label :bonus, t('grade_entry_forms.bonus_column') %>
    <%= form.check_box :bonus %>
  </div>
  <div>
    <% if !grade_entry_item.nil? && !grade_entry_item.new_record? %>
      <%= form.label :_destroy,
                     t('grade_entry_forms.remove_column') %>
      <%= form.check_box :_destroy %>
    <% else %>
      <%= link_to t(:delete), '#', onclick:
        'jQuery(this).parentsUntil(".grade_entry_item").parent().remove();' +
        'return false;' %>
    <% end %>
  </div>
</fieldset>
