<% unless @grade_entry_form.nil? %>
    <div class='assignment_summary'>
      <h2>
        <%= link_to "#{@grade_entry_form.short_identifier}: #{@grade_entry_form.description}",
                    edit_grade_entry_form_path(@grade_entry_form.id) %>
      </h2>

      <div class='flex-row'>
        <div id='grade_entry_form_<%= @grade_entry_form.id %>_graph'></div>

        <div class='flex-row-expand'>
          <%= render partial: 'grade_entry_forms/grade_entry_form_info_summary', locals: { grade_entry_form: @grade_entry_form } %>
        </div>
      </div>

      <h3><%= t('grade_entry_forms.grade_entry_item_distribution') %></h3>
      <div id='grade_entry_form_<%= @grade_entry_form.id %>_grade_entry_items_graph'></div>
    </div>
<% end %>

