<% # Display this student's grade entry forms
%>

<div class="section">

  <% if @grade_entry_forms.empty? %>
    <p><%= t(:no_grade_entry_forms_message) %></p>
  <% else %>
    <% # Table listing grade entry forms
    %>
    <table>
      <thead>
        <tr>
          <th><%=t(:description)%></th>
          <th><%=t(:shortened_date)%></th>
          <% # Note: this hides the results column within the student view %>
	  <% if !@current_user.student? %>
		<th><%=t('results.results_name')%></th> <% end %>
        </tr>
      </thead>
      <tbody>
        <% @grade_entry_forms.each do |grade_entry_form| %>
          <tr>
            <td class="grade_entry_form_results_name">
              <%=
                # Grade entry form name
                link_to h(grade_entry_form.short_identifier) + ': ' + grade_entry_form.description,
                :controller => 'grade_entry_forms',
                :action => 'student_interface',
                :id => grade_entry_form.id %>
            </td>
            <td>
            	<strong><%= h l(grade_entry_form.date, :format => :short_date) %></strong>
              <% if grade_entry_form.date > Time.zone.now.to_date %>
                <br />
                <%= t(:days_left,
                      :days => grade_entry_form.date - Time.zone.now.to_date)
                 %>
              <% end %>
            </td>
	    <% if !@current_user.student? %>
            <td class="grade_entry_form_result">
              <% if !@g_id_entries.empty? && !@g_id_entries[grade_entry_form.id].nil? %>
                <strong><%=t('mark_message')%></strong>
                <% if grade_entry_form.all_blank_grades?(@g_id_entries[grade_entry_form.id]) %>
                  <%= t('grade_entry_forms.grades.no_mark') %>
                <% else %>
                  <%= # show results
                    ("%.2f" % (grade_entry_form.calculate_total_percent(@g_id_entries[grade_entry_form.id].user.id).to_s) + "%")
                  %>
                <% end %>
                <%= ("(Class Average: " + ("%.2f" % (grade_entry_form.calculate_released_average)).to_s + "%)") %>
              <% elsif grade_entry_form.date < Time.zone.now.to_date %>
                <%= t('grade_entry_forms.students.no_results') %>
              <% end %>
            </td>
	    <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>
