<% grade_entry_forms = GradeEntryForm.order(:id) %>
<% action = @current_user.admin? ? 'edit' : 'grades' %>

<% if grade_entry_forms.empty? %>
  <p><%= t('grade_entry_forms.none') %></p>
<% else %>
  <div class='table'>
    <table>
      <thead>
        <tr>
          <th><%= GradeEntryForm.model_name.human %></th>
          <th><%= GradeEntryForm.human_attribute_name(:date) %></th>
        </tr>
      </thead>
      <tbody>
        <% grade_entry_forms.each do |grade_entry_form| %>
          <% route = { controller: 'grade_entry_forms', action: action, id: grade_entry_form.id } %>
          <% text = "#{h(grade_entry_form.short_identifier)}: #{h(grade_entry_form.description)}" %>
          <% text = t('assignments.hidden', assignment_text: text) if grade_entry_form.is_hidden %>
          <tr>
            <td>
              <%= link_to text, route %>
            </td>
            <td>
              <% unless grade_entry_form.due_date.nil? %>
                <%= l(grade_entry_form.due_date, format: :long) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
