<%= content_for :modal_id, 'upload_dialog' %>
<%= content_for :modal_title, t('upload_the', item: GradeEntryForm.human_attribute_name(:grades)) %>
<%= content_for :modal_open_link, '#uploadModal' %>

<%= content_for :modal_content do %>
  <%= t('upload_help_html', markus_version: Rails.configuration.markus_version, section_id: 'marks-spreadsheet-grades') %>

  <%= form_tag upload_course_grade_entry_form_path(@current_course, @grade_entry_form),
               { multipart: true, size: 1 } do %>

    <p><%= file_field_tag 'upload_file', required: true, accept: '.csv' %></p>
    <p>
      <%= label_tag t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </p>
    <span>
      <%= label_tag(:overwrite, t('grade_entry_forms.csv.overwrite')) %>
      <%= check_box_tag(:overwrite) %>
    </span>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload), data: { disable_with: t(:uploading_please_wait) } %>
      <input type='reset' value='<%= t(:cancel) %>'>
    </section>
  <% end %>
<% end %>
