<%# Manage grades page %>
<% content_for :title, t('grade_entry_form_summary', short_id: @grade_entry_form.short_identifier) %>
<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeGradeEntryFormSummary(
        document.getElementById('react_grades_table'),
        {
          course_id: <%= @current_course.id %>,
          grade_entry_form_id: <%= @grade_entry_form.id %>,
          show_total: <%= @grade_entry_form.show_total ? 'true' : 'false' %>,
          max_mark: <%= @grade_entry_form.max_mark %>,
          show_sections: <%= @current_course.sections.exists? %>,
          can_manage: <%= allowed_to? :manage? %>
        }
      );
    })
  <% end %>
<% end %>

<% @heading_buttons = [
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>

<div id="react_grades_table"></div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog' %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog' %>
