<% # Manage grades page %>
<% content_for :head do %>
  <%= javascript_include_tag 'GradeEntryForms/grades' %>
  <%= stylesheet_link_tag('clickable') %>
<% end %>

<% content_for :title, t('grade_entry_forms.grades.title') + ' ' + @grade_entry_form.short_identifier %>

<% @heading_buttons = [
  { link_text: t('upload'),
    link_path: 'javascript:void(0);',
    html_options: { onclick: 'modal_upload.open();' } },
  { link_text: t('download'),
    link_path: 'javascript:void(0);',
    html_options: { onclick: 'modal_download.open();' } },
] %>

<% if @grade_entry_form.grade_entry_items.empty? %>
  <p><%= t('grade_entry_forms.grades.no_grade_entry_items_message') %></p>
<% else %>
  <%= render partial: 'react_grades_table', formats: [:'js.jsx'], handlers: [:erb] %>
  <div id="react_grades_table"></div>
<% end %>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>
