<% # Manage grades page
%>
<%= javascript_include_tag "ajax_paginate" %>
<%= javascript_include_tag "livepipe/livepipe.js" %>
<%= javascript_include_tag "livepipe/window.js" %>
<%= javascript_include_tag "effects.js" %>

<script type="text/javascript">
//<![CDATA[

  var modalUpload = null;

  function upload_grades(){
    modalUpload.open();
    return false;
  }

  document.observe("dom:loaded", function(){

    modalUpload = new Control.Modal($('upload_dialog'),
    {
      overlayOpacity: 0.75,
      className: 'modalUpload',
      fade: false
    });
  });

//]]>
</script>

<div id="title_bar">
  <h1>
    <%= t('grade_entry_forms.grades.title') + " " + @grade_entry_form.short_identifier %>
  </h1>
  <div class="headingButtons">
    <%= button_to_function t(:upload), "upload_grades();"%>
    <span class="menu_bar">|</span>
    <%= link_to t(:download),
                csv_download_grade_entry_form_path(@grade_entry_form) %>
  </div>
</div>

<div class="wrapLeft">
  <% if flash[:upload_notice] %>
    <div class="success">
      <p><%= h(flash[:upload_notice]) %></p>
    </div>
  <% end %>
  <% if flash[:error] && !flash[:invalid_lines].nil? && !flash[:invalid_lines].empty? %>
    <div class="error">
      <p><%= h(flash[:error]) %></p>
      <ul>
        <% flash[:invalid_lines].each do |message| %>
          <li><%=h(message)%></li>
        <% end %>
      </ul>
    </div>
  <% elsif flash[:error] %>
    <div class="error">
      <%=flash[:error]%>
    </div>
  <% end %>
  <% if flash[:success] %>
    <div class="success">
      <%=flash[:success]%>
    </div>
  <% end %>

  <% if !flash[:errors].nil? && !flash[:errors].empty? %>
    <div class="error">
      <h1><%= t('grade_entry_forms.grades.errors') %></h1>
        <ul>
          <% flash[:errors].each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <%= form_tag({:action => 'update_grade_entry_students', :id => @grade_entry_form.id, :filter => 'none'}) %>
  <% if @grade_entry_form.grade_entry_items.empty? %>
    <div class="wrapLeft">
      <p><%= t('grade_entry_forms.grades.no_grade_entry_items_message') %></p>
    </div>
  <% else %>
    <div class="clear"></div>
    <div class="ap_nav_box">
      <div class="floatLeft">
        <% if @current_user.admin? %>
          <%= submit_tag t(:release_marks), :name => "release_results" %>
          <%= submit_tag t(:unrelease_marks), :name => "unrelease_results" %>
        <% end %>
      </div>
      <div class="ap_filters" id="ap_filters_1">
        <%= render :partial => 'grades_table_filters', :locals => {:filter => @filter, :sort_by => @sort_by,
                                                                   :grade_entry_form => @grade_entry_form, :filters => @filters,
                                                                   :per_page => @per_page, :per_pages => @per_pages,
                                                                   :alpha_pagination_options => @alpha_pagination_options,
                                                                   :alpha_category => @alpha_category}  %>
      </div>
      <div class="clear"></div>
      <div class="ap_page_links" id="ap_page_links_1">
        <%= render :partial => 'ajax_paginate/initial_paginate_links_alpha', :locals => {:per_page => @per_page,
                                                                                         :current_page => @current_page,
                                                                                         :page_items => @students.size,
                                                                                         :total_items => @students_total,
                                                                                         :assignment => @grade_entry_form,
                                                                                         :filter => @filter,
                                                                                         :sort_by => @sort_by,
                                                                                         :action => 'g_table_paginate',
                                                                                         :table_name => 'grades',
                                                                                         :alpha_category => @alpha_category,
                                                                                         :alpha_pagination_options => @alpha_pagination_options} %>
      </div>
      <div id="ap_selector">
        <% if @current_user.admin? %>
          <%= render :partial => 'ajax_paginate/selector' %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="ap_selects">
      <%= render :partial => 'ajax_paginate/selects', :locals => {:page_items => @students.size, :total_items => @students_total} %>
    </div>
    <table>
      <thead>
        <%= render :partial => 'grades_table_column_names' %>
      </thead>
      <tbody>
        <tr><td id="thinking_table_row" colspan="<%= 6 + @grade_entry_form.grade_entry_items.length %>"><%= render :partial => 'ajax_paginate/thinking' %></td></tr>
      </tbody>
			<%= render :partial => 'grades_table' %>
      <tfoot>
        <%= render :partial => 'grades_table_column_names' %>
      </tfoot>
    </table>

    <div class="ap_nav_box">
      <div class="ap_page_links" id="ap_page_links_2">
        <%= render :partial => 'ajax_paginate/initial_paginate_links_alpha', :locals => {:per_page => @per_page,
                                                                                         :current_page => @current_page,
                                                                                         :page_items => @students.size,
                                                                                         :total_items => @students_total,
                                                                                         :assignment => @grade_entry_form,
                                                                                         :filter => @filter,
                                                                                         :sort_by => @sort_by,
                                                                                         :action => 'g_table_paginate',
                                                                                         :table_name => 'grades',
                                                                                         :alpha_category => @alpha_category,
                                                                                         :alpha_pagination_options => @alpha_pagination_options} %>
      </div>
      <div id="ap_selector">
        <% if @current_user.admin? %>
          <%= render :partial => 'ajax_paginate/selector'%>
        <% else %>
          <br />
        <% end %>
      </div>
      <div class="floatLeft">
        <% if @current_user.admin? %>
          <%= submit_tag t(:release_marks), :name => "release_results" %>
          <%= submit_tag t(:unrelease_marks), :name => "unrelease_results" %>
        <% end %>
      </div>

      <div class="ap_filters" id="ap_filters_2">
        <%= render :partial => 'grades_table_filters', :locals => {:filter => @filter, :sort_by => @sort_by,
                                                                   :grade_entry_form => @grade_entry_form, :filters => @filters,
                                                                   :per_page => @per_page, :per_pages => @per_pages,
                                                                   :alpha_pagination_options => @alpha_pagination_options,
                                                                   :alpha_category => @alpha_category}  %>
      </div>
      <div class="clear"></div>
    </div>
  <% end %>
  </form>
</div>

<div id="upload_dialog">
  <h1><%= t('grade_entry_forms.csv.upload_title') %></h1>
  <p><%= t('grade_entry_forms.csv.upload_prompt') %></p>
  <%= form_for :upload, :url => {:controller=>"grade_entry_forms",
                                :action => 'csv_upload',
                                :id => @grade_entry_form.id},
                                :html => {:multipart => true, :size => 1 } do |f| %>
  <p><%= f.file_field :grades_file %></p>
  <%= t('grade_entry_forms.csv.upload_format_html') %>
  <p>
  <%=h I18n.t("encoding") %>
  <%= select_tag(:encoding, options_for_select(@encodings)) %>
  <br />
  <br />
    <%= f.submit t(:upload), :disable_with => t(:uploading_please_wait) %>
    <input type="reset" value="<%= t(:cancel) %>" onclick="modalUpload.close();">
  </p>
  <% end %>
</div>
