<% # Manage grades page %>
<% content_for :head do %>
  <%= javascript_include_tag 'GradeEntryForms/grades' %>
<% end %>

<% content_for :title do %>
  <%= t('grade_entry_forms.grades.title') + ' ' + @grade_entry_form.short_identifier %>
<% end%>

<% @heading_buttons =
[
  {
    link_text: t('upload'),
    link_path: 'javascript:void(0);',
    html_options: { onclick: 'modal_upload.open();' }
  },
  {
    link_text: t('download'),
    link_path: csv_download_grade_entry_form_path(@grade_entry_form)
  }
] %>

<% content_for :wrap_left_content do %>
  <% if @grade_entry_form.grade_entry_items.empty? %>
    <p><%= t('grade_entry_forms.grades.no_grade_entry_items_message') %></p>
  <% else %>
    <%= render partial: 'react_grades_table', formats: [:'js.jsx'], handlers: [:erb] %>
    <div id="react_grades_table"></div>
  <% end %>
<% end %>

<aside class='dialog' id='upload_dialog'>
  <h1><%= t('grade_entry_forms.csv.upload_title') %></h1>
  <p><%= t('grade_entry_forms.csv.upload_prompt') %></p>

  <%= form_for :upload, url: { controller:'grade_entry_forms',
                               action: 'csv_upload',
                               id: @grade_entry_form.id },
               html: { multipart: true, size: 1 } do |f| %>

    <p><%= f.file_field :grades_file %></p>
    <%= t('grade_entry_forms.csv.upload_format_html') %>
    <p>
      <%= t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </p>
    <span>
      <%= t('grade_entry_forms.csv.overwrite') %>
      <%= check_box_tag(:overwrite)%>
    </span>

    <section class='dialog-actions'>
      <%= f.submit t(:upload), data: { disable_with: t(:uploading_please_wait) } %>
      <input type='reset' value='<%= t(:close) %>' onclick='modal_upload.close();' />      

    </section>
  <% end %>
</aside>
