<%# Manage grades page %>
<%= javascript_include_tag "ajax_paginate",
                           "GradeEntryForms/grades.js" %>

<div class='title_bar'>
  <h1>
    <%= t('grade_entry_forms.grades.title') + ' ' + @grade_entry_form.short_identifier %>
  </h1>
  <div class='heading_buttons'>
    <%= link_to_function t(:upload), 'modal_upload.open();'%>
    <span class='menu_bar'></span>
    <%= link_to t(:download),
                csv_download_grade_entry_form_path(@grade_entry_form) %>
  </div>
</div>

<div class="wrapLeft">
  <%= render 'shared/flash_message' %>

  <%= form_tag({action: 'update_grade_entry_students', id: @grade_entry_form.id, filter: 'none'}) %>
  <% if @grade_entry_form.grade_entry_items.empty? %>
      <div class="wrapLeft">
        <p><%= t('grade_entry_forms.grades.no_grade_entry_items_message') %></p>
      </div>
  <% else %>
      <div class="clear"></div>
      <div class="ap_nav_box">
        <div class="floatLeft">
          <% if @current_user.admin? %>
              <%= submit_tag t(:release_marks), name: "release_results" %>
              <%= submit_tag t(:unrelease_marks), name: "unrelease_results" %>
          <% end %>
        </div>
        <div class="ap_filters" id="ap_filters_1">
          <%= render partial: 'grades_table_filters', locals: {filter: @filter, sort_by: @sort_by, desc: @desc,
                                                               grade_entry_form: @grade_entry_form, filters: @filters,
                                                               per_page: @per_page, per_pages: @per_pages,
                                                               alpha_pagination_options: @alpha_pagination_options,
                                                               alpha_category: @alpha_category}  %>
        </div>
        <div class="clear"></div>
        <div class="ap_page_links" id="ap_page_links_1">
          <%= render partial: 'ajax_paginate/initial_paginate_links_alpha', locals: {per_page: @per_page,
                                                                                     current_page: @current_page,
                                                                                     page_items: @students.size,
                                                                                     total_items: @students_total,
                                                                                     assignment: @grade_entry_form,
                                                                                     filter: @filter,
                                                                                     sort_by: @sort_by,
                                                                                     desc: @desc,
                                                                                     action: 'g_table_paginate',
                                                                                     table_name: 'grades',
                                                                                     alpha_category: @alpha_category,
                                                                                     alpha_pagination_options: @alpha_pagination_options} %>
        </div>
        <div id="ap_selector">
          <% if @current_user.admin? %>
              <%= render partial: 'ajax_paginate/selector' %>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
      <div id="ap_selects">
        <%= render partial: 'ajax_paginate/selects', locals: {page_items: @students.size, total_items: @students_total} %>
      </div>

      <div class='table'>
        <table>
          <thead id='grades_table_head'>
            <%= render partial: 'grades_table_column_names',
                       locals: { per_page: @per_page,
                                 filter: @filter,
                                 sort_by: @sort_by,
                                 desc: @desc,
                                 controller: 'grade_entry_forms',
                                 action: 'grades' } %>
          </thead>
          <tbody>
          </tbody>
          <%= render partial: 'grades_table' %>
          <tfoot id='grades_table_footer'>
            <%= render partial: 'grades_table_column_names',
                       locals: { per_page: @per_page,
                                 filter: @filter,
                                 sort_by: @sort_by,
                                 desc: @desc,
                                 controller: 'grade_entry_forms',
                                 action: 'grades' } %>
          </tfoot>
        </table>
      </div>

      <div class="ap_nav_box">
        <div class="ap_page_links" id="ap_page_links_2">
          <%= render partial: 'ajax_paginate/initial_paginate_links_alpha', locals: {per_page: @per_page,
                                                                                     current_page: @current_page,
                                                                                     page_items: @students.size,
                                                                                     total_items: @students_total,
                                                                                     assignment: @grade_entry_form,
                                                                                     filter: @filter,
                                                                                     sort_by: @sort_by,
                                                                                     desc: @desc,
                                                                                     action: 'g_table_paginate',
                                                                                     table_name: 'grades',
                                                                                     alpha_category: @alpha_category,
                                                                                     alpha_pagination_options: @alpha_pagination_options} %>
        </div>
        <div id="ap_selector">
          <% if @current_user.admin? %>
              <%= render partial: 'ajax_paginate/selector'%>
          <% else %>
              <br>
          <% end %>
        </div>
        <div class="floatLeft">
          <% if @current_user.admin? %>
              <%= submit_tag t(:release_marks), name: "release_results" %>
              <%= submit_tag t(:unrelease_marks), name: "unrelease_results" %>
          <% end %>
        </div>

        <div class="ap_filters" id="ap_filters_2">
          <%= render partial: 'grades_table_filters', locals: {filter: @filter, sort_by: @sort_by, desc: @desc,
                                                               grade_entry_form: @grade_entry_form, filters: @filters,
                                                               per_page: @per_page, per_pages: @per_pages,
                                                               alpha_pagination_options: @alpha_pagination_options,
                                                               alpha_category: @alpha_category}  %>
        </div>
        <div class="clear"></div>
      </div>
  <% end %>
  </form>
</div>

<aside class='dialog' id="upload_dialog">
  <h1><%= t('grade_entry_forms.csv.upload_title') %></h1>
  <p><%= t('grade_entry_forms.csv.upload_prompt') %></p>
  <%= form_for :upload,
               url: { controller:"grade_entry_forms",
                      action: 'csv_upload',
                      id: @grade_entry_form.id },
               html: { multipart: true, size: 1 } do |f| %>
    <p><%= f.file_field :grades_file %></p>
    <%= t('grade_entry_forms.csv.upload_format_html') %>
    <div>
      <%= I18n.t("encoding") %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </div>

    <section class='dialog-actions'>
      <%= f.submit t(:upload), data: { disable_with: t(:uploading_please_wait) } %>
      <%= button_to I18n.t(:close), '#', onclick: 'modal_upload.close(); return false;' %>
    </section>
  <% end %>
</aside>
