<%# Grades page for students %>
<% content_for :title, t('grade_entry_forms.students.title') + ' ' + @grade_entry_form.short_identifier %>

<% unless @grade_entry_form.message.blank? %>
  <%= markdown @grade_entry_form.message %>
<% end %>

<% if @grade_entry_form.grade_entry_items.empty? %>
  <p><%= t('grade_entry_forms.students.no_results') %></p>
<% elsif @grade_entry_student.nil? || !@grade_entry_student.released_to_student %>
  <p><%= t('grade_entry_forms.students.no_results') %></p>
<% else %>
  <div class='table'>
    <table>
      <thead>
      <tr>
        <% @columns.each do |c| %>
          <th><%= c %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr>
        <% @data.each do |grade| %>
          <td><%= grade %></td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
  <fieldset id='gef_data_chart' class='data-chart-container'></fieldset>
  <%= content_for :head do %>
    <%= javascript_tag nonce: true do %>
      document.addEventListener('DOMContentLoaded', () => {
        makeDataChart(document.getElementById('gef_data_chart'),
          { xTitle: '<%= t('activerecord.models.criterion.one') %>',
            yTitle: '<%= t('activerecord.models.mark.one') + ' (%)' %>',
            legend: false,
            labels: <%= @labels.to_json.html_safe %>,
            datasets: [{
              data: <%= @item_percentages.to_json.html_safe %>,
              backgroundColor: 'rgba(58,106,179,0.35)',
              border: {color: '#3a6ab3', width: 1},
              hoverBackgroundColor: 'rgba(58,106,179,0.75)'
            }]
          });
      });
    <% end %>
  <% end %>
<% end %>
