<h1>Manage New Students</h1>

<h2>Create a New Student</h2>

<div class="section">

<% form_for :student, :url => {:controller => 'students', :action => 'create'} do |f| -%>
<%= f.error_messages -%>

    <%= f.label :user_name %>
    
    <%= f.text_field :user_name %>
    
    <%= f.label :user_number %>
    <%= f.text_field :user_number %>
    
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    
    <label for="create">Create</label>
    <%= f.submit 'Add student', :name => 'create', :class => 'button' %>
    
<% end %>

</div>

<%= link_to 'Cancel', :controller => 'students' %>
