<h1>Manage Students</h1>

<div class="colsLeftHeavy">

  <div class="colRight">
  
    <h2>Register Students</h2>
  
    <h3>Upload a class list</h3>
    
    <div class="section">
      
      <p>Select a CSV file of the following form: <code>user_name, student_number, last_name, first_name</code></p>
      
      <p>If a student with the same student number exists, then the student's information is updated.</p>
      
      <%= form_tag '/checkmark/students/update_classlist', :multipart => true %>
        <label for="classlist">CVS File</label><input type="file" name="classlist" id="classlist" class="limitWidth" />
        <label for="submit">Submit</label><%= submit_tag "Update classlist", :disable_with => 'Processing...', :class => 'button' %>
      </form>
    
    </div>
    
    <h3>Add Each Student Individually</h3>
    
    <div class="section">
      <p><%= link_to 'Add a new student', :controller => 'students', :action=>'create' %></p>
    </div>
    
  </div>
  
  <div class="colLeft"><div class="wrapLeft">
  
    <h2>View student list (<%= link_to "XML", :action => 'classlist', :format => 'xml' %>)</h2>
    
      <% if flash[:upload_notice] -%>
          <p class="success"><%=h flash[:upload_notice] %></p>
      <% end -%>
      
      <% if flash[:edit_notice] -%>
        <p style="color:green"><%=h flash[:edit_notice] %></p>
      <% end -%>
      
      <% # display lines in csv file that has not been successfully processed %>
      <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class="errorExplanation" id="errorExplanation">
        <p>The following student(s) have not been successfully added:</p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
          <li><%=h line %></li>
          <% end -%>
        </ul>
        <p>Make sure that:</p>
        <ul>
          <li>Student numbers are 9 digits</li>
          <li>Student names are alphanumeric</li>
          <li>Each field is separated by a comma (no spaces)</li>
          <li>Each line has the required fields specified above</li>
        </ul>
      </div>
      <% end -%>
      
      <table>
        
      <tr>
          <th>CDF id</th>
          <th>Student Number</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th></th>
        </tr>
          
        <% for student in @students %>
          <tr class="<%= cycle('rowA', 'rowB') %>">
            <td><%=h student.user_name %></td>
            <td><%=h student.user_number %></td>
            <td><%=h student.last_name %></td>
            <td><%=h student.first_name %></td>
            <td><%= link_to 'Edit', :controller => 'students', :action => 'edit', :id => student %></td>
          </tr>
        <% end %>
        
      </table>
  
  </div></div>

</div> <!-- colsLeftHeavy -->