<div class='pane-wrapper'>
  <div class='pane'>
    <div id='grader_permission_pane'>
      <%= render partial: 'shared/navigation_warning',
                 formats: [:js],
                 handlers: [:erb] %>
      <%= form_with model: [@current_course, @role], scope: :role, local: true do |f| %>
        <%= f.fields_for(@role.user || EndUser.new) do |u_f| %>
          <div class='inline-labels'>
            <%= u_f.label :user_name, User.human_attribute_name(:user_name) %>
            <%= u_f.text_field :user_name %>
            <%= f.label :hidden, t('students.status') %>
            <span id='set-active'>
              <%= f.select :hidden,
                           options_for_select([[t('students.active'), false], [t('students.inactive'), true]],
                                              selected: @role.hidden,
                                              disabled: !@current_role.instructor? ) %>
            </span>
          </div>
        <% end %>
        <%= f.fields_for :grader_permission do |ff| %>
          <h3><%= GraderPermission.model_name.human.pluralize %></h3>
          <div>
            <%= ff.check_box :manage_assessments %>
            <%= ff.label :manage_assessments, GraderPermission.human_attribute_name(:manage_assessments) %>
            <div class="inline-help">
              <p><%= GraderPermission.human_attribute_name(:manage_assessments_tooltip) %></p>
            </div>
          </div><br/>
          <div>
            <%= ff.check_box :manage_submissions %>
            <%= ff.label :manage_submissions, GraderPermission.human_attribute_name(:manage_submissions) %>
            <div class="inline-help">
              <p><%= GraderPermission.human_attribute_name(:manage_submissions_tooltip) %></p>
            </div>
          </div><br/>
          <div>
            <%= ff.check_box :run_tests %>
            <%= ff.label :run_tests, GraderPermission.human_attribute_name(:run_tests) %>
            <div class="inline-help">
              <p><%= GraderPermission.human_attribute_name(:run_tests_tooltip) %></p>
            </div>
          </div>
        <% end %>
        <p>
          <%= f.submit t(:save),
                       name: 'submit',
                       data: { disable_with: t('working') } %>
          <%= link_to t(:cancel),
                      { controller: controller },
                      class: 'button' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
