<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeTATable(document.getElementById('tas_table'), {course_id: <%= @current_course.id %> });
    })
  <% end %>
<% end %>

<% content_for :title do %>
  <div class='title-help'>
    <p>
      <%= t('tas.help.manage_graders') %>
    </p>
  </div>
<% end %>

<% @heading_buttons = [
  { link_text: t('tas.new'),
    link_path: new_course_ta_path(@current_course) },
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>

<% content_for :wrap_left_content do %>
  <div id='tas_table'></div>
<% end %>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog' %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog' %>
