<div id="title_bar"><h1>Manage TAs <%= link_to I18n.t(:add_new),
:controller => 'tas', :action => 'create' %></h1></div>
<div class="colsLeftHeavy">

<div><div class="wrapLeft">
  <div id="list">
    <h2>View TA List (<%= link_to "XML", :action => 'download_ta_list', :format => 'xml' %>)</h2>
    
      <% if flash[:upload_notice] -%>
          <p class="success"><%=h flash[:upload_notice] %></p>
      <% end -%>
      
      <% if flash[:edit_notice] -%>
        <p class="success"><%=h flash[:edit_notice] %></p>
      <% end -%>
      
      <% # display lines in csv file that has not been successfully processed %>
      <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class="errorExplanation" id="errorExplanation">
        <p>The following TAs have not been successfully added:</p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
          <li><%= h(line) %></li>
          <% end -%>
        </ul>
        <p>Make sure that:</p>
        <ul>
          <li>TA names are alphanumeric</li>
          <li>Each field is separated by a comma (no spaces)</li>
          <li>Each line has the required fields specified above</li>
        </ul>
      </div>
      <% end -%>
      <table>
        <thead>
           <tr>
          <%
		  	# pull "labels" from I18n files
		  %>
          <th><%= I18n.t('user.user_name') %></th>
          <th><%= I18n.t('user.last_name') %></th>
          <th><%= I18n.t('user.first_name') %></th>
          <th></th>
        </tr>
	</thead>
          
        <% for u in @tas %>
          <tr class="<%= cycle('rowA', 'rowB') %>">
            <td><%= h(u.user_name) %></td>
            <td><%= h(u.last_name) %></td>
            <td><%= h(u.first_name) %></td>
            <td><%= link_to I18n.t(:edit), :controller => 'tas', :action => 'edit', :id => u %></td>
          </tr>

        <% end %>
         <tfoot>
           <tr>
          <%
		  	# pull "labels" from I18n files
		  %>
          <th><%= I18n.t('user.user_name') %></th>
          <th><%= I18n.t('user.last_name') %></th>
          <th><%= I18n.t('user.first_name') %></th>
          <th></th>
        </tr>
	</tfoot>
       
      </table>
  </div>
  </div></div>
  
  <!-- Break between sections -->
  <div id="register">
  
  <h2>Register TAs</h2>
  
    <h3>Upload a TA list</h3>
    
    <div class="section">
      
      <p>Select a CSV file of the following form: <code>user_name,last_name,first_name</code></p>
      
      <p>If a TA with the same user_name exists, then that TA's information is updated.</p>
      
      <%= form_tag({ :controller => 'tas', :actions => "upload_ta_list"},
{:multipart => true}) %>
        <label for="userlist">CVS File</label>
        <input type="file" name="userlist" id="userlist"/>
        <%= submit_tag "Update userlist", :disable_with => 'Processing...', :class => 'button' %>
      </form>
    
    </div>

    <h3>Download TA List</h3>

    <div class="section">
      <p><%= link_to "Download TA list in CSV format", :controller => 'tas', :action => 'download_ta_list', :format => "csv" %></p>
    </div>

  </div>
  
  

</div> <!-- colsLeftHeavy -->
