<%= javascript_include_tag "FilterTable/FilterTable" %>
<%= javascript_include_tag "16accordion" %>
<%= javascript_include_tag "users_manager" %>

<%= render :partial => "boot.js" %>

<div id="title_bar"><h1>Manage Graders <%= link_to I18n.t(:add_new),
:controller => 'tas', :action => 'create' %></h1></div>
<div class="colsLeftHeavy">

<div class="colLeft"><div class="wrapLeft">
  <div id="list">
    
      <% if flash[:upload_notice] -%>
          <p class="success"><%=h flash[:upload_notice] %></p>
      <% end -%>
      <% if flash[:success] %>
        <div class="success">
          <%=h(flash[:success]) %>
        </div>
      <% end %>
      
      <% if flash[:edit_notice] -%>
        <p class="success"><%=h flash[:edit_notice] %></p>
      <% end -%>
      
      <% # display lines in csv file that has not been successfully processed %>
      <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class="errorExplanation" id="errorExplanation">
        <p>The following TAs have not been successfully added:</p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
          <li><%= h(line) %></li>
          <% end -%>
        </ul>
        <p>Make sure that:</p>
        <ul>
          <li>TA names are alphanumeric</li>
          <li>Each field is separated by a comma (no spaces)</li>
          <li>Each line has the required fields specified above</li>
        </ul>
      </div>
      <% end -%>
      <table id="tas">
       
      </table>
  </div>
  </div>
</div>
  
  <!-- Break between sections -->
<div class="colRight">
  <div id="test-accordion" class="accordion">
    <div class="accordion-toggle" id="accordion-toggle-top">
      <%=I18n.t(:upload)%>
    </div>    
    <div class="accordion-content">
      
      <p>Select a CSV file of the following form: <code>user_name,last_name,first_name</code></p>
      
      <p>If a TA with the same user_name exists, then that TA's information is updated.</p>
      
           <%= form_tag( { :controller => 'tas', :action => "upload_ta_list" }, { :multipart => true }) %>
        <label for="userlist" class="accordion_label">CVS File</label>
        <input type="file" name="userlist" id="userlist" size="2"/>
		<%= submit_tag t(:upload), :disable_with => t(:uploading_please_wait) %>
      </form> 
    </div>

    <div class="accordion-toggle" id="accordion-toggle-bottom">
      <%= I18n.t(:download) %>
    </div>

    <div class="accordion-content" >
      <p><%= link_to "Download TA list in CSV format", :controller => 'tas', :action => 'download_ta_list', :format => "csv" %></p>
    </div>

  </div>
</div>  
 

</div> <!-- colsLeftHeavy -->
