<%= content_for :head do %>
  <%= javascript_include_tag 'users_manager',
                             'Graders/index' %>
  <%= stylesheet_link_tag('clickable') %>

  <%= render partial: 'tas_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<% content_for :title do %>
  <%= t('graders.manage_graders') %>
  <span class='title-help users_graders_help'>
    <p class='help-message-title users_graders_help'>
      <%= t('students.help.manage_graders') %>
    </p>
  </span>
<% end %>

<% @heading_buttons = [
  { link_text: t(:add_new_grader),
    link_path: new_ta_path },
  { link_text: t(:download),
    link_path: '#',
    html_options: { onclick: 'modal_download.open()' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { onclick: 'modal_upload.open()' } }
] %>

<% content_for :wrap_left_content do %>
  <div id='list'>
    <% # Display lines in csv file that has not been successfully processed %>
    <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class='errorExplanation' id='errorExplanation'>
        <p><%=t('graders.not_added') %></p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
            <li><%= line %></li>
          <% end -%>
        </ul>
        <p><%=t('graders.make_sure') %></p>
        <ul>
          <li><%=t('graders.ta_names') %></li>
          <li><%=t('graders.each_field') %></li>
          <li><%=t('graders.each_line') %></li>
        </ul>
      </div>
    <% end %>

    <div id='tas_table'></div>

  </div>
<% end %>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>
