<% marks_unreleased = flash[:notice].nil? %>

<div class='listings sorted-list <%= 'sortable' if marks_unreleased %>'>
  <header>
    <span class='left'><%= Criterion.model_name.human %></span>
    <span class='center'>
      <%= t('criteria.max_mark_short') %>
      (<span id='criteria_total_max_mark'><%= @assignment.max_mark %></span>)
    </span>
    <span class='right'><%= t('criteria.visibility') %></span>
  </header>

  <ul id='criteria_pane_list'>
    <% @assignment.criteria.each do |criterion| %>
      <%= render partial: 'criteria/criterion',
                 locals: { criterion: criterion } %>
    <% end %>
  </ul>
</div>
