<li id='criterion_<%= criterion.id %>'>
  <i class="fa-solid fa-grip-vertical icon-left"></i>
  <span class='left'>
    <% if criterion.class.to_s == 'RubricCriterion' %>
      <i class="fa-solid fa-table" title="<%= t('criteria.rubric') %>"></i>
    <% elsif criterion.class.to_s == 'FlexibleCriterion' %>
      <span title="<%= t('criteria.flexible') %>"> ⅔ </span>
    <% elsif criterion.class.to_s == 'CheckboxCriterion' %>
      <i class="fa-solid fa-square-check" title="<%= t('criteria.checkbox') %>"></i>
    <% end %>
    <%= link_to truncate(criterion.name,
                         length: 27,
                         omission: '...'),
                edit_course_criterion_path(@current_course, criterion),
                id: "criterion_title_#{criterion.class}#{criterion.id}",
                remote: true %>
  </span>
  <span class='center' id='criterion_max_mark_<%= criterion.class %><%= criterion.id %>'>
    <%= criterion.max_mark %>
  </span>
  <span class='right' id='visibility_indicator_<%= criterion.class %><%= criterion.id %>'>
    <% if criterion.ta_visible && criterion.peer_visible %>
      <i class="fa-solid fa-chalkboard-user icon-left" title="<%= t('criteria.help_ta_visibility_message') %>"></i>
      <i class="fa-solid fa-comments" title="<%= t('criteria.help_peer_visibility_message') %>"></i>
    <% elsif criterion.ta_visible %>
      <i class="fa-solid fa-chalkboard-user" title="<%= t('criteria.help_ta_visibility_message') %>"></i>
    <% else %>
      <span class="empty-16px icon-left">&nbsp;</span>
      <i class="fa-solid fa-comments" title="<%= t('criteria.help_peer_visibility_message') %>"></i>
    <% end %>
  </span>
</li>

<!--"check_box.png" designed by interactivemania, used under Creative Commons BY-ND 3.0-->
