<li id='criterion_<%= criterion.class %> <%= criterion.id %>'>
  <span class='left'>
    <%= link_to truncate(criterion.name,
                         length: 30,
                         omission: '...'),
                edit_assignment_criterion_url(assignment_id: @assignment.id,
                                              id: criterion.id,
                                              criterion_type: criterion.class.to_s),
                id: "criterion_title_#{criterion.id}",
                remote: true %>
  </span>
  <span class='center' id='criterion_max_mark_<%= criterion.id %>'>
    <%= criterion.max_mark %>
  </span>
  <span class='right' id='visibility_indicator_<%= criterion.id %>'>
    <% if criterion.ta_visible && criterion.peer_visible %>
      <%= image_tag 'icons/user_suit.png' %><%= image_tag 'icons/group.png' %>
    <% elsif criterion.ta_visible %>
      <%= image_tag 'icons/user_suit.png' %>
    <% else %>
      <%= image_tag 'icons/empty.png' %><%= image_tag 'icons/group.png' %>
    <% end %>
  </span>
</li>
