<li id='new_criterion' class='new'>
  <%= form_tag course_assignment_criteria_path(@current_course, assignment),
               method: :post,
               remote: true do %>
    <div class='inline-labels'>
      <%= label_tag :new_criterion_prompt, Criterion.human_attribute_name(:name) %>
      <%= text_field_tag :new_criterion_prompt, '', autocomplete: 'off' %>
      <%= label_tag :max_mark_prompt, Criterion.human_attribute_name(:max_mark) %>
      <%= number_field_tag :max_mark_prompt,
                           RubricCriterion::DEFAULT_MAX_MARK,
                           size: 4,
                           step: 0.1,
                           autocomplete: 'off' %>
    </div>
    <p>
      <%= radio_button_tag(:criterion_type,
                           'RubricCriterion',
                           checked = true) %>
      <i class="fa-solid fa-table"></i>
      <%= label_tag('criterion_type_RubricCriterion',
                    t('criteria.rubric')) %>
      <%= radio_button_tag :criterion_type,
                           'FlexibleCriterion',
                           false %>
      <span title="<%= t('criteria.flexible') %>"> ⅔ </span>
      <%= label_tag('criterion_type_FlexibleCriterion',
                    t('criteria.flexible')) %>
      <%= radio_button_tag :criterion_type,
                           'CheckboxCriterion',
                           false %>
      <i class="fa-solid fa-square-check"></i>
      <%= label_tag('criterion_type_CheckboxCriterion',
                    t('criteria.checkbox')) %>
    </p>
    <p><%= submit_tag(t(:save), data: { disable_with: t('working') }) %></p>
  <% end %>
</li>
