<li id='new_criterion'>
  <%= form_tag assignment_criteria_path(assignment_id: assignment.id),
               method: :post,
               remote: true do %>
    <div id='new_criterion_error' style='display:none;' class='error'></div>
    <%= label_tag 'new_criterion_prompt',
		              t('criteria.name') %><br>
    <%= text_field_tag(:new_criterion_prompt,
                       '',
                       size: 5) %><br>
    <%= label_tag 'max_mark_prompt',
                  t('criteria.max_mark') %><br>
    <%= number_field_tag(:max_mark_prompt,
                         RubricCriterion::DEFAULT_MAX_MARK,
                         size: 4) %><br>
    <%= radio_button_tag(:criterion_type,
                         'RubricCriterion',
                         checked = true) %>
    <%= image_tag('icons/table.png', title: t('criteria.rubric'))%>
    <%= label_tag('criterion_type_RubricCriterion',
                  t('criteria.rubric')) %>
    <%= radio_button_tag(:criterion_type,
                         'FlexibleCriterion',
                         checked = false) %>
    <span class="flexible_criteria_icon" title=<%= t('criteria.flexible') %>> ⅔ </span>
    <%= label_tag('criterion_type_FlexibleCriterion',
                  t('criteria.flexible')) %>
    <%= radio_button_tag(:criterion_type,
                         'CheckboxCriterion',
                         checked = false) %>
    <%= image_tag('icons/check_box.png', title: t('criteria.checkbox'))%>
    <%= label_tag('criterion_type_CheckboxCriterion',
                  t('criteria.checkbox')) %>
    <br><br>
    <%= submit_tag(t('criteria.save'), data: { disable_with: t('working') }) %>
  <% end %>
</li>

<!--"check_box.png" designed by interactivemania, used under Creative Commons BY-ND 3.0-->
