<% content_for :head do %>
  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<% content_for :title,
  t('assignments.marking_scheme', identifier: @assignment.is_peer_review? ?
    @assignment.parent_assignment.short_identifier + ' ' + PeerReview.model_name.human :
    @assignment.short_identifier) %>

<% marks_released = @assignment.released_marks.present? %>

<% @heading_buttons = [
  { link_text: t('criteria.new.button'),
    link_path: new_course_assignment_criterion_path(@current_course, @assignment),
    html_options: { id: 'add-new-criterion', 'data-remote': 'true', class: (marks_released ? 'inactive' : '')  } },
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal', class: (marks_released ? 'inactive' : '') } }
] %>

<div class='wrapper'>
  <p id='new_criterion_error' class='warning no-display'>
    <i class="fa-solid fa-warning icon-left"></i>
  </p>
</div>

<div class='pane-wrapper'>
  <div id='criteria_pane' class="criteria-pane-wrapper">
    <%= render partial: 'criteria_pane', locals: { marks_released: marks_released } %>
  </div>

  <div class='pane'>
    <div id='editing_pane_menu'>
      <%= render partial: 'manager_help' %>
    </div>
  </div>
</div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog' %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog' %>
