<% content_for :head do %>
  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
  <%= stylesheet_link_tag('clickable') %>
<% end %>

<% content_for :title,
  t('criteria.marking_scheme', identifier: @assignment.is_peer_review? ?
    @assignment.parent_assignment.short_identifier + ' ' + t('assignment.review'):
    @assignment.short_identifier) %>

<% @heading_buttons = [
  { link_text: t('criteria.add_criterion'),
    link_path: 'javascript:void(0);',
    html_options: { onclick:
      "if(document.getElementById('new_criterion') != null) {
        document.getElementById('new_criterion_prompt').focus();
      } else {
        jQuery.ajax({
          url: '" + new_assignment_criterion_path(@assignment) + "',
          type: 'GET'
        });
      } "} },
  { link_text: t('criteria.download.yml'),
    link_path: 'javascript:void(0);',
    html_options: {onclick: 'modal_download_yml.open()'} },
  { link_text: t('criteria.upload.yml'),
    link_path: 'javascript:void(0);',
    html_options: {onclick: 'modal_upload_yml.open()' } }
] %>

<div class='wrapper'>
  <%= render 'shared/flash_message' %>

  <p id='new_criterion_error' class='warning' style='display: none;'></p>
</div>

<div class='pane_wrapper'>
  <div id='criteria_pane'>
    <%= render partial: 'criteria_pane' %>
  </div>

  <div id='editing_pane'>
    <div id='editing_pane_menu'>
      <%= render partial: 'manager_help' %>
      <div id='criteria_pane_list'></div>
    </div>
  </div>
</div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>
