// Update criterion information in the pane that contains the list of criteria
document.getElementById('criterion_title_<%= @criterion.class %><%= @criterion.id %>').innerHTML = '<%= @criterion.name %>';
document.getElementById('criterion_max_mark_<%= @criterion.class %><%= @criterion.id %>').innerHTML = '<%= @criterion.max_mark %>';
document.getElementById('visibility_indicator_<%= @criterion.class %><%= @criterion.id %>').innerHTML =
  <% if @criterion.ta_visible && @criterion.peer_visible %>
    '<i class="fa-solid fa-chalkboard-user icon-left"></i><i class="fa-solid fa-comments"></i>'
  <% elsif @criterion.ta_visible %>
    '<i class="fa-solid fa-chalkboard-user"></i>'
  <% else %>
    '<span class="empty-16px icon-left"></span><i class="fa-solid fa-comments"></i>'
  <% end %>;
// Update the general max_mark accounting for all ta visible criteria
document.getElementById('criteria_total_max_mark').innerHTML = '<%= @criterion.assignment.max_mark %>';
// Levels need to be re-rendered because their order may change
<% if @criterion.is_a? RubricCriterion %>
  document.getElementById('rubric-criteria-levels').innerHTML =
    '<%= escape_javascript(render partial: "rubric_criteria/rubric_criterion_levels",
                                  locals: { criterion: @criterion, marks_released: @criterion.results_unreleased? }) %>';
<% end %>
