<%
   # Erb template for inserting member's of a group into the assignment
   # view of students
%>


<%# If this member is an inviter%>
<% if member.membership_status == StudentMembership::STATUSES[:inviter] %>
<li id="member_inviter">
   <span class="last_name"><%= h(member.user.last_name) %> </span> <%= h(member.user.first_name) %></li>
<%# If this member is an accepted member %>
<% elsif member.membership_status == StudentMembership::STATUSES[:accepted] %>
<li>
   <span class="last_name"><%= h(member.user.last_name) %> </span> <%= h(member.user.first_name) %></li>
<%# If this member is pending%>
<% elsif member.membership_status == StudentMembership::STATUSES[:pending] %>
<li class="membership_status_pending">
   <span class="last_name"><%= h(member.user.last_name) %> </span> <%= h(member.user.first_name)%> <%= I18n.t("student.invited")%>
   <% if grouping.inviter.id == @student.id  %>
     <%= link_to_remote I18n.t("student.disinvite") ,
     :url => {:action => 'disinvite_member', :id => @assignment.id,
     :membership => member.id},
     :html => { :class => 'disinvite_member', :title => I18n.t("student:disinvite_member_title")},
     :confirm => I18n.t("student.disinvite_member")
     %>
   <% end %>
</li>

<%# If this member rejected %>
<% elsif member.membership_status == StudentMembership::STATUSES[:rejected] %>
    <% if grouping.inviter.id == @student.id %>
      <li>
      	<%= I18n.t("student.invitation_rejected", :user_last_name => h(member.user.last_name), :user_first_name => h(member.user.first_name)) %>
	   	<%= link_to_remote "<b>x</b>", :method => :delete,
	      :url => {:action => 'delete_rejected', :id => @assignment.id,
	      :membership => member.id}%>
	  </li>
    <% end %>
<% end %>

