<%
   # Erb template for inserting member's of a group into the assignment
   # view of students
%>


<%# If this member is an inviter%>
<% if member.membership_status == StudentMembership::STATUSES[:inviter] %>
<li id="member_inviter">
   <span class="last_name"><%= member.user.last_name %> </span> <%=
member.user.first_name%></li>
<%# If this member is an accepted member %>
<% elsif member.membership_status == StudentMembership::STATUSES[:accepted] %>
<li>
   <span class="last_name"><%= member.user.last_name %> </span> <%=
member.user.first_name%></li>
<%# If this member is pending%>
<% elsif member.membership_status == StudentMembership::STATUSES[:pending] %>
<li class="membership_status_pending">
   <span class="last_name"><%= member.user.last_name %> </span> <%=
member.user.first_name%> (invited)</li>

<%# If this member rejected %>
<% elsif member.membership_status == StudentMembership::STATUSES[:rejected] %>
    <% if grouping.inviter.id == @student.id %>
      <li><span class="last_name"><%= member.user.last_name %> </span> <%=
member.user.first_name%> 
         <span class="membership_status_rejected"> has decline the
          invitation</span>
	   <%= link_to_remote "<b>x</b>", :method => :delete,
	   :url => {:action => 'delete_rejected', :id => @assignment.id,
	   :membership => member.id}%></li>
    <% end %>
<% end %>

