<%= fields_for :note do |f| %>
  <p>
    <%= label_tag "assignment_id", I18n.t("notes.noteables.Assignment") %>
    <%= select_tag "assignment_id",
                   options_from_collection_for_select(@assignments,
                                                      :id,
                                                      :short_identifier),
                   :onchange => "$('loading_groupings').show();
			                    new Ajax.Request('" + new_update_groupings_notes_path() + "',
							                    {asynchronous:true, evalScripts:true,
							                     onSuccess:function(request){$('loading_groupings').hide()},
							                     parameters:Form.Element.serialize(this) + '&authenticity_token=' + AUTH_TOKEN })"
    %>
  </p>

  <p>
    <%= f.label :noteable_id, I18n.t("notes.noteables.Grouping") %>
    <%= f.select :noteable_id,
		 @groupings.collect {|p| [p.group_name_with_student_user_names,p.id]} %>
    <span id="loading_groupings" style="display:none">
    <%= image_tag('spinner.gif') %> <%= I18n.t('notes.new.loading_groupings') %>
    </span>
  </p>
<% end %>
