<%= render partial: 'shared/navigation_warning',
           formats: [:js],
           handlers: [:erb] %>

<div class='title_bar'>
  <h1><%= t('notes.edit.title')%></h1>
</div>

<div class='wrapper'>
  <%= form_for @note, as: :note, url: { action: 'update', id: @note.id } do |f| %>
    <%= render partial: 'shared/error_explanation',
               locals: { model: @note } %>

    <table>
      <tr>
        <td>
          <strong><%= t('notes.author')%>:</strong>
        </td>
        <td>
          <%= @note.user.user_name %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= t("notes.noteables.#{@note.noteable_type}") %>:</strong>
        </td>
        <td>
          <%= @note.noteable.display_for_note %>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%=t('notes.creation_time')%>:</strong>
        </td>
        <td>
          <%= @note.format_date %>
        </td>
      </tr>
    </table>

    <p>
      <%= raw(f.label :notes_message,
                      t('notes.note')) %>:
      <%= raw(f.text_area :notes_message,
                          rows: 10,
                          onchange: 'set_onbeforeunload(true);') %>
    </p>

    <%= f.submit t('save'),
                 data: { disable_with: t('working') },
                 onclick: 'set_onbeforeunload(false);' %>
    <%= link_to t('cancel'), notes_path(), class: 'button' %>

  <% end %>
</div>
