<%= render partial: "shared/navigation_warning",
  formats: [:js], handlers: [:erb] %>

<div class='title_bar'>
  <h1><%= t('notes.edit.title') %></h1>
</div>

<div class="wrapLeft">
  <%= form_for @note, as: :note, url: {action: 'update', id: @note.id} do |f| %>
    <%= render partial: "shared/error_explanation", locals: { model: @note } %>

    <p>
      <b><%=I18n.t('notes.author')%>:</b> <%= @note.user.user_name %>
    </p>

    <p>
      <b><%= I18n.t("notes.noteables.#{@note.noteable_type}") %>:</b> <%= @note.noteable.display_for_note %>
    </p>

    <p>
      <b><%=I18n.t('notes.creation_time')%>:</b> <%= @note.format_date %>
    </p>

    <p>
      <b><%= I18n.t('notes.note') %>:</b>
    </p>

    <%= raw(f.text_area :notes_message, rows: 8, cols: 50,
                        onchange: "set_onbeforeunload(true);") %>

    <p>
      <%= f.submit I18n.t('save'), :'data-disable-with' => I18n.t('working'), onclick: "set_onbeforeunload(false);" %>
    </p>
  <% end %>
</div>
