<div id="title_bar"><h1><%=I18n.t('notes.title')  %>
<%
#if there are no noteables,we can't add notes, so do not show Add New link.
%>
  <% if @noteables_available %>
    <%= link_to I18n.t('notes.add_new'), :action => 'new' %></h1>
	<% else %>
    </h1><p><%= I18n.t('notes.new.no_noteables') %></p>
	<% end %>
</div>

<div class="wrapLeft">

	<% # if there are errors have the error message display %>
      <% if flash[:error] %>
        <div class="error">
          <%= h(flash[:error]) %>
        </div>
      <% end %>

	<% # if there are success messages to display %>
      <% if flash[:success] -%>
        <div class="success">
          <%= h(flash[:success]) %>
        </div>
      <% end %>

<table id="notes">
<% for note in @notes %>
	<tr>
		<td class="note">
			<%= raw(I18n.t("notes.note_on",
				   :user_name => note.user.user_name,
				   :display_for => note.noteable.display_for_note )) %></b><br />
			<small><%=note.format_date%></small>
		</td>
		<td class="note"><%=note.notes_message%></td>
		<td class="note">
			<% if note.user_can_modify?(@current_user) -%>
				<%= button_to I18n.t('edit'),
				              edit_note_path(note.id),
				              :method => 'get',
				              :html => {:class => 'edit'} %>
				<%= button_to I18n.t('delete'),
				              { :action => 'destroy', :id => note.id },
				              :html =>
				              { :class => 'delete',
				                :title => I18n.t('notes.delete.link_title') },
		                      :confirm => I18n.t('notes.delete.link_confirm'),
		                      :method => 'delete',
		                      :remote => true %>
			<% else -%>
				&nbsp;
			<% end -%>
		</td>
	</tr>
<% end %>
</table>

</div>
