<%= javascript_include_tag 'help_system' %>

<div class='title_bar'>
  <h1>
    <%= t('notes.title') %>
    <span class='title-help notes_help'>
      <p class='help-message-title notes_help'>
        <%= t('notes.help') %>
      </p>
    </span>
  </h1>
</div>

<div class="wrapLeft">

  <%= render 'shared/flash_message' %>

  <%# If there are no noteables,we can't add notes, so do not show Add New link. %>
  <% if @noteables_available %>
    <%= link_to t('notes.add_new'),
                { action: 'new' },
                class: 'button' %>
  <% else %>
    <p><%= t('notes.new.no_noteables') %></p>
  <% end %>

  <div class='table'>
    <table id='notes'>
      <thead>
        <tr>
          <th><%= t('notes.existing') %></th>
          <th><%= t('notes.new.note_message') %></th>
          <th><%= t('actions') %></th>
        </tr>
      </thead>
      <% for note in @notes %>
        <tr>
          <td>
            <%= raw(t('notes.note_on',
                    user_name: note.user.user_name,
                    display_for: note.noteable.display_for_note )) %>
            <br>
            <small><%= note.format_date %></small>
          </td>
          <td><%= note.notes_message %></td>
          <td>
            <% if note.user_can_modify?(@current_user) %>
              <%= button_to t('edit'),
                            edit_note_path(note.id),
                            method: 'get',
                            html: { class: 'edit' },
                            class: 'inline-button' %>
              <%= button_to t('delete'),
                            { action: 'destroy',
                              id: note.id },
                            html: { class: 'delete',
                                    title: t('notes.delete.link_title') },
                            confirm: t('notes.delete.link_confirm'),
                            method: 'delete',
                            remote: true,
                            class: 'inline-button' %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
