<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
    makeNotesTable(document.getElementById('notes_table'));
    })
  <% end %>
<% end %>

<div class='title_bar'>
  <h1>
    <%= Note.model_name.human.pluralize %>
    <div class='title-help'>
      <p>
        <%= t('notes.help') %>
      </p>
    </div>
  </h1>
</div>

<div class='wrapper'>

  <%= render 'shared/flash_message' %>

  <%# If there are no noteables,we can't add notes, so do not show Add New link. %>
  <% if @noteables_available %>
    <div class="rt-action-box">
      <%= link_to t('helpers.submit.create', model: Note.model_name.human),
                  { action: 'new' },
                  class: 'button' %>
    </div>
  <% else %>
    <p><%= t('notes.new.no_noteables') %></p>
  <% end %>
  <div id='notes_table'></div>
</div>
