<% content_for :head do %>
  <%= javascript_include_tag 'notes' %>
<% end %>

<%= render partial: 'shared/navigation_warning',
           formats: [:js],
           handlers: [:erb] %>

<div class='title_bar'>
  <h1><%= t('helpers.submit.create', model: Note.model_name.human) %></h1>
</div>

<div class='wrapper'>
  <%= form_for @note, as: :note, url: notes_path do |f| %>
    <%= render partial: 'shared/error_explanation',
               locals: { model: @note } %>

    <div class='inline-labels'>
      <%= label_tag 'noteable_type', Note.human_attribute_name(:noteable) %>
      <%= select_tag 'noteable_type',
                     options_for_select(Note::NOTEABLES.map { |item| [item, item] }) %>
    </div>

    <div id='noteable_selector' class='inline-labels'>
      <%= render partial: 'grouping' %>
    </div>

    <div class='inline-labels'>
      <%= f.label :notes_message, Note.human_attribute_name(:notes_message) %>
        <%= f.text_area :notes_message,
                         rows: 10,
                         onchange: 'set_onbeforeunload(true);' %>
    </div>

    <p>
      <%= f.submit t('save'),
                   onclick: 'set_onbeforeunload(false);',
                   data: { disable_with: t('working') } %>
      <%= link_to t('cancel'), notes_path, class: 'button' %>
    </p>
  <% end %>
</div>
