<% annots.each do |annot| %>
  <li class="<%= cycle('annotations1', 'annotations2') %>">

    <p class="lineNumber">#<%= annot.annotation_number %> - <%= render :partial => annot.annotation_list_link_partial, :locals => {:annot => annot} %></p>
    <p class="annotationContent" id="annotation_text_content_display_<%=h(annot.annotation_text.id)%>">
    <%=simple_format(h(CGI.unescape(annot.annotation_text.content)))%>
    </p>
    
  </li>
<% end %>
