<% annots.each do |annot| %>
  <li>
    <p class='lineNumber'>
      #<%= annot.annotation_number %> - <%= render partial: annot.annotation_list_link_partial, locals: { annot: annot } %>
      <%= t('marker.annotation.remark_flag') if (annot.is_remark) %>
    </p>
    <p class='annotationContent' id='annotation_text_content_display_<%= annot.annotation_text.id %>'>
      <%= markdown(annot.annotation_text.content) %>
    </p>
  </li>
<% end %>
