<li id='<%= "rubric_criterion_#{mark_criterion.id}" %>' class='rubric_criterion'>
  <%= render partial: 'results/common/rubric_criterion',
             locals: { mark_criterion: mark_criterion,
                       mark: mark,
                       old_mark: old_mark } %>
  <div id='<%= "criterion_info_#{mark_criterion.id}" %>'>
    <div class='mark_criterion_level_released_container' data-id='<%= mark_criterion.id %>'>
      <div class='cursor_hand'>
        <table id='mark_<%= mark.id %>_table'>
          <%
            (0...RubricCriterion::RUBRIC_LEVELS).each do |num_levels|
              if (!old_mark.nil? && num_levels == (old_mark.mark.nil? ? old_mark.mark : old_mark.mark / mark_criterion.weight))
                td_class = 'rubric_criterion_level_old_mark'
              elsif (num_levels == (mark.mark.nil? ? mark.mark : mark.mark / mark_criterion.weight))
                td_class = 'rubric_criterion_level_selected'
              end

              level_name = mark_criterion['level_' + num_levels.to_s + '_name']
              level_desc = mark_criterion['level_' + num_levels.to_s + '_description']

              if level_desc && !level_desc.empty? && (td_class == 'rubric_criterion_level_old_mark' ||
                  td_class == 'rubric_criterion_level_selected') -%>
                  <tr>
                    <td id='mark_<%= mark.id %>_<%= num_levels %>' class='<%= td_class %>'>
                      <div class='description'>
                        <strong> <%= level_name %></strong>
                        &nbsp;<%= level_desc %>
                      </div>
                      <div class='mark'><%= (num_levels * mark_criterion.weight).round(2) %> / <%= mark_criterion.max_mark %></div>
                    </td>
                  </tr>
              <% end -%>
          <% end -%>
        </table>
      </div>
    </div>
  </div>
</li>

