<% if old_result %>
  <p>
    <a href='#' onclick='return false;' onmouseover='show_old_marks();' onmouseout='hide_old_marks();'><%= I18n.t("marker.marks.show_old_marks") %></a>
  </p>
  <div id="old_summary_criteria_pane">

    <%= render :partial => "results/common/#{@assignment.marking_scheme_type}_marks_summary_table",
               :locals => {:mark_criteria => mark_criteria, :marks_map => old_marks_map} %>

      <div class="mark_subtotal">
        <div class="float_left"><%= I18n.t("marker.marks.old_subtotal") %></div>
        <div class="float_right"> /<%= h(assignment.total_mark) %>  </div>
        <div class="float_right" id="old_subtotal_div"> <%= h(old_result.get_subtotal) %> </div>
      </div>
  </div>
<% end %>

<div id="summary_criteria_pane">
  <%= render :partial => "results/common/#{@assignment.marking_scheme_type}_marks_summary_table",
             :locals => {:mark_criteria => mark_criteria, :marks_map => marks_map} %>

    <!-- Summary Criteria Pane -->

    <div class="mark_subtotal">
      <div class="float_left"><%= I18n.t("marker.marks.subtotal") %></div>
      <div class="float_right"> /<%= h(assignment.total_mark) %>  </div>
      <div class="float_right" id="current_subtotal_div"> <%= h(result.get_subtotal) %> </div>
    </div>
</div>

    <div class="clear"></div><br/>

    <div id="extra_marks_pane" class="extra_marks_pane">
      <div class="bonus_deduction"><strong><%= I18n.t("marker.marks.bonus_deductions") %></strong></div>

    <%= render :partial => 'results/student/extra_marks_table',
               :locals => {:extra_marks_points => extra_marks_points, :result_id => result.id} %>

      <div>
        <div class="float_left"><strong><%= I18n.t("marker.marks.bonus_marks").html_safe %></strong></div>
        <div class="float_left" id="extra_marks_bonus"><%= h(result.get_positive_extra_points) %></div>
      </div>
      <div class="clear"></div>
      <div>
        <div class="float_left"><strong><%= I18n.t("marker.marks.deducted_marks") %></strong></div>
        <div class="float_left" id="extra_marks_deducted"><%= h(@result.get_negative_extra_points) %></div>
      </div>
    </div>

    <div class="clear"></div>

    <% if old_result %>
      <div class="mark_total">
        <span class="final_mark">
          <span id="old_total_mark_div"> <%= h(old_result.total_mark) %>   </span>
          <span> / <%= h(assignment.total_mark) %>  </span>
        </span>

        <span><%= I18n.t("marker.marks.previous_mark") %></span>
      </div>
    <% end %>

    <div class="mark_total">
<span class="final_mark">
       <span id="current_total_mark_div"> <%= h(result.total_mark) %> </span>
       <span> /<%= h(assignment.total_mark) %>  </span>
      </span>

     <span><%= I18n.t("marker.marks.final_mark") %></span>
         </div>
