<li id='<%= "flexible_criterion_#{mark_criterion.id}" %>' class='flexible_criterion'>
  <%= render partial: 'results/common/flexible_criterion',
             locals: { mark_criterion: mark_criterion,
                       mark: mark,
                       old_mark: old_mark,
                       view: 'student'} %>

  <% unless mark_criterion.description.blank? %>
      <div id='<%="criterion_info_#{mark_criterion.id}"%>'
           class='criterion_info mark-flexible'
           data-id='<%=mark_criterion.id%>' >
        <%= mark_criterion.description %>
      </div>
  <% end %>
</li>
