<li id="<%= "flexible_criterion_#{mark_criterion.id}" %>">
  <%= render partial: 'results/common/flexible_criterion',
             locals: { mark_criterion: mark_criterion,
                       mark: mark,
                       old_mark: old_mark,
                       view: 'student'} %>

  <% if mark_criterion.description != '' %>
      <div id="<%="criterion_info_#{mark_criterion.id}"%>"
           class='flexible_criterion_info mark_criterion_level_container'
           data-id="<%=mark_criterion.id%>" >
        <%= mark_criterion.description %>
      </div>
  <% end %>
</li>
