<div class="wrapLeft">
  <p class="notice"><%= t(:no_remark_result) %></p>
  <p>
    <em><%= t('marker.remark_submitted') %></em>
    <% if @submission.remark_request_timestamp %>
      <%= l(@submission.remark_request_timestamp, format: :long_date) %>
    <% end %>
  </p>
  <div id="remark_request">
    <h3><%= t('marker.remark_instructions') %></h3>
    <%= @assignment.remark_message %>
    <h3><%= t('marker.remark_request') %></h3>
    <div id="remark_request_text">
      <%= markdown(@submission.remark_request) %>
    </div>
  </div>
  <div>
    <p class="notice"><%= t('marker.cancel_remark_to_change') %></p>
    <p>
      <%= link_to t(:cancel_remark),
                  { controller: 'results',
                    action: 'cancel_remark_request',
                    id: @assignment.id,
                    submission_id: @submission.id },
                  class: 'button',
                  onclick: "return confirm('#{t(:cancel_remark_request)}');",
                  method: :delete %>
    </p>
  </div>
</div>
