<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      window.renderMathInElement(document.getElementById("remark_request_text"));
    });
  <% end %>
<% end %>

<div class="wrapLeft">
  <p class="notice">
    <i class="fa-solid fa-circle-info left-icon"></i>
    <%= t('results.remark.no_remark_result') %>
  </p>
  <p>
    <em><%= t('results.remark.submitted_on', time: l(@submission.remark_request_timestamp)) %></em>
  </p>
  <div id="remark_request">
    <h3><%= Assignment.human_attribute_name(:remark_message) %></h3>
    <%= markdown @assignment.remark_message %>
    <p>
      <% if !@assignment.remark_due_date.nil? %>
        <%= t('activerecord.attributes.assignment.remark_due_date') %>: <%= l(@assignment.remark_due_date) %>
      <% else %>
        <%= t('results.remark.no_remark_due_date') %>
      <% end %>
    </p>
    <h3><%= Submission.human_attribute_name(:submitted_remark) %></h3>
    <div id="remark_request_text">
      <%= markdown(@submission.remark_request) %>
    </div>
  </div>
  <div>
    <p class="notice">
      <i class="fa-solid fa-circle-info left-icon"></i>
      <%= t('results.remark.cancel_remark_to_change') %>
    </p>
    <p>
      <%= link_to t('results.remark.cancel'),
                  cancel_remark_request_course_assignment_submission_path(course_id:@assignment.course_id, assignment_id:@assignment.id, id:@submission.id),
                  class: 'button',
                  data: { confirm: t('results.remark.cancel_confirm') },
                  method: :delete %>
    </p>
  </div>
</div>
