<ul class='sub'>
  <li class='<%= "active" if controller.controller_name == 'main_admin' %>'>
    <%= link_to t('menu.dashboard'), admin_path %>
  </li>
  <li class='<%= "active" if controller.controller_name == 'courses' %>'>
    <%= link_to Course.model_name.human.pluralize, admin_courses_path %>
  </li>
  <li class='<%= "active" if controller.controller_name == 'users' %>'>
    <%= link_to User.model_name.human.pluralize, admin_users_path %>
  </li>
</ul>
