<% if controller.controller_name != 'main' %>
  <ul class='sub'>
    <li id='dropdown'>
        <span class='dropdown'>
          <% if @assignment.nil? && @grade_entry_form.nil? %>
            <%= t('menu.choose') %>
          <% elsif !@assignment.nil? %>
            <%= @assignment.is_peer_review? ?
                  @assignment.parent_assignment.short_identifier + ' ' + PeerReview.model_name.human :
                  @assignment.short_identifier %>
          <% elsif !@grade_entry_form.nil? %>
            <%= @grade_entry_form.short_identifier %>
          <% end %>
          <ul>
            <%= render partial: 'shared/assignments_dropdown_menu' %>
          </ul>
        </span>
    </li>

    <% if !@grade_entry_form.nil? %>
      <li class='<%= "active" if controller.controller_name == 'grade_entry_forms' %>'>
        <%= link_to GradeEntryForm.human_attribute_name(:grades),
                    controller: 'grade_entry_forms',
                    action: 'student_interface',
                    id: @grade_entry_form.id %>
      </li>
    <% end %>

    <% if !@assignment.nil? &&
      @current_role.has_accepted_grouping_for?(@assignment) &&
      allowed_to?(:see_hidden?, @assignment) %>
      <li class='<%= "active" if controller.controller_name == 'assignments' && controller.action_name != 'peer_review' %>'>
        <%= link_to Assignment.model_name.human.pluralize,
                    course_assignment_path(@current_course, @assignment) %>
      </li>

      <% @grouping = @current_role.accepted_grouping_for(@assignment.id) %>
      <% if !@grouping.nil? && allowed_to?(:view_file_manager?, @grouping) %>
        <li class='<%= "active" if controller.controller_name == 'submissions' %>'>
          <%= link_to Submission.model_name.human.pluralize,
                      file_manager_course_assignment_submissions_path(@current_course, @assignment) %>
        </li>
      <% end %>
      <% if allowed_to?(:run_tests?, @current_role, context: { assignment: @assignment }) %>
        <li class='<%= "active" if controller.controller_name == 'automated_tests' %>'>
          <%= link_to t('automated_tests.title'),
                      controller: 'automated_tests',
                      action:'student_interface',
                      course_id: @current_course.id,
                      assignment_id: @assignment.id %>
        </li>
      <% end %>

      <% @submission = @grouping.nil? ? nil : @grouping.current_submission_used %>
      <% @result = @submission.nil? ? nil : @submission.get_visible_result %>
      <% if !@grouping.nil? && !@submission.nil? && !@result.nil? %>
        <% active = controller.controller_name == 'results' && !@result.is_a_review? %>
        <% if allowed_to?(:view?, @result, context: {view_token: session["view_token"]&.[](@result&.id&.to_s)}) %>
          <!-- check if a token not required or if the current user has entered the token already this session -->
          <li class='<%= "active" if active %>'>
            <%= link_to Result.model_name.human.pluralize,
                        view_marks_course_result_path(@current_course, @result) %>
          </li>
        <% elsif allowed_to? :view_token_check?, @result %>
          <li class='<%= "active" if active %>'>
            <%= link_to Result.model_name.human.pluralize, '#', id: "submit-view-token" %>
          </li>
          <%= javascript_tag nonce: true do %>
            <%= render partial: 'shared/submit_view_token_modal',
                       formats: :js,
                       locals: { result: @result,
                                 modal_id: "submit-view-token-modal",
                                 opener_id: "submit-view-token" } %>
          <% end %>
        <% end %>
      <% end %>

      <% if @assignment.has_peer_review_assignment? && allowed_to?(:see_hidden?, @assignment.pr_assignment) %>
        <li class='<%= "active" if controller.controller_name == 'assignments' && controller.action_name == 'peer_review' %>'>
          <%= link_to PeerReview.model_name.human.pluralize,
                      controller: 'assignments',
                      action: 'peer_review',
                      id: @assignment.id %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
