
<ul class='sub'>
  <li id='dropdown'>
    <div class='dropdown'>
      <%# Display an appropriate message in the dropdown menu %>
      <% if assessment.nil? %>
        <%= t('menu.choose') %>
      <% else %>
        <% title = assessment.short_identifier %>
        <% if assessment.is_a?(Assignment) && assessment.is_peer_review? %>
          <% title = "#{assessment.parent_assignment.short_identifier} #{PeerReview.model_name.human}" %>
        <% end %>
        <% if assessment.is_hidden %>
          <% title = t('assignments.hidden', assignment_text: title) %>
        <% end %>
        <%= title %>
      <% end %>
      <ul>
        <%= render partial: 'shared/assignments_dropdown_menu' %>
      </ul>
    </div>
  </li>

  <% if assessment.is_a?(GradeEntryForm) && !assessment.new_record? %>
    <% if @current_user.ta? && GraderPermission.find_by(user_id: @current_user.id).manage_grade_entry_forms %>
      <li class='<%= "active" if controller.action_name == 'edit' %>'>
        <%= link_to t('menu.properties'),
                    edit_grade_entry_form_path(assessment) %>
      </li>
    <% end %>
    <li class='<%= "active" if controller.action_name == 'grades' %>'>
      <%= link_to GradeEntryForm.human_attribute_name(:grades),
                  grades_grade_entry_form_path(assessment) %>
    </li>
  <% elsif assessment.is_a?(Assignment) && !assessment.new_record? %>
    <% target_id = @result&.is_a_review? ? assessment.pr_assignment.id :
                     assessment.id %>
    <% if @current_user.ta? && GraderPermission.find_by(user_id: @current_user.id).manage_assignments %>
      <li <% if ['criteria',
                 'annotation_categories',
                 'automated_tests',
                 'exam_templates'].include?(controller.controller_name) ||
        (controller.controller_name == 'assignments' &&
          controller.action_name != 'summary' && controller.action_name != 'batch_runs') %>
          class='active'
          <% end %>
          >
        <%= link_to t('menu.settings'),
                    edit_assignment_path(target_id) %>
      </li>
      <% end %>
      <% if assessment.is_peer_review? || @result&.is_a_review? %>
        <% if @current_user.ta? && GraderPermission.find_by(user_id: @current_user.id).manage_reviewers %>
          <li class='<%= 'active' if controller.controller_name == 'peer_reviews' %>'>
            <%= link_to t('peer_reviews.assign'),
                        assignment_peer_reviews_path(target_id) %>
          </li>
        <% end %>
      <% end %>
    <li
      <% if controller.controller_name == 'submissions' ||
        controller.controller_name == 'results' %>
      class='active'
      <% end %>
      >
      <%= link_to assessment.is_peer_review? || @result&.is_a_review? ?
                    PeerReview.model_name.human.pluralize : Submission.model_name.human.pluralize,
                  browse_assignment_submissions_path(target_id) %>
    </li>
    <li <% if controller.action_name == 'summary' %>
        class='active'
        <% end %>>
      <%= link_to t('results.summary'),
                  summary_assignment_path(@assignment || @grouping.assignment) %>
    </li>
    <% if assessment.enable_test && GraderPermission.find_by(user_id: @current_user.id).run_tests %>
      <li class='<%= "active" if controller.controller_name == 'assignments' && controller.action_name == 'batch_runs' %>'>
        <%= link_to t('automated_tests.test_runs_status'),
                    batch_runs_assignment_path(target_id) %>
      </li>
    <% end %>
  <% end %>
</ul>
