<ul class='sub'>
  <li id='dropdown'>
      <span class='dropdown'>
        <% if @assignment.nil? && @grade_entry_form.nil? %>
          <%= t('menu.choose') %>
        <% else %>
          <%= @assignment.is_peer_review? ?
                @assignment.parent_assignment.short_identifier + ' ' + PeerReview.model_name.human :
                @assignment.short_identifier %>
        <% end %>
        <ul>
           <%= render partial: 'shared/assignments_dropdown_menu' %>
        </ul>
      </span>
  </li>
  <% if controller.controller_name == 'submissions' ||
    controller.controller_name == 'results' ||
    controller.action_name == 'summary' %>
    <li <% if controller.controller_name == 'submissions' ||
      controller.controller_name == 'results' %>
        class='active'
        <% end %>>
      <%= link_to Submission.model_name.human.pluralize,
                  browse_assignment_submissions_path(@assignment || @grouping.assignment) %>
    </li>
    <li <% if controller.action_name == 'summary' %>
        class='active'
        <% end %>>
      <%= link_to t('results.summary'),
                  summary_assignment_path(@assignment || @grouping.assignment) %>
    </li>
  <% end %>
</ul>
