<div id="standby_highlighting" style="background: yellow; font-size: 2em; padding: 5px; margin: 5px;">
  Standby - Highlighting...
</div>
<pre id="code" name="code" class="<%=@code_type%>" cols="80" rows="50"><%= filetext %></pre>

<script language="javascript">
    dp.SyntaxHighlighter.ClipboardSwf = '/javascripts/syntaxhighlighter/clipboard.swf';
    dp.SyntaxHighlighter.HighlightAll('code');
    console.log('SyntaxHighlighting Complete - Setting up SourceCodeGlower');
    $('standby_highlighting').hide();
    sourceCodeReady();
    console.log('SourceCodeGlower ready.  Now updating divider');  


    <% if (defined? annots) %>
        <% annots.each do |annot| %>
            add_annotation_label(<%=annot.annotation_label.id%>, 
            '<%=escape_javascript(annot.annotation_label.content.to_s)%>');
            add_annotation(<%=annot.id%>, $R(<%= annot.line_start %>, <%= annot.line_end %>), 
             '<%=annot.annotation_label.id%>');

        <% end %>
    <% end %>

</script>

