<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% m = 0
   if !mark.mark.nil?
      m = mark.mark
   end
%>

<li class="mark_summary_holder" id="<%= "criterion_summary_#{criterion.id}" %>">
  <div >
    <div style="float:left;"><%= criterion.name%></div>
    <div style="float:right;padding-left:20px;" id="<%= "mark_summary_#{mark.id}" %>">
      <%= criterion.weight %> * <%= m %> =
      <%= m*criterion.weight %> / <%=  criterion.weight * 4 %>
    </div>
    <div class="clear"></div>
  </div>
</li>
