<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% m = 0
   if !mark.mark.nil?
      m = mark.mark
   end
%>

<tr class="<%= cycle('mark_summary_holderA', 'mark_summary_holderB') %>" id="<%= "mark_summary_#{mark.id}" %>">
    <td><%= criterion.name%></td>
    <td><%= criterion.weight %></td>
    <td id="<%= "mark_summary_#{mark.id}_mark" %>"><%= m %></td>
    <td id="<%= "mark_summary_#{mark.id}_grade" %>"><%= m*criterion.weight %> / <%=  criterion.weight * 4 %></td>
</tr>
