<%
# Erb template for display rubric criterion in the grader view
%>

<li class="<%= cycle('criterion_holderA', 'criterion_holderB') %>" id="<%= "criterion_#{criterion.id}" %>">

  <div class="criterion_title_div" id="<%= "criterion_title_#{criterion.id}"%>" onclick="<%="focus_criterion(#{criterion.id})"%>">

    <div id="<%="criterion_title_#{criterion.id}_expand"%>" style="float:left;">+ &nbsp;</div>
    <div id="<%="criterion_title_#{criterion.id}_name"%>" class="criterion_title_div_level" style="float:left;">
      <b><%=criterion.name%></b>
    </div>
    <div class="clear"></div>
    <div id="<%="criterion_title_#{mark.id}_mark"%>" style="padding-left:30px;">
      <% if !mark.mark.nil? -%>
        <b>
          <%= mark.mark %>&nbsp;
          <%= criterion["level_" + mark.mark.to_s + "_name"] %>&nbsp;
        </b>
        <%= criterion["level_" + mark.mark.to_s + "_description"] %>
      <% end -%>
    </div>
    <div class="clear"></div>

  </div> <!-- Title Div -->

  <div id="<%="criterion_inputs_#{criterion.id}"%>" class="criterion_level_container" style="display:none;">

    <div style="float:left;">
        <table>
        <% num_levels = 0
        selected = "criterion_level"
        while (num_levels < 5) 
          level_name = criterion["level_" + num_levels.to_s + "_name"]
          level_desc = criterion["level_" + num_levels.to_s + "_description"]
          if (num_levels == mark.mark)
            td_class = "criterion_level_selected"
          else
            td_class = "criterion_level"
          end
        -%>
          <% if level_desc && !level_desc.empty? -%>
            <tr>
               <td id="<%="criterion_#{criterion.id}_level_#{num_levels}"%>" class="<%=td_class%>">
                 <%= link_to_remote "<b>#{num_levels}&nbsp; #{level_name}</b> &nbsp;
                  #{level_desc}", {:url => { :action => 'update_mark', :mark_id=>mark.id, :mark=>num_levels}},
                 {:style => "color:#000000;background:none;"}%>
               </td>
            </tr>
         <% end -%>

        <% num_levels = num_levels + 1
          end -%>
          </table>
    </div>

    <div class="clear"></div>

  </div>

</li>
