<%= javascript_include_tag "tooltip.js" %>
<%= javascript_include_tag "selecttext.js" %>
<script>
var tool_tips = $A();
</script>

<h1>Grading Assignment: <%= link_to @assignment.name, :controller => 'annotations', :action => 'students', :id => @assignment.id %> </h1>
<h3>Select the files below to view  your<%= "group's" unless @assignment.individual? -%> submitted files:</h3>

<select name="file[file_filename]" onChange="
    <%= remote_function (:update => "codeviewer",
                   :url =>{ :action => "codeviewer", :id => @assignment.id, :uid => @uid },
                   :with => "'fid='+value")%>">
<option value="">Select a file</option>
    <% @files.each do |file| %>

        <option value="<%= file.id %>"> 
          <%= file.filename %>
        </option>

    <% end %>

</select>

<div id="codeviewer">
    <%= render :partial => "codeviewer", :locals => { :filetext => "" } %>
</div>

<div id="annotation" style="display:none;">
    This is some annotation
 </div>
