<%
  if view == 'marker'
    onclick = "focus_mark_criterion(#{mark_criterion.id})"
    criterion_name_class = 'title_div_level unreleased'
    old_mark_class = 'old_mark old_mark_unreleased'
  else
    onclick = ''
    criterion_name_class = 'title_div_level released'
    old_mark_class = 'old_mark old_mark_released' -%>
<% end -%>

<div class="<%= criterion_name_class %>" onclick="<%= onclick %>">
  <%= (mark_criterion.name) %>
</div>

<div class='mark_checkbox'>
  <% if view == 'marker' %>
      <%# NOTE: The checkbox must have a value for the 2nd arg, or else the class isn't added. %>
      <%# Functionality breaks if it's missing since the class is used by jQuery to attach the ajax call. %>
      <%# TODO - Internationalize Yes/No strings... %>
      Yes <%= radio_button_tag('mark_' + mark.id.to_s,
                               'yes',
                               !mark.mark.nil? && mark.mark > 0.0,
                               class: 'mark_grade_input_checkbox' + (!old_mark.nil? && (mark.mark != old_mark.mark) ? ' remarked' : ' not_remarked'),
                               data: { id: mark_criterion.id,
                                       oldmark: old_mark.nil? ? 'none' : old_mark.mark,
                                       mark: mark.id.to_s },
                               'data-action' => url_for(action: :update_mark, mark_id: mark.id, radio_type: 'yes')) %>
      No <%= radio_button_tag('mark_' + mark.id.to_s,
                              'no',
                              !mark.mark.nil? && mark.mark == 0.0,
                              class: 'mark_grade_input_checkbox' + (!old_mark.nil? && (mark.mark != old_mark.mark) ? ' remarked' : ' not_remarked'),
                              data: { id: mark_criterion.id,
                                      oldmark: old_mark.nil? ? 'none' : old_mark.mark,
                                      mark: mark.id.to_s },
                              'data-action' => url_for(action: :update_mark, mark_id: mark.id, radio_type: 'no')) %>
      / <%= mark_criterion.max_mark.to_s %>
  <% else %>
      <%= mark.mark %> /&nbsp; <%= mark_criterion.max_mark.to_s%>
  <% end %>
</div>

<div id='<%="checkbox_#{mark_criterion.id}_old_mark"%>' class='<%= old_mark_class %>'>
  <% if !old_mark.nil? && (mark.mark != old_mark.mark) %>
      (Old Mark: <%= old_mark.mark %>)
  <% end %>
</div>
