<% content_for :head do %>
  <%= javascript_include_tag 'Results/file_selector' %>
  <%= render partial: 'results/common/included_annotations',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<%= form_tag(download_assignment_submission_result_path(
                 @assignment.id, @grouping.current_submission_used.id,
                 @grouping.current_submission_used.get_latest_result.id)) do %>
  <%= hidden_field_tag :include_annotations,
                       true,
                       id: 'download_include_annotations' %>
  <%= hidden_field_tag :select_file_id,
                       0,
                       id: 'file_id' %>

  <div id='annotations_options'>
    <%= check_box_tag('include_annotations',
                      true,
                      false,
                      id: 'include_annotations',
                      onclick: 'annotations_included();',
                      class: 'inline_checkbox') if can_download && !files.empty? %>

    <%= label_tag('include_annotations',
                  t('marker.include_annotations'),
                  id: 'include_annotations_label',
                  class: 'inline_label') if can_download && !files.empty? %>
  </div>

  <div id='download_file_selector'>
    <!-- so jQuery knows which file to autoload when the page loads -->
    <script>
      var first_file_id;
      var first_file_path;
      <% if files.empty? %>
      first_file_id = null;
      first_file_path = null;
      <% else %>
      first_file_id = <%= files[0].id %>;
      first_file_path = '<%= files[0].path %>/<%= files[0].filename %>';
      <% end %>
    </script>


    <!-- arrange the files list into a nested hashtable for displaying in a recursive menu -->
    <% outermost_dir = Hash.new %>
    <% files.each do |file| %>
        <% innermost_dir = outermost_dir %>
        <% innermost_dir["files"] = Array.new %>
        <% folders = file.path.split('/') %>
        <% folders.each do |folder_name| %>
            <% if !innermost_dir.key?(folder_name) %>
                <% innermost_dir[folder_name] = Hash.new %>
                <% innermost_dir[folder_name]["files"] = Array.new %>
            <% end %>
            <% innermost_dir = innermost_dir[folder_name] %>
        <% end %>
        <% innermost_dir["files"].push(file) %>
    <% end %>

    <% def show_folder_recursive(dir) %>
        <% dir.each do |name, contents|  %>
            <% if name != "files" %>
                <li class="nested-submenu">
                  <a onmouseenter='open_submenu(this)'>
                    <b><%= name %></b>
                  </a>
                  <ul class="nested-folder" style="display: none;"><% show_folder_recursive(contents) %></ul>
                </li>
            <% end %>
        <% end %>
        <% if dir["files"] != nil %>
            <% dir["files"].each do |file| %>
                <li><a onclick='open_file(<%= file.id %>, "<%= file.path %>/<%= file.filename %>", true)'
                       onmouseover='close_submenu_recursive(
                           this.parentNode.parentNode, null)'>
                  <%= file.filename %>
                </a></li>
            <% end %>
        <% end %>
    <% end %>

    <div class="dropdown" id="download_select_file_id">
      <a id="download_file_selector_dropdown_text">Files</a>
      <span class="caret"></span>
      <ul class="nested-folder">
        <% outermost_dir.each do |key, value| %>
            <% if key != "files" %>
                <% show_folder_recursive(outermost_dir[key]) %>
            <% end %>
        <% end %>
      </ul>

      <div class='arrow_down'></div>
    </div>
  </div>

  <%= submit_tag t(:download),
                 id: 'download_button',
                 onclick: 'with_annotations();' if can_download && !files.empty? %>


  <%= submit_tag t('browse_submissions.download_all_files'),
                 name: 'download_zip_button',
                 id: 'download_all_files_button',
                 onclick: 'with_annotations();' unless files.empty? %>
<% end %>

