<%= form_tag(download_assignment_submission_result_path(
                 assignment_id: @assignment.id,
                 submission_id: @grouping.current_submission_used.id,
                 id: @grouping.current_submission_used.get_latest_result.id)) do %>
    <%= hidden_field_tag :include_annotations,
                         true,
                         id: 'download_include_annotations' %>
    <div class='file_selector'>
      <% def show_folder_recursive(dir) %>
          <% dir.each do |name, contents| %>
              <% if name != :files %>
                  <li class="nested-submenu">
                    <a onmouseenter='open_submenu(this)'>
                      <b><%= name %></b>
                    </a>
                    <ul class="nested-folder" style="display: none;">
                      <% show_folder_recursive(contents) %></ul>
                  </li>
              <% end %>
          <% end %>
          <% if dir[:files] != nil %>
              <% internal_repo_files = Repository.get_class.internal_file_names %>
              <% dir[:files].each do |file| %>
                <% unless internal_repo_files.include?(file.filename) %>
                  <li class="file_item" data-path="<%= file.path %>/<%= file.filename %>" data-id="<%= file.id %>">
                    <a onclick='open_file(<%= file.id %>, "<%= file.path %>/<%= file.filename %>")'
                       onmouseover='close_submenu_recursive(
                           this.parentNode.parentNode, null)'>
                      <%= file.filename %>
                    </a></li>
                <% end %>
              <% end %>
          <% end %>
      <% end %>

      <div class="dropdown" id="select_file_id">
        <% outermost_dir = create_nested_files_hash_table(files) %>
        <a id="file_selector_dropdown_text">Files</a>
        <span class="caret"></span>
        <ul class="nested-folder">
          <% outermost_dir.each do |key, value| %>
              <% if key != :files %>
                  <% show_folder_recursive(outermost_dir[key]) %>
              <% end %>
          <% end %>
        </ul>

        <div class='arrow_down'></div>
      </div>
    </div>

    <!-- load the first file -->
    <script>
      var first_file_id;
      var first_file_path;
      <% files = @files.reject { |file| Repository.get_class.internal_file_names.include?(file.filename) } %>
      <% if files.empty? %>
        first_file_id = null;
        first_file_path = null;
      <% else %>
        <% if @current_user.ta? && (assignmentfile =
                  AssignmentFile.select(:filename)
                  .joins('JOIN criteria_assignment_files_joins c ON c.assignment_file_id = assignment_files.id')
                  .joins('JOIN criterion_ta_associations t ON c.criterion_id = t.criterion_id')
                  .where('t.ta_id = ? AND assignment_files.assignment_id = ?', @current_user.id, @assignment.id)
                  .first) %>
          <% index = files.find_index{|x| x.filename === assignmentfile.filename}.to_i %>
          first_file_id = <%= files[index].id %>;
          first_file_path = '<%= files[index].path %>/<%= files[index].filename %>';
        <% else %>
          first_file_id = <%= files[0].id %>;
          first_file_path = '<%= files[0].path %>/<%= files[0].filename %>';
          if (localStorage.getItem('assignment_id') === '<%= @assignment.id %>' && localStorage.getItem('file_path')) {
            var file = $('.file_item[data-path="' + localStorage.getItem('file_path') + '"]');
            if (file.length === 1) {
              first_file_id = file.data("id");
              first_file_path = file.data("path");
            }
          }
        <% end %>
        if (first_file_id !== null && first_file_path !== null) {
          document.addEventListener('DOMContentLoaded', () => {
            // for code viewer
            open_file(first_file_id, first_file_path, false);
            // for download modal
            open_file(first_file_id, first_file_path, true);
          });
        }
      <% end %>
    </script>
<% end %>
