<% # Make sure to include the public/javascripts/Grader/file_selector.js
   # file when using this partial
%>

<% content_for :head do %>
  <%= javascript_include_tag 'Results/file_selector' %>
<% end %>

<%= form_tag(download_assignment_submission_result_path(
                     @assignment.id, @grouping.current_submission_used.id,
                     @grouping.current_submission_used.get_latest_result.id),
             :class => 'download_zip') do %>
  <%= label_tag "select_file_id", I18n.t("common.submission_file"), :class => "inline_label" %>
  <input type="button" onclick="bump_select($('select_file_id'), -1,back_button,next_button); return false;" value="<-" id="back_button" disabled/>
  <select id="select_file_id" name="select_file_id" onchange="bump_select($('select_file_id'), 0,back_button,next_button); if ($(this).getValue() != '') { load_submitted_file($(this).getValue()); }">
    <% if files.empty? %>
      <option value=""><%= I18n.t("common.no_file_in_repository") %></option>
    <% end %>
    <% files.each do |file| %>
        <option value="<%= file.id %>">
          <%= File.join(file.path, file.filename) %>
        </option>
    <% end %>
  </select>
  <input type="button" onclick="bump_select($('select_file_id'), 1,back_button,next_button); return false;" value="->" id="next_button"/>
  <span id="loading_code" style="display:none;">
    <%=image_tag('spinner.gif')%> <%= I18n.t("common.loading_code") %>
  </span>
  <script type="text/javascript">bump_select($('select_file_id'), 0,back_button,next_button);</script>
  <%= submit_tag I18n.t(:download) if can_download && !files.empty? %>
  <%= label_tag("include_annotations", I18n.t("marker.include_annotations"), :class => "inline_label") if can_download && !files.empty? %>
  <%= check_box_tag("include_annotations", true, false, :id => "include_annotations", :class => "inline_checkbox") if can_download && !files.empty? %>
<% end %>

<%= form_tag(download_zip_assignment_submission_result_path(
               :assignment_id => @assignment.id,
               :submission_id => @submission.id,
               :id => params[:id]),
             :class => 'download_zip', :method => :get) do %>
  <%= hidden_field_tag :include_annotations, true, :id => 'download_zip' %>
  <%= submit_tag t('browse_submissions.download_all_files'), :onclick => 'with_annotations();' unless files.empty? %>
<% end %>
