<%= form_tag(download_assignment_submission_result_path(
                 assignment_id: @assignment.id,
                 submission_id: @grouping.current_submission_used.id,
                 id: @grouping.current_submission_used.get_latest_result.id)) do %>
    <%= hidden_field_tag :include_annotations,
                         true,
                         id: 'download_include_annotations' %>
    <div class='file_selector'>
      <% def show_folder_recursive(dir) %>
          <% dir.each do |name, contents| %>
              <% if name != :files %>
                  <li class="nested-submenu">
                    <a onmouseenter='open_submenu(this)'>
                      <b><%= name %></b>
                    </a>
                    <ul class="nested-folder" style="display: none;">
                      <% show_folder_recursive(contents) %></ul>
                  </li>
              <% end %>
          <% end %>
          <% if dir[:files] != nil %>
              <% internal_repo_files = Repository.get_class.internal_file_names %>
              <% dir[:files].each do |file| %>
                <% unless internal_repo_files.include?(file.filename) %>
                  <li class="file_item" data-path="<%= file.path %>/<%= file.filename %>" data-id="<%= file.id %>">
                    <a onclick='open_file(<%= file.id %>, "<%= file.path %>/<%= file.filename %>")'
                       onmouseover='close_submenu_recursive(
                           this.parentNode.parentNode, null)'>
                      <%= file.filename %>
                    </a></li>
                <% end %>
              <% end %>
          <% end %>
      <% end %>

      <div class="dropdown" id="select_file_id">
        <% outermost_dir = create_nested_files_hash_table(files) %>
        <a id="file_selector_dropdown_text">Files</a>
        <span class="caret"></span>
        <ul class="nested-folder">
          <% outermost_dir.each do |key, value| %>
              <% if key != :files %>
                  <% show_folder_recursive(outermost_dir[key]) %>
              <% end %>
          <% end %>
        </ul>

        <div class='arrow_down'></div>
      </div>
    </div>
<% end %>
