<% content_for :head do %>
  <%= javascript_include_tag 'Results/file_selector' %>
  <%= render partial: 'results/common/included_annotations',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<%= form_tag(download_assignment_submission_result_path(
                     @assignment.id, @grouping.current_submission_used.id,
                     @grouping.current_submission_used.get_latest_result.id)) do %>
  <%= hidden_field_tag :include_annotations,
                       true,
                       id: 'download_include_annotations' %>
  <div class='file_selector'>
<!--     <input type='button'
           onclick='bump_select("select_file_id", -1, "back_button", "next_button"); return false;'
           value='←'
           id='back_button'
           disabled>
 -->
     <% outermost_dir = Hash.new %> 

     <% files.each do |file| %>
       <% innermost_dir = outermost_dir %>
       <% innermost_dir["files"] = Array.new %>
       <% folders = file.path.split('/') %>
       <% folders.each do |folder_name| %>
         <% if !innermost_dir.key?(folder_name) %>
           <% innermost_dir[folder_name] = Hash.new %>
           <% innermost_dir[folder_name]["files"] = Array.new %>
         <% end %>
         <% innermost_dir = innermost_dir[folder_name] %>
       <% end %>
       <% innermost_dir["files"].push(file) %>
     <% end %>

     <% def show_folder_recursive(dir) %>
      <% dir.each do |name, contents|  %>
        <% if name != "files" %>
          <a><b><%= name %></b></a>
          <ul><% show_folder_recursive(contents) %></ul>
          <br>
        <% end %>
      <% end %>
      <% if dir["files"] != nil %>
        <% dir["files"].each do |file| %>
          <li><a onclick='open_file(<%=file.id%>)'><option value='<%=file.id%>'><%=file.filename%></option></a></li>
        <% end %>
      <% end %>
     <% end %>

     <div class="nested_files">
      <ul><li>
        <% show_folder_recursive(outermost_dir) %>
      </ul></li>
     </div>

<!--      <select id='select_file_id'
             name='select_file_id'
             onchange='bump_select("select_file_id", 0, "back_button", "next_button");'>
       <% if files.empty? %>
         <option value=''><%= t('common.no_file_in_repository') %></option>
       <% end %>
       <% files.each do |file| %>
         <option value='<%= file.id %>'>
           <%= File.join(file.path, file.filename) %>
         </option>
       <% end %>
     </select>  -->

<!--     <input type='button'
           onclick='bump_select("select_file_id", 1, "back_button", "next_button"); return false;'
           value='→'
           id='next_button'> -->
  </div>




  <script type="text/javascript">

  jQuery('.nested_files a').click(function() {
    jQuery(this).next().toggle();
  });
  </script>


  <div class='download_file'>

    <%= submit_tag t(:download), onclick: 'with_annotations();' if can_download && !files.empty? %>

    <%= label_tag('include_annotations',
                  t('marker.include_annotations'),
                  class: 'inline_label') if can_download && !files.empty? %>
    <%= check_box_tag('include_annotations',
                      true,
                      false,
                      id: 'include_annotations',
                      onclick: 'annotations_included();',
                      class: 'inline_checkbox') if can_download && !files.empty? %>

    <%= submit_tag t('browse_submissions.download_all_files'),
                   name: 'download_zip_button',
                   onclick: 'with_annotations();' unless files.empty? %>
  </div>
<% end %>
