<table id="summary_criteria_pane_list" class="marks_summary_pane_list">
<thead>
  <th><%=t("summary_table.title")%></th>
  <th><%=t("summary_table.max_value")%></th>
  <th>=&nbsp;<%=t("summary_table.grade")%></th>
</thead>
<% @mark_criteria.each do |criterion| -%>
<%
   mark = marks_map[criterion.id]
   if mark.nil? or mark.mark.nil?
     mark_value = 0
   else
     mark_value = mark.mark
   end

%>

<tr class="<%= cycle('mark_summary_holderA', 'mark_summary_holderB') %>" id="<%= "mark_#{mark.id}_summary" %>">
    <td><%= criterion.flexible_criterion_name %></td>
    <td><%= criterion.max %></td>
    <td><span id="mark_<%= mark.id %>_summary_mark"><%= mark_value %></span> / <%=  criterion.max %></td>

</tr>

<% end -%>
</table>  <!-- Summary Criteria Pane List -->

