<%
  if view == 'marker'
    onclick = "focus_mark_criterion(#{mark_criterion.id}, 'flexible')"
    className = 'flexible_criterion_title_div_level flexible_criterion_unreleased'
  else
    onclick = ''
    className = 'flexible_criterion_title_div_level flexible_criterion_released' -%>
<% end -%>

<div class="<%= className %>" onclick="<%= onclick %>">
  <%= (mark_criterion.name) %>
</div>

<div class='mark_flexible'>
  <% if view == 'marker' %>
    <%= text_field_tag('mark_' + mark.id.to_s, !mark.mark.nil? ? mark.mark : (!old_mark.nil? ? old_mark.mark : ''),
                       size: 4,
                       class: 'mark_grade_input' + (!mark.mark.nil? ? ' remarked' : ' not_remarked'),
                       data: {id: mark_criterion.id,
                              oldmark: old_mark.nil? ? 'none' : old_mark.mark,
                              mark: mark.id.to_s},
                       'data-action' => url_for(action: :update_mark,
                                                mark_id: mark.id)) %>
    /&nbsp; <%= mark_criterion.max.to_s%>
  <% else %>
    <%= mark.mark %> /&nbsp; <%= mark_criterion.max.to_s%>
  <% end %>
</div>

<%
  if view == 'marker'
    old_mark_class = 'flexible_old_mark unreleased'
  else
    old_mark_class = 'flexible_old_mark released'
  end
%>

<div id="<%="flexible_#{mark_criterion.id}_old_mark"%>" class="<%= old_mark_class %>">
  <% if !old_mark.nil? and !mark.mark.nil? %>
      (Old Mark: <%= old_mark.mark %>)
  <% end %>
</div>