<div id="<%="mark_criterion_title_#{mark_criterion.id}_name"%>"
class="mark_criterion_title_div_level float_left">
  <b><%=(mark_criterion.flexible_criterion_name)%></b>
</div>
<div class="clear"></div>
<div id="<%="mark_criterion_title_#{mark.id}_mark"%>" class="padding_left">
<% if !mark.mark.nil? -%>
  <b>
    <%= mark.mark %>&nbsp;/ <%= mark_criterion.max %>
  </b>
  <p><%=mark_criterion.description %></p>
<% end -%>

</div>
<div class="clear"></div>

