<%
# Erb template for displaying a flexible criterion
%>

<% item_class = marker ? 'flexible_criterion expanded' : 'flexible_criterion' %>
<li id='<%= "mark_criterion_#{mark_criterion.id}" %>' class=<%= item_class %>>
  <% if marker %>
    <% title_class =
      mark_criterion.description != '' ?  'criterion_title expandable' : 'criterion_title unexpandable' -%>
    <!--Mark update info -->
    <div id='mark_verify_result_<%=mark.id%>' class='error' style='display:none;'>
      <%= t('marker.marks.invalid_mark') %>
    </div>
    <div class='<%= title_class %>' id='<%= "mark_criterion_title_#{mark_criterion.id}"%>'>
      <div id='<%="mark_criterion_title_#{mark_criterion.id}_expand"%>'
        class='criterion_expand'
        onclick='<%="focus_mark_criterion(#{mark_criterion.id})"%>'>
        - &nbsp;
      </div>
    </div>
  <% end %>
  <%= render partial: 'results/common/flexible_criterion',
             locals: { mark_criterion: mark_criterion,
                       mark: mark,
                       old_mark: old_mark,
                       marker: marker } %>
</li>
