

<div class='clear'></div>

<div id="<%="mark_criterion_title_#{mark_criterion.id}_old_mark"%>"
     class="mark_criterion_old_mark float_left">
  <strong><%= if(!old_mark.nil? && !old_mark.mark.nil?) then
                "#{I18n.t('marker.marks.old')}#{old_mark.mark.to_s}"
              else "" end %></strong>
</div>

<% if !mark.mark.nil? -%>
  <div id="<%= "mark_criterion_title_#{mark.id}_mark" %>"
       class='flexible_criterion_description mark_description '
       data-id='<%= mark_criterion.id %>'>

      <p><%= mark_criterion.description %></p>
      <strong><%= mark.mark %> / <%= mark_criterion.max %></strong>
  </div>
<% end -%>

<!--<div class='clear'></div>-->
