<div id='image_container' class='image_container'>
  <% # Create a box for each image annotation %>
  <% @annots.each do |annot| %>
    <div id='annotation_holder_<%= annot.id %>' class='annotation_holder'></div>
  <% end %>

  <img id='image_preview'
      <% if @current_user.student? %>
        src='<%= download_assignment_results_path(select_file_id: submission_file_id,
                                                  show_in_browser: true,
                                                  id: @result.id,
                                                  from_codeviewer: true) -%>'
      <% else %>
        src='<%= download_assignment_submission_results_path(select_file_id: submission_file_id,
                                                             show_in_browser: true,
                                                             id: @result.id,
                                                             from_codeviewer: true) -%>'
      <% end %>
      alt='<%= I18n.t('common.cant_display_image') %>'>

  <% # Keep track of all annotations associated with file %>
  <input id='annotation_grid'
         type='hidden'
         value='<%= @file.get_annotation_grid.to_json %>'>
  <input id='enable_annotations?'
         type='hidden'
         value=<%= (@current_user.ta? || @current_user.admin?) && !@result.released_to_students %>>

  <script>
    source_code_ready_for_image();
    <% if (defined? annots) %>
      <% annots.each do |annot| %>
          add_annotation_text(<%= annot.annotation_text.id %>,
                              '<%= escape_javascript(markdown(annot.annotation_text.html_content)) %>');
      <% end %>
    <% end %>
  </script>
</div>
