<div id="outerContainer" class="loadingInProgress">
  <div id="mainContainer">
    <div class="toolbar">
      <div id="toolbarContainer">
        <div id="toolbarViewer">
          <div id="toolbarViewerLeft">
            <div class="splitToolbarButton">
              <button class="toolbarButton pageUp" title="Previous Page" id="previous" tabindex="13" data-l10n-id="previous">
              <span data-l10n-id="previous_label">Previous</span>
              </button>
              <div class="splitToolbarButtonSeparator"></div>
              <button class="toolbarButton pageDown" title="Next Page" id="next" tabindex="14" data-l10n-id="next">
              <span data-l10n-id="next_label">Next</span>
              </button>
            </div>
            <button class="toolbarButton rotateMarkus" title="Rotate" onclick='rotate(); return false;'/>

            <label id="pageNumberLabel" class="toolbarLabel" for="pageNumber" data-l10n-id="page_label">Page: </label>
            <input type="number" id="pageNumber" class="toolbarField pageNumber" value="1" size="4" min="1" tabindex="15">
            <span id="numPages" class="toolbarLabel"></span>
          </div>
          <div class="toolbarViewerRight">
              <div class="splitToolbarButton">
                <button id="zoomOut" class="toolbarButton zoomOut" title="Zoom Out" tabindex="21" data-l10n-id="zoom_out">
                <span data-l10n-id="zoom_out_label">Zoom Out</span>
                </button>
                <div class="splitToolbarButtonSeparator"></div>
                <button id="zoomIn" class="toolbarButton zoomIn" title="Zoom In" tabindex="22" data-l10n-id="zoom_in">
                <span data-l10n-id="zoom_in_label">Zoom In</span>
                </button>
              </div>
              <span id="scaleSelectContainer" class="dropdownToolbarButton">
              <select id="scaleSelect" title="Zoom" tabindex="23" data-l10n-id="zoom" >
                <option id="pageAutoOption" title="" value="auto" selected="selected" data-l10n-id="page_scale_auto">Automatic Zoom</option>
                <option id="pageActualOption" title="" value="page-actual" data-l10n-id="page_scale_actual">Actual Size</option>
                <option id="pageFitOption" title="" value="page-fit" data-l10n-id="page_scale_fit">Fit Page</option>
                <option id="pageWidthOption" title="" value="page-width" data-l10n-id="page_scale_width">Full Width</option>
                <option id="customScaleOption" title="" value="custom"></option>
                <option title="" value="0.5">50%</option>
                <option title="" value="0.75">75%</option>
                <option title="" value="1">100%</option>
                <option title="" value="1.25">125%</option>
                <option title="" value="1.5">150%</option>
                <option title="" value="2">200%</option>
                <option title="" value="3">300%</option>
                <option title="" value="4">400%</option>
              </select>
              </span>
          </div>
        </div>
        <div id="loadingBar">
          <div class="progress">
            <div class="glimmer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <menu type="context" id="viewerContextMenu">
      <menuitem id="contextFirstPage" label="First Page"
    data-l10n-id="first_page"></menuitem>
      <menuitem id="contextLastPage" label="Last Page"
    data-l10n-id="last_page"></menuitem>
      <menuitem id="contextPageRotateCw" label="Rotate Clockwise"
    data-l10n-id="page_rotate_cw"></menuitem>
      <menuitem id="contextPageRotateCcw" label="Rotate Counter-Clockwise"
    data-l10n-id="page_rotate_ccw"></menuitem>
    </menu>
    <div id="viewerContainer" tabindex="0">
      <div id="viewer"></div>
    </div>
    <div id="errorWrapper" hidden='true'>
      <div id="errorMessageLeft">
        <span id="errorMessage"></span>
        <button id="errorShowMore" data-l10n-id="error_more_info">
        More Information
        </button>
        <button id="errorShowLess" data-l10n-id="error_less_info" hidden='true'>
        Less Information
        </button>
      </div>
      <div id="errorMessageRight">
        <button id="errorClose" data-l10n-id="error_close">
        Close
        </button>
      </div>
      <div class="clearBoth"></div>
      <textarea id="errorMoreInfo" hidden='true' readonly="readonly"></textarea>
    </div>
  </div> <!-- mainContainer -->

  <div id="overlayContainer" class="hidden">
      <div id="passwordOverlay" class="container hidden">
        <div class="dialog">
          <div class="row">
            <p id="passwordText" data-l10n-id="password_label">Enter the password to open this PDF file:</p>
          </div>
          <div class="row">
            <input type="password" id="password" class="toolbarField" />
          </div>
          <div class="buttonRow">
            <button id="passwordCancel" class="overlayButton"><span data-l10n-id="password_cancel">Cancel</span></button>
            <button id="passwordSubmit" class="overlayButton"><span data-l10n-id="password_ok">OK</span></button>
          </div>
        </div>
      </div>
      <div id="documentPropertiesOverlay" class="container hidden">
        <div class="dialog">
          <div class="row">
            <span data-l10n-id="document_properties_file_name">File name:</span> <p id="fileNameField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_file_size">File size:</span> <p id="fileSizeField">-</p>
          </div>
          <div class="separator"></div>
          <div class="row">
            <span data-l10n-id="document_properties_title">Title:</span> <p id="titleField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_author">Author:</span> <p id="authorField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_subject">Subject:</span> <p id="subjectField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_keywords">Keywords:</span> <p id="keywordsField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_creation_date">Creation Date:</span> <p id="creationDateField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_modification_date">Modification Date:</span> <p id="modificationDateField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_creator">Creator:</span> <p id="creatorField">-</p>
          </div>
          <div class="separator"></div>
          <div class="row">
            <span data-l10n-id="document_properties_producer">PDF Producer:</span> <p id="producerField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_version">PDF Version:</span> <p id="versionField">-</p>
          </div>
          <div class="row">
            <span data-l10n-id="document_properties_page_count">Page Count:</span> <p id="pageCountField">-</p>
          </div>
          <div class="buttonRow">
            <button id="documentPropertiesClose" class="overlayButton"><span data-l10n-id="document_properties_close">Close</span></button>
          </div>
        </div>
      </div>
  </div>  <!-- overlayContainer -->
</div>

<script>
(function() {
  PDFView.onLoadComplete = function() {
    window.source_code_ready_for_pdf(PDFView, 'viewer');

    <% if (defined? annots) %>
      <% annots.each do |annot| %>
        add_pdf_annotation('<%= annot.annotation_text.id %>',
                           '<%= escape_javascript(markdown(annot.annotation_text.html_content)) %>',
                           '<%= annot.extract_coords.to_json().html_safe %>');
      <% end %>
    <% end %>
  };

  <% if @current_user.student? %>
    webViewerLoad("<%= download_assignment_results_path(select_file_id: submission_file_id,
                                                        id: @result.id,
                                                        show_in_browser: true ) %>"); // PDF
  <% else %>
    webViewerLoad("<%= download_assignment_submission_results_path(select_file_id: submission_file_id,
                                                                   show_in_browser: true ) %>"); // PDF
  <% end %>
})();
</script>