<div class="mark_criterion_title_div_level">
    <%= link_to mark_criterion.name,
                'javascript:void(0);',
                onclick: 'return false;',
                class: 'rubric_criterion_link' %>

  <strong id="<%= "mark_criterion_title_#{mark.id}_level" %>"
          class="mark_criterion_title_level mark_description"
          data-id='<%= mark_criterion.id %>'>
    <% if !mark.mark.nil? -%>
      <%= mark.mark.round %>: <%= mark_criterion['level_' + mark.mark.to_i.to_s + '_name'] %>&nbsp;
    <% end -%>
  </strong>
</div>

<% if old_mark and !old_mark.mark.nil? %>
  <div class="padding_left_old">
    <strong>
      <%= t('marker.marks.old').html_safe %>
      <%= old_mark.mark.round %>: <%= mark_criterion['level_' + old_mark.mark.to_i.to_s + '_name'] %>&nbsp;
    </strong>
    <%= mark_criterion['level_' + old_mark.mark.to_i.to_s + '_description'] %>
  </div>
<% end %>

<div id="<%="mark_criterion_title_#{mark.id}_mark"%>"
     class='rubric_criterion_description'
     data-id='<%= mark_criterion.id %>'>
</div>

<div class='clear'></div>
