<table id="summary_criteria_pane_list" class="marks_summary_pane_list">
  <thead>
    <tr>
      <th><%=t("summary_table.title")%></th>
      <th><%=t("summary_table.weight")%></th>
      <th><%=t("summary_table.x_mark")%></th>
      <th>=&nbsp;<%=t("summary_table.grade")%></th>
    </tr>
  </thead>
  <% @mark_criteria.each do |criterion| -%>
  <%
     mark = marks_map[criterion.id]
     if mark.nil? or mark.mark.nil?
       mark_value = 0
     else
       mark_value = mark.mark
     end

  %>
    <tr id="<%= "mark_#{mark.id}_summary" %>">
      <td><%= criterion.rubric_criterion_name %></td>
      <td><%= criterion.weight %></td>
      <td><span id="mark_<%= mark.id %>_summary_mark"><%= mark_value %></span></td>
      <td><span id="mark_<%= mark.id %>_summary_mark_after_weight"><%= (mark_value * criterion.weight) %></span> / <%= criterion.weight * 4 %></td>
    </tr>
  <% end -%>
</table>  <!-- Summary Criteria Pane List -->
