<div id="student_selector">
<span class="left">
  <% if !@previous.nil?%>
    <%= link_to "Previous Submission", :action => 'next', :id => @previous.id %>
  <% else %>
     <span class="disable"> Previous Submission </span>
  <% end %>
</span>
  <span class="middle">
    <%=h group.group_name%> 
    
    (Marking Status: 
<% if !@result.released_to_students %>
     <%=  select_tag "marking_state", options_for_select(["unmarked", "partial", "complete"],[result.marking_state]) %>
    
     <%= observe_field :marking_state, :url => {:controller => 'annotations', :action => 'update_marking_state', :id => result.id}, :on => 'changed', :with => "value"%>
<%else %>
Result released to students
<% end %>
    <em>Total Mark:</em>
    <span id="current_mark_div"><%=h result.total_mark %></span> / 
    <span id="total_mark_div"><%=h assignment.total_mark %></span>)
  </span> 
  <span class="right">

<% if !@next.nil? %>
   <%= link_to "Next Submission", :action => 'next', :id => @next.id%>
<% else %>
   <span class="disable">Next Submission</span>
<% end %>
</span>
  <div class="clear"></div>
</div>
