<div id="student_selector">
<span class="left">
  <% if !previous_grouping.nil?%>
    <%= link_to "Previous Submission", :action => 'next_grouping', :id => previous_grouping.id %>
  <% else %>
     <span class="disable"> Previous Submission </span>
  <% end %>
</span>
  <span class="middle">
    <%= h(group.group_name)%> 
    
    (Marking Status: 
     <%=  select_tag "marking_state", options_for_select(["unmarked", "partial", "complete"],[result.marking_state]), :disabled => @result.released_to_students %>
     <%= observe_field :marking_state, :url => {:controller => 'results', :action => 'update_marking_state', :id => result.id}, :on => 'changed', :with => "value"%>
    
    <em>Total Mark:</em>
    <span id="current_mark_div"><%= h(result.total_mark) %></span> / 
    <span id="total_mark_div"><%= h(assignment.total_mark) %></span>)
   <% if @current_user.admin? %>
     | Released:
        <%= check_box_tag "released", true, result.released_to_students, :disabled => result.marking_state != Result::MARKING_STATES[:complete] %>
        <%= observe_field :released, :url => {:controller => 'results', :action => 'set_released_to_students', :id => result.id}, :on => 'changed', :with => "value" %>
     |
    <% end %>
  </span> 
  
  <span class="right">

<% if !next_grouping.nil? %>
   <%= link_to "Next Submission", :action => 'next_grouping', :id => @next_grouping.id%>
<% else %>
   <span class="disable">Next Submission</span>
<% end %>
</span>
  <div class="clear"></div>
</div>
