  <%=label_tag "select_test_result_id", h(I18n.t("common.test_results")), :class => "inline_label" %>
<%= link_to image_tag("icons/cog_go.png", :alt => I18n.t("common.test_code"), :title => I18n.t("common.test_code"), :id => "test_icon"),
     assignment_automated_tests_path(:assignment_id => @assignment.id, :result => @result), :id => "test_select_link", :remote => true %>

    <script type='text/javascript'>
    $("test_select_link").observe('ajax:after', function(evt, status, data, xhr) {
      $('running_tests').show();
    });
    $("test_select_link").observe('ajax:complete', function(evt, status, data, xhr) {
      $('running_tests').hide();
      $('tests_complete').show();
    });
    </script>

  <select id="select_test_result_id" onchange="if ($(this).getValue() != '') { load_test_result($(this).getValue()); }">
  	
  </select>
  <input type="button" onclick="{ load_test_result($('select_test_result_id').getValue()); }"
      value="<%= I18n.t("test_result.button.load")%>" />
  <span id="loading_test_result" style="display:none;">
    <%= image_tag('spinner.gif') %> <%= I18n.t("test_result.loading_results") %>
  </span>
  <span id="running_tests" style="display:none;">
    <%= image_tag('spinner.gif') %> <%= I18n.t("test_result.running_tests") %>
  </span>
  <span id="tests_complete" style="display:none;">
  	
  </span>
