<% # Make sure to include the public/javascripts/Grader/file_selector.js 
   # file when using this partial 
%>
  <%=label_tag "select_test_result_id", h(I18n.t("common.test_results")), :class => "inline_label" %> 
<%= link_to_remote( image_tag("icons/cog_go.png", :alt => "Test Student's code", :title => "Test Student code", :id => "test_icon"), 
{:url => {:action => "index", :controller => "test_framework", :result => @result}}) %> 
  <select id="select_test_result_id" onchange="if ($(this).getValue() != '') { load_test_result($(this).getValue()); }">
    <% if test_result_files.empty? %>
      <option value=""><%= I18n.t("test_result.no_files_available")%></option>
    <% end %>
    <% test_result_files.each do |file| %>
        <option value="<%= h(file.id) %>">
          <%= h(file.filename) %>
        </option>
    <% end %>
  </select>  
  <input type="button" onclick="if ($('select_test_result_id').getValue() != '') { load_test_result($('select_test_result_id').getValue()); }"
      value="<%= I18n.t("test_result.button.load")%>" />
  <span id="loading_test_result" style="display:none;">
    <%=image_tag('spinner.gif' )%> <%= I18n.t("test_result.loading_message") %>
  </span>
