<div class='assignment_file inline-labels required-file-wrapper'>
<%= form.fields_for :assignment_files, assignment_file do |f| %>
    <%= f.label :filename, t('attributes.filename'), class: 'required' %>
    <span>
    <%= f.text_field :filename, pattern: '^[\-\._a-zA-Z0-9][\-\/\._a-zA-Z0-9\\s]*$' %>
    <span class="small-indent">(<%= t(:delete) %> <%= f.check_box :_destroy %>)</span>
    </span>
<% end %>
</div>
