<p class="due_date">
  <%= I18n.t(:due_date) %>:
  <span class="<%= due_date_color(assignment) %>">
    <%= I18n.l(assignment.due_date, format: :long_date ) %>
  </span>
</p>

<% if assignment.outstanding_remark_request_count != nil && assignment.outstanding_remark_request_count > 0%>
  <p>
    <%= link_to I18n.t((assignment.outstanding_remark_request_count == 1)? :outstanding_remark_request : :outstanding_remark_requests,
    request_count: assignment.outstanding_remark_request_count),
    browse_assignment_submissions_path(assignment, sort_by: 'marking_state') %>
  </p>
<% end %>

<table>
  <tr>
    <td><%= I18n.t(:assignment_average) %></td>
    <td>
      <%= I18n.t(:percentage, percentage: number_with_precision(assignment.results_average, precision: 1) || '0') %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t(:assignment_median) %></td>
    <td>
      <%= I18n.t(:percentage, percentage: number_with_precision(assignment.results_median, precision: 1) || '0') %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t(:assignments_submitted) %></td>
    <td>
      <%= "#{assignment.groups_submitted.size}/#{assignment.groupings.size}" %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t(:assignments_graded) %></td>
    <td>
      <%= "#{assignment.graded_submission_results.size}/#{assignment.groupings.size}" %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t(:assignments_failed) %></td>
    <td>
      <%= "#{assignment.results_fails}" %>
    </td>
  </tr>

  <tr>
    <td><%= I18n.t(:assignments_zeros) %></td>
    <td>
      <%= "#{assignment.results_zeros}" %>
    </td>
  </tr>
</table>
