<div class="assignment_file">
<%= form.fields_for :assignment_files, assignment_file do |f| %>
  <p>
    <%= f.label :filename, t(:filename).html_safe %>
    <%= f.text_field :filename %>
    <% if !f.object.new_record? %>
      <span>
        <b><%= I18n.t(:remove) %> : </b><%= f.check_box :_destroy %>
      </span>
    <% else %>
      <%= link_to_function t(:remove), "$(this).up('.assignment_file').remove()" %>
    <% end %>
  </p>
<% end %>
</div>
