<div class=<%= assignment.is_peer_review? ? 'pr_date' : 'date' %>>
  <% if !assignment.section_due_dates_type %>
    <%= l(assignment.due_date) %>
    <% if assignment.due_date > Time.zone.now %>
      <p class='time_left'>
        (<%= distance_of_time_in_words_to_now(assignment.due_date) %>)
      </p>
    <% end %>
  <% else %>
    <%= l(assignment.section_due_date(@section)) %>
    <% if assignment.section_due_date(@section) > Time.zone.now %>
      <p class='time_left'>
        (<%= distance_of_time_in_words_to_now(assignment.section_due_date(@section)) %>)
      </p>
    <% end %>
  <% end %>
</div>
