<% if assignment.outstanding_remark_request_count && assignment.outstanding_remark_request_count > 0%>
  <p>
    <%= link_to t(:outstanding_remark_request,
                  count: assignment.outstanding_remark_request_count),
        browse_assignment_submissions_path(assignment, filter_by: 'marking_state', filter_value: 'remark') %>
  </p>
<% end %>

<div class="grid-2-col">
  <span><%= t(:average) %></span>
  <span><%= number_to_percentage(assignment.results_average || 0, precision: 1) %></span>

  <span><%= t(:median) %></span>
  <span><%= number_to_percentage(assignment.results_median || 0, precision: 1) %></span>

  <span><%= t(:assignments_submitted) %></span>
  <% num_submissions = assignment.current_submissions_used.size %>
  <span><%= "#{num_submissions}/#{assignment.groupings.size}" %></span>

  <span><%= t(:assignments_graded) %></span>
  <span><%= "#{num_submissions - assignment.ungraded_submission_results.size}/#{assignment.groupings.size}" %></span>

  <span><%= t(:num_failed) %></span>
  <span><%= "#{assignment.results_fails || 0}" %></span>

  <span><%= t(:num_zeros) %></span>
  <span><%= "#{assignment.results_zeros || 0}" %></span>
</div>
