<%= content_for :modal_id, 'upload_config_dialog' %>
<%= content_for :modal_title, t('upload_the', item: I18n.t('assignments.configuration_zip_file')) %>
<%= content_for :modal_open_link, '#uploadModalConfig' %>

<%= content_for :modal_content do %>

  <%= t('assignments.upload_config_help_html', markus_version: Rails.configuration.markus_version, section_id: 'assignment-configuration') %>

  <!-- Script for disabling upload buttons. -->
  <%= javascript_include_tag 'upload_button_control.js',
                             id: 'upload_config_script',
                             upload_id: 'upload_files_for_config',
                             button_id: 'submit_upload_for_config',
                             nonce: true %>

  <%= form_tag upload_config_files_course_assignments_path(@current_course),
               { multipart: true } do %>

    <%= file_field_tag 'upload_files_for_config', required: true, accept: '.zip' %>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload),
                     disabled: true,
                     data: { disable_with: t(:uploading_please_wait) },
                     id: 'submit_upload_for_config' %>
      <input type='reset' value='<%= t(:cancel) %>'>
    </section>
  <% end %>
<% end %>
