<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeStarterCodeFileManager(document.getElementById('starter-code-file-manager'),
        {
          assignment_id: <%= @assignment.id %>,
          repo_url: '<%= File.join(MarkusConfigurator.markus_config_repository_external_base_url,
                                   Assignment::STARTER_CODE_REPO_NAME) %>',
          groupsExist: <%= @assignment.groups.size == 0 ? 'false' : 'true' %>,
        }
      );
    });
  </script>
<% end %>

<div id='starter-code-file-manager'></div>

<aside class='dialog' id='addnew_dialog'>
  <h2><%= t('add_new') %></h2>

  <%= form_tag upload_starter_code_assignment_path(id: @assignment.id),
               { multipart: true, id: 'file_form' } do %>
      <%= file_field_tag :new_files, name: 'new_files[]', multiple: true %>
      <section>
        <input id="starter_code_overwrite" type="checkbox" name="overwrite" value="true" checked/>
        <label for="starter_code_overwrite">
          <%= I18n.t('assignment.starter_code.overwrite') %>
        </label>
      </section>
      <section class='dialog-actions'>
        <%= submit_tag t(:upload) %>
        <%= button_tag t(:cancel), onclick: 'modal_addnew.close(); return false;' %>
      </section>
  <% end %>
</aside>
