<%
  # For the internationalization of the Calendar
%>
<% if I18n.default_locale == :en %>
   <%= calendar_date_select_includes "silver" %>
<% else %>
   <%= calendar_date_select_includes "silver", :locale => I18n.default_locale %>
<% end %>
<%= javascript_include_tag "PeriodDeltaChain/PeriodDeltaChain" %>

<%= render :partial => 'boot.js' %>

<div class="wrapLeft">
<% if flash[:success] %>
<div class="success">
  <span><%=flash[:success]%></span>
</div>
<% end %>

<% form_for :assignment, @assignment do |f| %>
<%= f.error_messages%>
<fieldset>
  <legend><%= t("assignment.properties") %></legend>
    <%= f.label :short_identifier, t(:short_identifier) %>
    <% if @assignment.id.nil? %>
      <%= f.text_field :short_identifier, :onchange =>  "$('assignment_repository_folder').setValue($(this).getValue())"%><br />
    <% else %>
      <%= f.text_field :short_identifier %><br />
    <% end %>


    <%= f.label :description, t(:name) %>
    <%= f.text_field :description %><br />
    <%= f.label :message %>
    <%= f.text_area :message, :rows => 8, :cols => 65 %><br />
    <%= f.label :due_date, t(:due_date)%>
    <%= f.calendar_date_select :due_date, {
          :time => "mixed",
          :locale => I18n.default_locale,
          :after_close => "refresh_due_date();",
          :year_range => 0.years.ago..1.years.from_now, :id => "assignment_due_date"} %>
   <%= observe_field "assignment_due_date", :function => "update_due_date($F('assignment_due_date'));" %> <%=t(:iso_due_date_format_example)%><br />
    <%= f.label :repository_folder, t(:repository_folder)%>
    /<%= f.text_field :repository_folder%><br />
	<%= f.label :allow_web_submits, t("assignment.allow_web_submits") %>&nbsp;&nbsp;
        <%= f.radio_button :allow_web_submits, true, :checked => @assignment.allow_web_submits %><%= f.label :allow_web_submits_true, t("answer_yes"), :class => "radio_label"%>&nbsp;&nbsp;
	<%= f.radio_button :allow_web_submits, false, :checked => !@assignment.allow_web_submits %><%= f.label :allow_web_submits_false, t("answer_no"), :class => "radio_label"%><br />
    <%= f.label :display_grader_names_to_students, t("assignment.display_grader_names_to_students") %>&nbsp;&nbsp;
        <%= f.radio_button :display_grader_names_to_students, true, :checked => @assignment.display_grader_names_to_students %><%= f.label :display_grader_names_to_students_true, t("answer_yes"), :class => "radio_label"%>&nbsp;&nbsp;
        <%= f.radio_button :display_grader_names_to_students, false, :checked => !@assignment.display_grader_names_to_students %><%= f.label :display_grader_names_to_students_false, t("answer_no"), :class => "radio_label"%>

   <br />
   <br />
</fieldset>
<!--select scheme -->
<div id='marking_scheme_notice' class="warning" style="display:none">
	<%= t("assignment.notice.change_marking_scheme_type")%>
</div>
<fieldset>
	<legend><%= t("assignment.marking_scheme.title") %></legend>
	<% Assignment::MARKING_SCHEME_TYPE.each do |key,value| %>
    <p>
      <%= f.radio_button :marking_scheme_type, Assignment::MARKING_SCHEME_TYPE[key],
        :checked => @assignment.marking_scheme_type == Assignment::MARKING_SCHEME_TYPE[key],
        :onclick =>"notice_marking_scheme_changed(#{@assignment.id.nil?},
                   '#{Assignment::MARKING_SCHEME_TYPE[key]}',
                   '#{@assignment.marking_scheme_type}')"
        %>
     <%= f.label("marking_scheme_type_" + Assignment::MARKING_SCHEME_TYPE[key], h(I18n.t("assignment.marking_scheme.#{value}")), :class => "radio_label") %>
	</p>
	<% end %>
</fieldset>
<fieldset>
  <legend><%= t("assignment.required_files") %></legend>
  <h4><%= t("assignment.required_files_by_student") %></h4>
   <div id="assignment_files">
     <% f.fields_for :assignment_files do |assignment_file_form| %>
       <%= render :partial => 'assignment_file', :locals => {:assignment_file => assignment_file_form.object, :form => f} %>
     <% end %>
   </div>
   <p id="assignment_file_add_link">
     <%= add_assignment_file_link t("assignment.add_required_file"), f %>
   </p>
</fieldset>

<fieldset>
  <legend><%= t("assignment.type") %></legend>
  <p id="persist_groups_assignment_style" <%='style="display:none;"' unless @assignments.size > 0 && @assignment.id.nil? %> class="disable">
    <%= check_box_tag "persist_groups", true, false, :id => "persist_groups", :onclick => "toggle_persist_groups($(this).getValue());", :disabled => true%>
    <%= label_tag "persist_groups", t("assignment.group.persist_group_from"), :class => "checkbox_label" %>
    <select id="persist_groups_assignment" name="persist_groups_assignment" onchange="<%= remote_function(:url => {:action => "update_group_properties_on_persist"}, :with => "'assignment_id=' + $F('persist_groups_assignment')")%>" disabled>
      <% @assignments.each do |assignment| %>
        <option value="<%= h(assignment.id) %>"><%= h(assignment.short_identifier)%></option>
      <% end %>
    </select>
  </p>
  <p id="is_group_assignment_style">
    <%= check_box_tag "is_group_assignment", true, false, :id => "is_group_assignment", :onchange => "toggle_group_assignment($F('is_group_assignment'))"%>
    <%= label_tag "is_group_assignment", t("assignment.group.work_in_groups"), :class => "checkbox_label" %>
  </p>
  <fieldset class="group_properties">
    <legend><%= t("assignment.group.properties") %></legend>
    <div id="group_properties" class="">
  <p id="student_form_groups_style" class="disable">
    <%= f.check_box :student_form_groups, :id => "student_form_groups", :onchange => "toggle_student_form_groups($F('student_form_groups'))"%>
    <%= label_tag  "student_form_groups", t("assignment.group.students_allowed_form_groups"), :class => "checkbox_label" %>
  </p>

  <p id="group_limit_style" class="disable">
    <%= f.label :group_min, t("assignment.group.limit_min"), :class => "inline_label" %>
    <%= f.text_field :group_min, :size => 5, :maxlength => 3%>
    <%= f.label :group_max, t("assignment.group.limit_max"), :class => "inline_label" %>
    <%= f.text_field :group_max, :size => 5, :maxlength => 3%>
  </p>

  <p id="group_name_autogenerated_style" class="disable">
    <%= f.check_box :group_name_autogenerated %>
    <%= f.label :group_name_autogenerated, t("assignment.group.name_autogenerated"), :class => "checkbox_label" %>
  </p>
</div>
  </fieldset>
</fieldset>

<fieldset>
  <legend><%= t("assignment.submission_rules") %></legend>

  <% f.fields_for :submission_rule do |rule| %>
    <h5><%= t("assignment.submission.penalty_rules") %></h5>

    <p>
      <%= rule.radio_button :type, "NoLateSubmissionRule", :checked => true, :onchange => "change_submission_rule();", :id => "no_late_submission_rule" %>
      <%= label_tag "no_late_submission_rule", t("submission_rules.no_late_submission_rule.form_description"), :class => "radio_label" %>
    </p>

    <p>
      <%= rule.radio_button :type, "GracePeriodSubmissionRule", :onchange => "change_submission_rule(); ", :id => "grace_period_submission_rule" %>
      <%= label_tag "grace_period_submission_rule", t("submission_rules.grace_period_submission_rule.form_description"), :class => "radio_label" %>
      <span class="grace_periods_link">
        <%= add_grace_period_link(t("submission_rules.grace_period_submission_rule.add_grace_period"), rule, "grace_period_link")  %>
      </span>
    </p>
    <div id="grace_periods">
    <% if rule.object.type.to_s == "GracePeriodSubmissionRule" %>
     <% rule.fields_for :periods do |period_form| %>
       <%= render :partial => 'grace_period', :locals => {:grace_period => period_form.object, :pf => rule} %>
     <% end %>
    <% end %>
    </div>
    <p>
      <%= rule.radio_button :type, "PenaltyPeriodSubmissionRule", :onchange => "change_submission_rule();", :id => "penalty_period_submission_rule" %>
      <%= label_tag "penalty_period_submission_rule", t("submission_rules.penalty_period_submission_rule.form_description"), :class => "radio_label" %>
      <span class="penalty_periods_link">
        <%= add_penalty_period_link(t("submission_rules.penalty_period_submission_rule.add_penalty_period"), rule, "penalty_period_link") %>
      </span>
    </p>

    <div id="penalty_periods">
    <% if rule.object.type.to_s == "PenaltyPeriodSubmissionRule" %>
     <% rule.fields_for :periods do |period_form| %>
       <%= render :partial => 'penalty_period', :locals => {:penalty_period => period_form.object, :pf => rule} %>
     <% end %>
    <% end %>
    </div>
  <%- end -%>
</fieldset>  

<fieldset>
  <legend><%= t("assignment.remark.rules")%></legend>
  <p id="allow_remark_requests">
    <%= f.check_box(:allow_remarks, {:id => "allow_remarks", :onchange => "toggle_remark_requests($F('allow_remarks'))"}, true, false) %>
    <%= f.label("allow_remarks", I18n.t("assignment.remark.allow"), :class => "checkbox_label") %>
  </p>
  <p id="remark_properties">
    <%= f.label("remark_due_date", I18n.t("assignment.remark.due_date"), :class => "inline_label") %>
    <%= f.calendar_date_select :remark_due_date, {
        :time => "mixed",
        :locale => I18n.default_locale,
        :after_close => "check_due_date($F('remark_due_date'))",
        :year_range => 0.years.ago..1.years.from_now, :id => "remark_due_date"} %>
    <%= observe_field "remark_due_date", :function => "check_due_date($F('remark_due_date'));" %>
    <%=t(:iso_due_date_format_example)%><br />
    <%= f.label("remark_message", I18n.t("assignment.remark.message"), :class => "textbox_label") %>
    <%= f.text_area :remark_message, :rows => 8, :cols => 65 %>
  </p>
</fieldset>

<%= f.submit t(:submit) %>
<% end %>

</div>
</div>