<% # Template for Grace Day Periods
   # #{hours} - The default number of hours set on this period
   # #{deduction} - The default number of grace period credits to deduct
   # #{period_key} - The unique key that represents this Period.  This helps to
   #  differentiate it on submission, and connects the hours and deduction inputs
   #  with a common value
%>
<tr class='period'>

  <%= pf.fields_for :periods, grace_period do |f| %>
    <td>
      <%= f.text_field :hours,
                       size: 1,
                       required: true,
                       class: 'PeriodDeltaChain_Hours',
                       onchange: "if (grace_periods) { grace_periods.refresh(); }" %>
      <%= t('submission_rules.hours') %>
    </td>
    <td>
      <span class='PeriodDeltaChain'>
        <span class='PeriodDeltaChain_FromTime'></span>
      </span>
    </td>
    <td>
      <span class='PeriodDeltaChain'>
        <span class='PeriodDeltaChain_ToTime'></span>
      </span>
    </td>
    <td>
      <% if !f.object.nil? && !f.object.new_record? %>
        <%= f.check_box :_destroy, {class: 'remove_rule'} %>
      <% else %>
        <%= link_to t(:delete),
                    '#',
                    class: 'remove_rule',
                    onclick: 'remove_period(this, grace_periods); return false;' %>
      <% end %>
    </td>
  <% end %>
</tr>
