<% # Template for Grace Day Periods - uses Prototypes Template class
   # #{hours} - The default number of hours set on this period
   # #{deduction} - The default number of grace period credits to deduct
   # #{period_key} - The unique key that represents this Period.  This helps to
   #  differentiate it on submission, and connects the hours and deduction inputs
   #  with a common value
%>
<fieldset class="period">
<legend>Grace Period</legend>
<% pf.fields_for :periods, grace_period do |f| %>
  <p>
    <%= f.label :hours, "After:" %>
    <%= f.text_field :hours, :size => 1, :class => "PeriodDeltaChain_Hours", :onchange => "grace_periods.refresh();" %>
    hours...
  </p>
  <div>
    <span class="PeriodDeltaChain">
      From <span class="PeriodDeltaChain_FromTime"></span> to
           <span class="PeriodDeltaChain_ToTime"></span>
    </span>
  </div>

  <p>
   <% if !f.object.nil? && !f.object.new_record? %>
    <%= f.label :_delete, "Remove:" %>
    <%= f.check_box :_delete %>
  <% else %>
    <%= link_to_function "remove", "$(this).up('.period').remove(); grace_periods.refresh();" %>
  <% end %>
  </p>
<% end %>
</fieldset>
