<h3><%= t(:grader_distribution) %></h3>
<% if tas.size > 0 %>
  <div id='assignment_<%= assignment.id %>_ta_graph'>
    <%= render partial: 'graders/ta_grade_distribution_graph', locals: { assignment: assignment, tas: tas } %>
  </div>
  <div class='right'>
    (<%= link_to Ta.model_name.human.pluralize,
                 { controller: 'graders',
                   action: 'grader_summary',
                   assignment_id: assignment.id }
  %>)
  </div>
<% else %>
  (<%= link_to t('graders.actions.assign_grader'), assignment_graders_path(assignment) %>)
<% end %>
