<% # Template for Grace Day Periods
   # #{hours} - The default number of hours set on this period
   # #{deduction} - The default number of grace period credits to deduct
   # #{period_key} - The unique key that represents this Period.  This helps to
   #  differentiate it on submission, and connects the hours and deduction inputs
   #  with a common value
%>
<fieldset class='period'>
  <legend>
    <span><%= t('submission_rules.grace_period_submission_rule.short_name') %></span>
  </legend>

  <%= pf.fields_for :periods, grace_period do |f| %>
    <p>
      <%= f.label :hours,
                  t('submission_rules.grace_period_submission_rule.after'),
                  class: 'required' %>
      <%= f.text_field :hours,
                       size: 1,
                       required: true,
                       class: 'PeriodDeltaChain_Hours',
                       onchange: "if (grace_periods) { grace_periods.refresh(); }" %>
      <%= t('submission_rules.grace_period_submission_rule.hours') %>
    </p>
    <div>
      <span class='PeriodDeltaChain'>
        <%= t('submission_rules.grace_period_submission_rule.from') %>
        <span class='PeriodDeltaChain_FromTime'></span>
        <%= t('submission_rules.grace_period_submission_rule.to') %>
        <span class='PeriodDeltaChain_ToTime'></span>
      </span>
    </div>
    <p>
      <% if !f.object.nil? && !f.object.new_record? %>
        <%= f.label :_destroy, t(:remove) %>
        <%= f.check_box :_destroy %>
      <% else %>
        <%= link_to t(:remove),
                    '#',
                    onclick: 'remove_period(this, grace_periods); return false;' %>
      <% end %>
    </p>
  <% end %>
</fieldset>
