<% if assessments.empty? %>
  <p><%= t('assignments.none') %></p>
<% else %>
  <div class='table'>
    <table>
      <thead>
        <tr>
          <th><%= Assignment.model_name.human %></th>
          <th><%= Assignment.human_attribute_name(:due_date) %></th>
          <th><%= Result.model_name.human.pluralize %></th>
        </tr>
      </thead>
      <tbody>
        <% assessments.select { |a| !a.is_peer_review? }.each do |assignment| %>
          <% route = assignment_path(assignment.id) %>
          <% assignment_text = "#{h(assignment.short_identifier)}: #{h(assignment.description)}" %>
          <tr>
            <td>
              <%= link_to assignment_text, route %>
              <% if assignment.has_peer_review? && !assignment.pr_assignment.is_hidden %>
                  <%= link_to "#{assignment.short_identifier} #{PeerReview.model_name.human}",
                              peer_review_assignment_path(id: assignment.pr_assignment.id),
                              class: 'pr_assignment_list' %>
              <% end %>
            </td>
            <td>
              <%= render partial: 'assignments/assignment_date',
                         locals: { assignment: assignment } %>

              <% if assignment.has_peer_review? && !assignment.pr_assignment.is_hidden %>
                <%= render partial: 'assignments/assignment_date',
                           locals: { assignment: assignment.pr_assignment } %>
              <% end %>
            </td>
            <td>
              <% result = @a_id_results[assignment.id] %>
              <% if !result.nil? %>
                <% if assignment.max_mark > 0 && !assignment.results_average.nil? %>
                  <strong>
                    <%= t('results.your_mark',
                          mark: number_to_percentage(result.total_mark * 100 / assignment.max_mark, precision: 1)) %>
                  </strong>
                  <br>
                  <%= "#{t(:class_average)}: #{number_to_percentage(assignment.results_average, precision: 1)}" %>
                  <% if assignment.display_median_to_students %>
                    <br>
                    <%= "#{t(:class_median)}: #{number_to_percentage(assignment.results_median, precision: 1)}" %>
                  <% end %>

                  <p>
                    <%= link_to Result.model_name.human.pluralize,
                                view_marks_assignment_submission_result_path(
                                  assignment_id: assignment.id,
                                  submission_id: result.submission_id,
                                  id: result.id) %>
                  </p>
                <% end %>
              <% elsif assignment.due_date < Time.zone.now %>
                <%= t('results.no_result') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
