<div class='section'>
  <% if @assignments.empty? %>
    <p><%= t(:no_assignments) %></p>
  <% else %>
    <div class='table'>
      <table>
        <thead>
          <tr>
            <th><%= t(:name) %></th>
            <th><%= t(:due_date) %></th>
            <th><%= t('results.results_name') %></th>
          </tr>
        </thead>
        <tbody>
          <% @assignments.each do |assignment| %>
            <tr>
              <td>
                <%=
                  # assignment name
                  link_to sanitize(assignment.short_identifier) + ': ' + assignment.description,
                  controller: controller,
                  action: action,
                  id: assignment.id %>
              </td>
              <td>
                <% if !assignment.section_due_dates_type %>
                  <% if assignment.due_date < Time.zone.now %>
                    <strong><%= l(assignment.due_date, format: :long_date) %></strong>
                  <% else %>
                    <strong><%= l(assignment.due_date, format: :long_date) %></strong>
                    <p>
                      <% if assignment.due_date <= Time.zone.now + 2.days %>
                        <%= t(:hours_and_minutes_left, 
                              hours: ((assignment.due_date - Time.zone.now)/(60 * 60) % 48).floor,
                              minutes: ((assignment.due_date - Time.zone.now)/ 60).floor % 60) %>
                      <% else %>
                        <%= t(:days_and_hours_left,
                              days: ((assignment.due_date - Time.zone.now)/(60 * 60 * 24)).floor,
                              hours: ((assignment.due_date - Time.zone.now)/(60 * 60) % 24).floor) %>
                      <% end %>
                    </p>
                  <% end %>
                <% else %>
                  <% if assignment.section_due_date(@section) < Time.zone.now %>
                    <strong><%= l(assignment.section_due_date(@section), format: :long_date) %></strong>
                  <% else %>
                    <strong><%= l(assignment.section_due_date(@section), format: :long_date) %></strong>
                    <p>
                    <% if assignment.due_date <= Time.zone.now + 2.days %>
                      <%= t(:hours_and_minutes_left, 
                            hours: ((assignment.section_due_date(@section) - Time.zone.now)/(60 * 60) % 48).floor,
                            minutes: ((assignment.section_due_date(@section) - Time.zone.now)/ 60).floor % 60) %>
                    <% else %>
                      <%= t(:days_and_hours_left,
                            days: ((assignment.section_due_date(@section) - Time.zone.now)/(60 * 60 * 24)).floor,
                            hours: ((assignment.section_due_date(@section) - Time.zone.now)/(60 * 60) % 24).floor) %>
                    </p>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <% if !@a_id_results.empty? && !@a_id_results[assignment.id].nil? && !assignment.results_average.nil? %>
                  <strong><%= t(:your_mark) %></strong>
                  <%= # show results
                      ("%.2f" % (@a_id_results[assignment.id].total_mark * 100 / assignment.total_mark)).to_s + "% (Class Average: " + ("%.2f" % (assignment.results_average)).to_s + "%)" %>
                  <p>
                    <strong><%= t('assignment.overall_comment') %></strong>
                  </p>
                  <p>
                    <%= markdown(@a_id_results[assignment.id].overall_comment) %>
                  </p>
                  <%= link_to t('results.results_name'),
                              view_marks_assignment_submission_result_path(
                                assignment_id: assignment.id,
                                submission_id: @a_id_results[assignment.id].submission_id,
                                id: @a_id_results[assignment.id].id) %>
                <% elsif assignment.due_date < Time.zone.now %>
                  <%= t(:no_result) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
