<div class="section">
  <% if @assignments.empty? %>
  <p><%= I18n.t(:no_assignments) %></p>
  <% else %>
  
  <h3><%= I18n.t(:current_assignments) %></h3>
    <ul>
    
	<% @assignments.each do |assignment| %>
      <li>
        <%= link_to h(assignment.short_identifier)+": "+h(assignment.description), 
            {:controller => controller, 
            :action => action, 
            :id => assignment},
	    :class => "assignment_list"%>
	<span class="info_due_date"><%= I18n.t(:due) %><span class="info_date">  <%=h I18n.l(assignment.due_date, :format => :long_date ) %></span></span>
      </li>
    <% end %>
    
    </ul>
  <% end %>
</div>
