<div class="section">
  <% if @assignments.empty? %>
    <p><%= I18n.t(:no_assignments) %></p>

  <% else %>
    <h3><%= I18n.t(:current_assignments) %></h3>
    <ul>

	    <% @assignments.each do |assignment| %>
      <li>
	      <% if controller == 'assignments' %>
	        <%= link_to assignment.short_identifier+":
	        "+assignment.description,
                      {:controller => controller,
                       :action => action,
                       :id => assignment},
                      :class => "assignment_list"%>
        <% else %>
          <%= link_to assignment.short_identifier+":
          "+assignment.description,
                      {:controller => controller,
                       :action => action,
                       :assignment_id => assignment},
                      :class => "assignment_list"%>
        <% end %>

        <span class="info_due_date"><%= I18n.t(:due) %>
          <span class="info_date">
            <%= I18n.l(assignment.due_date, :format => :long_date ) %>
          </span>
          <span id="collected_submissions_<%=assignment.short_identifier %>">
            <% if assignment.submission_rule.can_collect_now? %>|
              <%= link_to t('submissions_collected',
                            :count => assignment.groupings.all(:conditions => {:is_collected => true}).size,
                            :size => assignment.groupings.size), :controller => :submissions,
                          :action => :browse, :assignment_id => assignment.id %>
            <% end %>
          </span>
          <span id="class_average__<%=assignment.short_identifier %>">
            <% if !assignment.results_average.nil? %>
              | <%= I18n.t(:class_average,
                    :results_average => assignment.results_average) %>
            <% end %>
          </span>
        </span>
      </li>
    <% end %>

  </ul>
  <% end %>
</div>

<script type="text/javascript">
(function periodic() {
  jQuery.ajax({
    url: '<%= update_collected_submissions_assignments_path() %>',
    data: 'authenticity_token=' + AUTH_TOKEN ,
    type: "POST",
    dataType: "script",
    complete: function() {
      // Schedule the next request when the current one's complete
      var timer = setTimeout(periodic, 4000);
    }
  });
})();
</script>
