<% assignments = @current_course.assignments
                                .includes(:submission_rule, :assessment_section_properties, :pr_assignment)
                                .order(:due_date, :short_identifier) %>
<% action = @current_role.instructor? ? 'edit' : 'summary' %>
<% ta_stats = @current_role.ta? ? Assignment.batch_ta_stats(assignments, @current_role.id) : {} %>

<% if assignments.empty? %>
  <p><%= t('assignments.none') %></p>
<% else %>
  <div class='table'>
    <table>
      <thead>
        <tr>
          <th><%= Assignment.model_name.human %></th>
          <th><%= Assignment.human_attribute_name(:due_date) %></th>
          <th><%= t('submissions.status') %></th>
        </tr>
      </thead>
      <tbody>
        <% assignments.each do |assignment| %>
          <% route = { controller: 'assignments', action: action, id: assignment.id } %>
          <% assignment_text = "#{h(assignment.short_identifier)}: #{h(assignment.description)}" %>
          <% assignment_text = t('assignments.hidden', assignment_text: assignment_text) if assignment.is_hidden %>
          <tr>
            <td>
              <%= link_to assignment_text, route %>
            </td>

            <td>
              <%= l(assignment.due_date) %>
            </td>

            <td>
              <% if @current_role.instructor? && assignment.submission_rule.can_collect_all_now? %>
                <span>
                  <%= link_to t('submissions.collect.progress',
                                count: assignment.current_submissions_used.size,
                                size: assignment.groupings.size),
                              browse_course_assignment_submissions_path(@current_course, assignment) %>
                </span>
              <% end %>
              <% if assignment.submission_rule.can_collect_all_now? %>
                <br>
                <span>
                  <% if ta_stats[assignment.id] %>
                    <%= t('submissions.how_many_marked',
                          num_marked: ta_stats[assignment.id][:num_marked],
                          num_assigned: ta_stats[assignment.id][:num_assigned]) %>
                  <% else %>
                    <%= t('submissions.how_many_marked',
                          num_marked: assignment.get_num_marked,
                          num_assigned: assignment.get_num_assigned) %>
                  <% end %>
                </span>
                <br>
                <%= link_to t('assignments.grades'),
                            summary_course_assignment_path(course_id: assignment.course_id, id: assignment.id) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
