<% if member.membership_status == StudentMembership::STATUSES[:inviter] %>
  <li>
    <strong>
      <%= "#{member.role.display_name} (#{t('groups.members.statuses.inviter')})" %>
    </strong>
  </li>
<% elsif member.membership_status == StudentMembership::STATUSES[:accepted] %>
  <li>
    <%= member.role.display_name %>
  </li>
<% elsif member.membership_status == StudentMembership::STATUSES[:pending] %>
  <li>
    <em>
      <%= "#{member.role.display_name} (#{t('groups.members.statuses.pending')})" %>
    </em>
     <% if grouping.is_inviter?(@current_role) %>
       <%= link_to t('groups.members.cancel_invitation'),
                   disinvite_member_course_assignment_groups_path(course_id: @current_course.id,
                                                                  assignment_id: @assignment.id,
                                                                  membership: member.id),
                   method: 'PATCH',
                   class: 'delete inline-button',
                   data: { confirm: t('groups.members.cancel_invitation_confirm') } %>
     <% end %>
  </li>
<% elsif member.membership_status == StudentMembership::STATUSES[:rejected] %>
  <% if grouping.is_inviter?(@current_role) %>
    <li>
      <em>
        <%= "#{member.role.display_name} (#{t('groups.members.statuses.rejected')})" %>
      </em>
      <%= link_to t(:delete),
                  delete_rejected_course_assignment_groups_path(course_id: @current_course.id,
                                                                assignment_id: @assignment.id,
                                                                membership: member.id),
                  method: 'DELETE' %>
    </li>
  <% end %>
<% end %>
