<%
   # Erb template for inserting member's of a group into the assignment
   # view of students
%>


<%# If this member is an inviter%>
<% if member.membership_status == StudentMembership::STATUSES[:inviter] %>
<li id="member_inviter">
   <span class="last_name"><%= h(member.user.last_name) %> </span> <%= h(member.user.first_name) %></li>
<%# If this member is an accepted member %>
<% elsif member.membership_status == StudentMembership::STATUSES[:accepted] %>
<li>
   <span class="last_name"><%= h(member.user.last_name) %> </span> <%= h(member.user.first_name) %></li>
<%# If this member is pending%>
<% elsif member.membership_status == StudentMembership::STATUSES[:pending] %>
<li class="membership_status_pending">
   <span class="last_name"><%= h(member.user.last_name) %> </span> <%= h(member.user.first_name) %> (invited)
   <% if grouping.is_inviter?(@current_user) %>
     <%= link_to_remote I18n.t(:delete), :url => {:action => 'disinvite_member', :id => @assignment.id, :membership =>  member.id},
     :html => {:title => "Disinvite this member", :class => "delete"},
     :confirm => "This will disinvite this member. Are you sure you want
     to do this?"
     %>
   <% end %>
</li>
<%# If this member is rejected %>
<% elsif member.membership_status == StudentMembership::STATUSES[:rejected] %>
   <% if grouping.is_inviter?(@current_user) %>
<li class="membership_status_pending">
   <span class="last_name"><%= h(member.user.last_name) %> </span> <%= h(member.user.first_name) %> (invited)
     <%= link_to_remote I18n.t(:delete), :url => {:action =>
     'delete_rejected', :id => @assignment.id, :membership => member.id} %>
</li>
   <% end %>
<% end %>

