<% content_for :head do %>
    <%= stylesheet_link_tag 'common/jquery-ui', 'common/jquery-ui-timepicker-addon' %>
    <%= javascript_include_tag 'create_assignment',
                               'jquery-ui-timepicker-addon',
                               'PeriodDeltaChain/PeriodDeltaChain',
                               'moment-with-langs.min',
                               'localize_date' %>
    <%= render partial: 'boot', formats: [:js], handlers: [:erb] %>
    <%= render partial: 'shared/navigation_warning',
               formats: [:js],
               handlers: [:erb] %>
<% end %>

<%= render 'shared/flash_message' %>
<%= render partial: 'shared/error_explanation',
           locals: { model: @assignment } %>

<%= form_for @assignment do |f| %>

    <label class='required'><%= t('assignment.required_fields') %></label>

    <%# Assignment properties %>
    <fieldset>
      <legend>
        <span><%= t('assignment.properties') %></span>
      </legend>

      <div class='help assignment_properties_help'>
        <p class='help-message-box assignment_properties_help'>
          <%= t('assignment.help.assignment_form.properties').html_safe %>
        </p>
      </div>

      <div>
        <%= f.label :short_identifier,
                    t('assignment.short_identifier'),
                    class: @assignment.is_peer_review? ? '' : 'required' %>
        <%= f.text_field :short_identifier,
                         onchange: 'set_onbeforeunload(true);',
                         size: 35,
                         maxlength: 30,
                         disabled: @assignment.is_peer_review? ? 'true' : 'false' %>
      </div>

      <div>
        <%= f.label :description,
                    t('assignment.name'),
                    class: @assignment.is_peer_review? ? '' : 'required' %>
        <%= f.text_field :description,
                         onchange: 'set_onbeforeunload(true);',
                         size: 35 %>
      </div>

      <div>
        <%= f.label :message %>
        <%= f.text_area :message,
                        cols: 65,
                        rows: 8,
                        onchange: 'set_onbeforeunload(true);' %>
      </div>

      <% unless @sections.empty? %>
          <div class='information'>
            <%= t('assignment.section_due_date_option') %>
          </div>

          <div>
            <%= f.label :section_due_dates_type, t('section.due_dates_type') %>
            <%= f.check_box :section_due_dates_type,
                            onclick: 'set_onbeforeunload(true);' %>
          </div>

          <div id='section_due_dates_information'
               style='<%= 'display: none' unless @assignment.section_due_dates_type %>'>
            <p class='information'>
              <%= t('assignment.section_due_dates_info').html_safe %>
            </p>
            <div class='section_due_date_form'>
              <%= f.fields_for :section_due_dates,
                               @section_due_dates do |due_date_f| %>
                  <% obj = due_date_f.object %>
                  <p>
                    <%= due_date_f.label :section, t('section.legend') %>
                    <%= obj.section.name %>
                    <%= due_date_f.text_field :section_id, class: 'hidden' %>
                    <%= due_date_f.label :due_date, t(:due_date),
                                         class: 'section_due_date_label' %>
                    <%= due_date_f.text_field :due_date,
                                              class: 'section_due_date_input',
                                              value: obj.due_date.nil? ? '' :
                                                  obj.due_date.strftime(
                                                      '%Y-%m-%d %l:%M %p') %>
                  </p>
              <% end %>
            </div>
          </div>
      <% end %>

      <div>
        <%= f.label :due_date,
                    t('assignment.due_date'),
                    class: 'required' %>
        <%= f.text_field :due_date,
                         onchange: 'set_onbeforeunload(true);',
                         value: @assignment.due_date.nil? ? '' :
                             @assignment.due_date.strftime(
                                 '%Y-%m-%d %l:%M %p'),
                         size: 35,
                         required: true,
                         placeholder: t('date.formats.datetime_placeholder') %>
      </div>

      <div>
        <%= f.check_box :is_hidden,
                        onclick: 'set_onbeforeunload(true);' %>
        <%= f.label :is_hidden, t('assignment.is_hidden') %>
      </div>
    </fieldset>

    <%# Group properties %>
    <fieldset>
      <legend>
        <span><%= t('assignment.group.properties') %></span>
      </legend>

      <div class='help assignment_assignment_type_help'>
        <p class='help-message-box assignment_assignment_type_help'>
          <%= t('assignment.help.assignment_form.assignment_type').html_safe %>
        </p>
      </div>

      <p id='persist_groups_assignment_style'
         style='<%= 'display: none' unless @clone_assignments.size > 0 &&
             @assignment.new_record? %>'>
        <%= check_box_tag :persist_groups,
                          onclick: 'set_onbeforeunload(true);' %>
        <%= label_tag :persist_groups,
                      t('assignment.group.persist_group_from') %>
        <%= select_tag :persist_groups_assignment,
                       options_for_select(
                           @clone_assignments.map do |a|
                             [a.short_identifier, a.id]
                           end),
                       disabled: true %>
      </p>
      <p id='is_group_assignment_style'>
        <%= check_box_tag :is_group_assignment, true,
                          @assignment.student_form_groups ||
                              @assignment.invalid_override,
                          onchange: 'set_onbeforeunload(true);' %>
        <%= label_tag :is_group_assignment,
                      t('assignment.group.work_in_groups') %>
      </p>
      <fieldset class='group_properties'>
        <legend>
          <span><%= t('assignment.group.properties') %></span>
        </legend>

        <div id='group_properties'>
          <p id='student_form_groups_style'>
            <%= f.check_box :student_form_groups,
                            onchange: 'set_onbeforeunload(true);' %>
            <%= f.label :student_form_groups,
                        t('assignment.group.students_allowed_form_groups') %>
          </p>

          <p id='group_limit_style'>
            <%= f.label :group_min,
                        t('assignment.group.limit_min') %>
            <%= f.number_field :group_min,
                               min: 1,
                               max: 999,
                               onchange: 'set_onbeforeunload(true);' %>
            <%= f.label :group_max,
                        t('assignment.group.limit_max') %>
            <%= f.number_field :group_max,
                               min: 1,
                               max: 999,
                               onchange: 'set_onbeforeunload(true);' %>
          </p>

          <p id='group_name_autogenerated_style'>
            <%= f.check_box :group_name_autogenerated %>
            <%= f.label :group_name_autogenerated,
                        t('assignment.group.name_autogenerated'),
                        onchange: 'set_onbeforeunload(true);' %>

          </p>
        </div>
      </fieldset>
    </fieldset>

    <%# Submission rules %>
    <fieldset id='submission_rule_fields'>
      <legend>
        <span><%= t('assignment.submission_rules') %></span>
      </legend>

      <div class='help assignment_submission_rules_help'>
        <p class='help-message-box assignment_submission_rules_help'>
          <%= t('assignment.help.assignment_form.submission_rules') %>
        </p>
      </div>

      <%= f.fields_for :submission_rule do |rule| %>
        <h5><%= t('assignment.submission.penalty_rules') %></h5>

        <p>
          <%= rule.radio_button :type,
                                'NoLateSubmissionRule',
                                checked: true,
                                id: 'no_late_submission_rule' %>
          <%= label_tag 'no_late_submission_rule',
                        t('submission_rules.no_late_submission_rule' +
                              '.form_description') %>
        </p>
      <% end %>
    </fieldset>

    <%= f.submit t(:submit),
                 data: { disable_with: t('working') },
                 onclick: 'set_onbeforeunload(false);' %>
<% end %>
