<%# Template for Penalty Periods - uses Prototypes Template class
    #{hours} - The default number of hours set on this period
    #{deduction} - The default number of grace period credits to deduct
    #{period_key} - The unique key that represents this Period.  This helps to
     differentiate it on submission, and connects the hours and deduction inputs
     with a common value %>
<tr class='period'>
  <%= pf.fields_for :periods, penalty_period do |f| %>
    <td>
      <%= f.number_field :hours,
                         min: 0.001,
                         step: :any,
                         class: 'PeriodDeltaChain_Hours penalty-period-hours',
                         required: true %>
      <%= t('submission_rules.hours') %>
    </td>
    <td>
      <span class='PeriodDeltaChain'>
        <span class='PeriodDeltaChain_FromTime'></span>
      </span>
    </td>
    <td>
      <span class='PeriodDeltaChain'>
        <span class='PeriodDeltaChain_ToTime'></span>
      </span>
    </td>
    <td>
      <%= f.number_field :deduction, min: 0, step: :any, required: true %>
      <span class="deduction-unit">%</span>
    </td>
    <td>
      <% if !f.object.nil? && !f.object.new_record? %>
        <%= f.check_box :_destroy %>
      <% else %>
        <%= link_to t(:delete),
                    '#',
                    class: 'penalty-period-delete' %>
      <% end %>
    </td>
  <% end %>
</tr>
