<% # Template for Penalty Periods - uses Prototypes Template class
   # #{hours} - The number of hours for which to deduct credits.
   # #{interval} - The number of hours between decay periods.
   # #{deduction} - The default number of decay period credits to deduct.
   # #{period_key} - The unique key that represents this Period.  This helps to
   #  differentiate it on submission, and connects the hours and deduction inputs
   #  with a common value
%>

<fieldset class='period'>
  <legend>
    <span><%= t('submission_rules.penalty_decay_period_submission_rule.short_name') %></span>
  </legend>

  <p>
    <%= pf.fields_for :periods, penalty_decay_period do |f| %>
      <p>
        <%= f.label :deduction,
                    t('submission_rules.penalty_decay_period_submission_rule.deduct'),
                    class: 'required' %>
        <%= f.text_field :deduction, required: true, size: 1 %>%
      </p>
      <p>
        <%= f.label :interval,
                    t('submission_rules.penalty_decay_period_submission_rule.every'),
                    class: 'required' %>
        <%= f.text_field :interval, required: true, size: 1 %>
        <%= t('submission_rules.penalty_decay_period_submission_rule.interval') %>
      </p>
      <p>
        <%= f.label :hours,
                    t('submission_rules.penalty_decay_period_submission_rule.for'),
                    class: 'required' %>
        <%= f.text_field :hours,
                         size: 1,
                         required: true,
                         class: 'PeriodDeltaChain_Hours',
                         onchange: 'if (penalty_decay_periods) { penalty_decay_periods.refresh(); }' %>
        <%= t('submission_rules.penalty_decay_period_submission_rule.hours') %>
      </p>
      <div>
        <span class='PeriodDeltaChain'>
          <%= t('submission_rules.penalty_decay_period_submission_rule.from') %>
          <span class='PeriodDeltaChain_FromTime'></span>
          <%= t('submission_rules.penalty_decay_period_submission_rule.to') %>
          <span class='PeriodDeltaChain_ToTime'></span>
        </span>
      </div>
      <% if !f.object.nil? && !f.object.new_record? %>
        <%= f.label :_destroy, t(:remove) %>
        <%= f.check_box :_destroy %>
      <% else %>
        <%= link_to t(:remove),
                    '#',
                    onclick: 'remove_period(this, penalty_decay_periods); return false;' %>
      <% end %>
    <% end %>
  </p>
</fieldset>
