<h2 class='legend'><%= t('assignment.rules') %></h2>

<div class='block_content'>
  <div class='sub_block'>
    <span class='prop_label'><%= t('name') %></span>
    <span class="prop_paragraph">
      <%= @assignment.is_peer_review? ? t('results.review_for') + @assignment.parent_assignment.short_identifier :
                                        @assignment.short_identifier %></span>
  </div>
  <div class='sub_block'>
    <span class='prop_label'><%= t('description') %></span>
    <span class="prop_paragraph"><%= @assignment.description %></span>
  </div>
  <div class='sub_block'>
    <span class='prop_label'><%= t('message') %></span>
    <span class="prop_paragraph"><%= @assignment.message %><br></span>
  </div>
  <div class='sub_block'>
    <span class='prop_label'><%= t('due_date') %></span>
    <span class="prop_paragraph"><%= I18n.l(@due_date, format: :long_date ) %></span>
  </div>

  <% unless @penalty.type == "NoLateSubmissionRule" %>
    <div class ='sub_block'>
      <% acc = 0 %>
      <% if @penalty.type == "GracePeriodSubmissionRule" %>
        <span class='prop_label'><%= raw(t('deadline_grace_tokens')) %></span>
        <%# Relative remaining grace credits for the grouping %>
        <% if !@grouping.nil? %>
          <% remaining_credits = @grouping.available_grace_credits %>
          <% @enum_penalty.each do |p| %>
            <% unless remaining_credits <= 0 %>
              <% acc += p.hours %>
              <% remaining_credits -= 1 %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <span class='prop_label'><%= raw(t('deadline_max_penalty')) %></span>
        <% @enum_penalty.each { |p| acc += p.hours } %>
      <% end %>
      <%= I18n.l(@assignment.due_date + acc.hours, format: :long_date ) %>
    </div>

    <div class='sub_block'>
      <span class='prop_label'><%= t('lateness_penalty') %></span>
      <% if @penalty.type == "GracePeriodSubmissionRule" %>
        <%= t('grace_period') %>
      <% elsif @penalty.type == "PenaltyDecayPeriodSubmissionRule" %>
        <%= t('penalty_decay') %>
      <% elsif @penalty.type == "PenaltyPeriodSubmissionRule" %>
        <%= t('penalty_period') %>
      <% end %>
    </div>

    <%#Cannot assign Grace Period without first assigning a group.%>
    <% unless @grouping.nil? && @penalty.type == "GracePeriodSubmissionRule" %>
      <div class='sub_block'>
        <span class='prop_label'><%= t('additional_information') %></span>
        <% if @penalty.type == "GracePeriodSubmissionRule" %>
          <% if !@grouping.nil? %>
              <%= raw(t('student.group_credits',
                          available_grace_credits:
                          @grouping.available_grace_credits)) %>
          <% end %>
        <% elsif @penalty.type == "PenaltyDecayPeriodSubmissionRule" %>
          <br><ul>
          <% @enum_penalty.each do |p| %>
            <% if p == @enum_penalty.first %>
              <li><%= t('penalty_decay_message_first',
              deduction: p.deduction, interval: p.interval,
              hours: p.hours) %> </li>
            <% else %>
              <li><%= t('penalty_decay_message_other',
              deduction: p.deduction, interval: p.interval,
              hours: p.hours) %> </li>
            <% end %>
          <% end %>
          </ul>
        <% elsif @penalty.type == "PenaltyPeriodSubmissionRule" %>
          <br><ul>
          <% deduction = hours = 0 %>
          <% @enum_penalty.each do |p| %>
            <% deduction += p.deduction %>
            <% hours += p.hours %>
            <li><%= t('penalty_period_message', hours: hours,
            deduction: deduction) %> </li>
          <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @assignment.display_grader_names_to_students %>
    <div class='sub_block'>
      <span class='prop_label'><%= t('graders.assigned_graders') %></span>
      <% if !@grouping.nil?%>
        <% @grouping.ta_memberships.each do |ta| %>
          <%= ta.user.last_name%>
        <% end -%>
        <% if @grouping.ta_memberships.size == 0%>
          <%= t(:no_grader_assigned) %>
        <% end -%>
      <% else -%>
        <%= t(:no_grader_assigned) %>
      <% end -%>
    </div>
  <% end %>

  <% unless peer_review %>
    <h3><%= t('assignment.required_files_read') %></h3>
    <% if @assignment.assignment_files.length == 0 %>
      <p class='notice'> <%= t('assignment.no_required_files_read') %> </p>
    <% else %>
      <ul>
        <% @assignment.assignment_files.each do |assignment_file| %>
          <li><%= assignment_file.filename %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
