
<div class="fieldset">

  <h2 class="legend">Assignment Properties</h2>
    <span class="label">Name :</span>
    <%= h(@assignment.name) %><br />

    <span class="label">Description :</span>
    <%= h(@assignment.description) %><br />
    
    <span class="label">Message :</span>
    <%= h(@assignment.message) %><br />
    
    <span class="label">Due date :</span>
    <%= h(@assignment.due_date) %>

  <h4>Files required for this assignment</h4>
  <ul>
  <% @assignment.assignment_files.each do |assignment_file| %>
    <li><%= h(assignment_file.filename) %></li>
  <% end %>
  </ul>
</div>

<div class="fieldset">
  <h2 class="legend">Group Properties</h2>
   <div id="group_properties"> 
  <p>
    Group Limit (must be 1 or more):
    from <%= h(@assignment.group_min) %>
    to <%= h(@assignment.group_max) %>
    people in a group.
  </p>
</div>
</div>


