<h2 class="legend"><%= t("assignment.rules") %></h2>
<div class="block_content">
  <div class="sub_block">
    <span class="prop_label"><%= t("name") %>:</span>
    <%= @assignment.short_identifier %>
  </div>
  <br/>
  <div class="sub_block">
    <span class="prop_label"><%= t("description") %>:</span>
    <%= @assignment.description %>
  </div>
  <br/>
  <div class="sub_block">
    <span class="prop_label"><%= t("message") %>:</span>
    <span class="box sub_block clear"><%= @assignment.message %></span>
  </div>
  <br/>
  <div class="sub_block">
    <span class="prop_label"><%= t("due_date") %>:</span>
    <%= I18n.l(@due_date, :format => :long_date ) %>
  </div>
  <br/>
  <% if @assignment.display_grader_names_to_students%>
  <div class="sub_block">
    <span class="prop_label"><%=t("graders.assigned_graders") %>:</span>
    <% if !@grouping.nil?%>
      <% @grouping.ta_memberships.each do |ta| %>
        <%= ta.user.last_name%>
      <% end -%>
      <% if @grouping.ta_memberships.size == 0%>
        <%=t(:no_grader_assigned) %>
      <% end -%>
    <% else -%>
      <%=t(:no_grader_assigned) %>
    <% end -%>

  </div>
  <% end %>


  <h4><%= t("assignment.required_files_read") %></h4>
  <% if @assignment.assignment_files.length == 0 %>
    <%= t("assignment.no_required_files_read") %>
  <% else %>
    <ul>
      <% @assignment.assignment_files.each do |assignment_file| %>
	<li><%= assignment_file.filename %></li>
      <% end %>
    </ul>
  <% end %>
</div>


