  <h2 class="legend">Assignment Properties</h2>
<div class="bloc_content">
    <span class="label">Name :</span>
    <%= h(@assignment.name) %><br />

    <span class="label">Description :</span>
    <%= h(@assignment.description) %><br />
    
    <span class="label">Message :</span>
    <%= h(@assignment.message) %><br />
    
    <span class="label">Due date :</span>
    <%= h(@assignment.due_date.strftime('%d %B')) %> at <%=
h(@assignment.due_date.strftime('%l%p%M')) %>

  <h4>Files required for this assignment</h4>
  <ul>
  <% @assignment.assignment_files.each do |assignment_file| %>
    <li><%= h(assignment_file.filename) %></li>
  <% end %>
  </ul>
</div>


