<div class="section_due_date_form">
<% fields_for "section_due_date_#{section.id}",
	      section.section_due_date_for(@assignment.id) do |f| %>
  <p>
    <%= f.label :section %> <%= section.name%>  <br />
    <%= f.text_field :section_id, :value => section.id, :class => 'hidden'%>
     <br />
    <%= f.label :due_date, "Due date:" %>
    <%= f.calendar_date_select :due_date, { :time => "mixed",
                                :after_close => "refresh_due_date();",
                                :year_range => 0.years.ago..1.years.from_now,
                                :id => section.id } %>
   </p>
<% end %>
</div>





