<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      window.batchTestRunTable = makeBatchTestRunTable(document.getElementById('batch_test_run_table'), {
        course_id: <%= @current_course.id %>,
        assignment_id: <%= @assignment.id %>,
        detailed: <%= @current_role.instructor? || @current_role.ta? ||
                      @current_role.is_reviewer_for?(@assignment.pr_assignment, @result) %>
      });
    })
  <% end %>
<% end %>

<div id='batch_test_run_table'></div>
