<% content_for :head do %>
  <%= javascript_include_tag 'create_assignment' %>
<% end %>

<div class='title_bar'>
  <h1><%= t('assignment.edit') %> <%= @assignment.short_identifier %></h1>
</div>

<p><%= t('grade_entry_forms.required_fields').html_safe %></p>

<%= render partial: 'form',
           formats: [:html],
           handlers: [:erb] %>
