<% if @assignment.past_due_date? %>
  <div class="notice">
    <%=t('past_due_date_warning')%>
  </div>
<% end %>

<%= javascript_include_tag "create_assignment" %>

<div id="title_bar"><h1><%= t("assignment.edit") %> <%= h(@assignment.short_identifier) %></h1>
<p><%= t("assignment.required_fields").html_safe %></p>
</div>
<%= render :partial => 'form' %>
