<% content_for :title, t('assignments.manage_course_work') %>

<% if allowed_to?(:manage?) %>
  <% @heading_buttons = [
    { link_text: t('download'),
      link_path: '#',
      html_options: { id: 'downloadModal' } },
    { link_text: t('upload'),
      link_path: '#',
      html_options: { id: 'uploadModal' } },
    { link_text: t('upload_the', item: I18n.t('assignments.configuration_zip_file')),
      link_path: '#',
      html_options: { id: 'uploadModalConfig' } }
  ] %>

  <!-- Modals -->
  <%= render partial: 'assignment_download_modal', layout: 'layouts/modal_dialog' %>
  <%= render partial: 'assignment_upload_modal', layout: 'layouts/modal_dialog' %>
  <%= render partial: 'cp_assignment_upload_modal', layout: 'layouts/modal_dialog' %>

  <%= link_to t('helpers.submit.create', model: Assignment.model_name.human),
              new_course_assignment_path(@current_course),
              class: 'button' %>
  <% if Settings.scanned_exams.enable %>
    <%= link_to t('helpers.submit.create', model: t('activerecord.models.scanned_assignment.one')),
                new_course_assignment_path(@current_course, scanned: true),
                class: 'button' %>
  <% end %>
  <%= link_to t('helpers.submit.create', model: t('activerecord.models.timed_assignment.one')),
              new_course_assignment_path(@current_course, timed: true),
              class: 'button' %>
  <% if @current_course.assignments.exists? %>
    <%= link_to t('helpers.submit.create', model: t('activerecord.models.peer_review_assignment.one')),
                new_course_assignment_path(@current_course, is_peer_review: true),
                class: 'button' %>
  <% end %>
  <%= link_to t('helpers.submit.create', model: GradeEntryForm.model_name.human),
              new_course_grade_entry_form_path(@current_course),
              class: 'button' %>
<% end %>

<div class='section'>
  <h3><%= Assignment.model_name.human.pluralize %></h3>
  <%= render partial: 'assignments/list_manage' %>
</div>

<div class='section'>
  <h3><%= GradeEntryForm.model_name.human.pluralize %></h3>
  <%= render partial: 'grade_entry_forms/list_manage' %>
</div>
