<div id="title_bar"><h1><%= I18n.t(:manage_course_work) %></h1></div>

<div class="wrapLeft">

<%= link_to I18n.t(:create_new_assignment),  
     {:controller => 'assignments', 
     :action => 'new'},
     :class => "button" %>
<%= link_to I18n.t(:create_new_grade_entry_form),  
     {:controller => 'grade_entry_forms', 
     :action => 'new'},
     :class => "button" %>   

<%= render :partial => "assignments/list_manage", 
  :locals => { :controller => 'assignments', :action => 'edit' } -%>
</div>


<div class="wrapLeft">
<%= link_to I18n.t(:download_csv_grade_report),
            download_csv_grades_report_assignments_path() unless !@current_user.admin? %>
</div>

<% # For now, only allow instructors to manage grade entry forms
%>
<% if @current_user.admin? %>
  <div class="wrapLeft">
    <br />
    <%= render :partial => "grade_entry_forms/list_manage", 
               :locals => { :action => 'edit' } -%>
  </div>
<% end %>
