<div class='title_bar'>
  <h1>
    <%= @assignment.is_peer_review? ?
            t('student.peer_assignment',
              short_identifier: @assignment.parent_assignment.short_identifier) :
            t('student.peer_assignment', short_identifier: @assignment.short_identifier) %>
  </h1>
</div>

<div class='student_columns'>
  <div id='student_column_left'>
    <div class='block'>
      <%= render partial: 'read', locals: { peer_review: true } %>
    </div>

    <div class='block'>
      <h2><%= t('submissions') %></h2>

      <div class='block_content'>
        <% unless PeerReview.find_by(reviewer_id: @grouping.id).nil? %>
          <%= render partial: 'peer_submissions_table',
                     locals: { assignment_id: @assignment.id },
                     formats: [:'js.jsx'], handlers: [:erb] %>
          <div id='peer_submissions_table'></div>
        <% else %>
          <p class='notice'><%= t('student.no_peer_submission_yet') %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div id='student_column_right'>
    <div class='block'>
      <h2><%= t('student.group_information') %></h2>

      <div class='block_content'>
        <% # If student has no group, inform them
           if @grouping.nil? %>
            <p class='notice'>
              <%= t('student.no_group_yet') %>
              <% if @assignment.past_collection_date?(@student.section) %>
                  <%= t('student.grace_date_passed') %>
              <% end %>!
            </p>
        <% else %>
            <%# Since the student has a group already, we display information about the group only %>
            <h3>
              <%= t("student.your_group") %>
            </h3>

            <% if flash[:fail_notice] && !flash[:fail_notice].empty? %>
                <div class='notice'>
                  <% if flash[:fail_notice].is_a?(Array) %>
                      <ul>
                        <% flash[:fail_notice].each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                  <% else %>
                      <%= flash[:fail_notice] %>
                  <% end %>
                </div>
            <% end %>

            <% if flash[:success] && !flash[:success].empty? %>
                <div class='success'>
                  <% if flash[:success].is_a?(Array) %>
                      <ul>
                        <% flash[:success].each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                  <% else %>
                      <%= flash[:success] %>
                  <% end %>
                </div>
            <% end %>

            <%# For each member of this group, display name %>
            <ul>
              <% @grouping.student_memberships.includes(:user).each do |member|%>
                  <li>
                    <span class="last_name"><%= member.user.first_name %> </span> <%= member.user.last_name %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
    <div class='block'>
      <h2><%= t('assignment.peer_review_results') %></h2>
      <div id='peer_review_results' class='block_content'>
        <h3> <%= t('assignment.your_reviews') %> </h3>
        <% if @prs.empty? %>
            <p class='notice'><%= t('student.no_reviews') %></p>
        <% else %>
          <ul>
            <% @prs.each_with_index do |pr, i| %>
                <li><%= link_to(t('peer_review.review') + ' ' + (i + 1).to_s,
                            view_marks_assignment_result_path(@assignment.parent_assignment.id, pr.result_id)) %> </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
