<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    var invite_modal = null;

    function invite() {
      invite_modal.open();
      document.getElementById('invite_member').value = '';
      document.getElementById('invite_member').focus();
      $('#invite-student-modal-close').click(function() {
        invite_modal.close();
        document.getElementById('working').style.display = 'none';
      })
      $('#invite-student-form').on("submit", function() {
        document.getElementById('working').style.display = '';
      })
    }
    document.addEventListener("DOMContentLoaded", function() {
      invite_modal = new ModalMarkus('#invite_dialog');
      $('#invite-student').click(function(e) {
        invite();
        e.preventDefault();
      })
    });
  <% end %>
<% end %>

<% content_for :title, "#{@assignment.short_identifier}: #{@assignment.description}" %>

<div class='pane-wrapper'>
  <div class='pane block'>
    <div>
      <%= render partial: 'read', locals:{ peer_review: false } %>
    </div>
  </div>

  <% if @assignment.group_max > 1 %>
    <div class='pane block'>
      <h2><%= t('groups.student_interface.group_information') %></h2>

      <div class='block-content'>
        <% # If student has no group, inform them
           if @grouping.nil? %>
          <p class='notice'>
            <i class="fa-solid fa-circle-info left-icon"></i>
            <%= t('groups.student_interface.no_group_yet') %>
            <% if !@assignment.scanned_exam && @assignment.past_collection_date?(@current_role.section) %>
              <%= t('assignments.due_date.final_due_date_passed') %>
            <% end %>
          </p>

          <% unless @assignment.student_form_groups %>
            <p>
              <%= t('groups.student_interface.not_allowed_to_form_group') %>
            </p>
          <% end %>

          <% # See if the student has been invited to some group
             if @current_role.has_pending_groupings_for?(@assignment.id) %>
            <h3><%= t('groups.members.invitations') %></h3>

            <% @current_role.pending_groupings_for(@assignment.id).each do |grouping|%>
              <div>
                <p><%= t('groups.members.invited_by',
                         inviter_display_name: grouping.inviter.display_name) %>
                </p>
                <ul>
                  <% grouping.student_memberships.includes(role: :user).each do |member|%>
                    <%= render partial: 'assignments/member',
                               locals: { member: member,
                                         grouping: grouping } %>
                  <% end -%>
                </ul>
                <% if !@assignment.scanned_exam && @assignment.past_collection_date?(@current_role.section) %>
                  <p class='information'>
                    <%= t('groups.student_interface.may_not_join') %>
                  </p>
                <% else %>
                  <%= link_to t('groups.members.join'),
                              accept_invitation_course_assignment_groups_path(course_id: @current_course.id,
                                                                              assignment_id: @assignment.id,
                                                                              grouping_id: grouping.id),
                              { method: :patch, class: 'button' } %>
                  <%= link_to t('groups.members.decline'),
                              decline_invitation_course_assignment_groups_path(course_id: @current_course.id,
                                                                               assignment_id: @assignment.id,
                                                                               grouping_id: grouping.id),
                              { class: 'button',
                                method: :patch, data: { confirm: t('groups.members.decline_invitation_confirm') } } %>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <% # If students are allowed to form groups and
             # the grace period for this assignment has not yet passed,
             # render UI elements for group creation
             if !@assignment.past_collection_date?(@current_role.section) && @assignment.student_form_groups %>

            <h3><%= t('groups.student_interface.form_group') %></h3>

            <% if @current_role.has_pending_groupings_for?(@assignment.id) %>
              <% confirm = t('groups.student_interface.confirm_create_group') %>
            <% else %>
              <% confirm = nil %>
            <% end %>
            <% if @assignment.group_min == 1 %>
              <p>
                <%= link_to t('groups.student_interface.work_alone'),
                            course_assignment_groups_path(
                              course_id: @assignment.course_id,
                              assignment_id: @assignment.id,
                              workalone: 'true'
                            ),
                            { class: 'button', method: :post,
                              data: { confirm: confirm, disable_with: t(:please_wait) } } %>
              </p>
            <% end %>
            <p>
              <%= link_to t('helpers.submit.create', model: Group.model_name.human),
                          course_assignment_groups_path(@assignment.course_id, @assignment.id),
                          { class: 'button', method: :post,
                            data: { confirm: confirm,
                                    disable_with: t(:please_wait) } } %>
            </p>
          <% end %>
        <% else %>
          <% # Since the student has a group already, we display information about the group only %>
          <h3>
            <%= t('groups.student_interface.your_group') %>
          </h3>
          <% # Display group properties are read only warning
             # when the due date and grace period (if any) have passed.
             if @assignment.past_collection_date?(@current_role.section) && @assignment.student_form_groups &&
               @assignment.group_max > 1 %>
            <p class='information'>
              <%= t('groups.student_interface.modification_limited') %>
            </p>
          <% end %>

          <% # If the group does not have the right amount of members yet, display
             # 'group is not valid' warning.
             unless @grouping.is_valid? %>
            <p class='warning'>
              <i class="fa-solid fa-warning icon-left"></i>
              <%= t('groups.student_interface.invite_more_students') %>
            </p>
          <% end %>

          <%# For each member of this group, display name and status %>
          <ul>
            <% @grouping.student_memberships.includes(:role).each do |member|%>
              <%= render partial: 'assignments/member',
                         locals: { member: member,
                                   grouping: @grouping } %>
            <% end %>
          </ul>
        <% end %>

        <% unless @grouping.nil? %>
          <h3><%= t('groups.student_interface.group_options') %></h3>
          <% if @grouping.group.group_name == @current_role.user_name &&
            !@assignment.past_collection_date?(@current_role.section) %>
            <p><%= t('groups.student_interface.working_alone') %></p>
          <% end %>

          <% # Student not reached the group max and is not working alone
             if @grouping.inviter == @current_role &&
               @assignment.student_form_groups &&
               !@assignment.past_collection_date?(@current_role.section) &&
               @grouping&.extension.nil?%>
            <% # Student has reached the group max and is not working alone
               if @grouping.student_membership_number < @assignment.group_max &&
                 @grouping.group.group_name != @current_role.user_name %>
              <%= button_tag t('groups.members.invite'), id: 'invite-student'%>
            <% elsif @grouping.student_membership_number ==
              @assignment.group_max &&
              @grouping.group.group_name != @current_role.user_name %>
              <p><%= t('groups.student_interface.may_not_add_more') %></p>
            <% end %>
          <% else %>
            <p><%= t('groups.student_interface.may_not_modify') %></p>
          <% end %>

          <% if !@grouping.nil? &&
            !@assignment.past_collection_date?(@current_role.section) &&
            !@grouping.has_submission? %>
            <% if @grouping.inviter == @current_role &&
              @grouping.accepted_students.size == 1 &&
              @grouping.extension.nil? %>
              <%= button_to t('helpers.submit.delete', model: Group.model_name.human),
                            course_assignment_group_path(@current_course.id, @assignment.id, @grouping.id),
                            method: :delete,
                            data: { confirm: t('groups.student_interface.confirm_delete_group') }
              %>
            <% else %>
              <p><%= t('groups.student_interface.not_allowed_to_delete_group') %></p>
            <% end %>
          <% end %>
        <% end %>

        <h3><%= t('groups.student_interface.group_properties') %></h3>
        <ul>
          <% if @assignment.section_groups_only && @current_course.sections.any? %>
            <li><%= t('groups.student_interface.section_groups_only') %></li>
          <% end %>

          <% if @assignment.student_form_groups &&
            @assignment.group_max > 1 %>
            <li><%= Assignment.human_attribute_name(:student_form_groups) %>.</li>
            <li>
              <%= t('groups.student_interface.group_size_html',
                    group_min: @assignment.group_min,
                    group_max: @assignment.group_max) %>
            </li>
          <% elsif !@assignment.student_form_groups && @assignment.group_max > 1 %>
            <li><%= t('action_policy.policy.assignment.students_form_groups?') %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<% # HTML for the invite dialog
   if !@grouping.nil? && @grouping.inviter == @current_role && @assignment.student_form_groups %>
  <aside class='markus-dialog' id='invite_dialog'>
    <%= form_tag(invite_member_course_assignment_groups_path(course_id: @current_course.id, assignment_id: @assignment.id, grouping_id: @grouping.id),
                 { id: 'invite-student-form' }) do %>
      <h2><%= t('groups.members.invite') %></h2>
      <p><%= t('groups.members.invite_instructions') %></p>
      <label for='invite_member'><%= User.human_attribute_name(:user_name).pluralize %></label>
      <%= text_field_tag 'invite_member', nil, required: true %>

      <section class='dialog-actions'>
        <%= submit_tag t('groups.members.invite') %>
        <input type='reset'
               value='<%= t(:cancel) %>'
               id="invite-student-modal-close">
      </section>
    <% end %>
  </aside>
<% end %>
