<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeStarterFileManager(
        document.getElementById('starter_file_manager'),
        {
          course_id: <%= @current_course.id %>,
          assignment_id: <%= @assignment.id %>,
          read_only: <%= !allowed_to?(:manage?) %>
        }
      );
    });
  <% end %>

  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div id='starter_file_manager'></div>
