<%= content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeCourseSummaryTable(document.getElementById('course_summaries_table'),
                             { student: <%= @current_user.student? %> });
    });
  </script>
<% end %>

<div class='title_bar'>
  <h1><%= Assignment.model_name.human.pluralize %></h1>
</div>

<%= render partial: 'assignments/list',
           locals: { controller: 'assignments',
                     action: 'student_interface' } %>

<div class='title_bar'>
  <h1><%= GradeEntryForm.model_name.human.pluralize %></h1>
</div>

<%= render partial: 'grade_entry_forms/list' %>

<div class='title_bar'>
  <h1><%= t('course_summary.student_title') %></h1>
</div>

<div class='wrapLeft'>
  <div id='course_summaries_table'></div>
</div>
