<% content_for :title, t('grade_entry_form_summary', short_id: @assignment.short_identifier) %>
<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeAssignmentSummary(
        document.getElementById('statistics-react'),
        {
          course_id: <%= @current_course.id %>,
          assessment_id: <%= @assignment.id %>,
          is_instructor: <%= @current_role.instructor? %>
        }
      );
    });
  <% end %>
<% end %>

<div id='statistics-react'></div>
