<%#
# Erb template for inserting a member into a group for managing groups
%>

<li id="<%= "mbr_#{member.id}" %>">
  <%= link_to_remote "<b>x</b> ", :method => 'delete', 
    :url => { :action => 'remove_member', :id => params[:id], :group_id => group.id, :mbr_id => member.id }, 
    :html => { :title => 'Remove this member from this group' } %>
  <%= member.user.user_name %>
  <span class="<%= 'status ' + member.status %>"><%= member.status %></span>
</li>
