<table>
  <thead>
  <tr>
    <th><%= t("lti.lti_settings") %></th>
  </tr>
  </thead>
  <tbody>
  <%= fields_for :lti_deployment do |f|  %>
  <% @lti_deployments.each do |deployment| %>
    <tr>
      <td>
        <%= f.label deployment.id, I18n.t("lti.lti_deployment", {
          lti_deployment_name: deployment.lms_course_name,
          lti_host: URI(deployment.lti_client.host).host,
        })%>
        <% if deployment.lti_line_items.where(assessment: @assignment).exists? %>
          <%= f.check_box deployment.id, checked: true, disabled: true %>
        <% else %>
          <%= f.check_box deployment.id, checked: false %>
        <% end  %>
      </td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
