<div id="title_bar"><h1>Manage Admins <%= link_to I18n.t(:add_new), :controller => 'admins',
:action => 'create' %></h1>
</div>

<div class="colsLeftHeavy">

<div><div class="wrapLeft">
 <div id="list">
    <h2>View Admin List</h2>
    
      <% if flash[:upload_notice] -%>
          <p class="success"><%=h flash[:upload_notice] %></p>
      <% end -%>
      
      <% if flash[:edit_notice] -%>
        <p style="color:green"><%=h flash[:edit_notice] %></p>
      <% end -%>
      
      <% # display lines in csv file that has not been successfully processed %>
      <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class="errorExplanation" id="errorExplanation">
        <p>The following Admins have not been successfully added:</p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
          <li><%=h line %></li>
          <% end -%>
        </ul>
        <p>Make sure that:</p>
        <ul>
          <li>Admin names are alphanumeric</li>
          <li>Each field is separated by a comma (no spaces)</li>
          <li>Each line has the required fields specified above</li>
        </ul>
      </div>
      <% end -%>
      
      <table>
        
       <tr>
          <%
		  	# pull "labels" from I18n files
		  %>
          <th><%= I18n.t('user.user_name') %></th>
          <th><%= I18n.t('user.last_name') %></th>
          <th><%= I18n.t('user.first_name') %></th>
          <th></th>
        </tr>
          
        <% for u in @admins %>
          <tr class="<%= cycle('rowA', 'rowB') %>">
            <td><%=h u.user_name %></td>
            <td><%=h u.last_name %></td>
            <td><%=h u.first_name %></td>
            <td><%= link_to I18n.t(:edit), :controller => 'admins', :action => 'edit', :id => u %></td>
          </tr>
        <% end %>
        
      </table>
  </div>
  </div></div>
  
  <!-- Break between sections -->
 </div> <!-- colsLeftHeavy -->
