<% content_for :head do %>
  <%= javascript_include_tag 'FilterTable/FilterTable',
                             'users_manager',
                             'help_system' %>

  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('admins.manage_admins') %>
    <span class='title-help users_admins_help'>
      <p class='help-message-title users_admins_help'>
        <%= t('admins.help.manage_admins') %>
      </p>
    </span>
  </h1>

  <div class='heading_buttons'>
    <%= link_to t(:add_new), new_admin_path %>
  </div>
</div>

<div class='wrapper'>
  <%= render 'shared/flash_message' %>

  <%# TODO: there is no csv functionality on this page, why is this here? %>

  <%# Display lines in csv file that has not been successfully processed %>
  <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? %>
    <div class='errorExplanation' id='errorExplanation'>
      <p><%= t('admins.not_added') %></p>
      <ul>
        <% for line in flash[:invalid_lines] %>
          <li><%= line %></li>
        <% end %>
      </ul>
      <p><%= t('graders.make_sure') %></p>
      <ul>
        <li><%= t('admins.ta_names') %></li>
        <li><%= t('admins.each_field') %></li>
        <li><%= t('admins.each_line') %></li>
      </ul>
    </div>
  <% end %>

  <div class='table'>
    <table id='admins'></table>
  </div>
</div>
