<% content_for :head do %>
  <%= render partial: 'admins_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('admins.manage_admins') %>
    <span class='title-help users_admins_help'>
      <p class='help-message-title users_admins_help'>
        <%= t('admins.help.manage_admins') %>
      </p>
    </span>
  </h1>

  <div class='heading_buttons'>
    <%= link_to t(:add_new_admin), new_admin_path %>
  </div>
</div>

<div class="colsLeftHeavy">
  <%= render 'shared/flash_message' %>
  <div id='admins_table'></div>
</div>
