<%#
# Erb template for inserting a new group for managing groups
%>

    <td><%= check_box_tag "groupings[#{grouping.id}]", true, false, :id => "#{grouping.id}" %></td> 
    <td><span class="link"><%= h(grouping.group.group_name)%></span>
    <span class="table_menu">
    <button class="rename_group" onClick="rename_group(<%= grouping.id %>); return false;">Rename</button>
    <% if !grouping.is_valid? %>
      <%= link_to_remote "Valid", :url => { :action =>
    'valid_grouping', :id => @assignment.id, :grouping_id =>
    grouping.id},
    :html => {:class => 'valid', :title => "Valid this group"}, 
    :confirm => "This will allow this group to submit without the required
    number of students. Are you sure?"
     %>
    <% end %>
    <%= link_to_remote "Delete", :method => 'delete',
    :url => { :action => 'remove_group', :id => @assignment.id, :grouping_id => grouping.id }, 
    :html => { :class => 'delete', :title => 'Delete this group' }, 
    :confirm => 'This will remove all members in the group and delete all information associated with this group. Continue?' %>
    <button class="add_member" onClick="add_member(<%= grouping.id %>);
return false;">Add Member</button>
</span>
</td>
    <td>
<% grouping.student_memberships.each do |member| %> 
   <%= render :partial => "groups/manage/member", 
      :locals => {:member => member, :grouping => grouping } %>
    <% @students.delete(member.user.id) if @students %>
  <% end -%>
</td>
<td>
</td>
<td>
<% if grouping.valid?%>
Valid
<% end %>
</td>
