<%
# Erb template for inserting a member into a group for managing groups
%>

<span id="<%= "mbr_#{member.id}" %>" class="<%= 'status_' + member.membership_status %>">
  <%= check_box_tag "#{grouping.id}_#{member.user.user_name}", true, false, :class => 'inline_checkbox', :onclick => "$('grouping_select_' + #{grouping.id}).checked = true;"%>
  <%=  label_tag "#{grouping.id}_#{member.user.user_name}", member.user.user_name, :class => 'inline_label' %>
  <% if member.membership_status == StudentMembership::STATUSES[:rejected] %>
    (<%= t(:rejected_invitation) %>)
  <% end %>
</span>

