<table>
  <thead>
    <th>
      <%= t('submission_rules.grace_period_submission_rule.credits') %>
    </th>
    <th colspan="2">
      <%= t('short_identifier').html_safe %>
    </th>
  </thead>
  <% grace_period_deductions.each do |grace_period_deduction| %>
  <tr>
    <td>
      <%= grace_period_deduction.deduction %> credits
    </td>
    <td>
      <% grouping = grace_period_deduction.membership.grouping %>
      <% if grouping.has_submission? %>
        <%= link_to(grouping.assignment.short_identifier,
                    edit_assignment_submission_result_path(
                        grouping.assignment.id,
                        grouping.current_submission_used.id,
                        grouping.current_submission_used.get_original_result.id)) %>
      <% end %>
    </td>
    <td>
      <%= button_to(t('submission_rules.grace_period_submission_rule.remove_deduction'),
              delete_grace_period_deduction_student_path(:deduction_id => grace_period_deduction.id),
              :confirm => t('submission_rules.grace_period_submission_rule.confirm_remove_deduction'),
              :class => "button_to_delete_deduction",
              :remote => true) %>
    </td>
  </tr>
  <% end %>
</table>

