<% students.each do |student|%>
  <tr id="students[<%= student.id%>]"
    <% if student.hidden %>
       class="student_hidden"
    <% end %>
  >
    <td><%= check_box_tag 'student_ids[]', student.id, false, :id =>
    "student_#{student.id}_checkbox" %>
    </td>
    <td><%= student.user_name%></td>
    <td><%= student.last_name%></td>
    <td><%= student.first_name%></td>
    <td><%= link_to I18n.t(:edit), :controller => 'students', :action =>
    'edit', :id => student%></td>
  </tr>
<% end %>
