<aside class='dialog' id='add_new_section_dialog'></aside>

<%= form_for [@current_course, @role], as: :role do |f| %>
  <div class='inline-labels'>
    <%= f.fields_for(@role.user || EndUser.new) do |u_f| %>
      <%= u_f.label :user_name, User.human_attribute_name(:user_name) %>
      <%= u_f.text_field :user_name, readonly: @role.persisted? %>
    <% end %>

    <%= f.label :grace_credits, User.human_attribute_name(:grace_credits) %>
    <%= f.text_field :grace_credits %>

    <%= f.label :section_id, Section.model_name.human %>
    <span id='select_sections'>
      <% selected ||= @role.has_section? ? @role.section.id : [''] %>
      <%= f.select :section_id,
                   options_for_select([[I18n.t("students.instructor_actions.no_section"), '']] + @sections.map {|s| [s.name, s.id] },
                                      selected: selected) %>
      <%= link_to t('sections.new.title'),
                  add_new_section_course_students_path(@current_course),
                  remote: true,
                  class: 'button inline-button' %>
    </span>
    <%= f.label :hidden, t('students.status') %>
    <span id='set-active'>
      <%= f.select :hidden,
                   options_for_select([[t('roles.active'), false], [t('roles.inactive'), true]], selected: @role.hidden) %>
    </span>
  </div>

  <%= f.hidden_field :id %>

  <p>
    <%= f.submit t(:save),
                 name: 'submit',
                 data: { disable_with: t('working') },
                 class: 'button' %>
    <%= link_to t(:cancel), course_students_path(@current_course), class: 'button' %>
  </p>
<% end %>
