<script type="text/javascript">
//<![CDATA[
document.observe("dom:loaded", function(){
modalAddNewSection = new Control.Modal($('add_new_section_dialog'),
  {
     overlayOpacity: 0.75,
     className: 'modalAddNewSection',
     fade: false
  });
});
//]]>
</script>
<div id="add_new_section_dialog">
</div>
<div class="section">
  <%= form_for @user, :as => :user do |f| %>

    <%= render :partial => "shared/error_explanation",
        :locals => { :model => @user, :flash_message => flash[:error] } %>

    <%= raw(f.label(:user_name, I18n.t("user.user_name"))) %>
    <%= raw(f.text_field :user_name) %><br />

    <%= raw(f.label(:last_name, I18n.t("user.last_name"))) %>
    <%= raw(f.text_field :last_name) %><br />

    <%= raw(f.label(:first_name, I18n.t("user.first_name"))) %>
    <%= raw(f.text_field :first_name) %><br />

    <%= raw(f.label(:grace_credits, I18n.t("user.grace_credits"))) %>
    <%= raw(f.text_field :grace_credits) %> <br />

    <%= f.select :section_id,
      options_for_select(
        ["−"] + @sections.map {|s| [s.name, s.id] },
        :selected => (@user.has_section?) ? (@user.section.id) : (["−"]) ) %>
    <%= f.label(:section_id, I18n.t("section.legend") ) %> <br />

	<% if defined?new_student %>
	<%= link_to I18n.t("section.add_section"), add_new_section_students_path(), :remote => true, :class => "button link_button"%>
	<% end %>

    <%= f.hidden_field :id %>
    <%= f.submit t(:submit), :name => 'submit', :class => 'button link_button' %>
    <%= link_to t(:cancel), students_path(), :class => "button link_button" %>

  <% end %>

</div>
