<div class="section">

  <%= form_for :user, :url => {:controller => 'students', :action => action} do |f| -%>

    <%= f.error_messages -%>

    <%= f.label(:user_name, I18n.t("user.user_name")) %>
    <%= f.text_field :user_name %><br />

    <%= f.label(:last_name, I18n.t("user.last_name") ) %>
    <%= f.text_field :last_name %><br />

    <%= f.label(:first_name, I18n.t("user.first_name") ) %>
    <%= f.text_field :first_name %><br />

    <%= f.label(:grace_credits, I18n.t("user.grace_credits") ) %>
    <%= f.text_field :grace_credits %> <br />

    <%= f.hidden_field :id %>
    <%= f.submit t(:submit), :name => 'submit', :class => 'button indent_button' %>
    <%= link_to t(:cancel), {:controller => 'students'}, :class => "button" %>
  <% end %>

</div>

