<aside class='dialog' id='add_new_section_dialog'></aside>

<div class='section'>
  <%= form_for @user, as: :user do |f| %>

    <%= render 'shared/flash_message' %>

    <table>
      <tr>
        <td><%= raw(f.label(:user_name, t('user.user_name'))) %>:</td>
        <td><%= raw(f.text_field :user_name) %></td>
      </tr>

      <tr>
        <td><%= raw(f.label(:last_name, t('user.last_name'))) %>:</td>
        <td><%= raw(f.text_field :last_name) %></td>
      </tr>

      <tr>
        <td><%= raw(f.label(:first_name, t('user.first_name'))) %>:</td>
        <td><%= raw(f.text_field :first_name) %></td>
      </tr>

      <tr>
        <td><%= raw(f.label(:grace_credits, t('user.grace_credits'))) %>:</td>
        <td><%= raw(f.text_field :grace_credits) %></td>
      </tr>

      <tr id='select_sections'>
        <%= render partial: 'sections/select_sections',
                   locals: { user: @user, new_student: true } %>
      </tr>
    </table>

    <%= f.hidden_field :id %>
    <%= f.submit t(:submit),
                 name: 'submit',
                 data: { disable_with: t('working') },
                 class: 'button' %>
    <%= link_to t(:cancel), students_path(), class: 'button' %>

  <% end %>
</div>
