<div id="title_bar">
<h1>Manage Students</h1>
</div>
<div class="wrapLeft">
<h2>Edit a Student</h2>
<% form_for :user, :url => {:controller => 'students', :action => 'update'} do |f| -%>
  
    <%= f.error_messages -%>
  
    <%= f.label(:user_name, I18n.t("user.user_name")) %>
    <%= f.text_field :user_name %><br />
   
    <%= f.label(:user_name, I18n.t("user.last_name") ) %>
    <%= f.text_field :last_name %><br />
  
    <%= f.label(:user_name, I18n.t("user.first_name") ) %>
    <%= f.text_field :first_name %><br />
    
    <%= f.label(:grace_credits, I18n.t("user.grace_credits") ) %>
    <%= f.text_field :grace_credits %> <br />
           
    <%= f.hidden_field :id %>
    <%= f.submit 'Submit', :name => 'submit', :class => 'button indent_button' %>
    <%= link_to 'Cancel', {:controller => 'students'}, :class => "button" %>       
  <% end %>

<h3><%= t('submission_rules.grace_period_submission_rule.deductions')%></h3>

<div id="grace_period_deductions">
  <%= render :partial => 'grace_period_deductions', :locals => {:grace_period_deductions => @user.grace_period_deductions}%>
</div>

</div>
</div>

