<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeStudentTable(document.getElementById('students_table'),
        {
          authenticity_token: '<%= form_authenticity_token(
                                      form_options: {action: bulk_modify_course_students_url(@current_course),
                                                     method: 'patch'}) %>',
          course_id: <%= @current_course.id %>
        }
      );
    })
  <% end %>
<% end %>

<% content_for :title do %>
  <div class='title-help'>
    <p>
      <%= t('students.help.manage_students') %>
    </p>
  </div>
<% end %>

<% @heading_buttons = [
  { link_text: t('students.new'),
    link_path: new_course_student_path(@current_course) },
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>

<div id='list'>
  <%# Display lines in csv file that have not been successfully processed %>
  <% if flash[:error] && flash[:error].is_a?(Array) -%>
  <div class='errorExplanation' id='errorExplanation'>
    <p><%= t('students.not_successfully_added_message_1') %></p>
    <p><%= t('students.not_successfully_added_message_2') %></p>
    <ul>
      <li><%= t('students.not_successfully_added_message_3') %></li>
      <li><%= t('students.not_successfully_added_message_4') %></li>
      <li><%= t('students.not_successfully_added_message_5') %></li>
    </ul>
  </div>
  <% end %>

  <div id='students_table'></div>
</div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog' %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog' %>
<aside class='markus-dialog' id='notes_dialog'></aside>
