<% content_for :head do %>
  <%= javascript_include_tag 'effects.js',
                             'Students/index' %>
  <%= stylesheet_link_tag('clickable') %>
  <%= render partial: 'students_table', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('students.manage_students') %>
    <span class='title-help manage_students_help'>
      <p class='help-message-title manage_students_help'>
        <%= t('students.help.manage_students') %>
      </p>
    </span>
  </h1>
  <div class='heading_buttons'>
    <%= link_to t(:add_new_student),
                new_student_path() %>
    <span class='menu_bar'></span>
    <%= link_to t(:upload),
                '#',
                onclick: 'modal_upload.open(); return false;' %>
    <span class='menu_bar'></span>
    <%= link_to t(:download),
                '#',
                onclick: 'modal_download.open(); return false;' %>
  </div>
</div>

<div class='wrapLeft'>
  <div id='list'>
    <%= render 'shared/flash_message' %>

    <% # display lines in csv file that has not been successfully processed %>
    <% if flash[:error] && flash[:error].is_a?(Array) -%>
    <div class='errorExplanation' id='errorExplanation'>
      <p><%= I18n.t(:students_not_successfully_added_message_1)%></p>
      <p><%= I18n.t(:students_not_successfully_added_message_2) %></p>
      <ul>
        <li><%= I18n.t(:students_not_successfully_added_message_3) %></li>
        <li><%= I18n.t(:students_not_successfully_added_message_4) %></li>
        <li><%= I18n.t(:students_not_successfully_added_message_5) %></li>
      </ul>
    </div>
    <% end %>

    <div id='students_table'></div>
  </div>
</div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>
<aside class='dialog' id='notes_dialog'></aside>
