<h1>Manage Students</h1>

<div id="sub_menu">
   <ul>
      <li><a href="#list">View Student List | </a></li>
      <li><a href="#register">Register Students</a></li>
   </ul>
</div>

<div class="colsLeftHeavy">

  <div><div class="wrapLeft">
    <div id="list">
    <h2>View Student List (<%= link_to "XML", :action => 'download_student_list', :format => 'xml' %>)</h2>
    
      <% if flash[:upload_notice] -%>
          <p class="success"><%=h flash[:upload_notice] %></p>
      <% end -%>
      
      <% if flash[:edit_notice] -%>
        <p style="color:green"><%=h flash[:edit_notice] %></p>
      <% end -%>
      
      <% # display lines in csv file that has not been successfully processed %>
      <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class="errorExplanation" id="errorExplanation">
        <p>The following Students have not been successfully added:</p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
          <li><%=h line %></li>
          <% end -%>
        </ul>
        <p>Make sure that:</p>
        <ul>
          <li>Student names are alphanumeric</li>
          <li>Each field is separated by a comma (no spaces)</li>
          <li>Each line has the required fields specified above</li>
        </ul>
      </div>
      <% end -%>
      
      <table>
        
       <tr>
       	  <%
	   # pull "labels" from I18n files
	  %>
          <th><%= I18n.t('user.user_name') %></th>
          <th><%= I18n.t('user.last_name') %></th>
          <th><%= I18n.t('user.first_name') %></th>
          <th></th>
        </tr>
          
        <% for u in @students %>
          <tr class="<%= cycle('rowA', 'rowB') %>">
            <td><%=h u.user_name %></td>
            <td><%=h u.last_name %></td>
            <td><%=h u.first_name %></td>
            <td><%= link_to 'Edit', :controller => 'students', :action => 'edit', :id => u %></td>
          </tr>
        <% end %>
        
      </table>
  </div>
  </div>
  
<div id="register">
  <h2>Register Students</h2>
  
  
    <h3>Upload a class list</h3>
    
    <div class="section">
      
      <p>Select a CSV file of the following form: <code>user_name,last_name,first_name</code></p>
      
      <p>If a student with the same student number exists, then the student's information is updated.</p>
      
      <%= form_tag "/checkmark/students/upload_student_list", :multipart => true %>
        <label for="userlist">CVS File</label>
        <input type="file" name="userlist" id="userlist"/>
        <%= submit_tag "Update userlist", :disable_with => 'Processing...', :class => 'button' %>
      </form>
    
    </div>
    
    <h3>Add Each Student Individually</h3>
    
    <div class="section">
      <p><%= link_to "Add a new Student", :controller => 'students', :action => 'create' %></p>
    </div>

    <h3>Download Student List</h3>

    <div class="section">
      <p><%= link_to "Download Student list in CSV format", :controller => 'students', :action => 'download_student_list', :format => "csv" %></p>
    </div>
</div>
  </div>

</div> <!-- colsLeftHeavy -->
