<%= javascript_include_tag "FilterTable/FilterTable"%>
<%= javascript_include_tag "users_manager"%>
<%= javascript_include_tag "16accordion"%>

<%= render :partial => "boot.js.erb"%>

<div id="title_bar"><h1>Manage Students <%= link_to I18n.t(:add_new), :controller => 'students', :action => 'create' %> </h1></div>

<%= form_remote_tag :url => {:action => "bulk_modify"}, :complete => "$('apply_bulk_action').setValue('#{t(:apply)}');$('apply_bulk_action').enable();$('apply_bulk_action2').setValue('#{t(:apply)}');$('apply_bulk_action2').enable();"
 %>

<div class="colsLeftHeavy">

  <div class="colLeft"><div class="wrapLeft">
    <div id="list">    
      <% if flash[:upload_notice] -%>
          <p class="notice"><%= h(flash[:upload_notice]) %></p>
      <% end -%>
      
      <% if flash[:edit_notice] -%>
        <p class="notice"><%= h(flash[:edit_notice]) %></p>
      <% end -%>
      
      <% # display lines in csv file that has not been successfully processed %>
      <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class="errorExplanation" id="errorExplanation">
        <p class="warning">
            <%= I18n.t(:students_not_successfully_added_message_1)%>
	</p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
          <li><%= h(line) %></li>
          <% end -%>
        </ul>
        <p>
	  <%= I18n.t(:students_not_successfully_added_message_2)%>
	</p>
        <ul>
          <li>
       	    <%= I18n.t(:students_not_successfully_added_message_3)%>
	  </li>
          <li>
       	    <%= I18n.t(:students_not_successfully_added_message_4)%>
	  </li>
          <li>
       	    <%= I18n.t(:students_not_successfully_added_message_5)%>  
	  </li>
        </ul>
      </div>
      <% end -%>
      

      <div id="toggle_actions">
       <%= link_to_function I18n.t(:all) + " (<span id=\"all_students_count\"></span>)", "filter('none');"%>
       | 
       <%= link_to_function I18n.t(:active) + " (<span id=\"active_students_count\"></span>)", "filter('active');"%>

       |
       <%= link_to_function I18n.t(:not_active) + " (<span id=\"inactive_students_count\"></span>)", "filter('inactive');"%>
       </div>
       <div class="global_action">
       <span id="loading_list"><%= image_tag("spinner.gif")%> Loading
list...</span>
      <select name="bulk_action" id="bulk_action" onChange="$('bulk_action_2').setValue($(this).getValue()); detect_grace_credit_change();">
        <option value=""><%= t(:bulk_action)%></option>
        <option value="give_grace_credits"><%= t(:give_grace_credits)%></option>
        <option value="hide"><%= t(:hide_students)%></option>
        <option value="unhide"><%= t(:unhide_students)%></option>
      </select>
      <span id="grace_credit_input" style="display:none;">
      <%= label_tag :number_of_grace_credits, "Grace Credits:" %>
      <%= text_field_tag :number_of_grace_credits, nil, :size => 1, :id => 'number_of_grace_credits' %>
      </span>
      <%= submit_tag t(:apply), :id => 'apply_bulk_action', :name => 'commit', :onclick => "$(this).setValue('Processing...'); $(this).disable();" %>
      

      
      </div>

      <table id="students">

      </table>
      
      <div class="global_action">
      <select name="bulk_action_2" id="bulk_action_2" onChange="$('bulk_action').setValue($(this).getValue());detect_grace_credit_change();">
        <option value=""><%= t(:bulk_action)%></option>
        <option value="give_grace_credits"><%= t(:give_grace_credits)%></option>
        <option value="hide"><%= t(:hide_students)%> </option>
        <option value="unhide"><%= t(:unhide_students) %></option>
      </select>
      <%= submit_tag t(:apply), :id => 'apply_bulk_action2', :name => 'commit', :onclick => "$(this).setValue('Processing...'); $(this).disable();" %>
      </div>
      
  </div>
</div>
</div>
<div class="colRight">  
<div id="test-accordion" class="accordion">
   <div class="accordion-toggle" id="accordion-toggle-top">Assign Grace Credits</div>

    <div class="accordion-content">
      <p>
      </p>
    </div>
    </form>
  <div class="accordion-toggle"> Upload</div>
  <div class="accordion-content">
    <h3>Upload a class list</h3>
      <div class="section">
      
      <p>Select a CSV file of the following form: <code>user_name,last_name,first_name</code></p>
      
      <p>If a student with the same student number exists, then the student's information is updated.</p>
      
      <%= form_tag( { :controller => "students", :action => "upload_student_list" }, { :multipart => true }) %>
        <label for="userlist">CVS File</label>
        <input type="file" name="userlist" id="userlist"/>
        <%= submit_tag t(:upload), :disable_with => t(:uploading_please_wait) %>
      </form>
    
    </div>
   </div> 
    <div class="accordion-toggle">Download Student List</div>

    <div class="accordion-content" id="accordion-toggle-bottom">
      <p><%= link_to "Download Student list in CSV format", :controller => 'students', :action => 'download_student_list', :format => "csv" %></p>
<p><%= link_to "XML", :action => 'download_student_list', :format =>
'xml' %></p>
    </div>

  
</div>
  </div>

</div> <!-- colsLeftHeavy -->
