<%= javascript_include_tag "students_manager"%>
<%= javascript_include_tag "16accordion"%>

<%= render :partial => "boot.js.erb"%>

<div id="title_bar"><h1>Manage Students <%= link_to I18n.t(:add_new), :controller => 'students', :action => 'create' %> </h1></div>

<div class="colsLeftHeavy">

  <div class="colLeft"><div class="wrapLeft">
    <div id="list">    
      <% if flash[:upload_notice] -%>
          <p class="success"><%= h(flash[:upload_notice]) %></p>
      <% end -%>
      
      <% if flash[:edit_notice] -%>
        <p style="color:green"><%= h(flash[:edit_notice]) %></p>
      <% end -%>
      
      <% # display lines in csv file that has not been successfully processed %>
      <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
      <div class="errorExplanation" id="errorExplanation">
        <p>The following Students have not been successfully added:</p>
        <ul>
          <% for line in flash[:invalid_lines] -%>
          <li><%= h(line) %></li>
          <% end -%>
        </ul>
        <p>Make sure that:</p>
        <ul>
          <li>Student names are alphanumeric</li>
          <li>Each field is separated by a comma (no spaces)</li>
          <li>Each line has the required fields specified above</li>
        </ul>
      </div>
      <% end -%>
      
      <%= form_remote_tag :url => {:action => "bulk_modify"}, :complete => "$('apply_bulk_action').setValue('Apply Bulk Action');$('apply_bulk_action').enable();"
       %>
      <div id="toggle_actions">
       <%= link_to_remote I18n.t(:all) + " (" + @all_students_size.to_s +
       ")", :url => {:action => 'filter', :filter => 'all'}, :loading =>
"$('loading_list').show();",
       :complete => "$('loading_list').hide();" %>
       | 
       <%= link_to_remote I18n.t(:active) + " (" + (@all_students_size -
@hidden_students_number).to_s +
       ")", :url => {:action => 'filter', :filter => 'visible'}, :loading => "$('loading_list').show();",
       :complete => "$('loading_list').hide();" %>
       |
       <%= link_to_remote I18n.t(:not_active) + " (" +
@hidden_students_number.to_s +
       ")", :url => {:action => 'filter', :filter => 'hidden'}, :loading => "$('loading_list').show();",
       :complete => "$('loading_list').hide();" %>
       </div>
       <div class="global_action">
        <span id="loading_list"><%= image_tag("spinner.gif")%> Loading
list...</span>
        <select name="bulk_action">
        <option value=""><%= I18n.t(:bulk_action)%></option>
        <option value="hide">Hide Students</option>
        <option value="unhide">Unhide Students</option>
      </select>
      <%= submit_tag I18n.t(:submit), :id => 'apply_bulk_action', :onclick => "$(this).setValue('Processing...'); $(this).disable();" %>
      </div>

      <table id="students">
       <thead> 
       <tr>
       	  <%
	   # pull "labels" from I18n files
	  %>
	  <th id="checkbox"><%= check_box_tag "students[all]", true,
	  false, :id => "students[all]", :onchange =>
	  "toggle_students_selection($F('students[all]'));"%></th>
          <th><%= I18n.t('user.user_name') %></th>
          <th><%= I18n.t('user.last_name') %></th>
          <th><%= I18n.t('user.first_name') %></th>
          <th></th>
        </tr>
          </thead>
	  <tbody id="students_table">
	  <%= render :partial => "students/students_table", :locals =>
	  {:students => []}%>
	  </tbody>
       <tfoot> 
       <tr>
       	  <%
	   # pull "labels" from I18n files
	  %>
	  <th></th>
          <th><%= I18n.t('user.user_name') %></th>
          <th><%= I18n.t('user.last_name') %></th>
          <th><%= I18n.t('user.first_name') %></th>
          <th></th>
        </tr>
          </tfoot>
      </table>
      </form>
  </div>
</div>
</div>
<div class="colRight">  
<div id="test-accordion" class="accordion">
  <div class="accordion-toggle" id="accordion-toggle-top"> Upload
  </div>
  <div class="accordion-content">
    <h3>Upload a class list</h3>
      <div class="section">
      
      <p>Select a CSV file of the following form: <code>user_name,last_name,first_name</code></p>
      
      <p>If a student with the same student number exists, then the student's information is updated.</p>
      
      <%= form_tag( { :controller => "students", :action => "upload_student_list" }, { :multipart => true }) %>
        <label for="userlist">CVS File</label>
        <input type="file" name="userlist" id="userlist"/>
        <%= submit_tag "Update userlist", :disable_with => 'Processing...', :class => 'button' %>
      </form>
    
    </div>
   </div> 
    <div class="accordion-toggle" id="accordion-toggle-bottom">Download Student List</div>

    <div class="accordion-content">
      <p><%= link_to "Download Student list in CSV format", :controller => 'students', :action => 'download_student_list', :format => "csv" %></p>
<p><%= link_to "XML", :action => 'download_student_list', :format =>
'xml' %></p>
    </div>

</div>
  </div>

</div> <!-- colsLeftHeavy -->
