<%= content_for :head do %>
  <%= javascript_include_tag 'Graders/index' %>
  <%= stylesheet_link_tag('clickable') %>

  <%= render partial: 'graders_action_column', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'graders_table', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'graders_manager', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<% content_for :title do %>
    <%= t('graders.manage_graders') %>
    <span class='title-help assignment_graders_help'>
      <p class='help-message-title assignment_graders_help'>
        <%= t('assignment.help.graders') %>
      </p>
    </span>
<% end %>

<% @heading_buttons = [
  { link_text: t('download'),
    link_path: '#',
    html_options: { onclick: 'modal_download.open();' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { onclick: 'modal_upload.open();' } },
] %>


<div class="clear"></div>


<div id='notice'>
  <div class='success' id='add_success' style='display: none;'></div>

  <%# This is for error display injected by JavaScript %>
  <div class='error' id='errors' style='display: none; '>
    <h3><%= t('graders.problem') %></h3>
    <div id='errors_title'></div>
    <div id='errors_contents'></div>
  </div>

  <div class='warning' id='global_action_warning' style='display: none;'>
    <h3><%= t('groups.warning') %></h3>
    <div id='global_action_warning_msg'></div>
  </div>
</div>

<div id='graders_manager'></div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>

<aside class='dialog' id="groups_coverage_dialog"></aside>
<aside class='dialog' id="grader_criteria_dialog"></aside>
