<% content_for :head do %>
  <%= javascript_include_tag 'manage_graders.js',
                             'FilterTable/FilterTable.js',
                             'Graders/tabs_boot.js',
                             'Graders/index',
                             'help_system' %>

  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('graders.manage_graders') %>
    <span class='title-help assignment_graders_help'>
      <p class='help-message-title assignment_graders_help'>
        <%= t('assignment.help.graders') %>
      </p>
    </span>
  </h1>

  <div class='heading_buttons'>
    <%= link_to_function t('download'), 'modal_download.open();' %>
    <span class='menu_bar'></span>
    <%= link_to_function t('upload'), 'modal_upload.open();' %>
  </div>
</div>

<div class="wrapLeft"></div>
<div class="clear"></div>


<div id='notice'>
  <div class='success' id='add_success' style='display: none;'></div>

  <%# This is for error display injected by JavaScript %>
  <div class='error' id='errors' style='display: none; '>
    <h3><%= t('graders.problem') %></h3>
    <div id='errors_title'></div>
    <div id='errors_contents'></div>
  </div>

  <div class='warning' id='global_action_warning' style='display: none;'>
    <h3><%= t('groups.warning') %></h3>
    <div id='global_action_warning_msg'></div>
  </div>

  <%# All other flash messages %>
  <%= render 'shared/flash_message' %>
</div>

<%= form_tag global_actions_assignment_graders_path(@assignment),
             id: 'global_action_form',
             remote: true do %>

  <script>
    $("global_action_form").observe('ajax:after', function(evt, status, data, xhr) {
      thinking();
    });

    $("global_action_form").observe('ajax:success', function(evt, status, data, xhr) {
      done_thinking();
    });
  </script>

  <%= hidden_field_tag 'submit_type', 'global_action', id: 'submit_type' %>
  <%= hidden_field_tag 'current_table', 'groups_table', id: 'current_table' %>
  <%= hidden_field_tag 'global_actions'%>

  <div class='columns'>
    <div class="col-left">
      <% # order of processing students is important. we go through each member
         # one by one and delete them above from the list of students
         # if they are already in a group
         # See manage/_group.html.erb
      %>
      <div class="tab-pane" id='graders-tabs'>
        <ul>
          <li>
            <a href="#graders_none"><%= t("graders.graders") %></a>
          </li>
        </ul>

        <div id='graders_none'>
          <div class='search_box'>
            <%= text_field_tag 'search_graders', nil,
                onkeyup: "graders_table.add_filter('search'); graders_table.render();",
                onkeypress: "stop_submit(event);",
                placeholder: t("search_graders") %>
          </div>

          <div class='table'>
            <table class='graders' id='graders'></table>
          </div>
        </div>
        <div class='table'>
          <table class='graders' id='graders'></table>
        </div>
      </div>
    </div>

    <div class='col-center'>
      <div id='icons'>
        <%= image_submit_tag 'random_arrow.png',
                             onclick: "$('global_actions').setValue('random_assign');",
                             alt: t('groups.randomly_assign_graders'),
                             title: t('groups.randomly_assign_graders'),
                             class:'image_input' %>
        <%= image_submit_tag 'add_arrow.png',
                             onclick: "$('global_actions').setValue('assign');",
                             alt: t('add_graders'),
                             class:'image_input',
                             title: t('add_graders') %>
        <%= image_submit_tag 'remove_arrow.png',
                             onclick: "$('global_actions').setValue('unassign');",
                             alt: t('remove_graders'),
                             title: t('remove_graders'),
                             class:'image_input' %>
      </div>
    </div>

    <div class='col-right'>
      <div class='tab-pane' id='groups-tabs'>
        <ul>
          <li>
            <a href='#groups_table'><%= t('groups.groups') %></a>
          </li>
          <li>
            <a href='#criteria_table'><%= t('criteria') %></a>
          </li>
        </ul>

        <div id='groups_table'>
          <div id='groups_container'>
            <%= text_field_tag 'search_groupings', nil,
                onkeyup: "groupings_table.add_filter('search'); groupings_table.render();",
                onkeypress: 'stop_submit(event);',
                placeholder: t('groups.search_groups') %>

            <label class='bold_inline_label'><%= t('browse_submissions.sections') %></label>
            <%= select('selection_groupings',
                       'sections',
                       Section.order('name ASC').all.collect { |s| [s.name] },
                       { include_blank: ' - ' },
                       { onchange: 'groupings_table.add_filter("selection");
                                    return groupings_table.render();',
                         onfocus: 'stop_submit(event);' }) %>

            <div class='table'>
              <table class='groups' id='groups'></table>
            </div>
          </div>
        </div>

        <div id='criteria_table'>
          <div id='criteria_container'>
            <%= text_field_tag 'search_criteria', nil,
                onkeyup: "criteria_table.add_filter('search'); criteria_table.render();",
                onkeypress: 'stop_submit(event);',
                placeholder: t('graders.search_criteria') %>
            <%= check_box_tag 'assign_criteria',
                              true,
                              @assignment.assign_graders_to_criteria,
                              class: 'inline_checkbox',
                              data: { action: url_for(action: :set_assign_criteria,
                                                      id: @assignment.id) } %>
            <%= label_tag 'assign_criteria',
                          t('graders.assign_to_criteria'),
                          class: 'bold_inline_label' %>

            <div class='table'>
              <table class='criteria' id='criteria'></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Modal Windows -->

<aside class='dialog' id="download_dialog">
  <h2><%= t('groups.download.download_grader_maps') %></h2>
  <ul>
    <li>
      <%= link_to t('groups.download.download_grader_groups_csv'),
                  download_grader_groupings_mapping_assignment_graders_path(@assignment),
                  onclick: 'modal_download.close();' %>
    </li>
    <li>
      <%= link_to t('groups.download.download_grader_criteria_csv'),
                  download_grader_criteria_mapping_assignment_graders_path(@assignment),
                  onclick: 'modal_download.close();' %>
      </li>
  </ul>

  <section class='dialog-actions'>
    <%= button_to_function I18n.t('cancel'), 'modal_download.close();' %>
  </section>
</aside>

<aside class='dialog' id="upload_dialog">
  <h2><%= I18n.t("groups.upload.upload_grader_map") %></h2>
  <%= raw(I18n.t("groups.upload.description_grader_map")) %>
  <%= form_tag({controller:"graders",
    action: 'csv_upload_grader_groups_mapping',id: @assignment.id},
    {multipart: true}) do %>
    <p>
      <%= t("encoding") %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </p>
    <%= file_field_tag :grader_mapping, size: 2 %>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload), data: { disable_with: t(:uploading_please_wait) } %>
      <%= button_to_function I18n.t('cancel'), 'modal_upload.close();' %>
    </section>
  <% end %>

  <% if @assignment.assign_graders_to_criteria %>
    <h2><%= t("groups.upload.upload_grader_criteria_map") %></h2>
    <%= raw(t("groups.upload.description_grader_criteria_map")) %>
    <%= form_tag({controller:"graders",
      action: 'csv_upload_grader_criteria_mapping',id: @assignment.id},
      {multipart: true}) do %>
      <p>
        <%= t("encoding") %>
        <%= select_tag(:encoding, options_for_select(@encodings)) %>
      </p>
      <%= file_field_tag :grader_criteria_mapping, size: 2 %>

      <section class='dialog-actions'>
        <%= submit_tag t(:upload), data: { disable_with: t(:uploading_please_wait) } %>
        <%= button_to_function I18n.t('cancel'), 'modal_upload.close();' %>
      </section>
    <% end %>
  <% end %>
</aside>

<aside class='dialog' id="groups_coverage_dialog"></aside>
<aside class='dialog' id="grader_criteria_dialog"></aside>
