<%= javascript_include_tag 'manage_graders.js',
                           'FilterTable/FilterTable.js',
                           'Graders/tabs_boot.js',
                           'Graders/index' %>

<%= render :partial => "boot.js.erb" %>

<div id="title_bar">
  <h1><%= I18n.t("graders.manage_graders") %></h1>
  <div class="colRightGroups">
      <div class="headingButtons">
      <%= button_to_function I18n.t('download'), 'modal_download.open();' %>
      <span class="menu_bar">|</span>
      <%= button_to_function I18n.t('upload'), 'modal_upload.open();' %>
    </div> <!-- rightjustify-->
  </div> <!-- colrightgroups-->

  </div> <!-- title_bar-->


<div class="wrapLeft">
</div>

<div class="clear"></div>

<div id="notice">
  <div class="success" id="add_success" style="display: none; "></div>
  <% # This is for error display injected by JavaScript %>

  <div class="error" id="errors" style="display: none; ">
    <h3><%= t("graders.problem") %></h3>
    <div id="errors_title">
    </div>
    <div id="errors_contents">
    </div>
  </div>

  <div class="warning" id="global_action_warning" style="display: none; ">
    <h3><%= t("groups.warning") %></h3>
    <div id="global_action_warning_msg"></div>
  </div>

  <% # all other flash messages %>
  <%= render 'shared/flash_message' %>
</div><!-- Notice -->

<%= form_tag global_actions_assignment_graders_path(@assignment),
             :id => "global_action_form",
             :remote => true do %>

<script type='text/javascript'>
$("global_action_form").observe('ajax:after', function(evt, status, data, xhr) {
  thinking();
});

$("global_action_form").observe('ajax:success', function(evt, status, data, xhr) {
  done_thinking();
});
</script>

<%= hidden_field_tag 'submit_type', 'global_action', :id => 'submit_type' %>
<%= hidden_field_tag 'current_table', 'groups_table', :id => 'current_table' %>
<%= hidden_field_tag 'global_actions'%>

<div class="clear"></div>
<div class="colsLeftHeavy">
  <div class="colRightGraders">
    <div class="wrapRightGroups">
      <div class="pane">
        <span id="loading_list">
          <%= image_tag("spinner.gif") %><%= t("groups.loading_list") %></span>
        <ul id="groups_tabs"class="subsection_tabs">
          <li class="tab">
            <a href="#groups_table" id="filter_link_none" class="filter_selected">
              <%= I18n.t("groups.groups") %></a></li>
        <li class="tab">
            <a href="#criteria_table" id="filter_link_criteria_none" class="filter_selected">
              <%= I18n.t("criteria") %></a></li>
        </ul>

        <div id="criteria_table">
          <div id="criteria_container" class="tabbedArea">
            <%= label_tag 'search_criteria', I18n.t('search'),
              :class => 'bold_inline_label',
              :id => 'search_criteria_label' %>
            <%= text_field_tag 'search_criteria', nil,
              :onkeyup => "criteria_table.add_filter('search'); criteria_table.render();",
              :onkeypress => "stop_submit(event);"%>
            <%= check_box_tag 'assign_criteria', true,
              @assignment.assign_graders_to_criteria,
              :class => 'inline_checkbox', 'data-action' => url_for(:action => :set_assign_criteria, :id => @assignment.id)%>
            <%= label_tag 'assign_criteria', I18n.t('graders.assign_to_criteria'),
              :class => 'bold_inline_label'%>

            <table class="criteria" id="criteria">
            </table>

          </div><!-- group container -->
        </div>

        <div id="groups_table">
          <div class="clear"></div>

          <div id="groups_container" class="tabbedArea">
            <%= label_tag 'search_groupings', I18n.t('search'),
              :class => 'bold_inline_label',
              :id => 'search_groupings_label' %>
            <%= text_field_tag 'search_groupings', nil,
              :onkeyup => "groupings_table.add_filter('search'); groupings_table.render();",
              :onkeypress => "stop_submit(event);" %>

            <label class="bold_inline_label"><%= t('browse_submissions.sections') %></label>
            <%= select('selection_groupings', 'sections',
                       Section.all.collect { |s| [s.name] },
                       { :include_blank => ' - ' },
                       { :onchange => 'groupings_table.add_filter("selection");
                       return groupings_table.render();',
                         :onfocus => 'stop_submit(event);' }) %>

            <table class="groups" id="groups">
            </table>
          </div><!-- group container -->
        </div>
      </div>
    </div>
  </div> <!-- colRightGroups -->

  <div class="colLeftGraders">
    <% # order of processing students is important. we go through each member
       # one by one and delete them above from the list of students
       # if they are already in a group
       # See manage/_group.html.erb
    %>
    <div class="wrapLeftGroups">
      <div class="pane">
        <span id="loading_graders_list">
          <%= image_tag("spinner.gif") %><%= t("groups.loading_list") %></span>
        <ul id="graders_tabs" class="subsection_tabs">
          <li class="tab">
            <a href="#graders_none" id="filter_link_graders_none"  class="filter_selected">
              <%= I18n.t("graders.graders") %></a></li>
        </ul>

        <div id="graders_none"></div>
        <div id="unassigned"></div>
        <div id="assigned"></div>

        <div class="tabbedArea">
          <div class="searchBox">
            <%= label_tag 'search_graders', "Search:",
              :class => 'bold_inline_label'%>
            <%= text_field_tag 'search_graders', nil,
               :onkeyup => "graders_table.add_filter('search'); graders_table.render();",
               :onkeypress => "stop_submit(event);" %>
          </div>
          <table class="graders" id="graders">
          </table>
        </div>

      </div>
    </div>
  </div> <!-- colLeftGroups -->

  <div id="centreColumn" class="centreColumnGraders">
      <%= image_submit_tag "random_arrow.png",
        :onclick => "$('global_actions').setValue('random_assign');",
        :alt => I18n.t('groups.randomly_assign_graders'),
        :title => I18n.t('groups.randomly_assign_graders'),
        :class =>'image_input' %>
      <br/><br/>
      <%= image_submit_tag "add_arrow.png",
        :onclick => "$('global_actions').setValue('assign');",
        :alt => I18n.t('add_graders'),
        :class =>'image_input',
        :title => I18n.t('add_graders') %>
      <br/><br/>
      <%= image_submit_tag "remove_arrow.png",
        :onclick => "$('global_actions').setValue('unassign');",
        :alt => I18n.t('remove_graders'),
        :title => I18n.t('remove_graders'),
        :class =>'image_input' %>
  </div>

</div> <!-- ColsLeftHeavy -->
<% end %> <!-- remote form tag -->

<!-- Modal Windows -->

<div id="download_dialog">
  <h2><%= t('groups.download.download_grader_maps') %></h2>
  <ul>
    <li><%= link_to t('groups.download.download_grader_groups_csv'),
		    download_grader_groupings_mapping_assignment_graders_path(@assignment),
		    :onclick => 'modal_download.close();' %></li>
    <li><%= link_to t('groups.download.download_grader_criteria_csv'),
		    download_grader_criteria_mapping_assignment_graders_path(@assignment),
		    :onclick => 'modal_download.close();' %></li>
  </ul>
  <%= button_to_function I18n.t('cancel'), 'modal_download.close();' %>
</div>

<div id="upload_dialog">
  <h2><%= I18n.t("groups.upload.upload_grader_map") %></h2>
  <%= raw(I18n.t("groups.upload.description_grader_map")) %>
  <%= form_tag({:controller=>"graders",
    :action => 'csv_upload_grader_groups_mapping',:id => @assignment.id},
    {:multipart => true}) do %>
    <br />
    <br />
    <%= I18n.t("encoding") %>
    <%= select_tag(:encoding, options_for_select(@encodings)) %>
    <br />
    <br />
    <p><%= file_field_tag :grader_mapping, :size => 2 %> <br />
      <%= submit_tag t(:upload), :disable_with => t(:uploading_please_wait) %>
      <%= button_to_function I18n.t('cancel'), 'modal_upload.close();' %>
    </p>
  <% end %>

  <% if @assignment.assign_graders_to_criteria %>
    <h2><%= I18n.t("groups.upload.upload_grader_criteria_map") %></h2>
    <%= raw(I18n.t("groups.upload.description_grader_criteria_map")) %>
    <%= form_tag({:controller=>"graders",
      :action => 'csv_upload_grader_criteria_mapping',:id => @assignment.id},
      {:multipart => true}) do %>
      <br />
      <br />
      <%= I18n.t("encoding") %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
      <br />
      <br />
      <p><%= file_field_tag :grader_criteria_mapping, :size => 2 %> <br />
        <%= submit_tag t(:upload), :disable_with => t(:uploading_please_wait) %>
        <%= button_to_function I18n.t('cancel'), 'modal_upload.close();' %>
      </p>
    <% end %>
  <% end %>
</div>

<div id="groups_coverage_dialog">
</div>

<div id="grader_criteria_dialog">
</div>
