<div class="lti-flash">
  <%= render partial: 'shared/flash_message' %>
</div>
<div id="course_selector">
  <div id="lti_course_info">
    <h3><%=t('lti.select_course', course_name: session[:canvas_course_name]) %></h3>
  </div>
  <%= form_with(local:true) do |f| %>
  <div class="table">
    <table>
      <thead>
      <tr>
        <th><%= Course.model_name.human %></th>
      </tr>
      </thead>
      <tbody>
      <% @real_user.visible_courses.each do |course| %>
      <tr>
        <td>
          <%= f.label :course, course.name %>
          <%= f.radio_button 'course', course.id %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
    <div><%= f.submit 'Save' %></div>
  <% end %>
</div>
