<td><%= h(grader.user_name)%></td>
<td><%= h("#{grader.first_name} #{grader.last_name}") %></td>
<td><%= h(grader.get_membership_count_by_assignment(@assignment))%></td>
<td>
  <% if @assignment.assign_graders_to_criteria %>
    <%= h(grader.get_criterion_associations_count_by_assignment(@assignment)) %>
    <%= link_to_remote image_tag("icons/comment.png", :alt => I18n.t('criteria'),
            :title => I18n.t('criteria')),
          :url => { :action => 'grader_criteria_dialog',
          :id => @assignment.id, :grader => grader.id } %>
  <% else %>
    <%= I18n.t('all') %>
  <% end %>
</td>
