<td>
  <% if assignment.marking_scheme_type == "rubric" %>
    <%= criterion.rubric_criterion_name %>
  <% else %>
    <%= criterion.flexible_criterion_name %>
  <% end %>
</td>

<td>
<% criterion.criterion_ta_associations.each do |association| %>
   <%= render :partial => "graders/manage/ta",
      :locals => {:association => association, :criterion => criterion} %>
<% end -%>
</td>

<td>
  <span class="table_menu">
    <% assigned_length = criterion.assigned_groups_count %>
    <% if assigned_length == assignment.groupings.size %>
      <%= image_tag("icons/tick.png", :alt => I18n.t('graders.covered'),
        :title => I18n.t('graders.covered')) %>
    <% else %>
      <%= image_tag("icons/cross.png", :alt => I18n.t('graders.not_covered'),
        :title => I18n.t('graders.not_covered')) %>
    <% end %>
  </span>
  (<%= assigned_length %>/<%=  assignment.groupings.size %>)
</td>
