<td>
<span class="link"><%= grouping.group.group_name %></span>
<% grouping.students.each do |student| %>
   <%=  student.user_name %>
<% end %>
</td>

<td>
  <%= grouping.section %>
</td>

<td>
<%= render :partial => 'graders/manage/member.html.erb',
  :locals => {:grouping => grouping } %>
</td>

<td>
  <% if @assignment.assign_graders_to_criteria %>
    <span class="table_menu">
      <% assigned_count = grouping.criteria_coverage_count %>
      <% if assigned_count == total_criteria_count %>
        <%= link_to image_tag("icons/tick.png", :alt => I18n.t('graders.covered'),
          :title => I18n.t('graders.covered')),
          groups_coverage_dialog_assignment_graders_path(:id => @assignment.id, :grouping => grouping.id),
          :remote => true %>
      <% else %>
        <%= link_to image_tag("icons/cross.png", :alt => I18n.t('graders.not_covered'),
          :title => I18n.t('graders.not_covered')),
          groups_coverage_dialog_assignment_graders_path(:id => @assignment.id, :grouping => grouping.id),
          :remote => true %>
      <% end %>
    </span>
      (<%= assigned_count %>/<%=  total_criteria_count %>)
  <% else %>

  <% end %>
</td>
