<%#
# Erb template for inserting a new rubric criterion into the assignment rubric
%>


<li class="criterion_holder <%= cycle('rowA', 'rowB') %>" id="<%= "criterion_#{criterion.id}" %>">
  
  <div class="criterion_title_div" id="<%= "criterion_title_#{criterion.id}"%>" onclick="<%="focus_criterion(#{criterion.id})"%>">
  
    <div id="<%="criterion_title_#{criterion.id}_name"%>" style="float:left;">+ <%= h(criterion.rubric_criterion_name) %></div>
    
    <div id="<%="criterion_title_#{criterion.id}_weight"%>"style="float:right;"><%= h(criterion.weight) %></div>
    
    <div class="clear"></div>
    
  </div> <!-- Title Div -->
  
  <div id="<%="criterion_inputs_#{criterion.id}"%>" style="display:none;">
 
    <div style="float:left;">
  
      <input type="text" class="criterion_input_name" value="<%=criterion.rubric_criterion_name%>" id="<%="criterion_inputs_#{criterion.id}_name"%>">
      
      <%=javascript_tag "$('criterion_inputs_#{criterion.id}_name').observe('focus', function(event) {$(Event.element(event)).addClassName('editing');})"%>
      <%=javascript_tag "$('criterion_inputs_#{criterion.id}_name').observe('keypress', function(event, name_input) {if (event.keyCode == Event.KEY_RETURN) {criterion_input_edited('name', Event.element(event), #{criterion.id});}})"%>
      <%=javascript_tag "$('criterion_inputs_#{criterion.id}_name').observe('blur', function(event, name_input) {criterion_input_edited('name', Event.element(event), #{criterion.id});})"%>
      
    </div>
   
    <div style="float:right;">
  
      <%= link_to_remote "Delete", :method => 'delete',
      :url => { :action => 'remove_criterion', :id => @assignment.id, :criterion_id => criterion.id }, 
      :html => { :class => 'remove_criterion', :title => 'Delete this criterion' }, 
      :confirm => 'Are you sure you want to remove this criterion?', :complete => "selected_criterion_id=null;hide_levels();$('working').hide();", :before => "$('working').show();"%>
    
    </div>
  
    <div class="clear"></div>
  
    <%=button_to_function "-", "criterion_weight_bump(-1, $('criterion_inputs_#{criterion.id}_weight'), #{criterion.id});"%>
    
    <input type="text" class="criterion_input_weight" id="<%="criterion_inputs_#{criterion.id}_weight"%>" value="<%=criterion.weight%>">
    <%=javascript_tag "$('criterion_inputs_#{criterion.id}_weight').observe('focus', function(event) {$(Event.element(event)).addClassName('editing');})"%>
    <%=javascript_tag "$('criterion_inputs_#{criterion.id}_weight').observe('keypress', function(event, input) {if (event.keyCode == Event.KEY_RETURN) {criterion_input_edited('weight', Event.element(event), #{criterion.id});}})"%>
    <%=javascript_tag "$('criterion_inputs_#{criterion.id}_weight').observe('blur', function(event, input) {criterion_input_edited('weight', Event.element(event), #{criterion.id});})"%>
    
    <%=button_to_function "+", "criterion_weight_bump(1, $('criterion_inputs_#{criterion.id}_weight'), #{criterion.id});"%>
    
    <p id="criterion_error_<%= criterion.id %>" class="error" style="display:none;"></p>

  </div>

</li>     
