<%#
# Erb template for inserting a new rubric criterion into the assignment rubric
%>

<li class="criterion_holder <%= cycle('rowA', 'rowB') %>" id="<%= "criterion_#{criterion.id}" %>" >
  <span class="criterion_handle">
    <%= image_tag "handle.png" %>
  </span> 
  <span class="criterion_title_div link" id="<%= "criterion_title_#{criterion.id}"%>" onclick="<%="focus_criterion(#{criterion.id})"%>">
    <%= h(criterion.rubric_criterion_name) %>
 </span>
 <span id="criterion_weight_<%= criterion.id%>" class="criterion_weight">
       <%= criterion.weight%>
 </span>
</li> 
