<%#
# Erb template for display rubric criterion levels in the assignment rubric manager
%>
<div id="rubric_levels_top"></div>

<% levels.each_with_index do |level, index|%>
  <li class="rubric_level <%= cycle('rowA', 'rowB') %>">
    <div>
  
      <strong>Level <%=h(index)%></strong>
      <input type="text" value="<%=level[:name]%>" class="level_input_name" id="<%="level_inputs_#{index}_name"%>">
      <%=javascript_tag "$('level_inputs_#{index}_name').observe('keypress', function(event, input) {if (event.keyCode == Event.KEY_RETURN) {level_input_edited('name', Event.element(event), #{index});}})"%>
      <%=javascript_tag "$('level_inputs_#{index}_name').observe('blur', function(event, input) {level_input_edited('name', Event.element(event), #{index});})"%>
  
      <textarea class="level_textarea_description" id="<%="level_inputs_#{index}_description"%>" onclick="$('<%="level_inputs_#{index}_set_desc"%>').show();" onblur="level_input_edited('description', $('<%="level_inputs_#{index}_description"%>'), <%=index%>);$('pull_focus').focus(); $('<%="level_inputs_#{index}_set_desc"%>').hide();"><%=level[:description]%></textarea>
  
      <%=button_to_function "Set Description", "level_input_edited('description', $('level_inputs_#{index}_description'), #{index});$('pull_focus').focus(); $(this).hide();", :id => "level_inputs_#{index}_set_desc", :style => "display:none;"%>
    </div>
  
  </li>
<% end %>
