<td>
  <% if !grouping.has_submission? %>
    <% if assignment.submission_rule.can_collect_now? %>
      <%= link_to h(grouping.group.group_name), :action => 'collect_and_begin_grading', :id => assignment.id, :grouping_id => grouping.id %>
    <% else %>
      <%=h(grouping.group.group_name)%>
    <% end %>
  <% else %>
    <%= link_to h(grouping.group.group_name), :controller => 'results', :action => 'edit', :id => grouping.get_submission_used.result%>
  <% end %>
    (<%= h(grouping.accepted_students.collect{ |student| student.user_name}.join(',')) %>)
  <%='<span class="invalid">' + t(:invalid_grouping) + '</span>' if !grouping.is_valid? %>
  </td> 
  <% if !@details.nil? %>
    <% assignment.rubric_criteria.each do |criterion| %>
      <td>
        <% if grouping.has_submission? %>
          <% mark = grouping.get_submission_used.result.marks.find_by_rubric_criterion_id(criterion.id) %>
          <% if mark.nil? || mark.mark.nil?%>
            -
          <% else %>
            <%= mark.mark %>
          <% end %>
        <% else %>
          -
        <% end %>
      </td>
    <% end %>
  <% else %>
  <td>
    <%= link_to h(grouping.group.repository_name), :action => "repo_browser", :id => grouping.id %>
  </td>
  <td>
  <% if !grouping.has_submission? %>
  -
  <% else %>
    <%= h(grouping.get_submission_used.revision_timestamp.strftime(LONG_DATE_TIME_FORMAT)) %>
  <% end %>
  </td>
  <% end %>
  <td class="marking_state">
    <% if !grouping.has_submission? %>
	<% if assignment.submission_rule.can_collect_now? %>
	  <%= image_tag('icons/add.png')%>
	<% else %>
       	  -
	<% end %>
    <% else %>
	<% if !grouping.get_submission_used.has_result? %>
	    <%= image_tag('icons/pencil.png') %>
	<% else %>
	    <% if grouping.get_submission_used.result.marking_state == Result::MARKING_STATES[:complete]%>
		<% if !grouping.get_submission_used.result.released_to_students %>
		    <%= image_tag('icons/accept.png')%>
		<% else %>
		    <%= image_tag('icons/email_go.png')%>
		<% end %>
	    <% else %>
		<%= image_tag('icons/pencil.png')%>
	    <% end %>
    <% end %>
    <% end %>
  </td>
  <td>
  <% if !grouping.has_submission? %>
  -
<% else %>
  <% if !grouping.get_submission_used.has_result? %>
    -
  <% else %>
    <%= h(grouping.get_submission_used.result.total_mark) %>
  <% end %>
<% end %>
  </td>
