<td>
  <% if !grouping.has_submission? %>
    <% if assignment.submission_rule.can_collect_now? %>
      <%= link_to h(grouping.group.group_name), :action => 'collect_and_begin_grading', :id => assignment.id, :grouping_id => grouping.id %>
    <% else %>
      h(grouping.group.group_name)
    <% end %>
  <% else %>
    <%= link_to h(grouping.group.group_name), :controller => 'results', :action => 'edit', :id => grouping.get_submission_used.result%>
  <% end %>
    (<%= h(grouping.accepted_students.collect{ |student| student.user_name}.join(',')) %>)
  </td> 
  <td>
    <a href="#"><%= h(grouping.group.repository_name) %></a>
  </td>
  <td>
  <% if !grouping.has_submission? %>
  -
  <% else %>
    <%= h(grouping.get_submission_used.revision_timestamp.strftime(LONG_DATE_TIME_FORMAT)) %>
  <% end %>
  </td>
  <td>
  <% if !grouping.has_submission? %>
    <% if assignment.submission_rule.can_collect_now? %>
      <%= image_tag('icons/add.png')%>
    <% else %>
      -
    <% end %>
  <% else %>
    <% if !grouping.get_submission_used.has_result? %>
      <%= image_tag('icons/pencil.png') %>
    <% else %>
     <% if grouping.get_submission_used.result.marking_state == Result::MARKING_STATES[:complete]%>
      <%= image_tag('icons/accept/png')%>
     <% else %>
    <%= image_tag('icons/pencil.png')%>
     <% end %>
  <% end %>
<% end %>
  </td>
  <td>
  <% if !grouping.has_submission? %>
  -
<% else %>
  <% if !grouping.get_submission_used.has_result? %>
    -
  <% else %>
    <%= h(grouping.get_submission_used.result.total_mark) %>
  <% end %>
<% end %>
  </td>
  <td>
  <% if !grouping.has_submission? %>
  -
<% else %>
  <% if !grouping.get_submission_used.has_result? %>
    -
  <% else %>
    <% if grouping.get_submission_used.result.released_to_students %>
      Released
    <% else %>
      Not Released
    <% end %>
  <% end %>
<% end %>
</td>

