<% if grouping.non_rejected_student_memberships.size > 0 %>

<tr
<% if grouping.is_collected? %>
  style="background-color: #90EE90"
<% end %>>

<td>
  <input type="checkbox"
         name="groupings[]"
         class="ap_selectable"
         id="grouping_<%= grouping.id %>"
         value="<%= grouping.id %>" />
</td>
<td>
  <% if !grouping.has_submission? %>
    <% if assignment.submission_rule.can_collect_grouping_now?(grouping) %>
      <%= link_to grouping.group.group_name,
                  collect_and_begin_grading_assignment_submission_path(
                      assignment.id,
                      grouping.id) %>
    <% else %>
      <%= grouping.group.group_name %>
    <% end %>
  <% elsif !grouping.is_collected %>
    <%= link_to grouping.group.group_name,
                collect_and_begin_grading_assignment_submission_path(
                      assignment.id,
                      grouping.id) %>
  <% else %>
    <%= link_to grouping.group.group_name,
                 edit_assignment_submission_result_path(
                   assignment.id,
                   grouping.current_submission_used.id,
                   grouping.current_submission_used.get_latest_result) %>
  <% end %>
    (<%= grouping.accepted_students.collect{ |student| student.user_name}.join(',') %>)
  <%='<span class="invalid">' + t(:invalid_grouping) + '</span>' if !grouping.is_valid? %>
  </td>
  <% if !@details.nil? %>
    <% assignment.rubric_criteria.each do |criterion| %>
      <td>
        <% if grouping.has_submission? %>
          <% mark = grouping.current_submission_used.get_latest_result.marks.find_by_markable_id(criterion.id) %>
          <% if mark.nil? || mark.mark.nil?%>
            -
          <% else %>
            <%= mark.mark %>
          <% end %>
        <% else %>
          -
        <% end %>
      </td>
    <% end %>
  <% else %>
    <td>
      <%= link_to grouping.group.repository_name,
                  repo_browser_assignment_submission_path(assignment,
                                                          grouping) %>
    </td>
    <td>
    <% if !grouping.has_submission? %>
    -
    <% else %>
      <%= image_tag 'icons/error.png',
                    :title => t(:past_due_date_edit_result_warning,
                                :href => t(:last_commit)) if grouping.past_due_date? %>
      <%= I18n.l(grouping.current_submission_used.revision_timestamp :format => :long_date) %>
    <% end %>
    </td>
  <% end %>
  <td class="marking_state">
    <% if !grouping.has_submission? %>
	<% if assignment.submission_rule.can_collect_now? %>
	  <%= image_tag('icons/shape_square.png',
            :alt => I18n.t('marking_state.not_collected'),
            :title => I18n.t('marking_state.not_collected')) %>
	<% else %>
       	  -
	<% end %>
    <% else %>
	<% if !grouping.current_submission_used.has_result? %>
	    <%= image_tag('icons/pencil.png',
            :alt => I18n.t('marking_state.in_progress'),
            :title => I18n.t('marking_state.in_progress')) %>
	<% else %>
      <% if remark_in_progress(grouping.current_submission_used) %>
          <%= image_tag('icons/double_exclamation.png',
              :alt => I18n.t('marking_state.remark_requested'),
              :title => I18n.t('marking_state.remark_requested')) %>
      <% elsif grouping.current_submission_used.get_latest_result.marking_state == Result::MARKING_STATES[:complete] %>
          <% if !grouping.current_submission_used.get_latest_result.released_to_students %>
		        <%= image_tag('icons/accept.png',
                :alt => I18n.t('marking_state.completed'),
                :title => I18n.t('marking_state.completed')) %>
		      <% else %>
		        <%= image_tag('icons/email_go.png',
                :alt => I18n.t('marking_state.released'),
                :title => I18n.t('marking_state.released')) %>
          <% end %>
      <% else %>
		     <%= image_tag('icons/pencil.png',
            :alt => I18n.t('marking_state.in_progress'),
            :title => I18n.t('marking_state.in_progress')) %>
	    <% end %>
    <% end %>
    <% end %>
  </td>
  <td>
    <%= grouping.grace_period_deduction_single %>
  </td>
  <td>
  <% if !grouping.has_submission? %>
    -
  <% else %>
    <% if !grouping.current_submission_used.has_result? %>
      -
    <% else %>
      <%= grouping.current_submission_used.get_latest_result.total_mark %>
    <% end %>
  <% end %>
  </td>

  <%# We don't need to display the section of the group unless it is a section group 
      assignment %>
  <% if assignment.section_groups_only %>
  <td>
  	<%= grouping.section %>
  </td>
  <% end %>
  <td>
    <% if assignment.submission_rule.can_collect_grouping_now?(grouping) %>
      <%= image_tag('icons/tick.png') %>
    <% else %>
      <%= image_tag('icons/cross.png') %>
    <% end %>
  </td>
</tr>

<% end %>
