<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui', 'jquery-ui-timepicker-addon' %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon',
                             'PeriodDeltaChain/PeriodDeltaChain',
                             'localize_date'%>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeAutotestManager(document.getElementById('autotest-manager'),
                                { assignment_id: <%= @assignment.id %>,
                                  authenticity_token: '<%= form_authenticity_token(
                                    form_options: {action: manage_assignment_automated_tests_path, method: 'post'}) %>'
                                });

    });
  </script>
  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div class="wrapLeft">
  <%= render partial: 'shared/flash_message' %>
</div>

<div id='autotest-manager'></div>
