<%= render :partial => 'boot.js' %>

<div class="wrapLeft">
<% if flash[:success] %>
<div class="success">
  <span><%=flash[:success]%></span>
</div>
<% end %>

<%= form_for @assignment,
       :as => :assignment,
       :url => manage_assignment_automated_tests_path(),
       :html => {:multipart => true} do |f| %>
<%= f.error_messages%>

<fieldset>
  <legend><%= I18n.t("automated_tests.automated_tests") %></legend>

  <p id="testing_framework_style">
    <%= f.check_box :enable_test, :id => "is_testing_framework_enabled", :onchange => "toggle_automated_tests($F('is_testing_framework_enabled'))" %>
    <%= label_tag "is_testing_framework_enabled", I18n.t("automated_tests.enable_test"), :class => "checkbox_label" %>
  </p>

  <div id="testing_framework_tokens">
    <p id="tokens">
      <%= label_tag :tokens_per_day, I18n.t("automated_tests.token.tokens_form"), :class => "inline_label" %>
      <%= f.text_field :tokens_per_day, :id=>"tokens_per_day", :size => 5, :maxlength => 3 %>
    </p>
  </div>

  <fieldset>
    <div class="wrapLeft">
    <legend><%= I18n.t("automated_tests.required_test_files") %></legend>

      <h4><%= t("automated_tests.assignment_test_script_files") %></h4>
      <div id="test_script_files">
        <%= f.fields_for :test_scripts do |ts| %>
          <% if ts.object.filetype.to_s == "testscript" %>
            <%= render :partial => 'test_script_upload', :locals => {:test_script => ts.object, :form => f } %>
          <% end %>
        <% end %>
      </div>
      <p id="test_script_add_link">
        <%= add_test_script_link t("automated_tests.add_test_script_file_link"), f %>
      </p>

      <h4><%= t("automated_tests.assignment_test_support_files") %></h4>
      <div id="test_support_files">
        <%= f.fields_for :test_support_files do |tsf| %>
          <% if tsf.object.filetype.to_s == "testfile" %>
            <%= render :partial => 'test_support_file_upload', :locals => {:test_support_file => tsf.object, :form => f } %>
          <% end %>
        <% end %>
      </div>
      <p id="test_support_file_add_link">
        <%= add_test_support_file_link t("automated_tests.add_test_support_file_link"), f %>
      </p>

      <div id="test_script_options">
          <h4><%= t("automated_tests.test_parameters") %></h4>
            <% f.fields_for :test_scripts do |ts| %>
                <%= render :partial => 'test_script_options', :locals => { :test_script => ts.object, :form => f } %>
            <% end %>
      </div>

    </div>
    </div>
  </fieldset>
</fieldset>

<%= f.submit t(:submit) %>
<% end %>
</div>