<% content_for :head do %>
  <%= stylesheet_link_tag 'common/jquery-ui', 'common/jquery-ui-timepicker-addon' %>
  <%= javascript_include_tag 'jquery-ui-timepicker-addon',
                             'PeriodDeltaChain/PeriodDeltaChain',
                             'moment-with-langs.min',
                             'localize_date',
                             'collapse_toggle'%>

  <script>
    <%= render partial: 'boot',
               formats: [:js],
               handlers: [:erb] %>
  </script>
  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<div class="wrapLeft">
<% if flash[:success] %>
  <div class="success">
    <span><%=flash[:success]%></span>
  </div>
  <% elsif flash[:error] %>
  <div class="error">
    <span><%=flash[:error]%></span>
  </div>
<% end %>

<%= form_for @assignment,
             as: :assignment,
             url: manage_assignment_automated_tests_path,
             html: {multipart: true} do |f| %>
  <%= f.error_messages%>
    <p id="testing_framework_style">
      <%= f.check_box :enable_test, id: "is_testing_framework_enabled", onchange: "toggle_tests(jQuery('#is_testing_framework_enabled').is(':checked'))" %>
      <%= label_tag "is_testing_framework_enabled", I18n.t("automated_tests.enable_test"), class: "checkbox_label" %>
    </p>
    <fieldset style="<%= 'display:none;' unless @student_tests_on %>">
      <legend><%= t("automated_tests.student_tests") %></legend>
      <p>
        <%= f.check_box :enable_student_tests, id: "are_student_tests_enabled", onchange: "toggle_student_tests(jQuery('#are_student_tests_enabled').is(':checked'))" %>
        <%= label_tag "are_student_tests_enabled", I18n.t("automated_tests.enable_student_tests"), class: "checkbox_label" %>
      </p>
      <div id='testing_framework_tokens'>
        <p id='tokens'>
          <%= label_tag :tokens_per_period,
                        t('automated_tests.token.tokens_form'),
                        class: 'inline_label' %>
          <%= f.text_field :tokens_per_period,
                           size: 5, maxlength: 3 %>
          <%= label_tag :token_start_date,
                        t('automated_tests.tokens_available_on'),
                        style: 'margin-left: 20px' %>
          <%= f.text_field :token_start_date,
                           onchange: 'set_onbeforeunload(true);',
                           value: @assignment.token_start_date.nil? ? '' :
                               @assignment.token_start_date.strftime(
                                   '%Y-%m-%d %l:%M %p'),
                           size: 35,
                           placeholder: t('date.formats.datetime_placeholder')%>
          <%= label_tag :token_period, I18n.t("automated_tests.token.tokens_regenerate"),
                        class: 'inline_label' %>
          <%= f.text_field :token_period,
                           size: 5, maxlength: 3,
                           style: "margin-left: -25px" %>
          <%= I18n.t("automated_tests.token.hours")%>
          <%= label_tag :unlimited_tokens, t('automated_tests.token.unlimited'),
                        class: 'checkbox_label', style: 'text-align: right;' %>
          <%= f.check_box :unlimited_tokens,
                          onchange: "toggle_tests_tokens(jQuery('#assignment_unlimited_tokens').is(':checked'))" %>
        </p>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t("automated_tests.assignment_test_script_files") %></legend>
      <p>
        <%= button_tag t('marker.marks.expand_all'), type: 'button', id: 'expand_all' %>
        <%= button_tag t('marker.marks.collapse_all'), type: 'button', id: 'collapse_all'%>
      </p>
      <p><%= raw t("assignment.required_fields") %><span class='required_field'>*</span></p>

      <div id="test_scripts">
        <% @assignment.test_scripts.each do |ts| %>
            <%= render partial: 'test_script_upload', locals: {test_script: ts, form: f} %>
        <% end %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t("automated_tests.assignment_test_support_files") %></legend>
      <p><%= raw t("assignment.required_fields") %><span class='required_field'>*</span></p>
      <div class="wrapLeft">
        <div id="test_support_files">
          <% @assignment.test_support_files.each do |tsf| %>
              <%= render partial: 'test_support_file_upload', locals: {test_support_file: tsf, form: f} %>
          <% end %>
        </div>
      </div>
    </fieldset>

    <%= f.submit t(:submit) , disable_with: I18n.t('working'), onclick: 'set_onbeforeunload(false);'%>
  <% end %>
</div>
