<%# ran_by       → |               |                              |%>
<%# current_user ↓ |               |                              |%>
<%#                |   'student'   |         'instructor'         |%>
<%#    .student?   | student tests | instr tests, results tab     |%>
<%#   !.student?   | XXXXXXXXXXXXX | instr tests, submissions tab |%>
<div class='test-result'>
  <% test_script = test_script_result.test_script %>
  <% show_output = (
    !current_user.student? ||
    test_script.display_actual_output == 'display_after_submission' ||
    (ran_by == 'student' && test_script.display_actual_output == 'display_after_collection')) %>

  <h4>
    <% if test_script.nil? %>
      <% t('automated_tests.results.unknown_test_script') %>
    <% else %>
      <%= "#{test_script.file_name}" %>
    <% end %>
    <% unless test_script.description.blank? %>
      <%= "- #{test_script.description}" %>
    <% end %>
  </h4>
  <div class='table'>
    <table class="results_table">
      <thead>
        <tr>
          <th><%= t('automated_tests.test_results_table.test_name') %></th>
          <% if false %><th><%= t('automated_tests.test_results_table.input') %></th><% end %>
          <% if show_output %><th><%= t('automated_tests.test_results_table.output') %></th><% end %>
          <% if false %><th><%= t('automated_tests.test_results_table.expected') %></th><% end %>
          <th><%= t('automated_tests.test_results_table.status') %></th>
          <th><%= t('automated_tests.test_results_table.marks_earned') %></th>
          <th><%= t('automated_tests.test_results_table.marks_total') %></th>
        </tr>
      </thead>
      <tbody>
        <% test_script_result.test_results.each do |test| %>
          <% bonus_marks = test.marks_earned - test.marks_total %>
          <tr class="<%= "test-result-#{test.completion_status}" %>">
            <td><%= test.name %></td>
            <% if false %><td><%= test.input %></td><% end %>
            <% if show_output %><td><%= test.actual_output %></td><% end %>
            <% if false %><td><%= test.expected_output %></td><% end %>
            <td><%= t("automated_tests.test_results_table.#{test.completion_status}") %></td>
            <td>
              <% if bonus_marks > 0 %>
                <%= "#{sprintf('%g', test.marks_total)}
                     (+#{sprintf('%g', bonus_marks)} #{t('automated_tests.test_results_table.marks_bonus')})" %>
              <% else %>
                <%= sprintf('%g', test.marks_earned) %>
              <% end %>
            </td>
            <td><%= sprintf('%g', test.marks_total) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% unless test_script_result.extra_info.nil? %>
      TODO The test script returned extra info <% test_script_result.extra_info %>
    <% end %>
  </div>
</div>
