<div class="test_support_file">

  <%= form.fields_for :test_support_files, test_support_file do |f| %>
    <% saved = !f.object.new_record? %>

    <fieldset class="settings_box">
      <legend>
        <span class='file_name'>
          <% if saved %>
            <%= link_to(f.object.file_name,
                        action: 'download',
                        assignment_id: @assignment.id,
                        filename: f.object.name) %>
            <%= f.hidden_field :file_name, value: f.object.file_name %>
          <% else %>
            <%= t('automated_tests.new_test_support_file') %>
          <% end %>
        </span>
      </legend>
      <br/><br/>

      <div class="settings_left_side">

        <%= f.label :file_name, (saved ? t('automated_tests.script_option.replace') :
                                         t('automated_tests.script_option.upload_required').html_safe),
                    title: (saved ? t('automated_tests.script_option.replace_help') :
                                    t('automated_tests.script_option.upload_help')) %>
        <%= file_field_tag (saved ? ('new_update_file_'+f.object.file_name).to_sym :
                                    :new_support_file),
                           class: 'upload_file' %><br/>

        <div class="desc">
          <%= f.label :description, t('automated_tests.script_option.description') %>
          <%= f.text_area :description, cols: 29, rows: 2 %>
        </div>

        <% if saved %>
          <%= f.label :_destroy, t('automated_tests.script_option.remove_file'),
                      title: t('automated_tests.script_option.remove_file_help') %>
          <%= f.check_box :_destroy, class: 'remove_test_script_file' %>
          <br/><br/>
        <% end %>

      </div>

    </fieldset>
  <% end %>
</div>
