<div class="test_support_file">
<%= form.fields_for :test_support_file, test_support_file do |f| %>

  <%= f.label :file_name, f.object.file_name %>

  <% if f.object.id %>
    <%= text_field_tag 'test_support_file_' + f.object_id.to_s, f.object.file_name, :readonly => "true" %>
    <%= label_tag "replace_filename", I18n.t("automated_tests.replace"), :class => "inline_label" %>
  <% end %>

  <%= f.file_field :file_name, :size=>"30" %>

  <% if !f.object.new_record? %>
    <%= f.label :_destroy, I18n.t(:remove), :class => "checkbox_label" %>
    <%= f.check_box :_destroy %>
  <% else %>
    <%= link_to_function I18n.t(:remove), "$(this).up('.test_support_file').remove()" %>
  <% end %>

  <%= f.label :description, I18n.t("automated_tests.script_option.description") %>
  <%= f.text_field :description %> </br>

<% end %>
</div>
