<div class='test-result'>
  <% test_script = test_script_result.test_script %>
  <% show_output = (
    !current_user.student? ||
    test_script.display_actual_output == 'display_after_submission' ||
    (ran_by == 'student' && test_script.display_actual_output == 'display_after_collection')) %>

  <h3>
    <%= "#{test_script.file_name}" %>
    <% unless test_script.description.blank? %>
      <%= "- #{test_script.description}" %>
    <% end %>
    <span class='right'>
      <%= l(test_script_result.created_at, format: :long) %>
      <%= "(#{test_script_result.requested_by.user_name})" %>
    </span>
  <% if test_script_result.created_at == latest_date %>
      <%= link_to 'Hide Results', 'javascript:void(0)', onclick: 'toggleResult(this);', class: 'collapse'%>
  <% else %>
      <%= link_to 'Show Results', 'javascript:void(0)', onclick: 'toggleResult(this);', class: 'expand' %>
  <% end %>
  </h3>
  <div class='table'>
    <table class="results_table" id="<%=test_script_result.created_at.to_s.delete(' ')%>">
      <thead>
        <tr>
          <th><%= t('automated_tests.test_results_table.test_name') %></th>
          <% if false %><th><%= t('automated_tests.test_results_table.input') %></th><% end %>
          <% if show_output %><th><%= t('automated_tests.test_results_table.output') %></th><% end %>
          <% if false %>
          <th><%= t('automated_tests.test_results_table.expected') %></th>
          <% end %>
          <th><%= t('automated_tests.test_results_table.status') %></th>
          <th><%= t('automated_tests.test_results_table.marks') %></th>
        </tr>
      </thead>
      <tbody>
        <% test_script_result.test_results.each do |test| %>
          <tr class="<%= "test-result-#{test.completion_status}" %>">
            <td><%= test.name %></td>
            <% if false %><td><%= test.input %></td><% end %>
            <% if show_output %><td><%= test.actual_output %></td><% end %>
            <% if false %>
            <td><%= test.expected_output %></td>
            <% end %>
            <td><%= t("automated_tests.test_results_table.#{test.completion_status}") %></td>
            <td>
            <% if test.marks_total.nil? %>
              <%= sprintf('%g', test.marks_earned) %>
            <% else %>
              <%= "#{sprintf('%g', test.marks_earned)}/#{sprintf('%g', test.marks_total)}" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <script>hideIfNotLatest("<%=latest_date.to_s.delete(' ')%>", "<%=test_script_result.created_at.to_s.delete(' ')%>")</script>
</div>
