<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeTestScriptResultTable(document.getElementById('test_script_result_table'), {
        result_id: <%= @result&.id || 'null' %>,
        submission_id: <%= @result&.submission_id || 'null' %>,
        assignment_id: <%= @assignment.id %>,
        grouping_id: <%= @grouping.id %>,
        instructor_run: <%= ran_by == 'instructor' %>,
        instructor_view: <%= !@current_user.student? %>
      });
    })
  </script>
<% end %>

<h2>
  <% authorized, reason = AutomatedTestsClientHelper.allowed_to?(@current_user, @grouping, @result&.submission) %>
  <% route = @current_user.admin? ?
               run_tests_assignment_submission_result_path :
               execute_test_run_automated_test_path(id: @assignment.id, grouping_id: @grouping.id) %>
  <%= t('automated_tests.test_results') %>
  <%= button_to t('automated_tests.run_tests'), route, disabled: !authorized, form: { style: 'display: inline;' } %>
</h2>
<div class="block_content">
  <div id='test_script_result_table'></div>
</div>
