<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeTestScriptResultTable(document.getElementById('test_script_result_table'), {
        result_id: <%= @result&.id || 'null' %>,
        submission_id: <%= @result&.submission_id || 'null' %>,
        assignment_id: <%= @assignment&.id || 'null' %>,
        grouping_id: <%= @grouping&.id || 'null' %>,
        instructor_run: <%= ran_by == 'instructor' %>,
        instructor_view: <%= @current_user.admin? || @current_user.ta? ||
                          @current_user.is_reviewer_for?(@assignment.pr_assignment, @result) %>
      });
    })
  </script>
<% end %>
<h2><%= t('automated_tests.test_results') %></h2>
<div class="block_content">
  <div class="sub_block test_points">
    <%# This run tests button is only for instructors before releasing the marks %>
    <% if @current_user.admin? && local_assigns[:submission] && !submission.current_result.released_to_students %>
      <%= link_to t('automated_tests.run_tests'),
                  run_tests_assignment_submission_result_path,
                  class: 'button run_tests right' %>
    <% end %>
  </div>
  <%# if @current_user.admin? && !test_runs.empty? %>
    <%#= render partial: 'automated_tests/test_run',
               collection: test_runs %>
  <%# end %>
  <br/>
  <div id='test_script_result_table'></div>
</div>
