<div class="test_file">
<%= form.fields_for :test_files, test_file do |f| %>

  <%= f.label :filename, t(:filename).html_safe %>

  <% if f.object.id %>
    <%= text_field_tag 'test_file_' + f.object_id.to_s, f.object.filename, readonly: "true" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= label_tag "replace_filename", I18n.t("automated_tests.replace"), class: "inline_label" %>
  <% end %>

  <%= f.file_field :filename, size:"30" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <% if file_type == "test" %>
    <%= f.label :is_private, I18n.t("automated_tests.private"), class: "checkbox_label" %>
    <%= f.check_box :is_private %>
  <% end %>

  <% if !f.object.new_record? %>
    <%= f.label :_destroy, I18n.t(:remove), class: "checkbox_label" %>
    <%= f.check_box :_destroy %>
  <% else %>
    <%= link_to I18n.t(:remove),
                'javascript:void(0);',
                onclick: "jQuery(this).parents(\".test_file\").remove()" %>
  <% end %>

  <% if file_type == "test" %>
    <%= f.hidden_field :filetype, value: "test" %>
  <% elsif file_type == "lib" %>
    <%= f.hidden_field :filetype, value: "lib" %>
  <% elsif file_type == "parse" %>
    <%= f.hidden_field :filetype, value: "parse" %>
  <% end %>

<% end %>
</div>
