<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeTestScriptResultTable(document.getElementById('test_script_result_table'), {
        result_id: <%= @result&.id || 'null' %>,
        submission_id: <%= @result&.submission_id || 'null' %>,
        assignment_id: <%= @assignment.id %>,
        grouping_id: <%= @grouping.id %>,
        instructor_run: <%= ran_by == 'instructor' %>,
        instructor_view: <%= !@current_user.student? %>
      });
    })
  </script>
<% end %>

<h2 class="test_runs_header">
  <%= t('automated_tests.test_results') %>
  <%# student results page (with instructor tests released) does not need the button %>
  <% unless @current_user.student? && ran_by == 'instructor' %>
    <% route = @current_user.admin? ?
                 run_tests_assignment_submission_result_path :
                 execute_test_run_automated_test_path(id: @assignment.id, grouping_id: @grouping.id) %>
    <%= button_to t('automated_tests.run_tests'), route, disabled: !@authorized %>
  <% end %>
</h2>
<div class="block_content">
  <div id='test_script_result_table'></div>
</div>
