<div class="test_script_file">
<%= form.fields_for :test_scripts do |f| %>

  <%= f.label :filename, t(:filename) %>

  <% if f.object.id %>
    <%= text_field_tag 'test_script_' + f.object_id.to_s, f.object.filename, :readonly => "true" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= label_tag "replace_filename", I18n.t("automated_tests.replace"), :class => "inline_label" %>
  <% end %>

  <%= f.file_field :filename, :size=>"30" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <% if f.object_id %>
    <%= f.label :run_on_request, I18n.t("automated_tests.script_option.run_on_request"), :class => "checkbox_label" %>
    <%= f.check_box :run_on_request %>
  <% end %>

  <% if !f.object.new_record? %>
    <%= f.label :_destroy, I18n.t(:remove), :class => "checkbox_label" %>
    <%= f.check_box :_destroy %>
  <% else %>
    <%= link_to_function I18n.t(:remove), "$(this).up('.test_script').remove()" %>
  <% end %>

  <% if f.object_id %>
    <%= f.text_field :description %> </br>
  <% end %>

<% end %>
</div>
