<div class="test_script">
  <% display_options = TestGroup.display_outputs.keys
       .map { |o| [I18n.t("automated_tests.test_group_option.display_to.#{o}"), o] }.to_h %>
  <% criterion_options = { '-' => nil }
    if !@assignment.rubric_criteria_count.nil?
       @assignment.get_criteria.each do |criterion|
         criterion_options[criterion.name] = [criterion.id, criterion.class.name]
       end
     else
       @assignment.get_criteria.each do |criterion|
         criterion_options[criterion.name] = [criterion.id, criterion.class.name]
       end
     end
  %>

  <%= form.fields_for :test_groups, test_group do |tg| %>
    <% saved = !tg.object.new_record? %>
    <fieldset class="settings_box">
      <legend>
        <span class='file_name'>
          <% if saved %>
            <%= tg.object.name %>
          <% else %>
            <%= t('automated_tests.new_test_group') %>
          <% end %>
        </span>
      </legend>
      <br/><br/>
      <div class="settings_left_side">
        <%= tg.select :name, options_for_select(@assignment.autotest_files, selected: tg.object.name) %>
        <br/>
        <% if saved %>
          <%= tg.label :_destroy, t('automated_tests.test_group_option.remove'),
                       title: t('automated_tests.test_group_option.remove_help') %>
          <%= tg.check_box :_destroy, class: 'remove_test_group' %>
          <br/><br/>
        <% end %>
      </div>

      <div class="settings_right_side">

        <%= tg.label :criterion_id, t('automated_tests.test_group_option.associated_criterion') %>
        <% selected = tg.object.criterion_id.nil? ?
                        nil :
                        [tg.object.criterion_id, tg.object.criterion_type].to_s %>
        <%= tg.select :criterion_id, options_for_select(criterion_options, selected) %><br/>

        <%= tg.label :run_by_instructors, t('automated_tests.test_group_option.run_by_instructors'),
                    title: t('automated_tests.test_group_option.run_by_instructors_help') %>
        <%= tg.check_box :run_by_instructors, value: tg.object.run_by_instructors %><br/>

        <div style="<%= 'display:none;' unless @student_tests_on %>">
          <%= tg.label :run_by_students, t('automated_tests.test_group_option.run_by_students'),
                      title: t('automated_tests.test_group_option.run_by_students_help') %>
          <%= tg.check_box :run_by_students, value: tg.object.run_by_students %><br/>
        </div>

        <div>
          <%= tg.label :display_output, t('automated_tests.test_group_option.display_output'),
                      title: t('automated_tests.test_group_option.display_output_help') %>
          <%= tg.select :display_output, options_for_select(display_options, tg.object.display_output) %>
        </div>

      </div>

    </fieldset>
  <% end %>
</div>
