<div class="test_script">
  <% display_options = {
      I18n.t("automated_tests.script_option.display_option.display_after_submission") => "display_after_submission",
      I18n.t("automated_tests.script_option.display_option.display_after_collection") => "display_after_collection",
      I18n.t("automated_tests.script_option.display_option.do_not_display") => "do_not_display"
  } # this is defined and used to validate input in test_script.rb
  %>
  <% criterion_options = { '-' => nil }
    if !@assignment.rubric_criteria_count.nil?
       @assignment.get_criteria.each do |criterion|
         criterion_options[criterion.name] = [criterion.id, criterion.class.name]
       end
     else
       @assignment.get_criteria.each do |criterion|
         criterion_options[criterion.name] = [criterion.id, criterion.class.name]
       end
     end
  %>


  <%= form.fields_for :test_scripts, test_script do |f| %>
    <% saved = !f.object.new_record? %>

    <fieldset class="settings_box">
      <legend>
        <span class='file_name'>
          <% if saved %>
          <div class="file_link">
            <%= link_to(f.object.script_name,
                        action: 'download',
                        assignment_id: @assignment.id,
                        type: 'script',
                        filename: f.object.script_name) %>
            <%= link_to saved ? '[-]' : '[+]',
                        'javascript:void(0);',
                        onclick: 'toggleSettings(this);',
                        class: 'collapse' %>
          </div>
              <%= f.hidden_field :script_name, value: f.object.script_name %>
          <% else %>
            <%= t('automated_tests.new_test_script_file') %>
          <% end %>
        </span>
      </legend>
      </br>


      <%= f.hidden_field :seq_num, value: saved ? f.object.seq_num : nil,
                         class: "seqnum" %>

      <div class="settings_left_side">
        <div class="desc">
          <%= f.label :description, t('automated_tests.script_option.description'), style: 'vertical-align:top;' %>
          <%= f.text_area :description, value: f.object.description, cols: 30, rows: (saved ? 1 : 2)  %>
        </div>

        <%# For new test scripts, the settings box will be expanded and the settings box
      will be below the description textarea. For existing test scripts, their max
      marks field will be in the right side %>

        <% maxmarks_section  = '<div class="maxmarks">'
           maxmarks_section += f.label :max_marks, raw(t 'automated_tests.script_option.max_marks'),
                                                   title: t('automated_tests.script_option.max_marks_tooltip')
           maxmarks_section += "\n"
           maxmarks_section += f.text_field :max_marks, value: f.object.max_marks, size: 10, maxlength: 8
           maxmarks_section += '</div>' %>
        <% if !saved %>
            <%= raw maxmarks_section %>
        <% end %>

        <div style="display:none">
          <%= f.label :display_settings, t('automated_tests.script_option.display_settings') %> <br/>
          <ul>
            <li>
              <%= f.label :display_description, t('automated_tests.script_option.display_description') %>
              <%= f.select :display_description, options_for_select(display_options, f.object.display_description) %>
            </li>
            <li>
              <%= f.label :display_run_status, t('automated_tests.script_option.display_run_status') %>
              <%= f.select :display_run_status, options_for_select(display_options, f.object.display_run_status) %>
            </li>
            <li>
              <%= f.label :display_marks_earned, t('automated_tests.script_option.display_marks_earned') %>
              <%= f.select :display_marks_earned, options_for_select(display_options, f.object.display_marks_earned) %>
            </li>
            <li>
              <%= f.label :display_input, t('automated_tests.script_option.display_input') %>
              <%= f.select :display_input, options_for_select(display_options, f.object.display_input) %>
            </li>
            <li>
              <%= f.label :display_expected_output, t('automated_tests.script_option.display_expected_output') %>
              <%= f.select :display_expected_output, options_for_select(display_options, f.object.display_expected_output) %>
            </li>
            <li>
              <%= f.label :display_actual_output, t('automated_tests.script_option.display_actual_output') %>
              <%= f.select :display_actual_output, options_for_select(display_options, f.object.display_actual_output) %>
            </li>
          </ul>
        </div>
      </div>

      <div class="settings_right_side">
        <% if saved %>
            <%= raw maxmarks_section %>
        <% end %>
        <div>
          <%= f.label :script_name, (saved ? t('automated_tests.replace') : t('automated_tests.upload_required').html_safe) %>
          <%= file_field_tag (saved ? ("new_update_script_"+f.object.script_name).to_sym : :new_script), size: "30", class: 'upload_file' %><br/>

          <% if saved %>
              <%= f.label :_destroy, t('automated_tests.remove_file') %>
              <%= f.check_box :_destroy, class: "remove_test_script_file" %>
              <br/><br/>
          <% end %>

          <%= f.label :criterion_id, t('automated_tests.script_option.associated_criterion') %>
          <% selected = f.object.criterion.nil? ?
                          nil :
                          [f.object.criterion_id, f.object.criterion_type].to_s %>
          <%= f.select :criterion_id, options_for_select(criterion_options, selected) %>

          <br/><br/>

          <%= f.label :run_by_instructors, t("automated_tests.script_option.run_by_instructors") %>
          <%= f.check_box :run_by_instructors, value: f.object.run_by_instructors %><br/>

          <div style="<%= 'display:none;' unless @student_tests_on %>">
          <%= f.label :run_by_students, t("automated_tests.script_option.run_by_students") %>
          <%= f.check_box :run_by_students, value: f.object.run_by_students %><br/>
          </div>

          <div style="display:none">
          <%= f.label :halts_testing, t("automated_tests.script_option.halts_testing") %>
          <%= f.check_box :halts_testing, value: f.object.halts_testing %>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>
    </fieldset>
  <% end %>
</div>
