<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeTestRunTable(document.getElementById('test_run_table'), {
        result_id: <%= @result&.id || 'null' %>,
        submission_id: <%= @result&.submission_id || 'null' %>,
        assignment_id: <%= @assignment.id %>,
        grouping_id: <%= @grouping.id %>,
        instructor_run: <%= ran_by == 'instructor' %>,
        instructor_view: <%= !@current_user.student? %>
      });
    })
  </script>
<% end %>

<h2>
  <%= TestResult.model_name.human.pluralize %>
</h2>

<%# student results page (with instructor tests released) does not need the button %>
<% unless @current_user.student? && ran_by == 'instructor' %>
  <% route = @current_user.admin? ?
    run_tests_assignment_submission_result_path :
    execute_test_run_automated_test_path(id: @assignment.id, grouping_id: @grouping.id) %>
  <div class="rt-action-box">
    <%= button_to t('automated_tests.run_tests'), route, disabled: !@authorized %>
  </div>
<% end %>

<div id='test_run_table'></div>
