<% content_for :head do %>
  <%= stylesheet_link_tag("TestFrameworkSettings") %>
<% end %>

<%= javascript_include_tag "create_assignment" %>
<%= javascript_include_tag "testframework_config" %>

<div id="title_bar"><h1><%= I18n.t("automated_tests.automated_tests") %></h1>
</div>
<%= render :partial => 'form' %>
