<% content_for :title, t('automated_tests.title') %>
<%= stylesheet_link_tag 'result_main' %>
<%= stylesheet_link_tag 'result' %>
<%= javascript_include_tag 'result', nonce: true %>
<%= javascript_include_tag 'Results/main', nonce: true %>

<% if @assignment.enable_student_tests && !@grouping.nil? %>
  <p>
    <strong><%= Assignment.human_attribute_name(:token_start_date) %>:</strong>
    <%= l(@assignment.token_start_date) %>
  </p>

  <p>
    <strong><%= Assignment.human_attribute_name(:token_end_date) %>:</strong>
    <%= @assignment.token_end_date.present? ? l(@assignment.token_end_date) : l(@grouping.collection_date) %>
  </p>

  <% unless @assignment.unlimited_tokens || @assignment.non_regenerating_tokens %>
    <p>
      <strong><%= Assignment.human_attribute_name(:token_period) %>:</strong>
      <%= "#{@assignment.token_period} #{t('durations.any_hours')}" %>
    </p>
  <% end %>

  <p>
    <strong><%= Grouping.human_attribute_name(:test_tokens) %>:</strong>
    <% if @assignment.unlimited_tokens %>
      <%= Assignment.human_attribute_name(:unlimited_tokens) %>
    <% else %>
      <%= @grouping.test_tokens %> / <%= @assignment.tokens_per_period %>
    <% end %>
  </p>

  <p>
    <%= t('automated_tests.need_one_file') %>
  </p>

  <%= render partial: 'automated_tests/test_runs', locals: { ran_by: 'student' } %>

<% elsif @grouping.nil? %>
  <p><%= t('automated_tests.need_group_for_test') %></p>
<% else %>
  <p><%= t('automated_tests.testing_disabled') %></p>
<% end %>
