<% # UI LIBRARIES %>
<%= javascript_include_tag "livepipe/livepipe.js",
  "livepipe/window.js" %>

  <% # HTML for Student Testing Interface %> 
<div class="block">
  <h2><%= I18n.t("automated_tests.title") %></h2>
  
  <% if flash[:failure] && !flash[:failure].empty? %>
    <div class="notice">
      <%=flash[:failure]%>
    </div>
  <% end %>

  <% if flash[:notice] && !flash[:notice].empty? %>
    <div class="success">
      <%=flash[:notice]%>
    </div>
  <% end %>
<% if @assignment.enable_test %>
  <% if @grouping.nil? %>
    <div class="sub_block">
      <br />
        <%= I18n.t("automated_tests.need_group_for_test") %>
      <br />
    </div>
  <% else %>
    <div class="block_content">
      <h3><%= I18n.t("automated_tests.information") %></h3>
      <div class="sub_block">
        <%= raw( I18n.t("automated_tests.token.tokens_per_day",
                         :tokens => @assignment.tokens_per_day) ) %>
      </div>
      <br />
      <div class="sub_block">
        <% if @token.nil? %>
          <%= raw ( I18n.t("automated_tests.token.tokens_not_given_yet") ) %>
        <% else %>
          <% if @token.tokens == 0 %>
            <%= raw( I18n.t("automated_tests.token.tokens_no_more_available") ) %>
          <% else %>
            <%= raw( I18n.t("automated_tests.token.tokens_available",
                            :tokens => @token.tokens) ) %>
          <% end %>
        <% end %>
        <br />
      </div>
      <br />
      <% if !@token.nil? && @token.tokens > 0 %>
        <h3><%= I18n.t("automated_tests.run_tests") %></h3>
        <% if @grouping.assignment.submission_rule.can_collect_now? %>
          <%= I18n.t("automated_tests.due_date_is_passed") %>
          <br />
        <% else %>
          <%= I18n.t("automated_tests.need_one_file") %>
          <br />
          <%= link_to I18n.t("automated_tests.run_tests"), {:controller => 'automated_tests', :action => 'student_interface', :id => @assignment.id, :grouping_id => @grouping.id , :revision_number => @revision_number, :run_tests => true}, :class => "button"%>
          <br />
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>

	<% if !@test_script_results.nil? %>
	<div class="block">
	  <h2><%= I18n.t("automated_tests.test_results") %></h2>
	  <h3><%= I18n.t("common.test_results") %></h3>
	  <div class="sub_block">
	  	<%= raw ( I18n.t("automated_tests.marks_obtained", 
	   	          	      :marking => "#{@grouping.get_total_test_script_marks * 1.0} / #{@assignment.total_request_script_marks * 1.0}" ) ) %>
	  </div>
	  <div id="test_results" class="sub_block">
		  <% test_script_results = TestScriptResult.find_all_by_grouping_id(@grouping.id) %>
		
		  <ul>
		  <% test_script_results.each do |ts_result| %>
		  	<% test_script = TestScript.find(ts_result.test_script_id) %>
		  	<li>
		  	  Script name: <%= test_script.script_name %>
		  	  <ul>
		  	  <li>Revision used: <%= ts_result.repo_revision.to_i %></li>
		  	  <li>Marks earned: <%= ts_result.marks_earned %></li>
		   	  <% test_results = TestResult.where(:grouping_id => ts_result.grouping_id, 
		   	                                     :test_script_id => ts_result.test_script_id, 
		   	                                     :test_script_result_id => ts_result.id) %>
		  	  <% test_results.each do |t_result| %>
		 	    <li>Test name: <%= t_result.name %></li>
		   	    <ul>
		   	      <% if test_script.display_run_status == "display_after_submission" or
		   	      			(test_script.display_run_status == "display_after_collection" &&
		   	      			@grouping.is_collected) %>
			 	      <li>Completion Status: <%= t_result.completion_status %></li>
			 	      <% end %>
			 	      <% if test_script.display_marks_earned == "display_after_submission" or
			   	      		(test_script.display_marks_earned == "display_after_collection" &&
			   	      		@grouping.is_collected) %>
			 	      <li>Marks_earned: <%= t_result.marks_earned %></li>
			 	      <% end %>
			 	      <% if test_script.display_input == "display_after_submission" or
                    (test_script.display_input == "display_after_collection" &&
                    @grouping.is_collected) %>
			  	      <li>Input description: <%= t_result.input_description %></li>
			  	    <% end %>
			 	      <% if test_script.display_actual_output == "display_after_submission" or
                    (test_script.display_actual_output == "display_after_collection" &&
                    @grouping.is_collected) %>
			  	      <li>Actual output: <%= t_result.actual_output %></li>
			  	    <% end %>
			 	      <% if test_script.display_expected_output == "display_after_submission" or
                    (test_script.display_expected_output == "display_after_collection" &&
                    @grouping.is_collected) %>
			  	      <li>Expected output: <%= t_result.expected_output %></li>
			  	    <% end %>
		  	    </ul>
		  	    <ul> </ul>
		  	  <% end %>
		  	  </ul>
		  	</li>
		  <% end %>
		  </ul>
		</div>
	<% end %>
<% else %>
  <div class="block_content">
    <h3><%= I18n.t("automated_tests.information") %></h3>
    <div class="sub_block">
      <%= I18n.t("automated_tests.testing_disabled") %>
    </div>
  </div>
<% end %>
</div>

