<% content_for :title, t('automated_tests.title') %>

<% if @assignment.enable_student_tests && !@grouping.nil? %>
  <div class='block'>
    <div class='block_content'>
      <h3><%= t('automated_tests.information') %></h3>

        <div class='sub_block'>
          <span class="prop_label"><%= Assignment.human_attribute_name(:token_start_date) %></span>
          <%= l(@assignment.token_start_date) %>
        </div>

        <% unless @assignment.unlimited_tokens || @assignment.non_regenerating_tokens %>
          <div class='sub_block'>
            <span class="prop_label">
              <%= Assignment.human_attribute_name(:token_period) %>
            </span>
            <%= "#{@assignment.token_period} #{t(:hours)}" %>
          </div>
        <% end %>

        <div class='sub_block'>
          <span class="prop_label"><%= Grouping.human_attribute_name(:test_tokens) %></span>
          <% if @assignment.unlimited_tokens %>
            <%= Assignment.human_attribute_name(:unlimited_tokens) %>
          <% else %>
            <%= @grouping.test_tokens %> / <%= @assignment.tokens_per_period %>
          <% end %>
        </div>

        <div class='sub_block'>
          <%= t('automated_tests.need_one_file') %>
        </div>
    </div>
  </div>

  <div class='block'>
    <%= render partial: 'automated_tests/test_runs', locals: { ran_by: 'student' } %>
  </div>

<% elsif @grouping.nil? %>
  <div class='block'>
      <%= t('automated_tests.need_group_for_test') %>
  </div>
<% else %>
  <div class='block'>
    <h3><%= t('automated_tests.information') %></h3>
    <div class='sub_block'>
      <%= t('automated_tests.testing_disabled') %>
    </div>
  </div>
<% end %>
