<% content_for :title, t('automated_tests.title') %>

<% if @assignment.enable_student_tests && !@grouping.nil? %>
  <div class='block'>
    <div class='block_content'>
      <h3><%= t('automated_tests.information') %></h3>

        <div class='sub_block'>
          <span class="prop_label"><%= t('automated_tests.token.start_date') %></span>
          <%= l(@assignment.token_start_date) %>
        </div>

        <% unless @assignment.unlimited_tokens || @assignment.non_regenerating_tokens %>
          <div class='sub_block'>
            <span class="prop_label">
              <%= t('automated_tests.token.per_period', period: @assignment.token_period) %>
            </span>
            <% @assignment.tokens_per_period %>
          </div>
        <% end %>

        <div class='sub_block'>
          <span class="prop_label"><%= t('automated_tests.token.available') %></span>
          <% if @assignment.unlimited_tokens %>
            <%= t('automated_tests.token.unlimited') %>
          <% else %>
            <% @grouping.test_tokens %>
          <% end %>
        </div>

        <div class='sub_block'>
          <%= raw t('automated_tests.need_one_file') %>
        </div>

    </div>
  </div>

  <div class='block'>
    <%= render partial: 'automated_tests/test_runs', locals: { ran_by: 'student' } %>
  </div>

<% elsif @grouping.nil? %>
  <div class='block'>
      <%= t('automated_tests.need_group_for_test') %>
  </div>
<% else %>
  <div class='block'>
    <h3><%= t('automated_tests.information') %></h3>
    <div class='sub_block'>
      <%= t('automated_tests.testing_disabled') %>
    </div>
  </div>
<% end %>

