<div class='notes_wrapper'>
  <div id='notes_error' class='error' style='display:none;'>
    <p id='notes_error_message'><%= t('notes.error') %></p>
    <div id='notes_error_list'></div>
  </div>

  <div class='notes_existing'>
    <h3><%= t('notes.existing') %></h3>
    <div class='notes_existing_list'>
      <% @notes.each do |note| %>
        <div class='note'>
          <p><strong><%= note.user.user_name %>: </strong></p>
          <p><small><%=note.format_date%></small></p>
          <p><%= note.notes_message %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class='notes_new'>
    <h3><%= t('notes.comment') %></h3>
    <%= form_tag(
        add_note_notes_path(id: @return_id,
                            noteable_id: @noteable,
                            noteable_type: @cls,
                            user: @current_user,
                            action_to: @action,
                            controller_to: @cont,
                            highlight_field: @highlight_field,
                            number_of_notes_field: @number_of_notes_field ),
                            remote: true) do %>
      <%= text_area_tag(:new_notes, nil, rows: 12, cols: 32) %>
      <p class='p_margin'>
        <%= submit_tag t('notes.save'),
                       data: { disable_with: t('working') },
                       id: 'notes_submit',
                       onclick: 'modalNotesGroup.close();' %>
        <a class='button' onclick='modalNotesGroup.close();'><%= t(:cancel) %></a>
      </p>
    <% end %>
  </div>
</div>
