<div class='notes_wrapper'>
  <div id='notes_error' class='error no-display'>
    <p id='notes_error_message'><%= t('flash.actions.create.error', resource_name: Note.model_name.human) %></p>
    <div id='notes_error_list'></div>
  </div>

  <div class='notes_existing'>
    <h3><%= t('notes.existing') %></h3>
    <div class='notes_existing_list'>
      <% @notes.each do |note| %>
        <div class='note'>
          <p><strong><%= note.role.user_name %>: </strong></p>
          <p><small><%= note.format_date %></small></p>
          <p><%= note.notes_message %></p>
          <% if allowed_to?(:modify?, note) %>
            <%= button_to t('delete'),
                          { action: 'destroy',
                            id: note.id },
                          html: { title: t('notes.delete.link_title') },
                          data: { confirm: t('notes.delete.link_confirm') },
                          method: 'delete',
                          remote: true,
                          class: 'inline-button delete' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='notes_new'>
    <h3><%= Note.human_attribute_name(:notes_message) %></h3>
    <%= form_tag(
        add_note_course_notes_path(course_id: @current_course, noteable_id: @noteable,
                            noteable_type: @cls,
                            role: @current_role,
                            action_to: @action,
                            controller_to: @cont,
                            highlight_field: @highlight_field,
                            number_of_notes_field: @number_of_notes_field ),
                            remote: true) do %>
      <%= text_area_tag(:new_notes, nil, rows: 12, cols: 32) %>
      <p class='p_margin'>
        <%= submit_tag t(:save),
                       data: { disable_with: t('working') },
                       id: 'notes_submit' %>
        <a class='button' id="notes-cancel"><%= t(:cancel) %></a>
      </p>
    <% end %>
  </div>
</div>
