<%= content_for :modal_id, 'download_dialog' %>
<%= content_for :modal_title, t('download_the', item: t('graders.grader_maps')) %>
<%= content_for :modal_open_link, '#downloadModal' %>

<%= content_for :modal_content do %>

  <div class='clickable_links'>
    <div class='clickable_text'>
      <i class="fa-solid fa-download" aria-hidden="true"></i>
      <%= t('graders.download.grader_students') %>
    </div>
    <%= link_to '',
                { action: 'grader_mapping',
                  id: @grade_entry_form.id },
                class: 'make_div_clickable' if @current_role.instructor? %>
  </div>
  <section class='dialog-actions'>
    <input type='reset' id='download' value='<%= t(:cancel) %>'>
  </section>
<% end %>
