<script type='text/jsx'>
  /** @jsx React.DOM */

  var StudentsTable = React.createClass({
    studentCheckboxClicked: function(event) {
      var value = event.currentTarget.checked;
      var student_id = parseInt(event.currentTarget.getAttribute('id'), 10);
      var new_selected_students = this.props.selected_students.slice();
      if (value == true) {
        new_selected_students.push(student_id);
      } else {
        new_selected_students.splice(new_selected_students.indexOf(student_id), 1);
      }
      this.props.onSelectedStudentsChange(new_selected_students);
    },
    studentsCheckboxAllClicked: function(event) {
      if (event.currentTarget.checked) {
        var visible_rows = this.refs.myTable.state.visible_rows;
        var new_selected_students = visible_rows.map(function(x) {
          return x.id;
        }).slice();
        this.props.onSelectedStudentsChange(new_selected_students);
      } else {
        this.props.onSelectedStudentsChange([]);
      }
    },
    graderCheckboxClicked: function(event) {
      var value = event.currentTarget.checked;
      var grader_id = parseInt(event.currentTarget.getAttribute('id'), 10);
      var new_selected_graders = this.props.selected_graders_for_students.slice();
      if (value == true) {
        new_selected_graders.push(grader_id);
      } else {
        new_selected_graders.splice(new_selected_graders.indexOf(grader_id), 1);
      }
      this.props.onSelectedGradersForStudentsChange(new_selected_graders);
    },
    gradersInStudentsCheckboxAllClicked: function(event) {
      if (event.currentTarget.checked) {
        var visible_rows = this.refs.myTable.state.visible_rows;
        var new_selected_graders = [];
        for (var i = 0; i < visible_rows.length; i++) {
          for (var j = 0; j < visible_rows[i].graders.length; j++) {
            new_selected_graders.push(visible_rows[i].graders[j].props.key);
          }
        }
        this.props.onSelectedGradersForStudentsChange(new_selected_graders);
      } else {
        this.props.onSelectedGradersForStudentsChange([]);
      }
    },
    getInitialState: function() {
      return {
        students: [],
        graders_for_students: [],
        selected_students: [],
        sections: []
      };
    },
    updateSelectedStudents: function(students) {
      this.setState({selected_students:students});
    },
    componentWillMount: function() {
      this.refresh();
    },
    // Asks for new info from backend and sets props accordingly.
    refresh: function() {
      document.getElementById('working').style.display = '';
      jQuery.ajax({
        url: '<%= populate_grade_entry_form_marks_graders_path(@grade_entry_form) %>',
        method: 'POST',
        dataType: 'json',
        success: function(data) {
          this.setState({
            students: data[0],
            graders_for_students: [].concat.apply([], data[0].map(function(student){
              return student.graders;
            })),
            sections: data[1],
          });
        }.bind(this),
        complete: function() {
          document.getElementById('working').style.display = 'none';
        }

      });
    },
    render: function() {
      var section_filters = this.state.sections.map(function(section) {
        var filter = {
          name: section.name,
          text: section.name,
          func: function(group) {
            return group.section === section.name;
          }
        };
        return filter;
      });;
      var all = '<%= I18n.t('all') %>';
      section_filters.unshift({name: all, text: all, func: function(g) { return g; } });

      var columns = [
          {
            id: 'checkbox',
            content: <div>
              <input type='checkbox'
                onChange={this.studentsCheckboxAllClicked.bind(this)} />
              </div>,
            sortable: false,
            searchable: false
          },
          {
            id: 'user_name',
            content: '<%= j raw I18n.t(:'user.user_name') %>',
            sortable: true,
            searchable: true
          },
          {
            id: 'full_name',
            content: '<%= j raw I18n.t(:'user.full_name') %>',
            sortable: true,
            searchable: true
          },
          <%= raw @section_column  %>
          {
            id: 'graders',
            content:
              <input type='checkbox'
              onChange={this.gradersInStudentsCheckboxAllClicked.bind(this)}> <%= j raw I18n.t('graders.graders') %>
              </input>,
            sortable: true,
            searchable: false
          }
        ];

      // Do student-specific table stuff here.
      var students_data = this.props.students.map(function(student) {
        var g = {};
        g['id'] = student.id;
        g['checkbox'] = <input id={student.id} type='checkbox'
          checked={this.props.selected_students.indexOf(student.id) !== -1}
          onChange={this.studentCheckboxClicked} />
        g['user_name'] = student.user_name;
        g['full_name'] = student.first_name + " " + student.last_name;
        g['section'] = student.section_name == "" ? "-" : student.section_name;
        var graders = student.graders.length > 0 ? [] : '';
        for (var i = 0; i < student.graders.length; i++) {
           graders.push(<div key={student.graders[i].membership_id}>
             <input id={student.graders[i].membership_id}
              name='gests[]'
              value={student.graders[i].membership_id}
              type='checkbox'
              checked={this.props.selected_graders_for_students.indexOf(
                      student.graders[i].membership_id) !== -1 ? true : false}
              onChange={this.graderCheckboxClicked} />{student.graders[i].user_name}</div>);
        }
        g['graders'] = graders;

        return g;
      }.bind(this));

      return (
        <div className='tab-pane ui-tabs ui-widget ui-widget-content ui-corner-all' id='groups-tabs'>
          <Table data={students_data} ref="myTable"
            filters={section_filters} filter_type={section_filters.length > 3}
            search_placeholder={'<%= j raw I18n.t(:'students.search_students') %>'}
            onSelectedRowsChange={this.updateSelectedStudents}
            columns={columns} />
        </div>
      );
    }
  });

  React.renderComponent(<StudentsTable sections={<%= raw @sections.to_json %>} />, document.getElementById('students_table'));
</script>
