<script type='text/jsx'>
  /** @jsx React.DOM */

  // The buttons for random_assign, assigning and unsassigning
  var MarksGradersActions = React.createClass({
    propTypes: {
      selected_graders: React.PropTypes.array,
      selected_students: React.PropTypes.array,
      selected_graders_in_groups: React.PropTypes.array,
      current_table: React.PropTypes.string
    },
    // Assign the marks graders etc
    performAction: function(event) {
      var action = event.currentTarget.getAttribute('id');
      var dataLoad = {
        submit_type: 'global_action',
        current_table: this.props.current_table,
        global_actions: action,
        graders: this.props.selected_graders,
        students: this.props.selected_students,
        gests: this.props.selected_graders_for_students
      };
      jQuery.ajax({
        method: 'POST',
        url: 'marks_graders/global_actions',
        data: dataLoad,
        success: function(data) {
          this.props.updateSelectedGraders([]);
          this.props.updateSelectedStudents([]);
          this.props.updateSelectedGradersForStudents([]);
          this.props.refresh();
        }.bind(this),
      });
    },
    render: function() {
      return (
        <div className={'col-center'}>
          <div id='icons'>
            <input id='random_assign'
              className='image_input'
              src='<%= image_path 'random_arrow.png' %>'
              alt='<%= j raw I18n.t('groups.randomly_assign_graders') %>'
              title='<%= j raw I18n.t('groups.randomly_assign_graders') %>'
              onClick={this.performAction}
              type='image'
            />
            <img id='assign'
              className='image_input'
              src='<%= image_path 'add_arrow.png' %>'
              alt='<%= j raw I18n.t('add_graders') %>'
              titl='<%= j raw I18n.t('add_graders') %>'
              onClick={this.performAction}
              type='image'
            />
            <img id='unassign'
              className='image_input'
              src='<%= image_path 'remove_arrow.png' %>'
              alt='<%= j raw I18n.t('remove_graders') %>'
              title='<%= j raw I18n.t('remove_graders') %>'
              onClick={this.performAction}
              type='image'
            />
          </div>
        </div>
      );
    }
  });
</script>
