<% content_for :head do %>
  <%= render partial: 'marks_graders_actions', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'marks_grader_table', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'marks_graders_student_table', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'marks_graders_manager', formats: [:'js.jsx'], handlers: [:erb] %>

  <%= javascript_include_tag 'MarksGraders/index' %>
  <%= stylesheet_link_tag('clickable') %>
<% end %>

<% content_for :title, t('graders.manage_graders') %>

<% @heading_buttons = [
  { link_text: t('download'),
    link_path:  '#',
    html_options: { onclick: 'modal_download.open();' } },
  { link_text: t('upload'),
    link_path:  '#',
    html_options: { onclick: 'modal_upload.open();' } }
] %>

<div class="clear"></div>


<div id='notice'>
  <div class='success' id='add_success' style='display: none;'></div>

  <%# This is for error display injected by JavaScript %>
  <div class='error' id='errors' style='display: none; '>
    <h3><%= t('graders.problem') %></h3>
    <div id='errors_title'></div>
    <div id='errors_contents'></div>
  </div>

  <div class='warning' id='global_action_warning' style='display: none;'>
    <h3><%= t('groups.warning') %></h3>
    <div id='global_action_warning_msg'></div>
  </div>

</div>

<div id='marks_graders_manager'></div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>
