<% content_for :head do %>
  <%= render partial: 'marks_graders_actions', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'marks_grader_table', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'marks_graders_student_table', formats: [:'js.jsx'], handlers: [:erb] %>
  <%= render partial: 'marks_graders_manager', formats: [:'js.jsx'], handlers: [:erb] %>

  <script>
    var modalCreate = null;
    var modalAssignmentGroupReUse = null;
    var modalRenameGroup = null;
    var modalAddMember = null;
    var modalNotesGroup = null;
    var modalUpload = null;
    var modalDownload = null;

    jQuery(document).ready(function() {
      modalUpload   = new ModalMarkus('#upload_dialog');
      modalDownload = new ModalMarkus('#download_dialog');
    });
  </script>
<% end %>

<div class='title_bar'>
  <h1><%= t('graders.manage_graders') %></h1>
  <div class='heading_buttons'>
    <%= link_to t('download'), 'javascript:void(0);', onclick: 'modalDownload.open();' %>
    <span class='menu_bar'></span>
    <%= link_to t('upload'), 'javascript:void(0);', onclick: 'modalUpload.open();' %>
  </div>
</div>

<div class="wrapLeft"></div>
<div class="clear"></div>


<div id='notice'>
  <div class='success' id='add_success' style='display: none;'></div>

  <%# This is for error display injected by JavaScript %>
  <div class='error' id='errors' style='display: none; '>
    <h3><%= t('graders.problem') %></h3>
    <div id='errors_title'></div>
    <div id='errors_contents'></div>
  </div>

  <div class='warning' id='global_action_warning' style='display: none;'>
    <h3><%= t('groups.warning') %></h3>
    <div id='global_action_warning_msg'></div>
  </div>

  <%# All other flash messages %>
  <%= render 'shared/flash_message' %>
</div>

<div id='marks_graders_manager'></div>

<!-- Modal Windows -->
<aside class='dialog' id='download_dialog'>
  <h2><%= t('groups.download.download_grader_maps') %></h2>

  <%= button_to t('marks_graders.download.download_grader_students_csv'),
                { controller: 'marks_graders',
                  action: 'download_grader_students_mapping',
                  id: @grade_entry_form.id },
                method: :get,
                onclick: 'modalDownload.close();' %>

  <section class='dialog-actions'>
    <%= button_tag t('cancel'), onclick: 'modalDownload.close();' %>
  </section>
</aside>

<aside class='dialog' id='upload_dialog'>
  <h2><%= t('marks_graders.upload.upload_grader_map') %></h2>
  <%= raw(t('marks_graders.upload.description_grader_map')) %>

  <%= form_tag({ controller: 'marks_graders',
                 action: 'csv_upload_grader_groups_mapping',
                 id: @grade_entry_form.id },
               { multipart: true }) do %>
    <p>
      <%= t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </p>

    <p>
      <%= file_field_tag :grader_mapping, size: 2 %>
    </p>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload),
                     data: { disable_with: t(:uploading_please_wait) } %>
      <%= button_tag t('cancel'), onclick: 'modalUpload.close();' %>
    </section>
  <% end %>
</aside>
