<%= javascript_include_tag "manage_graders.js" %>
<%= javascript_include_tag "FilterTable/FilterTable.js" %>
<%= javascript_include_tag "Graders/tabs_boot.js" %>

<%= render :partial => "boot.js.erb" %>
<script type="text/javascript">
//<![CDATA[

var modalCreate = null;
var modalAssignmentGroupReUse = null;
var modalRenameGroup = null;
var modalAddMember = null;
var modalNotesGroup = null;
var modalUpload = null;
var modalDownload = null;



function upload_groups(){
     modalUpload.open();
     return false;
}

function download_groups(){
      modalDownload.open();
      return false;
}

document.observe("dom:loaded", function(){
    //Create the modal dialog
    modalUpload = new Control.Modal($('upload_dialog'),
    {
     overlayOpacity: 0.75,
     className: 'modalUpload',
     fade: false
    });

    modalDownload = new Control.Modal($('download_dialog'),
    {
     overlayOpacity: 0.75,
     className: 'modalDownload',
     fade: false

    });

})




//]]>
</script>

<div id="title_bar">
  <h1><%= I18n.t("graders.manage_graders") %></h1>
  <div class="colRightGroups">
      <div class="headingButtons">
      <%= button_to_function I18n.t("download"), "download_groups();" %>
      <span class="menu_bar">|</span>
      <%= button_to_function I18n.t("upload"), "upload_groups();" %>
    </div> <!-- rightjustify-->
  </div> <!-- colrightgroups-->

  </div> <!-- title_bar-->


<div class="wrapLeft">
</div>

<div class="clear"></div>

<div id="notice">
    <div class="success" id="add_success" style="display: none; ">
            </div>
  <% # This is for error display injected by JavaScript
   %>

  <div class="error" id="errors" style="display: none; ">
    <h3><%= t("graders.problem") %></h3>
    <div id="errors_title">
    </div>
    <div id="errors_contents">
    </div>
  </div>


  <div class="warning" id="global_action_warning" style="display: none; ">
    <h3><%= t("groups.warning") %></h3>
    <div id="global_action_warning_msg"></div>
  </div>

  <% # if there are errors have the error message display %>
  <% if flash[:error] || flash[:fail_notice] || flash[:invalid_lines] -%>
    <div class="error">
      <%= h(flash[:error])+"<br/>" if flash[:error] %>
      <%= h(flash[:fail_notice])+"<br/>" if flash[:fail_notice] %>
      <% if flash[:invalid_lines] %>
        <%= I18n.t("graders.lines_not_processed") %>
        <ul>
        <% flash[:invalid_lines].each do |error| %>
          <li><%=error%></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% # if there are success messages to display
                            %>
  <% if flash[:upload_notice] || flash[:edit_notice] -%>
    <div class="success">
      <%= h(flash[:upload_notice])+"<br/>" if flash[:upload_notice] %>
      <%= h(flash[:edit_notice])+"<br/>" if flash[:edit_notice] %>
    </div>
  <% end %>

</div><!-- Notice -->

<%= form_tag global_actions_grade_entry_form_marks_graders_path(@grade_entry_form),
             :id => "global_action_form",
             :remote => true do %>

<script type='text/javascript'>
$("global_action_form").observe('ajax:after', function(evt, status, data, xhr) {
  thinking();
});

$("global_action_form").observe('ajax:success', function(evt, status, data, xhr) {
  done_thinking();
});
</script>

<%= hidden_field_tag 'submit_type', 'global_action', :id => 'submit_type' %>
<%= hidden_field_tag 'current_table', 'groups_table', :id => 'current_table' %>
<%= hidden_field_tag 'global_actions'%>

<div class="clear"></div>
<div class="colsLeftHeavy">
  <div class="colRightGraders">
    <div class="wrapRightGroups">
      <div class="pane">
        <span id="loading_list">
          <%= image_tag("spinner.gif") %><%= t("groups.loading_list") %></span>
        <ul id="groups_tabs"class="subsection_tabs">
          <li class="tab">
            <a href="#groups_table" id="filter_link_none" class="filter_selected">
              <%= I18n.t("students.students") %></a></li>
        </ul>

        <div id="groups_table">
          <div class="clear"></div>

          <div id="students_container" class="tabbedArea">
            <%= label_tag 'search_students', I18n.t('search'),
              :class => 'bold_inline_label',
              :id => 'search_students_label' %>
            <%= text_field_tag 'search_students', nil,
              :onkeyup => "groupings_table.add_filter('search'); groupings_table.render();",
              :onkeypress => "stop_submit(event);" %>
            <table class="groups" id="groups">
            </table>
          </div><!-- group container -->
        </div>
      </div>
    </div>
  </div> <!-- colRightGroups -->

  <div class="colLeftGraders">
    <% # order of processing students is important. we go through each member
       # one by one and delete them above from the list of students
       # if they are already in a group
       # See manage/_group.html.erb
    %>
    <div class="wrapLeftGroups">
      <div class="pane">
        <span id="loading_graders_list">
          <%= image_tag("spinner.gif") %><%= t("groups.loading_list") %></span>
        <ul id="graders_tabs" class="subsection_tabs">
          <li class="tab">
            <a href="#graders_none" id="filter_link_graders_none"  class="filter_selected">
              <%= I18n.t("graders.graders") %></a></li>
        </ul>

        <div id="graders_none"></div>
        <div id="unassigned"></div>
        <div id="assigned"></div>

        <div class="tabbedArea">
          <div class="searchBox">
            <%= label_tag 'search_graders', "Search:",
              :class => 'bold_inline_label'%>
            <%= text_field_tag 'search_graders', nil,
               :onkeyup => "graders_table.add_filter('search'); graders_table.render();",
               :onkeypress => "stop_submit(event);" %>
          </div>
          <table class="graders" id="graders">
          </table>
        </div>

      </div>
    </div>
  </div> <!-- colLeftGroups -->

  <div id="centreColumn" class="centreColumnGraders">
      <%= image_submit_tag "random_arrow.png",
        :onclick => "$('global_actions').setValue('random_assign');",
        :alt => I18n.t('groups.randomly_assign_graders'),
        :title => I18n.t('groups.randomly_assign_graders'),
        :class =>'image_input' %>
      <br/><br/>
      <%= image_submit_tag "add_arrow.png",
        :onclick => "$('global_actions').setValue('assign');",
        :alt => I18n.t('add_graders'),
        :class =>'image_input',
        :title => I18n.t('add_graders') %>
      <br/><br/>
      <%= image_submit_tag "remove_arrow.png",
        :onclick => "$('global_actions').setValue('unassign');",
        :alt => I18n.t('remove_graders'),
        :title => I18n.t('remove_graders'),
        :class =>'image_input' %>
  </div>

</div> <!-- ColsLeftHeavy -->
<% end %> <!-- remote form tag -->

<!-- Modal Windows -->

<div id="download_dialog">
  <h2><%= t('groups.download.download_grader_maps') %></h2>
  <ul>
    <li><%= link_to t('marks_graders.download.download_grader_students_csv'),
		    download_grader_students_mapping_grade_entry_form_marks_graders_path(@grade_entry_form),
		    :onclick => "modalDownload.close();" %></li>
  </ul>
  <%= button_to_function I18n.t('cancel'), "modalDownload.close(); return false;" %>
</div>

<div id="upload_dialog">
  <h2><%= I18n.t("marks_graders.upload.upload_grader_map") %></h2>
  <%= raw(I18n.t("marks_graders.upload.description_grader_map")) %>
  <%= form_tag({:controller=>"marks_graders",
    :action => 'csv_upload_grader_groups_mapping',:id => @grade_entry_form.id},
    {:multipart => true}) do %>
    <br />
    <br />
    <%= I18n.t("encoding") %>
    <%= select_tag(:encoding, options_for_select(@encodings)) %>
    <br />
    <br />
    <p><%= file_field_tag :grader_mapping, :size => 2 %> <br />
      <%= submit_tag t(:upload), :disable_with => t(:uploading_please_wait) %>
      <%= button_to_function I18n.t('cancel'), "modalUpload.close(); return false;" %>
    </p>
  <% end %>

</div>