<div id="title_bar"><h1><%=I18n.t('notes.edit.title')%></h1></div>

<div class="wrapLeft">
<% form_for :note, @note, :url => {:action => 'update', :id => @note.id} do |f| %>
  <%= f.error_messages %>
  
  <p>
    <b><%=I18n.t('notes.author')%>:</b> <%= h @note.user.user_name %>
  </p>
  
  <p>
  	<b><%= I18n.t("notes.noteables.#{@note.noteable_type}") %>:</b> <%= @note.noteable.display_for_note %>
  </p>
  
  <p>
  	<b><%=I18n.t('notes.creation_time')%>:</b> <%= @note.format_date %>
  </p>
  
  <%= f.label :notes_message, I18n.t('notes.note')+":" %>
  <%= f.text_area :notes_message, :rows => 8, :cols => 50 %>
  
  <p>
    <%= f.submit I18n.t('save') %>
  </p>
<% end %>
</div>