<div id="title_bar"><h1><%=I18n.t('notes.new.title')%></h1></div>

<div class="wrapLeft">
<% form_for :note, :url => {:action => 'create'} do |f| %>
  <%= f.error_messages %>
  
<fieldset>

  <p>
    <%= f.label :noteable_type, I18n.t('notes.noteable')%>
    <%= select_tag "noteable_type", options_for_select(Note::NOTEABLES.map {|item| [I18n.t('notes.noteables.'+item),item]}) %>
    <%= observe_field :noteable_type, :on => 'onchange',:url => {:action => :noteable_object_selector},
                                         :with => "noteable_type",
                                         :before => "$('loading_selector').show()",
							             :success => "$('loading_selector').hide()" %>
    <span id="loading_selector" style="display:none">
      <%=image_tag('spinner.gif')%> <%=I18n.t('notes.new.loading_selector')%>
    </span>
  </p>

  <div id="noteable_selector">
    <%= render  :partial => 'grouping' %>
  </div>

  <p>
    <%= f.label :notes_message, I18n.t("notes.note") %>
    <%= f.text_area :notes_message, :rows => 10 %>
  </p>
</fieldset>
  
  <%= f.submit I18n.t('save') %>
<% end %>
</div>
