<div id="title_bar"><h1><%=I18n.t('notes.new.title')%></h1></div>

<div class="wrapLeft">
<% form_for :note, :url => {:action => 'create'} do |f| %>
  <%= f.error_messages %>
  
<fieldset>
  <p>
    <%= f.label :assignment_id %>
    <%= select_tag "assignment_id", options_from_collection_for_select(@assignments, :id, :short_identifier),
          :onchange => remote_function(:url => { :action => 'new_update_groupings' },
							:with => 'Form.Element.serialize(this)',
							:before => "Element.show('loading_groupings')",
							:success => "Element.hide('loading_groupings')") %>
  </p>
  
  <p>
  	<%= f.label :noteable_id, "Grouping" %>
	<%= f.select :noteable_id, @groupings.collect {|p| [p.group_name_with_student_user_names,p.id]} %>
	<span id="loading_groupings" style="display:none">
      <%=image_tag('spinner.gif')%> <%=I18n.t('notes.new.loading_groupings')%>
    </span>
  </p>
  
  <p>
    <%= f.label :notes_message %>
    <%= f.text_area :notes_message, :rows => 10 %>
  </p>
</fieldset>
  
  <%= f.submit I18n.t('save') %>
<% end %>
</div>
