<div class="emailbkgd dark-scheme">
  <div class="top_section dark-scheme">
    <%= image_tag('markus_logo_big.png', class: 'logo_header') %>
  </div>
  <hr class="divider">
  <p class="to_text dark-scheme">
    <%= t('.greeting', display_name: @invited.display_name) %>
  </p>
  <p class="body_text dark-scheme">
    <%= t('.text_body',
          display_name: @inviter.display_name,
          assignment: @grouping.assignment.short_identifier) %>
  </p>
  <div class="button_enclosure">
    <%= link_to t('.button_text'),
                course_assignment_url(@grouping.assignment.course, @grouping.assignment),
                class: 'redirectbutton' %>
  </div>
  <p class="alert_text dark-scheme">
    <%= t('.explicit_link',
          link: course_assignment_url(@grouping.assignment.course, @grouping.assignment)) %>
  </p>
  <p class="alert_text dark-scheme">
    <%= t('.disclaimer') %>
    <%= link_to t('.settings_link'), settings_users_url %>
  </p>
</div>
