<div class="emailbkgd dark-scheme">
  <div class="top_section dark-scheme">
    <%= image_tag('markus_logo_big.png', class: 'logo_header') %>
  </div>
  <hr class="divider">
  <p class="to_text dark-scheme">
    <%= t('.greeting', display_name: @student.role.display_name) %>
  </p>
  <p class="body_text dark-scheme">
    <%= t('.text_body', form: @form.short_identifier) %>
  </p>
  <div class="button_enclosure">
    <%= link_to t('.button_text'),
                student_interface_course_grade_entry_form_url(@course, @form),
                class: 'redirectbutton' %>
  </div>
  <p class="alert_text dark-scheme">
    <%= t('.explicit_link',
          link: student_interface_course_grade_entry_form_url(@course, @form)) %>
  </p>
  <p class="alert_text dark-scheme">
    <%= t('.disclaimer') %>
    <%= link_to t('.settings_link'), settings_users_url %>
  </p>
</div>
