<div class="emailbkgd dark-scheme">
  <div class="top_section dark-scheme">
    <%= image_tag attachments['markus_logo_big.png'].url, :class => "logo_header" %>
  </div>
  <hr class="divider">
  <p class="to_text dark-scheme">
    Hello <%= @user.first_name %> <%= @user.last_name %>,
  </p>
  <p class="body_text dark-scheme">
    Your marks for <%= @grouping.assignment.short_identifier %>
    have now been released on Markus and can be viewed.
  </p>
  <div class="button_enclosure">
    <%= link_to 'View Assignment Results',
                view_marks_assignment_submission_result_url(assignment_id: @grouping.assignment.id,
                                                            submission_id: @grouping.current_submission_used.id,
                                                            id: @grouping.current_result.id),
                :style => 'color:#FFFFFF;',
                :class => "redirectbutton" %>
  </div>
  <p class="alert_text dark-scheme">
    This is an automated email. Please do not reply.
  </p>
</div>


