<div id='api_key_box' class='pane'>
  <h3>
    <%= User.human_attribute_name(:api_key) %>
    <span class='help api_key_help'>
    <p class='help-message-box api_key_help' style="display:none;">
      <%= t('users.api_key.help_html') %>
    </p>
  </span>
  </h3>
  <% if !user.api_key.nil? %>
    <div class='float-right'>
      <%= form_tag reset_api_key_main_index_path,
                   remote: true do %>
        <%= submit_tag t('users.api_key.reset') %>
      <% end %>
    </div>
    <p id='api_key'><%= user.api_key %></p>
  <% else %>
    <%= t('users.api_key.unavailable') %>
  <% end %>
</div>
