<h3>
  <%= t(:api_key) %>
  <span class='help api_key_help'>
    <p class='help-message-box api_key_help' style="display:none;">
      <%= t('api_key_help').html_safe %>
    </p>
  </span>
</h3>

<div class='api-key-container'>
  <% if !user.api_key.nil? %>
    <%= form_tag reset_api_key_main_index_path,
                 remote: true do %>
      <%= submit_tag t(:reset_api_key) %>
    <% end %>

    <div class='api-key-value' id='api-key-value'><%= user.api_key %></div>
  <% else %>
    <%= t(:api_key_unavailable) %>
  <% end %>
</div>
