<%= content_for :modal_id, 'assignment_group_use_dialog' %>
<%= content_for :modal_title, t('groups.reuse_groups') %>
<%= content_for :modal_content do %>
    <%= form_tag use_another_assignment_groups_assignment_groups_path(@assignment) do %>
        <%= label_tag :clone_assignment_id, t('groups.assignment_to_use') %>
        <%= select_tag :clone_assignment_id,
                       options_for_select(
                           @clone_assignments.map {|a| [a.short_identifier, a.id]}) %>
        <section class='dialog-actions'>
          <%= submit_tag t(:submit),
                         data: { disable_with: t(:working),
                                 confirm: t('groups.delete_groups_linked') } %>
          <%= button_tag t(:cancel), onclick:'modalAssignmentGroupReUse.close()' %>
        </section>
    <% end %>
<% end %>
