<%= content_for :modal_id, 'create_group_dialog' %>
<%= content_for :modal_title, t('helpers.submit.create', model: Group.model_name.human) %>
<%= content_for :modal_content do %>
    <%= form_tag new_course_assignment_group_path(@current_course, @assignment),
                 method: :get,
                 remote: true do %>
        <%= label_tag :new_group_name, Group.human_attribute_name(:group) %>
        <%= text_field_tag :new_group_name,
                           '',
                           autocomplete: 'off',
                           maxlength: 30 %>
        <section class='dialog-actions'>
          <%= submit_tag t('helpers.submit.create', model: Group.model_name.human) %>
          <%= button_tag t(:cancel), id: 'modal-create-close' %>
        </section>
    <% end %>
<% end %>
