<%= content_for :modal_id, 'create_group_dialog' %>
<%= content_for :modal_title, t('groups.create_new_group') %>
<%= content_for :modal_content do %>
    <%= form_tag new_assignment_group_path(@assignment),
                 method: :get,
                 remote: true do %>
        <%= label_tag :new_group_name, t('groups.group_name') %>
        <%= text_field_tag :new_group_name,
                           '',
                           maxlength: 30 %>
        <section class='dialog-actions'>
          <%= submit_tag t('groups.create_new_group') %>
          <%= button_tag t(:cancel), onclick:'modalCreate.close()' %>
        </section>
    <% end %>
<% end %>
