
<%- unless @assignment.student_form_groups -%>
  <p style="align:center;font-weight:bold;color:red">
    Your instructor has not yet assigned a group for you.
  </p>

<%- else -%>  
<p style="align:center;font-weight:bold;color:red">You have not yet formed a group</p>

<p id="message">
  Please enter <%= h( ("at least " + (@assignment.group_min-1).to_s) ) if @assignment.group_min > 1 %> 
  other CDF username(s) you want to form a group 
  with<%= ", or confirm that you want to work alone" if @assignment.group_min == 1 %>.
</p>

<% form_remote_tag(:url => {:controller => 'groups', 
    :action => 'creategroup', :id => @assignment.id}) do -%>
  
  <p id="creategroup_error"></p>

  Member: <%=  h(@current_user.user_name) %>

  <% ([@assignment.group_max - 1, 5].min).times do |index|  %>
    <div id="members_<%= index %>">
      <% fields_for "members[#{index}]" do |m| -%>
        <p><%= m.text_field :user_name %></p>
      <% end -%>
    </div>
  <% end -%>
  
  <% if @assignment.group_min == 1 -%>
    <%= check_box "group", "individual?", {} %> <b>I want to work alone</b>
    (if checked, names entered above will be ignored)
  <% end -%>
  
  <p><%= submit_tag "Create Group" %></p>

<% end -%>

<%- end -%>
