
<%= form_tag :controller => 'groups', :action => 'join', :id => @assignment.id do %>
  <p>
    <b><%= @group.inviter.user_name %></b> has invited you to join his group
    for assignment <b><%= sanitize(@assignment.short_identifier) %></b>.
  </p>

  <p>Would you like to accept this invitation?</p>

  <%= submit_tag "Accept", :name => 'accept' %>
  <%= submit_tag "Reject", :name => 'reject',
    :confirm => "Are you sure? This will make you create your own group" %>
<% end -%>
