<%= javascript_tag nonce: true do %>
  (function(){
    const domContentLoadedCB = function() {
      $("#names").autocomplete({
        source: function (request, response) {
          $.getJSON("get_names",
            {
              assignment_id: <%= @assignment.id %>,
              term: $("#names").val(),
              display_inactive: $("#display_inactive").is(':checked')
            },
            response);
        },
        minLength: 1,
        select: function (event, ui) {
          $("#student_id").val(ui.item.id);
        }
      }).data("ui-autocomplete")._renderItem = function (ul, item) {
        return $("<li>")
          .data("ui-autocomplete-item", item)
          .append(`<div><strong>${item.label}</strong><br>` +
            `<span>${item.id_number} | ${item.user_name}</span></div>`)
          .appendTo(ul);
      };
      $("#assign_student").submit(function (e) {
        e.preventDefault();
        const queryString = $("#assign_student").serialize();
        const url = "assign_student_and_next";
        const requestUrl = `${url}?${queryString}`;
        fetch(requestUrl, {
          headers: {
            Accept: "application/json",
          },
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
          })
          .then((data) => parseNextScan(data));
      });

      function parseNextScan(data) {
        $("#group_members").empty();
        for (var i = 0; i < data.students.length; i++) {
          $("#group_members").append("<p>" + data.students[i] + "</p>")
        }
        $("#assign_student").find("input").val("");
        $("#assign_student").find("#skip").val("1").prop('checked', false);
        let current_group = $("#grouping_id").val();
        update_bar(data.num_valid, data.num_total);

        // Update OCR suggestions
        updateOcrSuggestions(data.ocr_match, data.ocr_suggestions);

        // Anytime we advance to another assignment
        if (data.grouping_id !== current_group) {
          $("#grouping_id").val(data.grouping_id);
          $("#group_name").html(data.group_name);
          if (data.filelink) {
            pdfjs.getDocument({url: data.filelink}).promise.then(function (pdfDocument) {
              pdfViewer.setDocument(pdfDocument);
            });
          }
          // When an assignment needs to reload because not meeting minimum group members
          // or when all assignments are already assigned
        } else {
          $("#grouping_id").val(current_group);
        }
      }

      let container = document.getElementById('pdfContainer');
      let eventBus = new pdfjsViewer.EventBus();
      let pdfViewer = new pdfjsViewer.PDFViewer({
        eventBus: eventBus,
        container: container,
        renderer: 'svg'
      });
      eventBus.on('pagesinit', function() {
        pdfViewer.currentScaleValue = 'page-fit';
      });
      parseNextScan(<%= raw @data.to_json %>);
    }

    document.addEventListener("DOMContentLoaded", domContentLoadedCB);

  })();

  function update_bar(v) {
    $('#progress-meter').attr('value', v);
  }
<% end %>
<% content_for :title do %>
    <%= t('exam_templates.assign_scans.title') %>
    <div class='title-help'>
      <p>
        <%= t('exam_templates.assign_scans.help') %>
      </p>
    </div>
<% end %>
<% content_for :additional_headings do %>
    <meter
      id="progress-meter"
      min="0"
      value="<%= @assignment.get_num_valid %>"
      max="<%= @assignment.get_num_collected %>"
      low="<%= @assignment.get_num_collected * 0.35 %>"
      high="<%= @assignment.get_num_collected * 0.75 %>"
      optimum="<%= @assignment.get_num_collected %>">
    </meter>
    &nbsp;|&nbsp;
    <%= link_to t('groups.manage_groups'), course_assignment_groups_path(@current_course, @assignment) %>
<% end %>
<div class='pane-wrapper mid-height'>
  <div class='pane scrollable pdfContainerParent'>
    <div id="pdfContainer" class='pdfContainer'>
      <div id="viewer" class="pdfViewer"></div>
    </div>
  </div>

  <div class='pane slim-fixed'>
    <div>
      <h2 id="group_name"></h2>
      <form id="assign_student">
        <input id="names" name="names" type="text" placeholder="<%= User.human_attribute_name(:full_name) %>"
               autocomplete="off">
        <input id="student_id" name="s_id" type="hidden">
        <input id="grouping_id" name="g_id" value="" type="hidden">

        <p>
          <input type="checkbox" name="skip" id="skip" value="1">
          <label for="skip"><%= t('exam_templates.assign_scans.skip_group') %></label>
          &nbsp;&nbsp;
          <input type="checkbox" name="display_inactive" id="display_inactive">
          <label for="display_inactive"><%= t('exam_templates.assign_scans.display_inactive') %></label>
        </p>
        <p>
          <button type="submit"><%= t('save') %></button>
        </p>
      </form>

      <!-- OCR Suggestions Section -->
      <div id="ocr_suggestions" class="ocr-suggestions-container" style="display: none;">
        <!-- Will be populated by JavaScript -->
      </div>

      <h3>
        <%= Group.human_attribute_name(:student_memberships) %>
      </h3>
      <div id="group_members">
      </div>
    </div>
  </div>
</div>
