<% content_for :head do %>
  <%= javascript_include_tag 'Groups/index' %>

  <%= render partial: 'layouts/head' %>
  <%= render partial: 'groups_manager', formats: [:'js.jsx'], handlers: [:erb] %>

  <script>
    var modalCreate     = null;
    var modalAddMember  = null;
    var modalNotesGroup = null;
    var modalAssignmentGroupReUse = null;

    jQuery(document).ready(function() {
      modalCreate = new ModalMarkus('#create_group_dialog');
      modalNotesGroup = new ModalMarkus('#notes_dialog');
      modalAssignmentGroupReUse = new ModalMarkus('#assignment_group_use_dialog');
    });
  </script>
<% end %>

<% if @assignment.past_all_due_dates? %>
  <div class="notice">
    <%= t('groups.editing_past_due_date_warning') %>
  </div>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('groups.manage_groups') %>
    <span class='title-help assignment_groups_help'>
      <p class='help-message-title assignment_groups_help'>
        <%= t('assignment.help.groups') %>
      </p>
    </span>
  </h1>

  <div class='heading_buttons'>
    <% # Allow cloning groups forward only if its web submits are disallowed
       # for this assignment.
       unless @assignment.allow_web_submits %>
      <%= link_to t('groups.another_assignment_group'),
                  'javascript:void(0);',
                  onclick:'modalAssignmentGroupReUse.open();' %>
      <span class='menu_bar'></span>
    <% end %>
    <%= link_to t(:download),
                { controller: 'groups', action: 'download_grouplist',
                  id: @assignment.id } %>
    <span class='menu_bar'></span>
    <%= link_to t('upload'), 'javascript:void(0);', onclick:'modal_upload.open();' %>
  </div>
</div>

<div id="notice">
  <div class="success" id="add_success" style="display: none;"></div>
  <% # This is for error display injected by JavaScript %>

  <div class="error" id="errors" style="display: none; ">
    <h3><%= t("groups.problem") %></h3>
    <div id="errors_title"></div>
    <div id="errors_contents"></div>
  </div>

  <div class="warning" id="warnings_group" style="display: none; ">
    <h3><%= t("groups.warning") %></h3>
    <div id="warnings_group_msg"></div>
  </div>

  <div class="warning" id="warnings_grace" style="display: none; ">
    <h3><%= t("groups.warning") %></h3>
    <div id="warnings_grace_msg"></div>
  </div>

  <div class="warning" id="global_action_warning" style="display: none; ">
    <h3><%= t("groups.warning") %></h3>
    <div id="global_action_warning_msg"></div>
  </div>
  <div id="job-messenger"></div>

  <%# All other flash messages %>
  <%= render 'shared/flash_message' %>
</div>

<div id='groups_manager'></div>

<!-- Modal Windows -->

<aside class='dialog' id='assignment_group_use_dialog'>
  <h2><%= t('groups.reuse_groups') %></h2>
  <%= form_tag use_another_assignment_groups_assignment_groups_path(@assignment) do %>
    <%= label_tag :clone_assignment_id, t('groups.assignment_to_use') %>
    <%= select_tag :clone_assignment_id,
                   options_for_select(
                     @clone_assignments.map {|a| [a.short_identifier, a.id]}) %>
    <section class='dialog-actions'>
      <%= submit_tag t(:submit),
                     data: { disable_with: t(:working),
                             confirm: t('groups.delete_groups_linked') } %>
      <%= button_tag t(:cancel), onclick:'modalAssignmentGroupReUse.close()' %>
    </section>
  <% end %>
</aside>

<aside class='dialog' id='create_group_dialog'>
  <h2><%= t('groups.create_new_group') %></h2>
  <%= form_tag new_assignment_group_path(@assignment),
               method: :get,
               remote: true do %>
    <%= label_tag :new_group_name, t('groups.group_name') %>
    <%= text_field_tag :new_group_name,
                       '',
                       maxlength: 30 %>
    <section class='dialog-actions'>
      <%= submit_tag t('groups.create_new_group') %>
      <%= button_tag t(:cancel), onclick:'modalCreate.close()' %>
    </section>
  <% end %>
</aside>

<aside class='dialog' id='rename_group_dialog'>
  <h2><%= t('groups.rename_group.title') %></h2>
  <%= form_tag '', remote: true do %>
    <%= label_tag :new_groupname, t('groups.rename_group.group_name') %>
    <%= text_field_tag :new_groupname, '', maxlength: 30 %>
    <section class='dialog-actions'>
      <%= submit_tag t('groups.rename_group.title') %>
      <input type='reset' value='<%= t(:cancel) %>' onclick='modal_rename.close();' />
    </section>
  <% end %>
</aside>

<aside class='dialog' id='notes_dialog'></aside>

<aside class='dialog' id='upload_dialog'>
  <!-- Script for disabling upload buttons. -->
  <%= javascript_include_tag 'upload_button_control.js',
                             id: 'upload_script',
                             upload_id: 'group_grouplist',
                             button_id: 'upload' %>

  <h2><%= t('groups.upload.upload_groups_file') %></h2>
  <p>
    <%= t('groups.upload.description').html_safe %>
    <% if !@assignment.groupings.nil? && @assignment.groupings.length > 0 %>
      <div class='information'>
        <%= t('groups.upload.importing') %>
      </div>
    <% end %>
  </p>
  <%= form_for :group, html: {multipart: true},
                       url: { controller:'groups',
                              action: 'csv_upload',
                              id: @assignment.id } do |f| %>
    <p>
      <%= t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </p>
    <%= f.file_field :grouplist, size: 2 %>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload),
                     data: { disable_with: t(:uploading_please_wait) },
                     disabled: true,
                     id: 'upload' %>
      <input type='reset' value='<%= t(:cancel) %>' onclick='modal_upload.close();'/>
    </section>
  <% end %>
</aside>
