<% content_for :head do %>
  <%= javascript_include_tag 'Groups/index' %>
  <%= stylesheet_link_tag('clickable') %>

  <%= render partial: 'layouts/head' %>
  <%= render partial: 'groups_manager', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<% if @assignment.past_all_due_dates? %>
  <div class="notice">
    <%= t('groups.editing_past_due_date_warning') %>
  </div>
<% end %>

<% content_for :title do %>
    <%= t('groups.manage_groups') %>
    <span class='title-help assignment_groups_help'>
      <p class='help-message-title assignment_groups_help'>
        <%= t('assignment.help.groups') %>
      </p>
    </span>
<% end %>

<% content_for :additional_headings do %>
    <% # Allow cloning groups forward only if its web submits are disallowed
       # for this assignment.
       unless @assignment.allow_web_submits %>
      <%= link_to t('groups.another_assignment_group'),
                  'javascript:void(0);',
                  onclick:'modalAssignmentGroupReUse.open();' %>
      <span class='menu_bar'></span>
    <% end %>
    <%= link_to t('download'), '#', onclick:'modal_download.open();' %>
    <span class='menu_bar'></span>
    <%= link_to t('upload'), '#', onclick:'modal_upload.open();' %>
<% end %>


<div id='groups_manager'></div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'assignment_group_use_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'create_group_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'rename_group_modal', layout: 'layouts/modal_dialog'  %>
<aside class='dialog' id='notes_dialog'></aside>
