<%= stylesheet_link_tag("livepipe/tabs") %>
<%= javascript_include_tag "livepipe/livepipe.js" %>
<%= javascript_include_tag "livepipe/window.js" %>
<%= javascript_include_tag "livepipe/tabs.js" %>

<script>

var modal = null;

function invite() {
      modal.open();
      $('invite_member').setValue('');
      return false;
}

function submit_invite(invite_member) {

  //close the dialog
  modal.close();
  //send AJAX request
 <%= 
 remote_function(
    :url  => { :action => 'invite_member', :id => @assignment.id },
    :with => "'&invite_member=' + invite_member")
  %>
}

document.observe("dom:loaded", function(){
    //Create the modal dialog
  modal = new Control.Modal($('invite_dialog'), 
  {
    overlayOpacity: 0.75,
    className: 'modal',
    fade:false
 
  });
})
</script>


<h1>Your Group for <%= h(sanitize(@assignment.name)) %></h1>
<div class="colsLeftHeavy">

  <div class="colLeft"><div class="wrapLeft">

      <% if flash[:upload_notice] -%>
          <p class="success"><%= h(flash[:upload_notice]) %></p>
      <% end -%>
      
      <% if flash[:edit_notice] -%>
        <p style="color:green"><%= h(flash[:edit_notice]) %></p>
      <% end -%>

      <% if flash[:fail_notice] -%>
        <p style="color:red"><%= h(flash[:fail_notice]) %></p>
      <% end -%>
<div class="fieldset"> 

    <% if @grouping.nil? %>
      <p>You don't have any group yet</p>
       <%= link_to_remote "Create a group", :url => {:action =>
       'creategroup', :id => @assignment.id} %>

       <%# If the student can work alone, display%>
       <% if @assignment.group_min == 1 %>
          | <%= link_to_remote "Work alone", :url => {:action =>
       'creategroup', :id => @assignment.id, :workalone => 'true'} %>
       <% end %>

       <% if @student.has_pending_groupings_for?(@assignment.id) %>
          <% @pending_groupings.each do |grouping|%>
             <p><%= h(grouping.inviter.last_name)%> <%= h(grouping.inviter.first_name) %> invites you to be part of his group.</p>
	     <div class="group_invitation">
              <%= render :partial => 'groups/student_manage/group', :locals =>
       {:grouping => grouping, :group => grouping.group, :assignment =>
@assignment} %>
               <%= link_to_remote "Join", :url => {:action =>
'join_group', :id => @assignment.id, :grouping_id => grouping.id}%>
               <%= link_to_remote "Refuse", :url => {:action =>
'decline_invitation', :id => @assignment, :grouping_id => grouping.id}%>
             </div>
	  <% end %>
        <% end %>

        <%# # The student chose to work alone for this assignment. He is using
        # his personnal repository%>
    <% elsif @group.group_name == @student.user_name%>
	<p>You are working alone for this assignment</p>
    <% else %>
       <%= render :partial => 'groups/student_manage/group', :locals =>
       {:grouping => @grouping, :group => @group, :assignment =>
@assignment}%>
    <% end %>


  <%# # This dialog is displayed only when a student tries to invite  
      # someone in their group%>
    <div id="invite_dialog"i style="display:none;">
      <h2>Invite</h2>
      <p>
        <fieldset>
	  <select id="invite_member" name="invite_member">
	      <% @students_list.each do |s|%>
	        <option value="<%=h(s.id)%>"><%=h(s.last_name)%> <%= h(s.first_name) %></option>
	       <% end %>
	  </select>
	</fieldset>
      </p>
      <p>
      <%= button_to_function 'submit',
      "submit_invite(escape($F('invite_member')))"%>
      <%= button_to_function "Cancel", 'modal.close()'%>
      </p>
    </div>
</div>
  </div></div> <!-- colLeft -->

  <div class="colRight">

    <% # order of processing students is important. we go through each member 
       # one by one and delete them above from the list of students 
       # if they are already in a group
       # See manage/_group.html.erb
    %>
    
    <h2>Students not in group:</h2>
    
    <div class="section">

      <div id="student_container">
      
        <ul id="student_list">
          <% @students.each do |s| -%>
            <li id="user_<%= h(s.user_name) %>"><%= h(s.last_name) %> <%= h(s.first_name) %></li>
          <% end -%>
        </ul>
      </div>
    
    </div>
    
    
  </div> <!-- colRight -->

</div> <!-- ColsLeftHeavy -->
