<div class='pane'>
  <h2>
    <%= User.human_attribute_name(:api_key) %>
    <div class='help'>
      <p>
        <%= t('users.api_key.help_html', markus_version: Rails.configuration.markus_version,) %>
      </p>
    </div>
  </h2>
  <p id='api_key'>
    <% if !user.api_key.nil? %>
      <%= user.api_key %>
    <% else %>
      <%= t('users.api_key.unavailable') %>
    <% end %>
    <div>
      <%= form_tag reset_api_key_users_path, remote: true do %>
        <%= submit_tag t('users.api_key.reset') %>
      <% end %>
    </div>
  </p>
</div>
