<% content_for :title, t('users.account_settings') %>
<%= form_with url: 'update_settings', method: 'patch', model: @current_user, scope: :user, local: true do |f| %>
  <div class="inline-labels">
    <%= f.label :time_zone, User.human_attribute_name(:time_zone) %>
    <%= f.time_zone_select :time_zone, nil, default: @current_user.time_zone %>
    <%= f.label :display_name, User.human_attribute_name(:display_name) %>
    <%= f.text_field :display_name,
                     value: @current_user.display_name %>

    <%= f.label :locale, User.human_attribute_name(:locale) %>
    <%= f.select :locale, options_for_select(I18n.available_locales, selected: "#{@current_user.locale}") %>

    <%= f.label :theme, User.human_attribute_name(:theme) %>
    <%= f.select(:theme, [%w[dark dark], %w[light light]]) %>
  </div>
  <p>
    <%= f.submit t('save') %>
  </p>
<% end %>

<% if allowed_to?(:reset_api_key?) %>
  <div class='pane-wrapper'>
    <%= render partial: 'key_display', locals: { user: @current_user } %>
  </div>
<% end %>

<% if allowed_to?(:manage?, KeyPair) %>
  <fieldset>
  <legend><span><%= t('key_pairs.key_pairs_title') %></span></legend>

  <% if @current_user.key_pairs.exists? %>
    <div class="table">
    <table>
      <thead>
        <tr>
          <th><%= t('key_pairs.time_of_upload') %></th>
          <th><%= t('key_pairs.key_content') %></th>
          <th><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody>
      <% @current_user.key_pairs.each do |key_pair| %>
        <tr>
          <td><%= l(key_pair.created_at) %></td>
          <td><pre class="word-break-all"><%= key_pair.public_key %></pre></td>
          <td><%= link_to t('key_pairs.remove_key'), key_pair, method: :delete %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  <% end %>

  <p>
    <%= link_to t('key_pairs.new_key_pair'), new_key_pair_path, class: 'button' %>
  </p>
  <hr>
  <h3><%= t('help') %></h3>
  <p>
    <a href="https://github.com/MarkUsProject/Wiki/blob/<%= Rails.configuration.markus_version %>/SSH_Keypair_Instructions_Windows.md" target="_blank">
      <%= t('key_pairs.help.windows') %>
    </a>
  </p>
  <p>
    <a href="https://github.com/MarkUsProject/Wiki/blob/<%= Rails.configuration.markus_version %>/SSH_Keypair_Instructions_Linux-OSX.md" target="_blank">
      <%= t('key_pairs.help.macOS_linux') %>
    </a>
  </p>
  </fieldset>
<% end %>
