<h2><%= @grouping.group.group_name %>
    <%= I18n.t('graders.coverage') %></h2>
<% assigned = @grouping.all_assigned_criteria(@grouping.tas) %>
<% all =  @assignment.get_criteria %>
<% all.each do |criterion| %>
  <% if assigned.include?(criterion) %>
    <%=  image_tag("icons/tick.png", alt: I18n.t('graders.covered'),
      title: I18n.t('graders.covered')) %>
    <b> <%= criterion.name %> </b>
    <br>
    <%= I18n.t('graders.assigned_graders') %>:
    <% @grouping.assigned_tas_for_criterion(criterion).each do |ta|%>
      <%= ta.user_name %>
    <% end %>
  <% else %>
    <%=  image_tag("icons/cross.png", alt: I18n.t('graders.not_covered'),
      title: I18n.t('graders.not_covered')) %>
    <b> <%= criterion.name %> </b>
    <% if criterion.tas.count > 0 %>
      <br>
      <%= I18n.t('graders.possible_graders') %>:
      <% criterion.tas.each do |ta|%>
        <%= link_to ta.user_name,
                    add_grader_to_grouping_assignment_graders_path(
                    id: @assignment.id, grouping_id: @grouping.id, grader_id: ta.id),
                    remote: true %>
      <% end %>
    <% end %>
  <% end %>
    <br>
    <br>
<% end %>
<button onclick="modal_coverage.close();"><%= I18n.t('close') %>
</button>
