<h2><%= I18n.t("groups.upload.upload_grader_map") %></h2>
<%= I18n.t("groups.upload.description_grader_map") %>
<%= form_tag({:controller=>"graders",
  :action => 'csv_upload_grader_groups_mapping',:id => @assignment.id},
  {:multipart => true}) do -%>
  <p><%= file_field_tag :grader_mapping, :size => 2 %> <br />
    <%= submit_tag t(:upload), :disable_with => t(:uploading_please_wait) %>
    <button onclick="modalUpload.close(); return false;"><%= I18n.t('cancel') %>
    </button>
  </p>
<% end %>

<% if @assignment.assign_graders_to_criteria %>
  <h2><%= I18n.t("groups.upload.upload_grader_criteria_map") %></h2>
  <%= I18n.t("groups.upload.description_grader_criteria_map") %>
  <%= form_tag({:controller=>"graders",
    :action => 'csv_upload_grader_criteria_mapping',:id => @assignment.id},
    {:multipart => true}) do -%>
    <p><%= file_field_tag :grader_criteria_mapping, :size => 2 %> <br />
      <%= submit_tag t(:upload), :disable_with => t(:uploading_please_wait) %>
      <button onclick="modalUpload.close(); return false;"><%= I18n.t('cancel') %>
      </button>
    </p>
  <% end %>
<% end %>