<% if @current_user.admin? %>
    <li class="level2"><%= link_to I18n.t(:create_new), :controller =>
'assignments', :action => 'new' %>
      </li>
<% end %>

<% Assignment.all.each do |assignment|%>
  <% if assignment != @assignment %>
      <% if (controller.controller_name == "assignments" &&
            (controller.action_name == "index" or 
            controller.action_name == 'new')) ||
            controller.controller_name == "results" %>
            <% if @current_user.student? %>
               <li class="level2"><%= link_to h(assignment.short_identifier), :controller =>
'assignments', :action => 'student_interface', :id => assignment.id %>
               </li>
	    <% elsif @current_user.ta? %>
               <li class="level2"><%= link_to h(assignment.short_identifier), :controller =>
'submissions', :action => 'browse', :id => assignment.id %>
	    <% else %>
               <li class="level2"><%= link_to h(assignment.short_identifier), :controller =>
"assignments", :action => "edit", :id => assignment.id %></li>
            <% end %>
    <% else %>
               <li class="level2"><%= link_to h(assignment.short_identifier), :controller =>
controller.controller_name, :action => controller.action_name, :id => assignment.id %></li>
     <% end %>
  <% end %>
<% end %>

