<% if allowed_to?(:manage?, Assignment) %>
  <li class='section'><%= t('menu.quick_links') %></li>
  <li>
    <%= link_to t('helpers.submit.create', model: Assignment.model_name.human),
                controller: 'assignments',
                action: 'new' %>
  </li>
  <% if Settings.scanned_exams.enable %>
    <li>
      <%= link_to t('helpers.submit.create', model: t('activerecord.models.scanned_assignment.one')),
                  controller: 'assignments',
                  action: 'new',
                  scanned: true %>
    </li>
  <% end %>
  <li>
    <%= link_to t('helpers.submit.create', model: t('activerecord.models.timed_assignment.one')),
                controller: 'assignments',
                action: 'new',
                timed: true %>
  </li>
  <li>
    <%= link_to t('helpers.submit.create', model: GradeEntryForm.model_name.human),
                controller: 'grade_entry_forms',
                action: 'new' %>
  </li>
<% end %>

<li class='section'><%= Assignment.model_name.human.pluralize %></li>

<% assignments = @current_role.visible_assessments(assessment_type: 'Assignment').order(:due_date, :short_identifier) %>
<% grade_entry_forms = @current_role.visible_assessments(assessment_type: 'GradeEntryForm') %>

<%= render partial: 'shared/assignment_dropdown_link',
           collection: assignments,
           as: :assignment,
           locals: { active_id: @assignment&.id } %>

<li class='section'><%= GradeEntryForm.model_name.human.pluralize %></li>

<%= render partial: 'shared/grade_entry_form_dropdown_link',
           collection: grade_entry_forms,
           as: :grade_entry_form,
           locals: { active_id: @grade_entry_form&.id } %>
