<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge'>
  <meta http-equiv='X-UA-Compatible' content='chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= render partial: 'layouts/head' %>
  <title><%= code + ' ' + HttpStatusHelper::ERROR_CODE[code] %></title>
  <%= javascript_include_tag 'application_webpack', nonce: true %>
  <%= javascript_include_tag 'application', nonce: true %>
  <% unless session[:auth_type] == 'remote' %>
    <%= javascript_include_tag 'check_timeout', nonce: true %>
  <% end %>
  <%= render partial: 'layouts/jsroutes_config' %>
  <%= render partial: 'layouts/i18n_config' %>
  <%= yield :head %>
</head>
<body>
<div id='<%= controller.action_name == "login" ? "loggedOut" : "loggedIn" %>'>
  <div id='mobile_menu'>
    <a id='menu_icon'></a>
  </div>
  <div id='wrapper'>
    <nav id='menus'>
      <div id='menus_child'>
        <%= render partial: 'layouts/header' rescue nil%>
        <%= render partial: 'layouts/menu' rescue nil%>
      </div>
    </nav>
    <%= render partial: 'layouts/modals' %>
    <div class="error-pages-container">
      <h1><%= code + ' ' + HttpStatusHelper::ERROR_CODE[code] %></h1>
      <p>Uh oh! <%= message %></p>
      <%= link_to "Go Home", root_path, class: "button" rescue nil%>
    </div>
  </div>
</div>
</body>
</html>
