<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=Edge'>
  <meta http-equiv='X-UA-Compatible' content='chrome=1'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <title><%= code + ' ' + HttpStatusHelper::ERROR_CODE[code] %></title>
</head>
<body>
<div id='wrapper'>
  <section id='content'>
    <h1><%= code + ' ' + HttpStatusHelper::ERROR_CODE[code] %></h1>
    <p>Uh oh! <%= message %></p>
  </section>
</div>
</body>
</html>
