<%= stylesheet_link_tag("mapping") %>
<%= javascript_include_tag("prototype") %>
<%= javascript_include_tag("mapping") %>
<script>
  var authenticity_token = '<%=form_authenticity_token%>';
</script>

<h1>TA Assignment</h1>

<div class="colsLeftHeavy">

  <div class="colLeft"><div class="wrapLeft">

    <h2>Current Groups</h2>
  
    <div class="section">
      
      <div id="groups_container">
      
        <% 
          # TODO: Groups that already been assigned to a TA should be marked as such
          # Include method in the model that returns True if a group has a TA
        %>
        <% @groups.each do |group| -%>
          <%= render :partial => "ta_assignments/group", :locals => {:group => group} %>
        <% end -%>
      
      </div>

    </div>
    
    <h2>Students without a Group</h2>

    <div class="section">
      <ul id="student_list">
        <% 
          # See ta_assignment/_group; students that are in groups are deleted from the groups array
        %>
        <% @students.each do |user_id, s| -%>
          <li id="user_<%= s.user_name %>"><%= s.user_name %></li>
        <% end -%>
      </ul>
    </div>

  </div></div>
  
  <div class="colRight">
  
    <h2>Current TAs</h2>
    
    <div class="section">
      <ul id="ta_list">
        <%
          # TODO: Groups that already been assigned to a TA should be matched as such
          # Include method in the model that returns the number of assignment each TA has
        %>
        <% @tas.each do |t| -%>
          <li id="ta_<%= t.id %>" class="<%= cycle('rowA', 'rowB') %>" onclick="<%="focus_ta(#{t.id})"%>">
            <%= t.user_name %> (<span><%= t.taAssignmentCount(:id) %></span>)
          </li>
        <% end -%>
      </ul>
    </div>
    
    <%
      # JavaScript/Prototype helper; see ActionView::Helpers::PrototypeHelper
      # Will use ajax to pass information to the controller via POST
      # See public/javascript/mapping.js
    %>
    <%= button_to_function "Assign TA", "assign_ta_to_students();"%>
    
  </div>
    
</div>
