<%= form_for(@section, remote: true) do |f| %>
  <div id='add_section_error'> </div>

  <h2><%= t('section.add_section') %></h2>

  <div>
    <%= raw(f.label :name, t('section.name')) %>
    <%= raw(f.text_field :name) %>
  </div>

  <section class='dialog-actions'>
    <%= hidden_field_tag 'section_modal', 'true' %>
    <%= f.submit t(:save) , data: { disable_with: t('working') } %>
    <%= button_tag t(:close), onclick: 'modal_add_section.close()' %>
  </section>
<% end %>
