<% content_for :head do %>
  <%= javascript_include_tag 'help_system' %>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('section.manage_users') %>
    <span class='title-help sections_manage_users_help'>
      <p class='help-message-title sections_manage_users_help'>
        <%= t('section.help.manage_users') %>
      </p>
    </span>
  </h1>
</div>


<div class='wrapLeft'>
  <%= render 'shared/flash_message' %>

  <%= link_to t('section.add_section'),
              new_section_path,
              class: 'button' %>

  <% if @sections.empty? %>
    <p><%= t('section.no_sections') %></p>
  <% else %>
    <div class='table'>
      <table>
        <thead>
          <tr>
            <th><%= t('section.legend') %></th>
            <th><%= t('actions') %></th>
          </tr>
        </thead>
        <% @sections.each do |section| %>
          <tr>
            <td>
              <%= link_to section.name, edit_section_path(section) %>
              <span class='info'>(<%= section.students.count %>)</span>
            </td>
            <td>
              <%= button_to t('delete'),
                            { action: 'destroy',
                              id: section.id },
                            confirm: t('section.delete.link_confirm'),
                            method: 'delete',
                            disabled: !section.students.empty?,
                            class: 'inline-button' %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<div class='wrapLeft'></div>
