<div id="title_bar"><h1><%= I18n.t("section.manage_users") %></h1></div>

<div class="wrapLeft">

<% if flash[:error] %>
  <div class="error">
    <%= flash[:error] %>
  </div>
<% end %>
<% unless flash[:success].nil? %>
  <div class="success">
	 <%= flash[:success] %>
  </div>
<% end %>

<%= link_to I18n.t('section.add_section'), new_section_path %>
<% if @sections.empty? %>
  <p>There are no sections yet.</p>
<% else %>
  <table>
  <% @sections.each do |section| %>
    <tr>
      <td><%= link_to section.name, edit_section_path(section) %></td>
      <td><%= button_to I18n.t('delete'), { :action => 'destroy', :id => section.id },
              :html => { :class => 'delete', :title => I18n.t('section.delete.link_title') },
              :confirm => I18n.t('section.delete.link_confirm'),
              :method => 'delete',
              :remote => true
          %>
      </td>
      </tr>
  <% end %>
  </table>
<% end %>

</div>


<div class="wrapLeft">
</div>
