<% content_for :title do %>
    <%= t('.title') %>
    <div class='title-help'>
      <p>
        <%= t('sections.help') %>
      </p>
    </div>
<% end %>

<p>
  <%= link_to t('sections.new.title'),
              new_course_section_path(@current_course),
              class: 'button' %>
</p>

<% if @sections.empty? %>
  <p><%= t('sections.none') %></p>
<% else %>
  <div class='table'>
    <table>
      <thead>
        <tr>
          <th><%= Section.model_name.human %></th>
          <th><%= t('actions') %></th>
        </tr>
      </thead>
      <% @sections.each do |section| %>
        <tr>
          <td>
            <%= link_to section.name, edit_course_section_path(@current_course, section) %>
            <span class='info'>(<%= section.students.count %>)</span>
          </td>
          <td>
            <%= button_to({ action: 'destroy', id: section.id },
                          { data: { confirm: t('.destroy_confirm') },
                            method: 'delete',
                            disabled: !section.students.empty?,
                            class: 'inline-button' }) do %>
              <i class="fa fa-trash-can" title=I18n.t("delete") aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
