<%= content_for :modal_id, 'download_dialog' %>
<%= content_for :modal_title, t('download') %>
<%= content_for :modal_content do %>

  <%= render partial: 'results/common/download_file_selector',
             locals: { files: @files,
                       can_download: true } %>
  <% if can_show_feedback_files_tab?(@submission) %>
    <div id='feedback_files_controls'>
      <%= render partial: 'results/common/feedback_file_selector',
                 locals: { feedback_files: @feedback_files,
                           submission_id: @submission.id } %>
    </div>
  <% end %>
  <section class='dialog-actions'>
    <input type='reset' id="download" value='<%= t(:cancel) %>' onclick='modal_download.close();' />
  </section>
<% end %>
