<% content_for :head do %>
  <%= stylesheet_link_tag('common/SyntaxHighlighter') %>
  <%= stylesheet_link_tag('grader') %>
  <%= javascript_include_tag 'panes' %>
<% end %>

<% # UI LIBRARIES %>
<%= javascript_include_tag 'effects',
                           'dragdrop',
                           'controls',
                           'DropDownMenu/DropDownMenu' %>

<% # EDITING MARKS FUNCTIONS AND BOOT SCRIPTS%>
<%= javascript_include_tag 'Grader/file_selector',
                           'Grader/marking',
                           'Grader/mouse_selections' %>

<% # This file can't be cached %>
<%= javascript_include_tag 'Grader/tabs_boot'%>

<% # SourceCodeGlower, ImageAnnotations, and SyntaxHighlighter brushes %>
<%= render partial: 'results/common/syntax_highlighter_brushes',
           formats: [:html],
           handlers: [:erb] %>

<script>
//<![CDATA[
  var modalNotesGroup = null;

  jQuery(document).ready(function() {
    window.modalNotesGroup = new ModalMarkus('#notes_dialog');

    // Set up the 'working' notices
    jQuery('#working').ajaxStart(function() {
      this.style.display = '';
      window.onbeforeunload = check_working;
    }).ajaxStop(function() {
      this.style.display = 'none';
      window.onbeforeunload = null;
    });

    // If the mark_description div is empty, that means it isn't marked
    // Hide the criterion that AREN'T empty (i.e. are marked)
    jQuery('.mark_description').each(function() {
      if (this.innerHTML.trim()) {
        hide_criterion(parseInt(this.dataset.id));
      }
    });
  });

  function check_working() {
    return '<%= t(:still_working_warning) %>';
  }
//]]>
</script>

<% # Javascript for showing/hiding old marks %>
<%= render partial: 'results/common/old_marks_view_functions',
           formats: [:html] %>

<% # Javascript for test result window %>
<%= render partial: 'assignments/test_result_window',
           formats: [:html],
           locals: { aid: @assignment.id } %>

<%= render partial: 'results/common/annotations',
           formats: [:js] %>

<%= render partial: 'results/marker/setup_annotation_categories',
           formats: [:js] %>

<%= render partial: 'results/marker/boot',
           formats: [:js],
           locals: { first_file: @first_file } %>

<aside class='dialog' id='notes_dialog'></aside>

<div class='title_bar'>
  <h1>
    <%= t('results.title',
          { assignment_name: @assignment.short_identifier,
            group_name: @group.group_name }) %>
    (<%= @grouping.get_all_students_in_group %>)
  </h1>
</div>

<div class='wrapLeft'>
  <% if flash[:fail_notice] %>
    <p class='error'><%= flash[:fail_notice] %></p>
  <% end %>

  <% if @result.released_to_students %>
    <p class='notice'><%= t(:marks_released_notice) %></p>
  <% end %>

  <% if @grouping.past_due_date? %>
    <p class='warning'>
      <%= t(:past_due_date_edit_result_warning,
            href: link_to(t(:last_commit),
                          repo_browser_assignment_submission_path(
                             @assignment, @grouping))).html_safe %>
    </p>
  <% end %>

  <%= render partial: 'results/common/submission_selector',
             locals: { group: @group,
                       result: @result,
                       assignment: @assignment,
                       previous_grouping: @previous_grouping,
                       next_grouping: @next_grouping } %>

  <%= render partial: 'results/common/errors' %>

  <div id='file_selector'>
    <%= render partial: 'results/common/file_selector',
               locals: { files: @files,
                         can_download: true } %>
    <% if @assignment.enable_test %>
      <div id='test_results_controls'>
        <%= render partial: 'results/common/test_selector',
                   locals: { test_result_files: @test_result_files,
                             result: @result } %>
      </div>
    <% end %>
  </div>

  <% if !@result.released_to_students %>
    <%= render partial: 'results/marker/marker_panes',
               locals: { extra_marks_points: @extra_marks_points,
                         extra_marks_percentage: @extra_marks_percentage,
                         annotation_categories: @annotation_categories,
                         result: @result,
                         assignment: @assignment,
                         marks_map: @marks_map,
                         mark_criteria:@mark_criteria,
                         submission: @submission,
                         old_result: @old_result } %>
  <% else %>
    <%= render partial: 'results/result_summary',
               formats: [:html],
               handlers: [:erb] %>
  <% end %>
</div>
