<% content_for :head do %>
  <%= stylesheet_link_tag 'result_main' %>
  <%= stylesheet_link_tag 'result' %>
  <%= javascript_include_tag 'mathjax', nonce: true %>
  <%= javascript_include_tag 'result', nonce: true %>
  <%= javascript_include_tag 'Results/main', nonce: true %>
  <%= javascript_tag nonce: true do %>
    pdfjs.GlobalWorkerOptions.workerSrc = '<%= asset_path('pdf.worker.js') %>';

    document.addEventListener('DOMContentLoaded', () => {
      window.resultComponent = makeResult(document.getElementById('result-main'),
        {
          course_id: <%= @current_course.id %>,
          result_id: <%= @result.id %>,
          submission_id: <%= @result.submission_id %>,
          grouping_id: <%= @result.submission.grouping_id %>,
          assignment_id: <%= @result.submission.grouping.assessment_id %>,
          role: '<%= @current_role.class.name %>',
        }
      );

      window.modal_help = new ModalMarkus('#help_dialog');
    });

    categories_with_criteria = <%= @result.submission
                                          .grouping
                                          .assignment
                                          .annotation_categories
                                          .where.not(flexible_criterion_id: nil).pluck(:id) %>;
    function check_criterion () {
      if (categories_with_criteria.includes(parseInt($('#new_annotation_category').val()))) {
        $('#deduction_disclaimer').removeClass('hidden');
      } else {
        $('#deduction_disclaimer').addClass('hidden');
      }
    }
  <% end %>
<% end %>

<!-- Dialogs -->
<aside class='dialog no-display' id='notes_dialog'></aside>
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>

<aside class='dialog no-display' id='help_dialog'>
  <h2><%=t('results.keybinding.keyboard_help')%></h2>
  <table class="shortcuts-table">
    <tr>
      <td><kbd>Alt</kbd> + <kbd>Enter/return</kbd></td>
      <td><%=t('results.keybinding.toggle_compact')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇨</kbd></td>
      <td><%=t('results.next_submission')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇦</kbd></td>
      <td><%=t('results.previous_submission')%></td>
    </tr>
    <%if @current_role.class.name != 'Student'%>
      <tr>
        <td><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>⇨</kbd></td>
        <td><%=t('results.random_incomplete_submission')%></td>
      </tr>
    <%end%>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇧</kbd></td>
      <td><%=t('results.keybinding.previous_criterion')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇩</kbd></td>
      <td><%=t('results.keybinding.next_criterion')%></td>
    </tr>
    <tr>
      <td><kbd>⇧</kbd></td>
      <td><%=t('results.keybinding.when_rubric') + t('results.keybinding.previous_level')%></td>
    </tr>
    <tr>
      <td><kbd>⇩</kbd></td>
      <td><%=t('results.keybinding.when_rubric') + t('results.keybinding.next_level')%></td>
    </tr>
    <tr>
      <td><kbd>Enter/return</kbd></td>
      <td><%=t('results.keybinding.when_rubric') + t('results.keybinding.confirm_level')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>n</kbd></td>
      <td><%=t('results.keybinding.open_annotation')%></td>
    </tr>
    <tr>
      <td><kbd>Cmd/Ctrl</kbd> + <kbd>Enter/return</kbd></td>
      <td><%=t('results.keybinding.confirm_annotation')%></td>
    </tr>
  </table>
</aside>
<% if @current_role.instructor? %>
  <aside class='dialog no-display' id='create_new_tag'>
    <h1><%= t('helpers.submit.create', model: Tag.model_name.human) %></h1>
    <%= form_for :tag,
                 url: course_tags_path(@current_course, assignment_id: @assignment),
                 html: { multipart: true } do |f| %>
        <div>
          <p><%= f.label :name, Tag.human_attribute_name(:name) %></p>
          <p><%= f.text_field :name,
                              id: 'tag_name',
                              placeholder: Tag.human_attribute_name(:name) %></p>
        </div>
        <div>
          <p class='alignleft'><%= f.label :description, Tag.human_attribute_name(:description) %></p>
          <p id='descript_amount' class='alignright'>0/120</p>
          <p class="clear-alignment"><%= f.text_area :description,
                                                  id: 'tag_description',
                                                  cols: 30,
                                                  rows: 3,
                                                  maxlength: 120,
                                                  onKeyDown: 'updateCharCount()',
                                                  placeholder: Tag.human_attribute_name(:description) %></p>
        </div>
        <section class='dialog-actions'>
          <%= hidden_field_tag 'grouping_id', @grouping.id %>
          <%= f.submit t(:save) %>
          <input type='reset'
                 value='<%= t(:cancel) %>'>
        </section>
    <% end %>
  </aside>
<% end %>

<div id='criterion_incomplete_error' class='error hidden'></div>

<div id='result-main' class='flex-col'></div>

<!-- Annotation pane-->
<div id='annotation_holder'></div>

<!-- Modal element -->
<aside class='dialog' id='annotation_dialog'></aside>
