<% content_for :head do %>
  <%# TODO: merge 'grader.scss' into 'results.scss' %>
  <%= stylesheet_link_tag 'result_main' %>
  <%= javascript_include_tag 'mathjax' %>
  <%= javascript_pack_tag 'result' %>
    <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.annotationPanel =
        makeAnnotationPanel(document.getElementById('annotations_summary'),
          {
            result_id: <%= @result.id %>,
            submission_id: <%= @result.submission_id %>,
            assignment_id: <%= @result.submission.grouping.assignment_id %>,
            detailed: <%= @current_user.admin? || @current_user.ta? ||
                          @current_user.is_reviewer_for?(@assignment.pr_assignment, @result) %>,
            released_to_students: <%= @result.released_to_students %>,
            overallComment: `<%= @old_result ? @old_result.overall_comment : @result.overall_comment %>`,
            remarkSubmitted: <%= !@old_result.nil? %>
          }
      );

      <% unless @result.released_to_students || @current_user.is_reviewer_for?(@assignment.pr_assignment, @result) %>
      window.annotationManager =
        makeAnnotationManager(document.getElementById('annotation_options'),
          {
            result_id: <%= @result.id %>,
            submission_id: <%= @result.submission_id %>,
            assignment_id: <%= @result.submission.grouping.assignment_id %>,
          }
        );
      <% end %>
      window.submissionFileViewer =
        makeFileViewer(document.getElementById('codeviewer'),
          {
            result_id: <%= @result.id %>,
            submission_id: <%= @result.submission_id %>,
            assignment_id: <%= @result.submission.grouping.assignment_id %>,
          }
        );
    });
  </script>
<% end %>

<script>
  var modalNotesGroup = null;

  $(document).ready(function() {
    localStorage.setItem('assignment_id', <%= @result.submission.grouping.assignment_id %>);
    window.modalNotesGroup = new ModalMarkus('#notes_dialog');
    window.modal_download = new ModalMarkus('#download_files_dialog');
    window.modal_help = new ModalMarkus('#help_dialog');

    // Set up the 'working' notices
    $('#working').ajaxStart(function() {
      this.style.display = '';
      window.onbeforeunload = check_working;
    }).ajaxStop(function() {
      this.style.display = 'none';
      window.onbeforeunload = null;
    });

    // If the mark_description div is empty, that means it isn't marked
    // Hide the criterion that AREN'T empty (i.e. are marked)
    // Check if the marks are released, if they are there is nothing to hide
    <% unless @result.released_to_students %>
      $('.mark_criterion_level_container').each(function() {
        expand_unmarked(this, 'RubricCriterion');
      });
      $('.mark_grade_input').each(function() {
        expand_unmarked(this, 'FlexibleCriterion');
      });
      $('.mark_grade_input_checkbox_container').each(function() {
        expand_unmarked(this, 'CheckboxCriterion');
      });
    <% end %>

    <%
      if @current_user.admin?
        num_marked = @assignment.get_num_marked
        num_assigned = @assignment.get_num_assigned
      elsif @current_user.ta?
        num_marked = @assignment.get_num_marked(@current_user.id)
        num_assigned = @assignment.get_num_assigned(@current_user.id)
      elsif @current_user.is_reviewer_for?(@assignment.pr_assignment, @result)
        reviewer_group = @current_user.grouping_for(@assignment.pr_assignment.id)
        num_marked = PeerReview.get_num_marked(reviewer_group)
        num_assigned = PeerReview.get_num_assigned(reviewer_group)
      end
    %>
    update_bar(<%= num_marked %>, <%= num_assigned %>);

    <%= render partial: 'results/marker/keybinding',
               formats: [:js] %>
  });

  function check_working() {
    return '<%= t(:still_working_warning) %>';
  }
</script>

<% # Javascript for showing/hiding old marks %>
<%= render partial: 'results/common/old_marks_view_functions',
           formats: [:html] %>

<% # Javascript for feedback file window %>
<%= render partial: 'assignments/feedback_file_window',
           formats: [:js] %>

<% # Javascript for progress bar %>
<%= render partial: 'results/marker/update_progress_bar',
           formats: [:js] %>

<%= render partial: 'results/common/annotations',
           formats: [:js],
           locals: {
             result_id: @result.id,
             assignment_id: @result.submission.grouping.assignment.id
           } %>

<%= render partial: 'results/marker/boot',
           formats: [:js],
           locals: { first_file: @files.first } %>

<!-- Dialogs -->
<aside class='dialog' id='notes_dialog' style='display:none'></aside>
<aside class='dialog' id='download_files_dialog' style='display:none'>
  <h1><%= 'Download Files' %></h1>

  <%= render partial: 'results/common/download_file_selector',
             locals: { files: @files,
                       can_download: true } %>

</aside>
<aside class='dialog' id='help_dialog' style='display:none'>
  <h1><%=t('results.keybinding.keyboard_help')%></h1>
  <table class="help_table">
    <tr>
      <td><kbd>Alt</kbd> + <kbd>Enter/return</kbd></td>
      <td><%=t('results.keybinding.toggle_compact')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇨</kbd></td>
      <td><%=t('results.next_submission')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇦</kbd></td>
      <td><%=t('results.previous_submission')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇧</kbd></td>
      <td><%=t('results.keybinding.previous_criterion')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>⇩</kbd></td>
      <td><%=t('results.keybinding.next_criterion')%></td>
    </tr>
    <tr>
      <td><kbd>⇧</kbd></td>
      <td><%=t('results.keybinding.when_rubric') + t('results.keybinding.previous_level')%></td>
    </tr>
    <tr>
      <td><kbd>⇩</kbd></td>
      <td><%=t('results.keybinding.when_rubric') + t('results.keybinding.next_level')%></td>
    </tr>
    <tr>
      <td><kbd>Enter/return</kbd></td>
      <td><%=t('results.keybinding.when_rubric') + t('results.keybinding.confirm_level')%></td>
    </tr>
    <tr>
      <td><kbd>Shift</kbd> + <kbd>n</kbd></td>
      <td><%=t('results.keybinding.open_annotation')%></td>
    </tr>
    <tr>
      <td><kbd>Cmd/Ctrl</kbd> + <kbd>Enter/return</kbd></td>
      <td><%=t('results.keybinding.confirm_annotation')%></td>
    </tr>
  </table>
</aside>
<% if @current_user.admin? %>
  <aside class='dialog' id='create_new_tag' style='display:none'>
    <h1><%= t('helpers.submit.create', model: Tag.model_name.human) %></h1>
    <p><%= Tag.human_attribute_name(:name) %></p>
    <%= form_for :create_new,
                 url: assignment_tags_path(@assignment),
                 html: { multipart: true } do |f| %>
        <div>
          <p><%= f.text_field :name,
                              placeholder: Tag.human_attribute_name(:name) %></p>
        </div>
        <div>
          <p class='alignleft'><%= Tag.human_attribute_name(:description) %></p>
          <p id='descript_amount' class='alignright'>0/120</p>
          <p class="clear-alignment"><%= f.text_area :description,
                                                  id: 'description',
                                                  cols: 30,
                                                  rows: 3,
                                                  maxlength: 120,
                                                  onKeyDown: 'updateCharCount()',
                                                  placeholder: Tag.human_attribute_name(:description) %></p>
        </div>
        <section class='dialog-actions'>
          <%= hidden_field_tag 'grouping_id', @grouping.id %>
          <%= f.submit t(:submit) %>
          <input type='reset'
                 value='<%= t(:cancel) %>'
                 onclick='modal_create_new.close();'>
        </section>
    <% end %>
  </aside>
<% end %>

<% content_for :title do %>
  <%= t('results.edit.title',
        { assignment_name: @assignment.short_identifier,
          group_name: @current_user.student? ? t('assignment.review') : @grouping.get_group_name }) %>
<% end %>
<% content_for :additional_headings do %>
  <div class="progress_meter">
    <span class="progress_span">
    </span>
  </div>
  <a onclick="compact_view_toggle()" style="margin: 0px 15px">Compact View</a>
<% end %>

<div class='wrapLeft'>
  <%= render partial: 'results/common/submission_selector',
             locals: { group: @group,
                       result: @result,
                       assignment: @assignment,
                       previous_grouping: @previous_grouping,
                       next_grouping: @next_grouping } %>

  <%= render partial: 'results/common/errors' %>

  <% if !@result.released_to_students %>
    <%= render partial: 'results/marker/marker_panes',
               locals: { extra_marks_points: @result.extra_marks.points,
                         extra_marks_percentage: @result.extra_marks.percentage,
                         annotation_categories:
                           @assignment.annotation_categories.includes(annotation_texts: [:user]),
                         result: @result,
                         assignment: @assignment,
                         marks_map: @marks_map,
                         old_marks_map: @old_marks_map,
                         mark_criteria:@mark_criteria,
                         submission: @submission,
                         old_result: @old_result,
                         test_results: @test_results,
                         files: @files,
                         feedback_files: @feedback_files} %>
  <% else %>
    <%= render partial: 'results/result_summary',
               formats: [:html],
               handlers: [:erb],
               locals: { extra_marks_points: @result.extra_marks.points,
                         extra_marks_percentage: @result.extra_marks.percentage
               }
    %>
  <% end %>
</div>

<%# Javascript files %>
<%= javascript_include_tag 'Results/main' %>

<%= render partial: 'results/common/context_menu',
           formats: [:js],
           locals: {
               result: @result,
               annotation_categories: @assignment.annotation_categories.includes(:annotation_texts)
           } %>
