<% content_for :head do %>
  <%= stylesheet_link_tag('common/SyntaxHighlighter') %>
  <%= stylesheet_link_tag('grader') %>
  <%= javascript_include_tag 'panes.js' %>
<% end %>

<%= javascript_include_tag 'DropDownMenu/DropDownMenu.js'%>

<% # VIEWING MARKS FUNCTIONS %>
<%= javascript_include_tag 'Grader/file_selector.js' %>

<% # BOOT SCRIPTS %>
<%= javascript_include_tag 'Grader/tabs_boot.js' %>

<% # SourceCodeGlower, ImageAnnotations, and SyntaxHighlighter brushes %>
<%= render partial: 'results/common/syntax_highlighter_brushes',
           formats: [:html],
           handlers: [:erb] %>

<% # Javascript for showing/hiding old marks %>
<%= render partial: 'results/common/old_marks_view_functions',
           formats: [:html],
           handlers: [:erb] %>

<% # Javascript for test result window %>
<%= render partial: 'assignments/test_result_window',
           formats: [:html],
           locals: { aid: @assignment.id } %>

<%= render partial: 'results/common/annotations',
           formats: [:js] %>

<%= render partial: 'results/student/enable_remark_request_buttons',
           formats: [:js] %>

<div class='title_bar'>
  <h1>Results for <%= sanitize(@assignment.short_identifier) %></h1>
</div>

<div class='wrapLeft'>
  <%= render partial: 'results/common/errors' %>

  <%= render partial: 'results/common/file_selector',
             locals: { files: @files,
                       can_download: true,
                       test_result_files: @test_result_files } %>

  <%= render partial: 'results/student/student_panes',
             locals: { extra_marks_points: @extra_marks_points,
                       extra_marks_percentage: @extra_marks_percentage,
                       result: @result,
                       mark_criteria: @mark_criteria,
                       marks_map: @marks_map,
                       assignment: @assignment,
                       submission: @submission,
                       old_result: @old_result } %>
</div>
