<% content_for :head do %>
  <%= stylesheet_link_tag("livepipe/tabs") %>
  <%= stylesheet_link_tag("SyntaxHighlighter") %>
  <%= stylesheet_link_tag("grader") %>
<% end %>

<% # UI LIBRARIES %>
<%= javascript_include_tag "livepipe/livepipe.js",
  "livepipe/window.js",
  "livepipe/tabs.js" %>

<%= javascript_include_tag "controls.js" %>
<%= javascript_include_tag "DropDownMenu/DropDownMenu.js"%>
<%= javascript_include_tag "ResizePane/ResizePane.js"%>

<% # SOURCE CODE GLOWER AND IMAGE ANNOTATION MANAGER %>
<%= javascript_include_tag "SourceCodeGlower/AnnotationText.js",
  "SourceCodeGlower/AnnotationTextDisplayer.js",
  "SourceCodeGlower/AnnotationTextManager.js",
  "SourceCodeGlower/SourceCodeLine.js",
  "SourceCodeGlower/SourceCodeLineAnnotations.js",
  "SourceCodeGlower/SourceCodeLineCollection.js",
  "SourceCodeGlower/SourceCodeLineArray.js",
  "SourceCodeGlower/SourceCodeLine.js",
  "SourceCodeGlower/SyntaxHighlighter1p5Line.js",
  "SourceCodeGlower/SourceCodeLineManager.js",
  "SourceCodeGlower/SourceCodeLineFactory.js",
  "SourceCodeGlower/SourceCodeAdapter.js",
  "SourceCodeGlower/SyntaxHighlighter1p5Adapter.js",
  "SourceCodeGlower/ImageAnnotationGrid.js",
  "SourceCodeGlower/ImageEventHandler.js" %>

<% # SYNTAX HIGHLIGHTER %>
<%= javascript_include_tag "syntaxhighlighter/shCore.js",
  "syntaxhighlighter/shBrushJava.js",
  "syntaxhighlighter/shBrushXml.js",
  "syntaxhighlighter/shBrushRuby.js",
  "syntaxhighlighter/shBrushPython.js",
  "syntaxhighlighter/shBrushJScript.js",
  "syntaxhighlighter/shBrushCpp.js",
  "syntaxhighlighter/shBrushScheme.js",
  "syntaxhighlighter/shBrushScilab.js",
  "syntaxhighlighter/shBrushUnknown.js" %>

<% # VIEWING MARKS FUNCTIONS %>
<%= javascript_include_tag "Grader/file_selector.js" %>

<% # BOOT SCRIPTS %>
<%= javascript_include_tag "Grader/tabs_boot.js" %>

<%
# Javascript for showing/hiding old marks
%>
<%= render :partial => "results/common/old_marks_view_functions.html"%>

<%
# Javascript for test result window
%>
<%= render :partial => "assignments/test_result_window.html", :locals => {:aid => @assignment.id}  %>

<%= render :partial => "results/common/annotations.js" %>
<%= render :partial => "results/student/boot.js", :locals => {:first_file => @first_file} %>
<%= render :partial => "results/student/enable_remark_request_buttons.js" %>
<div id="title_bar">
<h1>Results For <%= h(sanitize(@assignment.short_identifier)) %></h1>
</div>
<div class="wrapLeft">
<%= render :partial => 'results/common/errors' %>

<%= render :partial => 'results/common/file_selector', :locals => {:files => @files, :can_download => false, :test_result_files => @test_result_files } %>

<%= render :partial => 'results/student/student_panes',
           :locals => {:extra_marks_points => @extra_marks_points,
           :extra_marks_percentage => @extra_marks_percentage,
           :result => @result,
           :mark_criteria =>@mark_criteria,
           :marks_map => @marks_map,
           :assignment => @assignment,
           :submission => @submission,
           :old_result => @old_result} %>
</div>
