<% content_for :head do %>
  <%= javascript_include_tag 'Results/main', nonce: true %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      window.resultComponent = makeResult(document.getElementById('result-main'),
        {
          course_id: <%= @current_course.id %>,
          result_id: <%= @result.id %>,
          submission_id: <%= @result.submission_id %>,
          grouping_id: <%= @result.submission.grouping_id %>,
          assignment_id: <%= @result.submission.grouping.assessment_id %>,
          role: '<%= @current_role.class.name %>',
          user_id: '<%= @current_role.id %>',
          rmd_convert_enabled: <%= Rails.application.config.rmd_convert_enabled %>
        }
      );
    });
  <% end %>
<% end %>

<%= javascript_include_tag 'Results/dropdown_menu', nonce: true %>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog' %>

<div class='title_bar'>
  <h1>
    <% if @result.is_a_review? %>
      <% if @current_role.student? %>
        <%= "#{t('results.results_for')} #{sanitize(@assignment.pr_assignment.short_identifier)}" %>
      <% else %>
        <%= t('peer_reviews.review_title',
              assignment_name: @assignment.pr_assignment.short_identifier,
              group_name: @current_group_name,
              reviewer_name: @reviewer.group.group_name) %>
      <% end %>
    <% else %>
      <%= "#{t('results.results_for')} #{sanitize(@assignment.short_identifier)}" %>
    <% end %>
  </h1>
</div>

<% if @result.is_review_for?(@current_role, @assignment) ||
    (@result.is_a_review? && !@current_role.student?) %>
  <%= render partial: 'results/common/peer_reviews',
             locals: { current_role: @current_role,
                       assignment: @assignment,
                       result: @result,
                       submission: @submission,
                       grouping: @grouping,
                       reviewer: @reviewer,
                       current_group_name: @current_group_name,
                       prs: @prs,
                       current_pr: @current_pr} %>
<% end %>

<div id='result-main' class='flex-col'></div>

<!-- Annotation pane-->
<div id='annotation_holder'></div>
