<div id="create-template-info-modal-content">
  <div class="inline-labels">
    <%= f.label :name, ExamTemplate.human_attribute_name('name') %>
    <%= f.text_field :name %>
    <%= f.label :file_io, t('exam_templates.create.upload'), class: "required" %>
    <%= f.file_field :file_io, required: true, accept: 'application/pdf' %>
  </div>
  <section class='dialog-actions'>
    <input id="create-template-info-next" class='create-template-view-change' type='button' value='Next'/>
    <input type='reset' value='<%= t(:cancel) %>'/>
  </section>
</div>
