<%= render partial: 'generate_modal',
           layout: 'layouts/modal_dialog' %>
<div class='float-right'>
  <%= link_to t('exam_templates.generate.title'),
              '#',
              { id: 'generateExamModal', class: 'button' } %>
  <%= link_to t('exam_templates.delete.general'),
              [@current_course, exam_template],
              method: :delete,
              class: 'button',
              data: { confirm: t('exam_templates.delete.confirm', name: exam_template.name) } %>
</div>
<h2><%= exam_template.name %></h2>
<%= render partial: 'form',
           locals: { exam_template: exam_template } %>
<% if Rails.application.config.scanner_enabled %>
  <hr>
  <div class="student-info">
    <h3><%= t('exam_templates.parsing.title') %></h3>
    <p>
      <%= render partial: 'student_info',
                 locals: { exam_template: exam_template } %>
    </p>
  </div>
<% end %>
