<%= form_for [@current_course, exam_template],
             namespace: exam_template.id,
             html: { multipart: true,
                     class: exam_template.id.to_s} do |f| %>
  <%# TODO: show this through flash messages properly. %>
  <%= exam_template.errors.full_messages.empty? ? '' : exam_template.errors.full_messages.empty? %>

  <div class='exam-template-section'>
    <div class='inline-labels'>
      <%= f.label :name, ExamTemplate.human_attribute_name('name') %>
      <%= f.text_field :name, maxlength: 20 %>
      <span class="label">
        <%= t('key_pairs.file') %>
      </span>
      <span>
        <%= link_to exam_template.filename, download_course_exam_template_path(@current_course, exam_template) %>
        <%= " (#{exam_template.num_pages} #{ExamTemplate.human_attribute_name('num_pages')})" %>
      </span>

      <%= f.label :new_template, t('exam_templates.update.instruction') %>
      <%= f.file_field :new_template %>
    </div>

    <br>

    <h3><%= ExamTemplate.human_attribute_name('template_divisions') %></h3>
    <p><%= t('grade_entry_forms.required_fields_html') %></p>
    <%= render partial: 'template_division_pane',
               locals: { f: f,
                         exam_template: exam_template } %>
  </div>

  <div class='exam-template-section'>
    <p><%= submit_tag t(:save) %></p>
  </div>
<% end %>
