<%= form_for [@current_course, exam_template],
             html: { multipart: true,
                     class: exam_template.id.to_s} do |f| %>
  <%# TODO: show this through flash messages properly. %>
  <%= exam_template.errors.full_messages.empty? ? '' : exam_template.errors.full_messages.empty? %>

  <div class='exam-template-section'>
    <p class='alignright'>
      <%= link_to t('exam_templates.download'), download_course_exam_template_path(@current_course, exam_template) %>
      <%= link_to t('exam_templates.delete.general'),
                  [@current_course, exam_template],
                  method: :delete,
                  data: { confirm: t('exam_templates.delete.confirm', name: exam_template.name) } %>
    </p>
  </div>

  <div class='inline-labels'>
    <%= f.label ExamTemplate.human_attribute_name('name') %>
    <%= f.text_field :name %>
    <label>
      <%= t('key_pairs.file') %>
    </label>
    <span>
      <%= link_to exam_template.filename, download_course_exam_template_path(@current_course, exam_template) %>
    </span>

    <%= f.label t('exam_templates.update.instruction') %>
    <%= f.file_field :new_template %>

    <label><%= ExamTemplate.human_attribute_name('num_pages') %></label>
    <span><%= exam_template.num_pages %></span>
  </div>

  <hr>

  <div class='exam-template-section'>
    <h3><%= ExamTemplate.human_attribute_name('template_divisions') %></h3>
    <p class='required'><%= t('required_fields') %> <span class='required_field'>*</span></p>
    <%= render partial: 'template_division_pane',
               locals: { f: f,
                         exam_template: exam_template } %>
  </div>

  <div class='exam-template-section'>
    <p><%= submit_tag t(:save) %></p>
  </div>
<% end %>
