<%= form_for [@assignment, exam_template],
             namespace: exam_template.id,
             html: { multipart: true,
                     class: exam_template.id.to_s} do |f| %>
  <%# TODO: show this through flash messages properly. %>
  <%= exam_template.errors.full_messages.empty? ? '' : exam_template.errors.full_messages.empty? %>

  <div class='float-right'>
    <%= link_to t('exam_templates.download'), download_assignment_exam_template_path(id: exam_template.id),
                class: 'button' %>
    <%= link_to t('exam_templates.delete.general'),
                [@assignment, exam_template],
                method: :delete,
                class: 'button',
                data: { confirm: t('exam_templates.delete.confirm', name: exam_template.name) } %>
  </div>

  <div class='inline-labels'>
    <%= f.label :name, ExamTemplate.human_attribute_name('name') %>
    <%= f.text_field :name %>
    <span class="label">
      <%= t('key_pairs.file') %>
    </span>
    <span>
      <%= link_to exam_template.filename, download_assignment_exam_template_path(id: exam_template.id) %>
    </span>

    <%= f.label :new_template, t('exam_templates.update.instruction') %>
    <%= f.file_field :new_template %>

    <span class="label"><%= ExamTemplate.human_attribute_name('num_pages') %></span>
    <span><%= exam_template.num_pages %></span>
  </div>

  <hr>

  <div class='exam-template-section'>
    <h3><%= ExamTemplate.human_attribute_name('template_divisions') %></h3>
    <p><%= t('grade_entry_forms.required_fields_html') %></p>
    <%= render partial: 'template_division_pane',
               locals: { f: f,
                         exam_template: exam_template } %>
  </div>

  <div class='exam-template-section'>
    <p><%= submit_tag t(:save) %></p>
  </div>
<% end %>
