<%= form_for [@assignment, exam_template],
             html: { multipart: true } do |f| %>
  <%= f.error_messages%>

  <fieldset>
    <p class="alignright">
      <%= link_to t('exam_templates.download'), download_assignment_exam_template_path(id: exam_template.id) %>
    </p>
    <p><span class="exam-template-info"><%= ExamTemplate.human_attribute_name('name') %></span>: <%= exam_template.name %></p>
    <p><span class="exam-template-info"><%= ExamTemplate.human_attribute_name('num_pages') %></span>: <%= exam_template.num_pages %></p>
    <p><span class="exam-template-info"><%= ExamTemplate.human_attribute_name('filename') %></span>: <%= exam_template.filename %></p>

    <strong><%= t('exam_templates.update.general') %></strong>
    <p><%= raw t('assignment.required_fields') %> <span class='required_field'>*</span></p>
    <p>
      <%= f.label ExamTemplate.human_attribute_name('name') %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label t('exam_templates.update.instruction') %>
      <%= f.file_field :new_template %>
    </p>

    <strong><%= ExamTemplate.human_attribute_name('template_divisions') %></strong>
    <%= render partial: 'template_division_pane',
               locals: { f: f } %>
  </fieldset>
  <p><%= submit_tag t(:submit)%></p>
<% end %>
