<%= form_for [@assignment, exam_template],
             url: generate_assignment_exam_template_path(id: exam_template.id),
             namespace: exam_template.id,
             remote: true do |f| %>
  <div class="inline-labels">
    <%= f.label :num_copies, t('exam_templates.generate.copies_label') %>
    <%= f.number_field :num_copies,
                       value: 1,
                       size: 4,
                       min: 1 %>

    <%= f.label :start_index, t('exam_templates.generate.index_label') %>
    <%= f.number_field :start_index,
                       value: 1,
                       size: 4,
                       min: 1 %>
  </div>
  <p><%= f.submit t('exam_templates.generate.generate') %></p>
<% end %>
