<div>
  <% current_incomplete_num_groups = split_pdf_log.num_groups_in_incomplete %>
  <% if current_incomplete_num_groups == previous_incomplete_num_groups && split_pdf_log.num_pages_qr_scan_error == 0 %>
    <p class="log-green-message">
      <%= "#{t('exam_templates.split_pdf_log.log')} ##{i}" %> - <%= split_pdf_log.uploaded_when.strftime("%d %b %y at %I:%M:%S %p") %>
    </p>
    <p><%= t('exam_templates.split.success') %>. <%= t('exam_templates.split_pdf_log.success_log', filename: split_pdf_log.filename, original_num_pages: split_pdf_log.original_num_pages) %>.</p>
  <% else %>
    <p class="log-red-message">
      <%= "#{t('exam_templates.split_pdf_log.log')} ##{i}" %> - <%= split_pdf_log.uploaded_when.strftime("%d %b %y at %I:%M:%S %p") %>
    </p>
    <% if split_pdf_log.num_pages_qr_scan_error > 0 %>
        <p><%= t('exam_templates.split.failure') %>. <%= t('exam_templates.split_pdf_log.failure_general_log', filename: split_pdf_log.filename, original_num_pages: split_pdf_log.original_num_pages, num_pages_qr_scan_error: split_pdf_log.num_pages_qr_scan_error) %>.</p>
    <% else %>
        <p><%= t('exam_templates.split.failure') %>. <%= t('exam_templates.split_pdf_log.failure_missing_pages_log', num_pages_qr_scan_error: split_pdf_log.num_pages_qr_scan_error, filename: split_pdf_log.filename) %>.</p>
    <% end %>
  <% end %>
  <% unless split_pdf_log.user.nil? %>
      <p><span class="exam-template-info">User</span>: <%= split_pdf_log.user.user_name %></p>
  <% end %>
  <p><span class="exam-template-info">Exam Template</span>: <%= split_pdf_log.exam_template.name %></p>
  <p><span class="exam-template-info">Filename</span>: <%= split_pdf_log.filename %></p>
  <p><span class="exam-template-info">Number of groups in complete</span>: <%= split_pdf_log.num_groups_in_complete %></p>
  <p><span class="exam-template-info">Number of groups in incomplete</span>: <%= split_pdf_log.num_groups_in_incomplete %></p>
  <p><span class="exam-template-info">Number of pages</span>: <%= split_pdf_log.original_num_pages %></p>
  <p><span class="exam-template-info">Number of pages with QR scan errors</span>: <%= split_pdf_log.num_pages_qr_scan_error %></p>
</div>
