<%= form_tag split_course_assignment_exam_templates_path(@current_course),
             method: :patch,
             authenticity_token: true,
             multipart: true do %>
  <div class="inline-labels">
    <%= label :exam_template_id, t('exam_templates.split.base_split') %>
    <%= select_tag :exam_template_id,
                   options_from_collection_for_select(@exam_templates, 'id', 'name'),
                   required: true %>
    <%= label :pdf_to_split, t('exam_templates.split.instruction') %>
    <%= file_field_tag :pdf_to_split, required: true %>
  </div>
  <p><%= submit_tag t('exam_templates.split.split'), id: 'split_exam' %></p>
<% end %>
