<%= form_for [@current_course, @exam_templates.first],
             url: split_course_exam_template_path(@current_course, @exam_templates.first.id),
             html: { multipart: true },
             authenticity_token: true do |f| %>
  <div class="inline-labels">
    <%= f.label :id, "Base Split on" %>
    <%= f.select :id, options_from_collection_for_select(@exam_templates, 'id', 'name') %>
    <%= f.label :pdf_to_split, t('exam_templates.split.instruction') %>
    <%= f.file_field :pdf_to_split %>
  </div>
  <p><%= f.submit t('exam_templates.split.split') %></p>
<% end %>
