<tr>
  <td class="log_info"><%= split_pdf_log.uploaded_when.strftime("%d %b %y at %I:%M:%S %p") %></td>
  <td>
    <% unless split_pdf_log.user.nil? %>
      <%= split_pdf_log.user.user_name %>
    <% end %>
  </td>
  <td><%= split_pdf_log.exam_template.name %></td>
  <td><%= split_pdf_log.filename %></td>
  <td><%= split_pdf_log.num_groups_in_complete %></td>
  <td><%= split_pdf_log.num_groups_in_incomplete %></td>
  <td><%= split_pdf_log.original_num_pages %></td>
  <td>
    <% if split_pdf_log.num_pages_qr_scan_error > 0 %>
      <%= link_to split_pdf_log.num_pages_qr_scan_error,
                  assign_errors_assignment_exam_template_path(id: split_pdf_log.exam_template.id,
                                                              split_pdf_log_id: split_pdf_log.id) %>
      <img title='<%= t('exam_templates.split_pdf_log.scan_error') %>' src="/assets/icons/error.png" alt="Scan error">
    <% else %>
      <%= split_pdf_log.num_pages_qr_scan_error %>
    <% end %>
  </td>
  <td>
    <%= split_pdf_log.split_pages.where(status: 'FIXED').length %>
  </td>
</tr>
