<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      init_exam_template_form(<%= exam_template.id %>)
    })
  <% end %>
<% end %>

<%= form_for [@current_course, exam_template],
             url: add_fields_course_exam_template_path(@current_course, exam_template),
             namespace: exam_template.id,
             html: { id: "add_fields_exam_template_form_#{exam_template.id}" } do |f| %>

  <p>
    <%= f.check_box :automatic_parsing, value: exam_template.automatic_parsing %>
    <%= f.label :automatic_parsing, t('exam_templates.parsing.general') %>
  </p>

  <div id="exam-cover-display-<%= exam_template.id %>" class="<%= exam_template.automatic_parsing ? 'flex-col' : 'no-display' %>">
    <div>
      <%= f.label :cover_fields, t('activerecord.attributes.exam_template.cover_fields') %>
      <%= f.select :cover_fields,
                   options_for_select([[t('activerecord.attributes.user.id_number'), "id_number"],
                                       [t('activerecord.attributes.user.user_name'), "user_name"]],
                                      selected: exam_template.cover_fields || "id_number") %>
      <%= f.hidden_field :crop_x, value: exam_template.crop_x %>
      <%= f.hidden_field :crop_y, value: exam_template.crop_y %>
      <%= f.hidden_field :crop_width, value: exam_template.crop_width %>
      <%= f.hidden_field :crop_height, value: exam_template.crop_height %>
    </div>

    <div id="exam_cover-<%= exam_template.id %>" class="exam-crop-container">
        <div id="exam-crop-img-container">
          <img src="<%= show_cover_course_exam_template_path(@current_course, exam_template) %>" class="crop-target"
               alt="<%= t(:'exam_templates.parsing.cover_page_for', id: exam_template.id) %>"
               loading="lazy">
        </div>
        <div class="exam-crop-button-container">
          <button id="increase-crop-scale" class="crop-scale-button"
                  type="button" title="<%= I18n.t("results.zoom_in") %>"><i class="fa-solid fa-plus"></i></button>
          <button id="decrease-crop-scale" class="crop-scale-button"
                  type="button" title="<%= I18n.t("results.zoom_out") %>"><i class="fa-solid fa-minus"></i></button>
        </div>
    </div>
  </div>

  <p><%= submit_tag t('exam_templates.parsing.save') %></p>
<% end %>
