<%= f.fields_for :template_divisions do |form| %>
<tr>
  <td><%= form.text_field :label, required: true, disabled: disabled %></td>
  <td><%= form.number_field :start, min: 1, disabled: disabled %></td>
  <td><%= form.number_field :end, min: 1, disabled: disabled %></td>
  <td><%= form.check_box :_destroy, disabled: disabled %></td>
</tr>
<% end %>
