<div class="table-with-add">
  <% disabled = exam_template.exam_been_uploaded? %>
  <table>
    <thead>
      <tr>
        <th class='required'><%= TemplateDivision.human_attribute_name('label') %></th>
        <th class='required'><%= TemplateDivision.human_attribute_name('start') %></th>
        <th class='required'><%= TemplateDivision.human_attribute_name('end') %></th>
        <th><%= t(:delete) %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'exam_templates/template_division',
                 locals: { f: f, disabled: disabled } %>
    </tbody>
  </table>
  <% unless disabled %>
    <td class="add_template" colspan="4">
      <%= link_to t('exam_templates.create.add_division'),
                  '#',
                  class: 'add-template-division' %>
    </td>
  <% end %>
</div>
