<div class="division-table">
  <header>
    <span class="label"><%= TemplateDivision.human_attribute_name('label') %></span>
    <span class="start"><%= TemplateDivision.human_attribute_name('start') %></span>
    <span class="end"><%= TemplateDivision.human_attribute_name('end') %></span>
    <span class="delete"><%= t(:delete) %></span>
  </header>

  <ul class="template-division-section-<%= exam_template.id %>">
      <%= render partial: 'exam_templates/template_division',
                 locals: { f: f } %>
      <li class="add_template">
        <%= link_to 'Add Template Division',
                      '#',
                      onClick: "add_template_division(#{exam_template.id.to_s}); return false;"%>
      </li>
  </ul>
</div>
