<% content_for :head do %>
  <%= stylesheet_link_tag('grader') %>
  <%= stylesheet_link_tag('pdfjs/viewer') %>
  <%= stylesheet_link_tag('context_menu') %>

  <%= javascript_include_tag 'pdfjs' %>

  <%= javascript_tag do -%>
    PDFJS.workerSrc = '<%= asset_path("pdfjs_lib/pdf.worker.js") %>';
  <% end -%>
<% end %>

<script>
<%= render partial: 'exam_templates/assign_errors',
           formats: [:js],
           handlers: [:erb] %>
</script>

<% content_for :title do %>
  <%= t('exam_templates.assign_errors.fix_errors') %> - <%= @exam_template.name %>
  <span class='title-help assignment_groups_help'>
    <span class='help-message-title assignment_groups_help'>
      <%= t('exam_templates.assign_scans.help') %>
    </span>
  </span>
<% end %>

<% @heading_buttons = [
    { link_text: t('exam_templates.back_to_log_page'),
      link_path: view_logs_assignment_exam_templates_path },
] %>

<div id='panes-content'>
  <div id='left-pane' class='display_pane'>
    <div id='codeviewer' class='flex-col'>
      <div id="outerContainer" class="loadingInProgress">
        <div id="mainContainer">
          <div class="toolbar">
            <div id="toolbarContainer">
              <div id="toolbarViewer">
                <div id="toolbarViewerLeft">
                  <div class="splitToolbarButton">
                    <button class="toolbarButton pageUp" title="Previous Page" id="previous" tabindex="13" data-l10n-id="previous">
                      <span data-l10n-id="previous_label">Previous</span>
                    </button>
                    <div class="splitToolbarButtonSeparator"></div>
                    <button class="toolbarButton pageDown" title="Next Page" id="next" tabindex="14" data-l10n-id="next">
                      <span data-l10n-id="next_label">Next</span>
                    </button>
                  </div>

                  <label id="pageNumberLabel" class="toolbarLabel" for="pageNumber" data-l10n-id="page_label">Page: </label>
                  <input type="number" id="pageNumber" class="toolbarField pageNumber" value="1" size="4" min="1" tabindex="15">
                  <span id="numPages" class="toolbarLabel"></span>
                </div>
                <div class="toolbarViewerRight">
                  <div class="splitToolbarButton">
                    <button id="zoomOut" class="toolbarButton zoomOut" title="Zoom Out" tabindex="21" data-l10n-id="zoom_out">
                      <span data-l10n-id="zoom_out_label">Zoom Out</span>
                    </button>
                    <div class="splitToolbarButtonSeparator"></div>
                    <button id="zoomIn" class="toolbarButton zoomIn" title="Zoom In" tabindex="22" data-l10n-id="zoom_in">
                      <span data-l10n-id="zoom_in_label">Zoom In</span>
                    </button>
                  </div>
                  <span id="scaleSelectContainer" class="dropdownToolbarButton">
                    <select id="scaleSelect" title="Zoom" tabindex="23" data-l10n-id="zoom" >
                      <option id="pageAutoOption" title="" value="auto" selected="selected" data-l10n-id="page_scale_auto">Automatic Zoom</option>
                      <option id="pageActualOption" title="" value="page-actual" data-l10n-id="page_scale_actual">Actual Size</option>
                      <option id="pageFitOption" title="" value="page-fit" data-l10n-id="page_scale_fit">Fit Page</option>
                      <option id="pageWidthOption" title="" value="page-width" data-l10n-id="page_scale_width">Full Width</option>
                      <option id="customScaleOption" title="" value="custom"></option>
                      <option title="" value="0.5">50%</option>
                      <option title="" value="0.75">75%</option>
                      <option title="" value="1">100%</option>
                      <option title="" value="1.25">125%</option>
                      <option title="" value="1.5">150%</option>
                      <option title="" value="2">200%</option>
                      <option title="" value="3">300%</option>
                      <option title="" value="4">400%</option>
                    </select>
                  </span>
                </div>
              </div>
              <div id="loadingBar">
                <div class="progress">
                  <div class="glimmer">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="viewerContainer" tabindex="0">
            <div id="viewer"></div>
          </div>
          <div id="errorWrapper" hidden='true'></div>
        </div> <!-- mainContainer -->
        <div id="documentPropertiesOverlay" class="container hidden"></div>
      </div>
    </div>
  </div>

  <div id='right-pane' class='input_pane'>
    <h2 class="side_header"><%= t('exam_templates.assign_errors.document_info') %></h2>
    <%= form_tag fix_error_assignment_exam_template_path(id: @exam_template.id),
                 id: 'info_form',
                 remote: true do %>
      <%= hidden_field_tag :split_pdf_log_id, @split_pdf_log.id %>
      <%= hidden_field_tag :split_page_id %>
      <%= label_tag :copy_number,
                    t('exam_templates.assign_errors.copy_number') %>
      <%= number_field_tag :copy_number, nil,
                           autofocus: true %><br>
      <%= label_tag :page_number,
                    t('exam_templates.assign_errors.page_number') %>
      <%= number_field_tag :page_number, nil,
                           min: 1,
                           max: @split_pdf_log.exam_template.num_pages %>
      <%= label_tag :upside_down,
                    t('exam_templates.assign_errors.upside_down') %>
      <%= check_box_tag :upside_down, 'upside_down', false %><br>
      <br>
      <%= submit_tag t('save'),
                     data: { disable_with: t('save') } %>
      <%= submit_tag t('skip'),
                     data: { disable_with: t('skip') }%>
    <% end %>
  </div>
</div>
