<%= javascript_tag nonce: true do %>
  <%= render partial: 'exam_templates/assign_errors',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<% content_for :title do %>
  <%= t('exam_templates.assign_errors.fix_errors') %> - <%= @exam_template.name %>
  <div class='title-help'>
    <p>
      <%= t('exam_templates.assign_errors.help') %>
    </p>
  </div>
<% end %>

<% @heading_buttons = [
    { link_text: t('exam_templates.back_to_exam_templates_page'),
      link_path: course_assignment_exam_templates_path(@current_course, @assignment) },
] %>

<div class='pane-wrapper mid-height'>
  <div class='pane scrollable pdfContainerParent'>
    <div id="pdfContainer" class='pdfContainer'>
      <div id="viewer" class="pdfViewer"></div>
    </div>
  </div>

  <div class='pane slim-fixed'>
    <h2><%= t('exam_templates.assign_errors.document_info') %></h2>
    <%= form_tag fix_error_course_exam_template_path(@current_course, @exam_template),
                 id: 'info_form',
                 remote: true do %>
      <%= hidden_field_tag :split_pdf_log_id, @split_pdf_log.id %>
      <%= hidden_field_tag :split_page_id %>
      <div class="inline-labels">
        <%= label_tag :copy_number,
                      t('exam_templates.assign_errors.copy_number') %>
        <%= number_field_tag :copy_number, nil,
                             autofocus: true,
                             autocomplete: 'off',
                             min: 1,
                             required: true %>
        <%= label_tag :page_number,
                      t('exam_templates.assign_errors.page_number') %>
        <%= number_field_tag :page_number, nil,
                             autocomplete: 'off',
                             min: 1,
                             max: @split_pdf_log.exam_template.num_pages,
                             required: true %>
        <%= label_tag :upside_down,
                      t('exam_templates.assign_errors.upside_down') %>
        <%= check_box_tag :upside_down, 'upside_down', false %>
      </div>
      <p>
        <%= submit_tag t('save'), data: { disable_with: t('save') } %>
        <%= submit_tag t('skip'), data: { disable_with: t('skip') }, formnovalidate: true %>
      </p>
    <% end %>
  </div>
</div>
