<% content_for :title, "#{ExamTemplate.model_name.human.pluralize}: #{@assignment.short_identifier}" %>

<% content_for :head do %>
  <%= javascript_tag nonce: true do %>
    <%= render partial: 'boot', formats: [:js] %>
      document.addEventListener("DOMContentLoaded", function() {
        $('#add-exam-template').click(function(e) {
          modal_create_new.open();
          e.preventDefault();
        })
      });
  <% end %>
<% end %>

<% @heading_buttons = [
    { link_text: t('exam_templates.create.add_new'),
      link_path: '#',
      html_options: { id: 'add-exam-template' } },
] %>

<!-- Modals -->
<%= render partial: 'create_new_template',
           layout: 'layouts/modal_dialog' %>

<div class='pane-wrapper'>
  <div id='exam_template_pane' class="exam-template-pane-wrapper">
    <%= render partial: 'exam_templates_pane' %>
  </div>

  <div class='pane'>
    <div id='editing_pane_menu'>
      <% if @exam_template.nil? %>
        <%= render partial: 'manager_help' %>
      <% else %>
        <%= render partial: "exam_template_edit",
                   locals: { exam_template: @exam_template } %>
      <% end %>
    </div>
  </div>
</div>
