<% content_for :head do %>
    <%= stylesheet_link_tag('common/SyntaxHighlighter') %>
    <%= stylesheet_link_tag('grader') %>
    <%= stylesheet_link_tag('pdfjs/viewer') %>
    <%= stylesheet_link_tag('context_menu') %>

    <%= javascript_include_tag 'Results/file_selector',
                               'panes',
                               'pdfjs',
                               'testresults_config',
                               'Results/context_menu' %>

    <%= javascript_tag do -%>
        PDFJS.workerSrc = "<%= @host %>/assets/pdfjs_lib/pdf.worker.js";
    <% end -%>
<% end %>

<% # UI LIBRARIES %>
<%= javascript_include_tag 'DropDownMenu/DropDownMenu' %>
<%= javascript_include_tag 'jquery.ui-contextmenu.min' %>

<!-- MathML -->
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML'%>
<%= javascript_include_tag 'MathJax/mathjax_helpers' %>

<% # EDITING MARKS FUNCTIONS AND BOOT SCRIPTS%>
<%= javascript_include_tag 'Grader/file_selector',
                           'Grader/marking',
                           'Grader/mouse_selections' %>

<% # This file can't be cached %>
<%= javascript_include_tag 'Grader/tabs_boot'%>

<% # SourceCodeGlower, ImageAnnotations, and SyntaxHighlighter brushes %>
<%= render partial: 'results/common/syntax_highlighter_brushes',
           formats: [:html],
           handlers: [:erb] %>

<% # Javascript for feedback file window %>
<%= render partial: 'assignments/feedback_file_window',
           formats: [:js] %>

<%# render partial: 'results/common/annotations',
           formats: [:js],
           locals: {
               result_id: @result.id,
               assignment_id: @result.submission.grouping.assignment.id
           } %>

<%= render partial: 'results/marker/setup_annotation_categories',
           formats: [:js],
           locals: { categories: @assignment.annotation_categories } %>

<%= render partial: 'results/marker/setup_annotation_categories',
           formats: [:js],
           locals: { categories: @assignment.annotation_categories } %>


<div class='title_bar'>
  <h1>
    <%= t('exam_templates.exam_templates') %>
  </h1>
</div>

<div class='wrapLeft'>
  <%= render partial: 'student_panes',
             formats: [:html],
             handlers: [:erb],
             locals: { files: @files,
                       num_pages: @num_pages,
                       filename: @filename,
                       template_divisions: @template_divisions }%>
</div>
