<% content_for :head do %>
  <% @exam_templates.each do |exam_template| %>
    <script>
      <%= render partial: 'boot',
                 formats: [:js],
                 locals: { exam_template: exam_template } %>
    </script>
  <% end %>
<% end %>

<% content_for :title, ExamTemplate.model_name.human.pluralize %>

<% @heading_buttons = [
    { link_text: t('exam_templates.create.add_new'),
      link_path: '#',
      html_options: { onclick:'modal_create_new.open()' } }
] %>

<!-- Modals -->
<%= render partial: 'create_new_template',
           layout: 'layouts/modal_dialog'  %>

<% @exam_templates.each do |exam_template| %>
  <fieldset>
    <legend> <%= exam_template.name.upcase %> </legend>
    <%= render partial: 'form',
               locals: { exam_template: exam_template } %>
    <hr>
    <div class="generate-section">
      <h3><%= t('exam_templates.generate.title') %></h3>
      <p>
        <%= render partial: 'generate_form',
                   locals: { exam_template: exam_template } %>
      </p>
    </div>
  </fieldset>
<% end %>
