
<div class="module groups" id="module_groups">

  <h3>Group Information</h3>

  <% if !@group -%>
    <%= render :partial => 'groups/creategroup' %>

  <% elsif @group.pending?(@current_user) -%>
    <%= render :partial => 'groups/join' %>
    
  <% else -%>
    <table>
      <% @group.memberships.each do |mbr| -%>
        <% next if mbr.status == 'rejected' && @group.inviter != @current_user %>
        <tr id="<%= 'mbr_' + mbr.id.to_s %>">
          <td><%= mbr.user.user_name %></td>
          <td><span class="<%= 'status ' + mbr.status %>"><%= mbr.status %></span></td>
          <% if mbr.status == 'rejected' -%>
            <td><%= link_to_remote "x", :method => "delete", :url => { 
              :controller => 'groups', :action => 'remove_rejected', 
              :id => @assignment.id, :member_id => mbr.id} %></td>
          <% end -%>
        </tr>
      <% end -%>
    </table>

    <% form_remote_tag(:url => {:controller => 'groups', 
            :action => 'add_members', :id => @assignment.id}) do %>
    
      <p id="message">
        <%= @group ? "Invite other members in the group " : "Create a new group " %>
         by typing their CDF username(s) for each field and click 'Add Members'
      </p>

      <p id="addmembers_error"></p>

      <% ([@assignment.group_max - @group.members.count, 5].min).times do |index|  %>
        <div id="members_<%= index %>">
          <% fields_for "members[#{index}]" do |m| -%>
            <p><%= m.text_field :user_name %></p>
          <% end -%>
        </div>
      <% end -%>
  
      <p><%= submit_tag "Add Members" %></p>
    <% end if @assignment.can_invite? && @group.members.count < @assignment.group_max -%>
    
  <% end -%>
</div>
