
<h1><%= "Create a Group" %></h1>

<h4>You have not yet formed a group. <br />
Please enter <%= ("at least " + (@assignment.group_min-1).to_s) if @assignment.group_min > 1 %>
other CDF username(s) you want to form a group with<%= ", or confirm that you want to work alone" if @assignment.group_min == 1 %>.</h4>

<% # TODO make this dynamic addition; put in a ticket -%>
<% # Use the maximum number of members in the group for now as the number of text fields -%>


<% form_tag :action => 'creategroup', :id => @assignment.id do -%>
  <%= error_messages_for :group -%>
  
  Member 1: <%=  h(@current_user.user_name) %>

  <% ([@assignment.group_max - 1, 10].min).times do |index|  %>
    <div id="groups_<%= index %>">
      <% fields_for "groups[#{index}]" do |g| -%>
        <p>
            <% # start with member 2 -%>
            <%= g.label "member " + (index+2).to_s + ":" %>
            <% if @groups -%>
              <%= g.text_field :user_name, :value => @groups[index.to_s]['user_name'] %>
            <% else -%>
              <%= g.text_field :user_name %>
            <% end -%>
        </p>
      <% end -%>
    </div>
  <% end -%>
  
  <% if @assignment.group_min == 1 -%>
    <p><%= check_box "group", "individual?", {} %> <b>I want to work alone</b>
    (if checked, names entered above will be ignored)</p>
  <% end -%>
  
  <p><%= submit_tag "Create Group" %></p>

<% end -%>