<style>

  #student_container {
    color: #444444;
    width: 250px;
  }
  
  #groups_container {
    margin: 0 0 20px 0;
  }

    #groups_container ul {
      list-style: none;
      padding: 0;
      color: #444444;
      margin: 0;
    }

  #groups_container a {
    color: #AA0000; /* link for delete */
  }

  .remove_group { float: right; }

  .group {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 0 20px 0;
  }
  
  .group form { margin: 0; }

  .fail-no-img { width: 250px; font-size: 80%; }

  .students { margin: 0; }
  
</style>

<script type="text/javascript" language="JavaScript">
  function clearText(id) {
    $("member_name[" + id + "]").value = "";
  }
  function focusText(id) {
    $("member_name[" + id + "]").focus()
  }
</script>

<h1>Manage Groups for <%= @assignment.name %></h1>

<div class="colsLeftHeavy">

  <div class="colLeft"><div class="wrapLeft">
  
    <h2>Groups for <%= @assignment.name %></h2>
    
    <p><%= link_to_remote "Create a New Group", :method => 'post', :class => 'buttonLink', 
      :url => { :action => 'add_group', :id => @assignment.id } %></p>
    
    <div class="section">
      
      <div id="groups_container">
      
        <ul class="groups" id="groups">
          <% @groups.each do |group| -%>
            <%= render :partial => "groups/manage/group", :locals => {:group => group} %>
          <% end -%>
        </ul>
      
      </div>

    </div>

    <p><%= link_to_remote "Create a New Group", :method => 'post', 
       :url => { :action => 'add_group', :id => @assignment.id } %></p>

    
  </div></div> <!-- colLeft -->

  <div class="colRight">

    <% # order of processing students is important. we go through each member 
       # one by one and delete them above from the list of students 
       # if they are already in a group
       # See manage/_group.html.erb
    %>
    
    <h2>Users not in group:</h2>
    
    <div class="section">

      <div id="student_container">
      
        <ul id="student_list">
          <% @students.each do |user_id, s| -%>
            <li id="user_<%= s.user_name %>"><%= s.user_name %></li>
          <% end -%>
        </ul>
      </div>
    
    </div>
    
    <h2>Upload a Group List</h2>
    
    <div class="section">
    
      <div id="upload">
        <p>
          Select a CSV file form:<br />
          <code>user_name,user_name,user_name ... </code><br />
        </p>
        <% form_for :group, :html => {:multipart => true},
                             :url => { :controller=>"groups",
                                       :action => 'csv_upload',
                                       :id => @assignment.id } do |f| -%>
           <p><%= f.file_field :grouplist %>
              <%= submit_tag("Submit") %></p>							
        <% end %>
      </div> <!-- Upload -->
      
      <p id="download">
        <%= link_to 'Download group list CSV Format', {:controller=>"groups", :action=>"download_grouplist", :id=> @assignment.id}%>
      </p>
      
    </div>
      
  </div> <!-- colRight -->

</div> <!-- ColsLeftHeavy -->
