
<h1>Group Status</h1>

<% if flash[:status] -%>
  <p><%= h(flash[:status]) %><p>
<% end -%>

<% if @group -%>
  
<%= render :partial => 'groups/group_status', :locals => { :members => @members } %>

<% if @group.inviter == @current_user -%>
  
<h3>Add More Members</h3>
<% if flash[:error] -%><div style="color:red"><%= flash[:error] -%></div><% end -%>
<% form_tag :action => 'status', :id => @assignment.id do -%>
  <%= error_messages_for :group -%>

  <% ([@assignment.group_max - @members.length, 10].min).times do |index|  %>
    <div id="groups_<%= index %>">
      <% fields_for "groups[#{index}]" do |g| -%>
        <p>
            <% # start with member 2 -%>
            <%= g.label "member:" %>
            <% if @groups -%>
              <%= g.text_field :user_name, :value => @groups[index.to_s]['user_name'] %>
            <% else -%>
              <%= g.text_field :user_name %>
            <% end -%>
        </p>
      <% end -%>
    </div>
  <% end -%>
  
  <p><%= submit_tag "Add Members" %></p>
<% end -%>

<% end -%>


<% end -%>