<%= content_for :modal_id, 'upload_dialog' %>
<%= content_for :modal_title, t('upload_the', item: t('peer_reviews.peer_review_mapping')) %>
<%= content_for :modal_open_link, '#uploadModal' %>

<%= content_for :modal_content do %>

  <!-- Script for disabling upload buttons. -->
  <%= javascript_include_tag 'upload_button_control.js',
                             id: 'upload_script',
                             upload_id: 'upload_file',
                             button_id: 'upload', nonce: true %>

  <%= t('upload_help_html', markus_version: Rails.configuration.markus_version, section_id: 'peer-reviews') %>

  <%= form_tag({ controller: 'peer_reviews',
                 action: 'upload' },
               { multipart: true }) do %>
    <p>
      <%= label_tag t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </p>
    <%= file_field_tag :upload_file, size: 2, accept: '.csv' %>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload),
                     data: { disable_with: t(:uploading_please_wait) },
                     disabled: true,
                     id: 'upload' %>
      <input type='reset' value='<%= t(:cancel) %>'>
    </section>
  <% end %>
<% end %>
