<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makePeerReviewsManager(document.getElementById('peer_reviews_manager'),
        {
          course_id: <%= @current_course.id %>,
          assignment_id: <%= @assignment.id %>,
          showSections: <%= @current_course.sections.exists? %>
        }
      );
    });
  <% end %>
<% end %>

<% content_for :title, PeerReview.model_name.human.pluralize %>

<% @heading_buttons = [
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>

<div class="clear"></div>

<%= render 'shared/flash_message' %>

<div id='peer_reviews_manager'></div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog' %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog' %>
