<%= content_for :head do %>
  <%= javascript_include_tag 'react.min',
                             'JSXTransformer' %>
  <%= javascript_include_tag 'ReactComponents/table', 'ReactComponents/table_sorts' %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makePeerReviewsManager(document.getElementById('peer_reviews_manager'),
        {
          assignment_id: <%= @assignment.id %>,
          grade_entry_form_id: 1,
          showSections: false,
        }
      );
    });
  </script>
<% end %>

<% content_for :title, t('peer_reviews') %>

<% @heading_buttons = [
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>

<div class="clear"></div>

<div id='notice'>
  <div class='success' id='add_success' style='display: none;'></div>

  <%# This is for error display injected by JavaScript %>
  <div class='error' id='errors' style='display: none; '>
    <h3><%= t('peer_review.problem') %></h3>
    <div id='errors_title'></div>
    <div id='errors_contents'></div>
  </div>

  <%# All other flash messages %>
  <%= render 'shared/flash_message' %>
</div>

<div id='peer_reviews_manager'></div>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>
