<%= content_for :head do %>
    <%= javascript_include_tag 'PeerReviews/index' %>

    <%= render partial: 'peer_reviews_new_manager', formats: [:'js.jsx'], handlers: [:erb] %>
<% end %>

<div class='title_bar'>
  <h1><%= t('peer_reviews') %></h1>

  <div class='heading_buttons'>
    <%= link_to t('download'), '#', onclick: 'modal_download.open();' %>
    <span class='menu_bar'></span>
    <%= link_to t('upload'), '#', onclick: 'modal_upload.open();' %>
  </div>
</div>
