<td>
  <%=h(user.user_name)%>
</td>
<td>
  <%=h(user.last_name)%>
</td>
<td>
  <%=h(user.first_name)%>
</td>
<% if user.student? %>
<td>
    <% if user.has_section? %>
	<%= user.section.name %>
    <% else %>
     -
    <% end %>
</td>
<td>
<%= user.remaining_grace_credits.to_s + '/' + user.grace_credits.to_s %>
</td>

<% end %>
<td>
  <%= # If we are rendering a student, add the notes link.
    if render_note_link
        link_to_remote( I18n.t('notes.title'), :url => { :controller => 'note' , :action => 'notes_dialog', :id => user.id, :noteable_id => user.id, :noteable_type => 'Student' , :action_to => 'note_message', :controller_to => 'students' }) + ' | '
    end %>
<%= link_to I18n.t(:edit), :controller => controller, :action =>
    'edit', :id => user.id %>
</td>
