<div id="login">

  <h1 id="login"><span>Checkmark</span></h1>

  <div class="section">
  
    <% if flash[:login_notice] -%>
      <div class="login-error"><%=h flash[:login_notice] %></div>
    <% end -%>
    
    <% form_tag({ :action => 'login', :id => nil }, :id => 'login_form') do %>
  
        <%= label_tag 'user_login', 'CDF Login:' -%>
        <%= text_field_tag 'user_login', nil, :tabindex => 10 %>
  
        <%= label_tag 'user_password', 'Password:' %>
        <%= password_field_tag 'user_password', nil, :tabindex => 20 %><br />
  
        <%= label_tag 'commit', 'Login:' %>
        <%= submit_tag "Log in", :disabled_with => 'Logging in...', :tabindex => 100, :class => 'button' %>
        
    <% end %>
    
  </div>
  
</div>

<%# Try to put focus on the login text field on load %>
<script type="text/javascript">
  try{ document.getElementById('user_login').focus(); } catch(e) {}
</script>

