<td>
<span class="link"><%= h(grouping.group.group_name)%></span>
    <span class="table_menu">
	<%= link_to_remote "Rename Group",
	:url => { :action => 'rename_group_dialog', :id => assignment.id, :grouping_id => grouping.id } %>
    |
    <% if !grouping.is_valid? %>
      <%= link_to_remote "Validate", :url => { :action =>
    'valid_grouping', :id => assignment.id, :grouping_id =>
    grouping.id},
    :html => {:class => 'valid', :title => "Validate this group"}, 
    :confirm => "This will allow this group to submit without the required
    number of students. Are you sure?"
     %>
     |
    <% end %>
    <%= link_to_remote "Delete", :method => 'delete',
    :url => { :action => 'remove_group', :id => assignment.id, :grouping_id => grouping.id }, 
    :html => { :class => 'delete', :title => 'Delete this group' }, 
    :confirm => 'This will remove all members in the group and delete all information associated with this group. Continue?' %>
    |
	<%= link_to_remote "Add Members",
	:url => { :action => 'add_member_dialog', :id => assignment.id, :grouping_id => grouping.id } %>
	|
	<%= link_to_remote "Notes", 
	:url => { :controller => 'note' , :action => 'notes_dialog', :id => assignment.id, :noteable_id => grouping.id, :noteable_type => 'Grouping' , :action_to => 'note_message', :controller_to => 'groups'} %> 

</td>

<td>
<% grouping.student_memberships.each do |member| %> 
   <%= render :partial => "groups/manage/member", 
      :locals => {:member => member, :grouping => grouping } %>
<% end -%>
</td>

<td>
<% grouping.ta_memberships.each do |ta| %> 
  <%= ta.user.user_name%>
<% end -%>
</td>

<td>
<% if grouping.is_valid?%>
<%= image_tag "icons/tick.png",
   :title => "Group is valid"
%>
<% else %>
<%= image_tag "icons/cross.png",
   :title => "Group is not valid" %>

<% end %>
</td>
