<span class="link"><%= h(grouping.group.group_name)%></span>
    <span class="table_menu">
    <button class="rename_group" onclick="rename_group(<%= grouping.id %>); return false;">Rename Group</button>
    |
    <% if !grouping.is_valid? %>
      <%= link_to_remote "Valid", :url => { :action =>
    'valid_grouping', :id => assignment.id, :grouping_id =>
    grouping.id},
    :html => {:class => 'valid', :title => "Valid this group"}, 
    :confirm => "This will allow this group to submit without the required
    number of students. Are you sure?"
     %>
     |
    <% end %>
    <%= link_to_remote "Delete", :method => 'delete',
    :url => { :action => 'remove_group', :id => assignment.id, :grouping_id => grouping.id }, 
    :html => { :class => 'delete', :title => 'Delete this group' }, 
    :confirm => 'This will remove all members in the group and delete all information associated with this group. Continue?' %>
    |
    <button class="add_member" onclick="add_member(<%= grouping.id %>);
return false;">Add Member</button>
