<div class='pane-wrapper'>
  <div class='pane' style='margin-bottom: 1em;'>
    <% if assignment.assignment_files.length == 0 %>
      <p><%= t('assignments.no_required_files') %></p>
    <% else %>
      <p>
        <% if assignment.only_required_files%>
          <%= t('assignments.only_required_files') %>
        <% else %>
          <%= t('assignments.not_only_required_files') %>
        <% end %>
      </p>
      <p>
        <%= Assignment.human_attribute_name(:assignment_files) %>
      </p>
      <ul>
        <% assignment.assignment_files.each do |assignment_file| %>
          <li><%= assignment_file.filename %></li>
        <% end %>
      </ul>
    <% end %>
    <p>
      <%= t('assignments.maximum_file_size', file_size: Settings.max_file_size  / 1000000) %>
    </p>
  </div>
</div>
