<div id="content_filter_text">

  <% form_tag update_column_filter_assignment_submissions_path(), {:method => 'post', :remote => true} do %>

    <h3> 
      <%= I18n.t("browse_submissions.column_filter") %> 
    </h3>

    <%=check_box_tag 'col1', 'yes', 'submission1' %>
    <%= label_tag 'col1',  I18n.t("browse_submissions.group_name") %> <br />
    <%= check_box_tag 'col2', 'yes', '@submission_col_header[:Col2]'  %>
    <%= label_tag 'col2' , I18n.t("browse_submissions.student_name") %> <br />
    <%= check_box_tag 'col3', 'yes', false %>
    <%= label_tag 'col3', I18n.t("browse_submissions.repository") %> <br />
    <%= check_box_tag 'col4', 'yes', true %>
    <%= label_tag 'col4', I18n.t("browse_submissions.commit_date") %> <br />
    <%= check_box_tag 'col5', 'yes', true %>
    <%= label_tag 'col5', I18n.t("browse_submissions.marking_state") %> <br />
    <%= check_box_tag 'col6', 'yes', true %>
    <%= label_tag 'col6', I18n.t("browse_submissions.grace_credits_used") %> <br />
    <%= check_box_tag 'col7', 'yes', true %>
    <%= label_tag 'col7', I18n.t("browse_submissions.final_grade") %> <br />
    <%= check_box_tag 'col8', 'yes', true %>
    <%= label_tag 'col8', I18n.t("browse_submissions.section") %> <br />
    <%= check_box_tag 'col9', 'yes', true %>
    <%= label_tag 'col9', I18n.t("browse_submissions.can_begin_grading") %>

    <%= submit_tag I18n.t("browse_submissions.save"), :tabindex => 100, :class => 'button indent_button', :onclick =>  'column_filter_modal.close()' %>
    <%= button_to_function "Cancel", 'column_filter_modal.close()', :tabindex => 110 %>

  <% end %>

  <script>
    column_filter_modal.open();
  </script>

</div>


