<div id="content_filter_text">

<form name="tcol" onsubmit="return false">

<h3> Submission Column Filter</h3>

<input type="checkbox" name="tcol1" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.group_name") %> <br />
<input type="checkbox" name="tcol2" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.group_members") %> <br />
<input type="checkbox" name="tcol2" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.student_name") %> <br />
<input type="checkbox" name="tcol3" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.repository") %> <br />
<input type="checkbox" name="tcol4" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.commit_date") %> <br />
<input type="checkbox" name="tcol5" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.marking_state") %> <br />
<input type="checkbox" name="tcol6" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.grace_credits_used") %> <br />
<input type="checkbox" name="tcol7" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.final_grade") %> <br />
<input type="checkbox" name="tcol8" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.section") %> <br />
<input type="checkbox" name="tcol9" onclick="toggleVis(this.name)" checked> <%= I18n.t("browse_submissions.can_begin_grading") %> <br/>

</form>
</div>

    <%= submit_tag I18n.t("browse_submissions.save"), :tabindex => 100, :class => 'button indent_button'%>
    <%= button_to_function "Cancel", 'column_filter_modal.close()', :tabindex => 110 %>


<script>
//<![CDATA[
column_filter_modal.open();
//]]>
</script>
