<%= javascript_include_tag "jquery-ui" %>
<script>
  function toggle_assignment_files() {
    $("#assignment_files").toggle()
  }
</script>
<% ul_style="display:block"%>
<p>
  <%= I18n.t('student.submission.missing_files', file: @missing_assignment_files.size) %>
  <% if @missing_assignment_files.size > 5 %>
    <a onclick="toggle_assignment_files()"> <%= t('student.submission.toggle_file_list') %> </a>
    <% ul_style="display:none"%>
  <% end %>
</p>

<ul id="assignment_files" style="<%= ul_style%>" >
  <% @missing_assignment_files.each do |assignment_file| %>
    <li><%= assignment_file.filename %></li>
  <% end %>
</ul>
