<%= javascript_include_tag "submissions_manager" %>
<%= javascript_include_tag "FilterTable/FilterTable.js" %>
<%= render :partial => 'submissions_table_boot.js.erb' %>


<div id="title_bar">
  <h1>Workspace: <%= h(sanitize(@assignment.name)) %></h1>
  <% if Time.now >= @assignment.submission_rule.calculate_collection_time %>
  <h2>Grading can begin</h2>
  <% else %>
  <h2>Grading can begin after <%= h(@assignment.submission_rule.calculate_collection_time.strftime(LONG_DATE_TIME_FORMAT))%> </h2>
  <% end %>
</div>
<div class="wrapLeft">
<% if flash[:release_errors] %>
<div class="error">
  <h1>Errors</h1>
  <ul>
  <% flash[:release_errors].each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_tag({:action => 'update_submissions', :id => @assignment.id}) %>
<table id="submissions">

</table>

<%= submit_tag "Release Marks", :name => "release_results" %>
<%= submit_tag "Unrelease Marks", :name => "unrelease_results" %>
</form>
</div>
