<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.submissionTable = makeSubmissionTable(document.getElementById('submission-table'),
        {
          assignment_id: <%= @assignment.id %>,
          show_grace_tokens: <%= @assignment.submission_rule.type == 'GracePeriodSubmissionRule' %>,
          show_sections: <%= Section.exists? %>,
          is_timed: <%= @assignment.is_timed %>,
          can_collect: <%= allowed_to? :manage? %>,
          can_run_tests: <%= allowed_to?(:view_test_options?, @assignment) %>,
          defaultFiltered: [{ id: '<%= params[:filter_by] %>', value: '<%= params[:filter_value] %>' }]
        }
      );
    });
  </script>
<% end %>

<% content_for :title do %>
  <% if @assignment.is_peer_review? %>
    <%= PeerReview.model_name.human.pluralize %>: <%= sanitize(@assignment.parent_assignment.short_identifier) %>
  <% else %>
    <%= "#{Submission.model_name.human.pluralize}: #{sanitize(@assignment.short_identifier)}" %>
  <% end %>
  <div class='title-help'>
    <p>
      <% if @current_user.ta? %>
        <%= t('submissions.help.browse.tas') %>
      <% else %>
        <%= t('submissions.help.browse.admins') %>
      <% end %>
    </p>
  </div>
<% end %>


<% @heading_buttons = [] %>

<% unless @assignment.is_peer_review? %>
  <% if @current_user.admin? %>
    <% @heading_buttons += [
      { link_text: t('submissions.repo_list'),
        link_path: download_repo_list_assignment_submissions_path(@assignment)},
      { link_text: t('submissions.repo_checkout_file', type: 'HTTPS'),
        link_path: download_repo_checkout_commands_assignment_submissions_path(@assignment, url_type: :https)}
    ] %>
    <% if allowed_to?(:view?, with: KeyPairPolicy)
      @heading_buttons += [
        { link_text: t('submissions.repo_checkout_file', type: 'SSH'),
          link_path: download_repo_checkout_commands_assignment_submissions_path(@assignment, url_type: :ssh)}
      ]
      end %>
  <% end %>
<% end %>

<% content_for :additional_headings do %>
  <% if @current_user.ta? %>
    <span class='menu_bar'></span>
    <%= t('submissions.how_many_marked_in_collected',
          num_marked: @assignment.get_num_marked(@current_user.id),
          num_collected: @assignment.get_num_collected(@current_user.id)) %>
  <% end %>
<% end %>

<div id='submission-table'></div>
