<%= render partial: 'submissions_table', formats: [:'js.jsx'], handlers: [:erb] %>

<% content_for :title do %>
  <% if @assignment.is_peer_review? %>
    <%=t('peer_review.reviews')%>: <%= sanitize(@assignment.parent_assignment.short_identifier) %>
  <% else %>
    <%= t('browse_submissions.submissions',
          short_identifier: sanitize(@assignment.short_identifier)) %>
  <% end %>
  <div class='title-help submissions_help'>
    <p class='help-message-title submissions_help'>
      <% if @current_user.ta? %>
        <%= t('assignment.help.submissions_graders') %>
      <% else %>
        <%= t('assignment.help.submissions_admins') %>
      <% end %>
    </p>
  </div>
<% end %>


<% @heading_buttons = [] %>

<% unless @assignment.is_peer_review? %>
  <% if @current_user.admin? %>
    <% @heading_buttons += [
      { link_text: t('browse_submissions.csv_report'),
        link_path: download_simple_csv_report_assignment_submissions_path(@assignment) },
      { link_text: t('browse_submissions.detailed_csv_report'),
        link_path: download_detailed_csv_report_assignment_submissions_path(@assignment) },
      { link_text: t('browse_submissions.subversion_repo_list'),
        link_path: download_svn_repo_list_assignment_submissions_path(@assignment) },
      { link_text: t('browse_submissions.subversion_checkout_file'),
        link_path: download_svn_checkout_commands_assignment_submissions_path(@assignment) }
    ] %>
  <% end %>

  <% @heading_buttons.push(
    { link_text: t('browse_submissions.download_groupings_files'),
      link_path: download_groupings_files_assignment_submissions_path,
      html_options: { id: 'download_all_submissions_link' } }
  ) %>
<% end %>

<% content_for :additional_headings do %>
  <% if @current_user.ta? %>
    <span class='menu_bar'></span>
    <%= t('browse_submissions.how_many_marked',
          num_marked: @assignment.get_num_marked(@current_user.id),
          num_assigned: @assignment.get_num_assigned(@current_user.id)) %>
  <% end %>
<% end %>

<% content_for :wrap_left_content do %>
  <div id='notice'>
    <div id='job-messenger'></div>
  </div>
  <div id='submissions_table'></div>
<% end %>
<script>
  jQuery(document).ready(function() {
    var downloadGroupingsFiles = function() {
      window.location.href = "<%= download_groupings_files_assignment_submissions_path %>";
    };

    jQuery('#download_all_submissions_link').on('click', function () {
      jQuery.ajax({
        url: '<%= check_collect_status_assignment_submissions_path %>',
        type: 'GET',
        success: function (data) {
          if (data.collect_status !== true) {
            var proceed = confirm('<%= t('collect_submissions.collection_incomplete_warning') %>');

            if (proceed !== true) {
              return;
            }
          }
          downloadGroupingsFiles();
        },
        error: function () {
          alert('<%= t('collect_submissions.check_collection_status_error') %>');
        }
      });
      return false;
    });
  });
</script>
