<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.submissionTable = makeSubmissionTable(document.getElementById('submission-table'),
        {
          assignment_id: <%= @assignment.id %>,
          show_grace_tokens: <%= @assignment.submission_rule.type == 'GracePeriodSubmissionRule' %>,
          show_sections: <%= Section.exists? %>,
          is_admin: <%= @current_user.admin? %>,
          can_run_tests: <%= @current_user.admin? && @assignment.enable_test %>,
          max_mark: <%= @assignment.max_mark %>,
          authenticity_token: '<%= form_authenticity_token(
                         form_options: {action: download_groupings_files_assignment_submissions_url}) %>'
        }
      );
    });
  </script>
<% end %>

<% content_for :title do %>
  <% if @assignment.is_peer_review? %>
    <%= PeerReview.model_name.human.pluralize %>: <%= sanitize(@assignment.parent_assignment.short_identifier) %>
  <% else %>
    <%= "#{Submission.model_name.human.pluralize}: #{sanitize(@assignment.short_identifier)}" %>
  <% end %>
  <div class='title-help submissions_help'>
    <p class='help-message-title submissions_help'>
      <% if @current_user.ta? %>
        <%= t('submissions.help.browse.tas') %>
      <% else %>
        <%= t('submissions.help.browse.admins') %>
      <% end %>
    </p>
  </div>
<% end %>


<% @heading_buttons = [] %>

<% unless @assignment.is_peer_review? %>
  <% if @current_user.admin? %>
    <% @heading_buttons += [
      { link_text: t('submissions.detailed_csv_report'),
        link_path: summary_assignment_path(@assignment) },
      { link_text: t('submissions.repo_list'),
        link_path: download_repo_list_assignment_submissions_path(@assignment) },
      { link_text: t('submissions.repo_checkout_file'),
        link_path: download_repo_checkout_commands_assignment_submissions_path(@assignment) }
    ] %>
  <% end %>
<% end %>

<% content_for :additional_headings do %>
  <% if @current_user.ta? %>
    <span class='menu_bar'></span>
    <%= t('submissions.how_many_marked',
          num_marked: @assignment.get_num_marked(@current_user.id),
          num_assigned: @assignment.get_num_assigned(@current_user.id)) %>
  <% end %>
<% end %>

<div id='submission-table'></div>
