<%=javascript_include_tag "file_manager"%>
<%= javascript_include_tag "FilterTable/FilterTable.js" %>
<%= render :partial => "submission_warning.js.erb" %>
<%= render :partial => "file_manager_boot.js.erb" %>

<div id="title_bar">
<h1><%= h(sanitize(@assignment.short_identifier)) %>: File Manager</h1>
</div>

<div class="wrapLeft">
  <% if flash[:submit_notice] -%>
     <p class="success"><%= h(flash[:submit_notice]) %> </p>
  <% end %>


<div id="directory_selector" <%='style="display:none;"' unless @grouping.group.repository_external_commits_only? %>>
<p>
  Current Path: 
  <% path_memory = '/' 
     links = [] 
     @path.split('/').each do |folder| 
     path_memory = File.join(path_memory, folder) 
     links.push(link_to folder, :action => 'file_manager', :path => path_memory) 
  end %>
  <%= link_to '[root]', :action => 'file_manager', :path => '/' %>
  <%= links.join('/')%>

</p>
</div>


<% if flash[:transaction_warning] %>
  <div class="warning"><%= flash[:transaction_warning] %></div>
<% end %>
<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>

<% if @assignment.submission_rule.can_collect_now? %>
  <div class="warning">
    <%= h(@assignment.submission_rule.after_collection_message(@grouping)) %>
  </div>
<% else %>
  <% if @assignment.due_date < Time.now %>
    <div class="warning">
      <%= h(@assignment.submission_rule.overtime_message(@grouping)) %>
    </div>
  <% end %>
<% end %>

<% if flash[:update_conflicts] %>
  <div class="error">
    <h2>Conflicts</h2>
    <p>Your changes have not been made.  The following file conflicts were detected:</p>
    <ul>
    <% flash[:update_conflicts].each do |conflict| %>
      <li><%= h(conflict.to_s) %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:commit_notice] %>
  <div class="warning">
    <%=flash[:commit_notice]%>
  </div>
<% end %>
<% if flash[:commit_error] %>
  <div class="warning">
    <%=flash[:commit_error] %>
  </div>
<% end %>

<% if !@grouping.is_valid? %>
<div class="error">
  <%= t(:invalid_group_warning) %>
</div>
<% elsif @missing_assignment_files.size > 0 %>
  <div class="warning">
  <p>You still need to submit <%=@missing_assignment_files.size%> required file(s) for this assignment:
  <% if @missing_assignment_files.size > 5 %>
    <%= link_to_function "click here to toggle the list of missing files.", "$('missing_assignment_files_list').toggle();"%>
  <% end %>
  </p>
  <ul id="missing_assignment_files_list" <%='style="display:none;"' if @missing_assignment_files.size > 5%>
  <% @missing_assignment_files.each do |assignment_file| %>
    <li><%= h(assignment_file.filename) %></li>
  <% end %>
  </ul>
 </div>
<% end %>


<%= form_tag( {:action => "update_files", :id => @assignment.id}, {:multipart => true, :id => 'submit_form'} ) unless (!@grouping.is_valid? || @grouping.group.repository_external_commits_only?) %>


<div class="global_action">
<span id="loading_list"><%= image_tag("spinner.gif") %> Loading list...
</span>

<% if (@grouping.is_valid? && !@grouping.group.repository_external_commits_only?) %>
  <%=button_to_function "Add A New File", "injectFileInput(); set_onbeforeunload(true);"%>
<% end %>


<% if @grouping.is_valid? %>
<%= submit_tag( I18n.t(:submit),
    :disabled => !@grouping.is_valid?,
    :onclick => "set_onbeforeunload(false);"
    ) unless @grouping.group.repository_external_commits_only? 
    %>
<%= link_to( I18n.t(:cancel), 
        {:controller => 'submissions', 
           :action => 'file_manager'}, 
	 :id => @assignment.id,
	 :disabled => !@grouping.is_valid?,
	 :class => "button",
	 :onclick => "set_onbeforeunload(false); return confirm('#{I18n.t(:discard_changes_message)}');"
	 ) unless @grouping.group.repository_external_commits_only? %>
<% end %>
</div>

<div class="clear"></div>

  <table class="files" id="files">
  </table>

<% if @grouping.is_valid? %>
<div class="global_action">
<%= submit_tag( I18n.t(:submit),
    :disabled => !@grouping.is_valid?,
    :onclick => "set_onbeforeunload(false);"
    ) unless @grouping.group.repository_external_commits_only? %>
<%= link_to( I18n.t(:cancel),
        {:controller => 'submissions', 
           :action => 'file_manager'},  
	 :id => @assignment.id,
	 :disabled => !@grouping.is_valid?,
	 :class => "button",
	 :onclick => "set_onbeforeunload(false); return confirm('#{I18n.t(:discard_changes_message)}');"
	 ) unless @grouping.group.repository_external_commits_only? %>
</div>
</form>
<% end %>

</div> 
