<%=javascript_include_tag "file_manager"%>
<%= javascript_include_tag "FilterTable/FilterTable.js" %>

<%= render :partial => "boot.js.erb" %>

<div id="title_bar">
<h1><%= h(sanitize(@assignment.name)) %>: File Manager</h1>
</div>

<div class="wrapLeft">
  <% if flash[:submit_notice] -%>   
     <p class="success"><%= h(flash[:submit_notice]) %> </p>
  <% end %>

<div class="sub_title"><h2>Revision #:  <%= h(@revision.revision_number)%>
<h2></div>

<div id="directory_selector" <%='style="display:none;"' unless @directories.count > 0 %>>
<%= form_tag({:action => 'file_manager'}, :method => :get) %>
<select id="path" name="path" onchange="$(this).form.submit();">
    <option>/</option>
<% @directories.each do |directory_name, directory| %>
    <option><%= h(directory_name) %></option>
<% end %>
</select>
</form>
</div>


<% if flash[:transaction_warning] %>
  <div class="warning"><%= flash[:transaction_warning] %></div>
<% end %>

<% if flash[:update_conflicts] %>
  <div class="error">
    <h2>Conflicts</h2>
    <p>Your changes have not been made.  The following file conflicts were detected:</p>
    <ul>
    <% flash[:update_conflicts].each do |conflict| %>
      <li><%= h(conflict.to_s) %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if !@grouping.is_valid? %>
<div class="error">
  Your group is currently invalid.  You probably haven't met the group size minimum.  You will not be able to submit anything until you have met this minimum.
</div>
<% elsif @missing_assignment_files.size > 0 %>
  <div class="warning">
  <p>You still need to submit <%=@missing_assignment_files.size%> required file(s) for this assignment:
  <% if @missing_assignment_files.size > 5 %>
    <%= link_to_function "click here to toggle the list of missing files.", "$('missing_assignment_files_list').toggle();"%>
  <% end %>
  </p>
  <ul id="missing_assignment_files_list" <%='style="display:none;"' if @missing_assignment_files.size > 5%>
  <% @missing_assignment_files.each do |assignment_file| %>
    <li><%= h(assignment_file.filename) %></li>
  <% end %>
  </ul>
 </div>
<% end %>
<% if flash[:commit_error] %>
  <div class="warning">
    <%=flash[:commit_error] %>
  </div>
<% end %>

<%= form_tag( {:action => "update_files", :id => @assignment.id}, {:multipart => true, :id => 'submit_form'} ) %>
<div id="new_files">
</div>
<% if @grouping.is_valid? %>
  <%=link_to_function "Add A New File", "injectFileInput();"%>
<% end %>
<div>


<%= submit_tag I18n.t(:submit), :disabled => !@grouping.is_valid? %>
<%= link_to I18n.t(:cancel), {:controller => 'submissions', :action =>
'file_manager'}, :id => @assignment.id, :disabled => !@grouping.is_valid?,
:class => "button" %>
</div>
<span id="loading_list"><%= image_tag("spinner.gif") %> Loading list...
</span>
<div class="clear"></div>
  <table class="files" id="files">
  </table>
<%= submit_tag I18n.t(:submit), :disabled => !@grouping.is_valid? %>
<%= link_to I18n.t(:cancel), {:controller => 'submissions', :action =>
'file_manager'}, :id => @assignment.id, :disabled => !@grouping.is_valid?,
:class => "button" %>

</form>

</div>

