<% content_for :head do %>
  <%= javascript_include_tag 'Results/main', nonce: true %>

  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeSubmissionFileManager(document.getElementById('file_manager'),
        {
          course_id: <%= @current_course.id %>,
          assignment_id: <%= @assignment.id %>,
          grouping_id: <%= @grouping.id %>,
          readOnly: <%= !@assignment.allow_web_submits %>,
          enableSubdirs: <%= allowed_to? :manage_subdirectories? %>,
          enableUrlSubmit: <%= @grouping.assignment.url_submit %>,
          starterFileChanged: <%= @grouping.starter_file_changed %>,
          rmd_convert_enabled: <%= Rails.application.config.rmd_convert_enabled %>
        });
    });
  <% end %>
<% end %>

<% content_for :title do %>
    <%= t('submissions.student.file_manager',
          short_identifier: sanitize(@assignment.short_identifier)) %>
<% end %>

<div id='file_manager'></div>
