<% content_for :head do %>
  <%= javascript_pack_tag 'result' %>
  <%= javascript_include_tag 'Results/main' %>
  <%= stylesheet_link_tag 'result_main' %>
  <%= stylesheet_pack_tag 'result' %>
  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>

  <script>
    pdfjs.GlobalWorkerOptions.workerSrc = '<%= asset_pack_path('pdf.js') %>';

    document.addEventListener('DOMContentLoaded', () => {
      window.submissionFileManager = makeSubmissionFileManager(document.getElementById('file_manager'),
        {
          assignment_id: <%= @assignment.id %>,
          grouping_id: <%= @grouping.id %>,
          readOnly: <%= !@assignment.allow_web_submits %>,
          enableSubdirs: <%= allowed_to? :manage_subdirectories? %>,
          starterFileChanged: <%= @grouping.starter_file_changed %>
        });
    });
  </script>
<% end %>

<% content_for :title do %>
    <%= t('submissions.student.file_manager',
          short_identifier: sanitize(@assignment.short_identifier)) %>
<% end %>

<%= render partial: 'submissions/assignment_files_info',
           locals: { assignment: @assignment } %>

<div id='file_manager'></div>
