<% content_for :head do %>
  <%= javascript_pack_tag 'result' %>
  <%= javascript_include_tag 'Results/main' %>
  <%= stylesheet_link_tag 'result_main' %>
  <%= stylesheet_pack_tag 'result' %>
  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>

  <script>
    pdfjs.GlobalWorkerOptions.workerSrc = '<%= asset_pack_path('pdf.js') %>';

    document.addEventListener('DOMContentLoaded', () => {
      makeSubmissionFileManager(document.getElementById('file_manager'),
        {
          assignment_id: <%= @assignment.id %>,
          grouping_id: <%= @grouping.id %>,
          readOnly: <%= !@assignment.allow_web_submits %>,
          enableSubdirs: <%= allowed_to? :manage_subdirectories? %>
        });

      window.setInterval(() => {
        $.get({
          url: '<%= server_time_assignment_submissions_path(@assignment.id) %>',
          success: function(data) {
            document.getElementById('current_time').innerHTML = data;
          }
        });
      }, 60000);
    });
  </script>
<% end %>

<% content_for :title do %>
    <%= t('submissions.student.file_manager',
          short_identifier: sanitize(@assignment.short_identifier)) %>
<% end %>

<% content_for :additional_headings do %>
  <strong><%= t('submissions.student.server_time') %></strong>:
  <span id='current_time'><%= l(Time.zone.now)%></span>
<% end %>

<div id='file_manager'></div>

<aside class='dialog' id='addnew_dialog'>
  <h2><%= t('upload_the', item: t(:file)) %></h2>

  <%= form_tag update_files_assignment_submissions_path(@assignment.id),
               { multipart: true, id: 'file_form' } do %>
    <%= file_field_tag :new_files, name: 'new_files[]', multiple: true %>
    <%= hidden_field_tag :path, @path %>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload),
                     disabled: !@grouping.is_valid? %>
      <%= button_tag t(:cancel),
                     type: 'button',
                     onclick: 'modal_addnew.close(); return false;' %>
    </section>
  <% end %>
</aside>
