<% content_for :head do %>
  <%= javascript_include_tag 'file_manager' %>

  <%= render partial: 'shared/navigation_warning',
             formats: [:js],
             handlers: [:erb] %>

  <%= render partial: 'react_file_manager_boot_table',
             formats: [:'js.jsx'],
             handlers: [:erb] %>
<% end %>

<% content_for :title do %>
    <%= t('student.submission.file_manager',
          short_identifier: sanitize(@assignment.short_identifier)) %>
<% end %>

<div>
  <strong><%= t('server_time') %></strong>
  <span id='current_time'>
    <%= l(Time.zone.now)%>
  </span>

  <script>
    window.setInterval(function () {
      $.ajax({
        url: '<%= server_time_assignment_submissions_path(@assignment.id) %>',
        method: 'GET',
        success: function(data) {
          document.getElementById('current_time').innerHTML = data;
        }
      });
    }, 60000);
    </script>
</div>

<div class='wrapper'>
  <% if @assignment.vcs_submit %>
    <p>
      <%= t('student.submission.current_path') %>
      <%= link_to '[root]', action: 'file_manager', path: '/' %>
      <%
        path_memory = '/'
        @path.split('/').each do |folder|
          if (folder != '')
            path_memory = File.join(path_memory, folder) %>
            <%= link_to(" / #{folder}", action: 'file_manager', path: path_memory).html_safe %>
          <% end
        end
      %>
    </p>
  <% end %>

  <div id='file_table'></div>
</div>

<aside class='dialog' id='addnew_dialog'>
  <h2><%= t('add_new') %></h2>

  <%= form_tag update_files_assignment_submissions_path(@assignment.id),
               { multipart: true, id: 'file_form' } do %>
    <%= file_field_tag :new_files, name: 'new_files[]', multiple: true %>
    <%= hidden_field_tag :path, @path %>

    <section class='dialog-actions'>
      <%= submit_tag t(:submit),
                     disabled: !@grouping.is_valid?,
                     onclick: 'set_onbeforeunload(false); submitFile(event)' %>
      <%= button_tag t(:close),
                     type: 'button',
                     onclick: 'set_onbeforeunload(false); modal_addnew.close();' %>
    </section>
  <% end %>
</aside>
