<% content_for :head do %>
  <%= javascript_include_tag 'result', nonce: true %>
  <%= javascript_include_tag 'Results/main', nonce: true %>
  <%= stylesheet_link_tag 'result_main' %>

  <%= javascript_tag nonce: true do %>
    pdfjs.GlobalWorkerOptions.workerSrc = '<%= asset_path('pdf.worker.js') %>';

    document.addEventListener('DOMContentLoaded', () => {
      window.submissionFileManager = makeSubmissionFileManager(document.getElementById('file_manager'),
        {
          course_id: <%= @current_course.id %>,
          assignment_id: <%= @assignment.id %>,
          grouping_id: <%= @grouping.id %>,
          readOnly: <%= !@assignment.allow_web_submits %>,
          enableSubdirs: <%= allowed_to? :manage_subdirectories? %>,
          enableUrlSubmit: <%= @grouping.assignment.url_submit %>,
          starterFileChanged: <%= @grouping.starter_file_changed %>
        });
    });
  <% end %>
<% end %>

<% content_for :title do %>
    <%= t('submissions.student.file_manager',
          short_identifier: sanitize(@assignment.short_identifier)) %>
<% end %>


<div id='file_manager'></div>
