<% content_for :head do %>
  <%= javascript_pack_tag 'result' %>
  <%= javascript_include_tag 'Results/main' %>
  <%= stylesheet_link_tag 'result_main' %>
  <%= stylesheet_pack_tag 'result' %>

  <script>
    pdfjs.GlobalWorkerOptions.workerSrc = '<%= asset_pack_path('pdf.js') %>';

    document.addEventListener('DOMContentLoaded', () => {
      makeRepoBrowser(document.getElementById('file_manager'),
        {
          assignment_id: <%= @grouping.assessment_id %>,
          late_penalty: <%= !@grouping.assignment.submission_rule.is_a? NoLateSubmissionRule %>,
          grouping_id: <%= @grouping.id %>,
          collected_revision_id: '<%= @collected_revision&.revision_identifier %>',
          enableSubdirs: <%= allowed_to? :manage_subdirectories? %>
        });
    });
  </script>
<% end %>

<% content_for :title do %>
  <% if !@current_user.admin? && @grouping.assignment.anonymize_groups %>
    <%= t('submissions.repo_browser.repository_name', repository: "#{Group.model_name.human} #{@grouping.id}") %>
  <% else %>
    <%= t('submissions.repo_browser.repository_name', repository: @grouping.group.repository_name) %>
    (<%= @grouping.get_all_students_in_group %>)
  <% end %>
<% end %>

<div id='file_manager'></div>
