<% content_for :head do %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      makeRepoBrowser(document.getElementById('file_manager'),
        {
          assignment_id: <%= @grouping.assignment_id %>,
          grouping_id: <%= @grouping.id %>,
          collected_revision_id: '<%= @collected_revision&.revision_identifier %>'
        });
    });
  </script>
<% end %>

<% content_for :title do %>
  <%= t('submissions.repo_browser.repository_name', repository: @grouping.group.repository_name) %>
  (<%= @grouping.get_all_students_in_group %>)
<% end %>

<div id='file_manager'></div>

<aside class='dialog' id='addnew_dialog'>
  <h2><%= t('add_new') %></h2>

  <%= form_tag update_files_assignment_submissions_path(@grouping.assignment_id),
               { multipart: true, id: 'file_form' } do %>
    <%= file_field_tag :new_files, name: 'new_files[]', multiple: true %>
    <%= hidden_field_tag :path, @path %>
    <%= hidden_field_tag :grouping_id, @grouping.id %>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload) %>
      <%= button_tag t(:cancel),
                     type: 'button',
                     onclick: 'modal_addnew.close(); return false;'
      %>
    </section>
  <% end %>
</aside>
