<div id="sidebar">

  <h2>Navigation</h2>
  
<% if @current_user.admin? -%>
  <div id="admin_task">
    <ul>
      <li><%= link_to 'Manage Student List', :controller => 'users', :role => User::STUDENT %></li>
      <li><%= link_to 'Manage TA list', :controller => 'users', :role => User::TA %></li>
      <li>
        <%= link_to 'Manage Assignments', :controller => 'assignments' %>
        <ul>
          <% for @assignment in Assignment.all(:order => :id) %>
              <li><%= link_to @assignment.name, :controller => "assignments", :action => "edit", :id => @assignment.id %></li>
          <% end -%>
        </ul>
      </li>
      <li>
        <%= link_to 'Manage Groups', :controller => 'groups' %>
        <ul>
          <% for @assignment in Assignment.all(:order => :id, :conditions => ["group_max > 1"]) %>
            <li><%= link_to @assignment.name, :controller => "groups", :action => "manage_new", :id => @assignment.id %></li>
          <% end -%>
        </ul>
      </li>
      <li><%= link_to 'Assign TAs to Assignments', :controller => 'ta_assignments' %>
        <ul>
          <% for @assignment in Assignment.all(:order => :id) %>
              <li><%= link_to @assignment.name, :controller => "ta_assignments", :action => "list", :id => @assignment.id %></li>
          <% end -%>
        </ul>
      </li>
    </ul>
  </div>
<% end -%>
<% if @current_user.student? -%>
  <div id="student_task">
  <ul>
    <li><%= link_to 'Submit an assignment', :controller => 'submissions' %>
        <ul>
          <% for @assignment in Assignment.all(:order => :id) %>
              <li><%= link_to @assignment.name, :controller => "submissions", :action => "submit", :id => @assignment.id %></li>
          <% end -%>
        </ul>
    </li>
  </ul>
  </div>
<% end -%>
  
</div> <!-- sidebar -->
