<div class="section">

  <% form_for :user, :url => {:controller => controller, :action => action} do |f| -%>
  
    <%= f.error_messages -%>
  
    <%= f.label :user_name %>
    <%= f.text_field :user_name %><br />
  
    <%= f.label :user_number %>
    <%= f.text_field :user_number %><br />
  
    <%= f.label :last_name %>
    <%= f.text_field :last_name %><br />
  
    <%= f.label :first_name %>
    <%= f.text_field :first_name %><br />
 
    <input type="hidden" id="user_role" name="user[role]" value="<%= role %>" />
  
    <label for="submit">Submit</label>
    <%= f.submit 'Submit', :name => 'submit' %>
        
  <% end %>

</div>

<%= link_to 'Cancel', :controller => controller %>
