<%
  user_deductions = grouping.grace_period_deductions.includes(membership: :user).group_by {|d| d.membership.user}
%>
<h3><%= GracePeriodDeduction.model_name.human.pluralize %></h3>
<% user_deductions.each do |u| %>
<table>
  <thead>
    <th colspan="2">
      <%= u[0].user_name %> - (<%= u[0].first_name%> <%=u[0].last_name%>)
    </th>
  </thead>
  <tr>
    <td>
      <%= t('grace_period_submission_rules.credit', count: u[1].first.deduction) %>
    </td>
    <td>
      <% unless @current_user.student? %>
      <%= button_to(
            t('remove'),
            delete_grace_period_deduction_assignment_submission_result_path(
                id: grouping.id, deduction_id: u[1].first.id),
            confirm: t('grace_period_submission_rules.confirm_remove_deduction'),
            class: "button_to_delete_deduction",
            remote: true) %>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
