<%= content_for :modal_id, 'download_dialog' %>
<%= content_for :modal_title, t('download_the', item: Tag.model_name.human.pluralize) %>
<%= content_for :modal_open_link, '#downloadModal' %>

<%= content_for :modal_content do %>

  <div class='clickable_links'>
    <div class='clickable_text'>
      <i class="fa-solid fa-download" aria-hidden="true"></i>
      <%= t(:download_csv) %>
    </div>
    <%= link_to '',
                { action: 'download',
                  format: 'csv' },
                class: 'make_div_clickable' %>
  </div>
  <div class='clickable_links'>
    <div class='clickable_text'>
      <i class="fa-solid fa-download" aria-hidden="true"></i>
      <%= t(:download_yml) %>
    </div>
    <%= link_to '',
                { action: 'download',
                  format: 'yml' },
                class: 'make_div_clickable' %>
  </div>
  <section class='dialog-actions'>
    <input type='reset' id='download' value='<%= t(:cancel) %>'>
  </section>
<% end %>
