<div id="edit">
  <h2><%= t('helpers.submit.update', model: Tag.model_name.human) %></h2>

  <%= form_with model: [@current_course, @tag], method: 'PUT', local: true do |f| %>
    <div>
      <p><%= f.label :name, Tag.human_attribute_name(:name) %></p>
      <p><%= f.text_field :name %></p>
    </div>
    <div>
      <p>
        <%= f.label :description, Tag.human_attribute_name(:description) %>
        (<span id='descript_amount'>0/120</span>)
      </p>
      <p><%= f.text_area :description,
             id: 'description',
             cols: 30,
             rows: 3,
             maxlength: 120,
             onKeyDown: 'updateCharCount()' %></p>
    </div>
    <section class='dialog-actions'>
      <%= f.submit t(:save),
                   name: 'submit',
                   data: { disable_with: t(:working) },
                   class: 'button' %>
      <input type='reset' id='edit-tag-dialog-cancel' value='<%= t(:cancel) %>'>
    </section>
  <% end %>
</div>
