<script type='text/jsx'>
  /** @jsx React.DOM */
  var i = -1;

  var TagsTable = React.createClass({
    getDefaultProps: function() {
      // Creates a new table with the columns defined below.
      // The first column will be the column initially sorted.

      return {
        columns: [
          {
            id: 'tags_name',
            content: '<%= j raw I18n.t(:'tags.table.name') %>',
            sortable: true
          },
          {
            id: 'creator_name',
            content: '<%= j raw I18n.t(:'tags.table.creator') %>',
            sortable: true
          },
          {
            id: 'tags_description',
            content: '<%= j raw I18n.t(:'tags.table.description') %>',
            sortable: true
          },
          {
            id: 'tags_use',
            content: '<%= j raw I18n.t(:'tags.table.use') %>',
          },
          {
            id: 'tags_actions',
            content: '<%= j raw I18n.t(:'tags.table.actions') %>',
          }
        ],
        // Creates filters for the tags table. This allows
        // users to filter tags based on whether or not the
        // tag is in use.
        filters: [
          {
            name: 'all',
            text: '<%= j raw I18n.t(:'tags.table.all') %>',
            func: function(tag) {
              return true;
            }
          },
          {
            name: 'in_use',
            text: '<%= j raw I18n.t(:'tags.table.in_use') %>',
            func: function(tag) {
              // TODO: Remove this code and properly implement.
              if (tag.tags_use.charAt(0) == '0'){
                return false;
              }

              return true;
            }
          },
          {
            name: 'not_in_use',
            text: '<%= j raw I18n.t(:'tags.table.not_in_use') %>',
            func: function(tag) {
              // TODO: Remove this code and properly implement.
              if (tag.tags_use.charAt(0) == '0'){
                return true;
              }

              return false;
            }
          }
        ]
      }
    },
    getInitialState: function() {
      // TODO: Change to tags: [] and remove dummy data once tags model and controller are created.
      return {
        error: null,
        tags: [[],[],[],[],[]],
        selected_tags: []
      };
    },
    updateSelectedTags: function(tags) {
      this.setState({selected_tags:tags});
    },
    componentWillMount: function() {
      this.refresh();
    },
    // Asks for new info from backend and sets props accordingly.
    refresh: function() {
      document.getElementById('working').style.display = '';

      // TODO: Enter retrieval code for tags.

      document.getElementById('working').style.display = 'none';
    },
    onError: function(error) {
      this.setState({
        error: error
      });
    },
    render: function() {
      // Do tags specific operations here.
      var tags_data = this.state.tags.map(function(tag) {
        var tag = {};

        // TODO: Remove this code and replace with actual object manipulation.
        tag['id'] = i++;
        tag['tags_name'] = 'Tag #' + i;
        tag['creator_name'] = 'Bryan J Muscedere';
        tag['tags_description'] = 'This is a test tag. At present, these tags do not represent actual data.';
        tag['tags_use'] = i + '/15 assignments have this tag.';
        tag['tags_actions'] = <span>
          <a key={tag.edit}
            href={tag.edit}><%= j raw I18n.t(:'edit') %></a>
          |
          <a key={tag.delete}
             href={tag.delete}><%= j raw I18n.t(:'delete') %></a>
          </span>;

        return tag;
      }.bind(this));
      return (
        <div>
          <ErrorDiv error={this.state.error} />
          <Table data={tags_data}
            search_placeholder={'<%= j raw I18n.t(:'tags.search_tags') %>'}
            selectable={false}
            onSelectedRowsChange={this.updateSelectedTags}
            columns={this.props.columns}
            filters={this.props.filters} />
        </div>
      );
    }
  });

  React.renderComponent(<TagsTable sections={<%= raw @sections.to_json %>} />, document.getElementById('tags_table'));
</script>
