<% content_for :head do %>
<% end %>

<div class='title_bar'>
  <h1><%= t('tags.edit_tag') %></h1>
</div>

<div class='wrapper'>
  <div class='section'>
    <%= form_for @tag do |f| %>

        <%= render 'shared/flash_message' %>

        <table>
          <tr>
            <td><%= raw(f.label(:tag_name, t('tags.create.tag_prompt'))) %>:</td>
            <td><%= raw(f.text_field :tag_name) %></td>
          </tr>

          <tr>
            <td><%= raw(f.label(:last_name, t('user.last_name'))) %>:</td>
            <td><%= raw(f.text_field :last_name) %></td>
          </tr>
        </table>

        <%= f.hidden_field :id %>
        <%= f.submit t(:submit),
                     name: 'submit',
                     data: { disable_with: t('working') },
                     class: 'button' %>
        <%= link_to t(:cancel), :back, class: 'button' %>

    <% end %>
  </div>
</div>
