<% content_for :head do %>
    <%= render partial: 'boot',
               formats: [:js],
               handlers: [:erb] %>
    <%= render partial: 'tags_table',
               formats: [:'js.jsx'],
               handlers: [:erb] %>
    <%= stylesheet_link_tag('clickable') %>
<% end %>

<!--The title bar for the page-->
<% content_for :title,
  t('tags.title', assignment_short_identifier: @assignment.is_peer_review? ?
    @assignment.parent_assignment.short_identifier + ' ' + t('assignment.review') :
    @assignment.short_identifier) %>

<% @heading_buttons = [
  { link_text: t('tags.create.create_new'),
    link_path: '#',
    html_options: { onclick:'modal_create_new.open()' } },
  { link_text: t('tags.download.download'),
    link_path: '#',
    html_options: { onclick: 'modal_download.open()' } },
  { link_text: t('tags.upload.upload'),
    link_path: '#',
    html_options: { onclick: 'modal_upload.open()' } }
] %>

<% content_for :wrap_left_content do %>
  <!--The table that contains all the tags.-->
  <div id='tags_table'></div>
<% end %>

<!-- Modals -->
<%= render partial: 'create_new_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>

<aside class='dialog' id='edit_tags_dialog'></aside>
