<% content_for :head do %>
    <%= render partial: 'boot',
               formats: [:js],
               handlers: [:erb] %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeTagTable(document.getElementById('tags_table'), {course_id: <%= @current_course.id %>, assignment_id: <%= @assignment.id %>});
    });
  <% end %>
<% end %>

<% content_for :title, Tag.model_name.human.pluralize + ': ' +
  (@assignment.is_peer_review? ?
     @assignment.parent_assignment.short_identifier + ' ' + PeerReview.model_name.human :
     @assignment.short_identifier) %>

<% @heading_buttons = [
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>

<% content_for :wrap_left_content do %>
  <!--The table that contains all the tags.-->
  <div id='tags_table'></div>
<% end %>

<!-- Modals -->
<%= render partial: 'download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'upload_modal', layout: 'layouts/modal_dialog'  %>

<aside class='markus-dialog' id='edit_tags_dialog'></aside>
