<div id="upload">
 <h2><%= I18n.t("groups.upload.upload_groups_file") %></h2>
  <p>
    <%= I18n.t("groups.upload.description").html_safe %>
    <% if !@assignment.groupings.nil? && @assignment.groupings.length > 0 %>
      <br>
      <div class="information">
        <%= I18n.t("groups.upload.importing") %>
      </div>
    <% end %>
  </p>
  <%= form_for :group, :html => {:multipart => true},
                     :url => { :controller=>"groups",
                               :action => 'csv_upload',
                               :id => @assignment.id } do |f| -%>
  <p>
    <%= f.file_field :grouplist, :size => 2 %> <br>
    <%= submit_tag t(:upload), :'data-disable-with' => t(:uploading_please_wait) %>
    <button onclick="modalUpload.close(); return false;"><%= I18n.t('cancel') %></button>
  </p>
<% end %>
</div> <!-- Upload -->
