<script>
  jQuery(document).ready(function() {
    // Register dropdown menus...
    <% if !@result.released_to_students %>
      setup_annotation_categories();
    <% end %>

    // Create the modal dialogs
    modal                     = new ModalMarkus('#create_annotation_dialog');
    window.modal_create_new   = new ModalMarkus('#create_new_tag');
    window.modal_delete_tags  = new ModalMarkus('#delete_tags');
  });

  <% if @assignment.assign_graders_to_criteria && @current_user.ta? %>
    window.onload = function() {
      <% current_user_criteria = @current_user.get_criterion_associations_by_assignment(@assignment)
                                              .map &:criterion %>
      <% @mark_criteria.each do |criterion| %>
        var id_prefix = '<%= criterion.class == RubricCriterion ? 'mark' : 'flexible' %>';
        var criterion_li = document.getElementById(id_prefix + '<%= "_criterion_#{criterion.id}" %>');
        <% if current_user_criteria.include?(criterion) %>
          criterion_li.addClass('assigned');
        <% else %>
          criterion_li.addClass('unassigned');
          jQuery(criterion_li).find('input').prop('disabled', true);
          hide_criterion(<%= criterion.id %>, <%= criterion.class %>);
        <% end %>
      <% end %>
    };
  <% end %>

  jQuery(document).ready(function () {
    jQuery('#overall_remark_comment_edit form').on('ajax:success', function (data) {
        if (jQuery('.success').length > 0) {
            jQuery('.success').text = '<%= t("marker.overall_comments_success") %>';
            jQuery('.success').show();
            } else {
            jQuery('.wrapLeft').prepend(
                '<div class="success">' +
                    '<%= t("marker.overall_comments_success") %>' +
                    '</div>');
            }
        jQuery('#overall_remark_comment_submit').prop('disabled',true);
        }).on('ajax:before', function () {
        jQuery('.success').hide();
        });
      });
  jQuery(document).ready(function () {
    jQuery('#overall_comment_edit form').on('ajax:success', function (data) {
        if (jQuery('.success').length > 0) {
            jQuery('.success').text = '<%= t("marker.overall_comments_success") %>';
            jQuery('.success').show();
            } else {
            jQuery('.wrapLeft').prepend(
                '<div class="success">' +
                    '<%= t("marker.overall_comments_success") %>' +
                    '</div>');
            }
        }).on('ajax:before', function () {
        jQuery('.success').hide();
        });
    });
</script>
