<div id="pane_holders">
  <div id="code_pane">
    <ul id="code_and_annotations_tabs" class="subsection_tabs">
       <li class="tab"><a href="#code_holder">Source Code</a></li>
       <li class="tab"><a href="#annotations_summary">Annot. Summary</a></li>
    </ul>  
    <div id="code_holder" class="tabbedArea">
      <div id="annotation_menu">
        <button id="new_annotation_button" onClick="make_new_annotation(); return false;">New Annot.</button>
        <%= render :partial => "annotations/annotation_categories", :locals => {:annotation_categories => annotation_categories}%>
         <div class="clear"></div>  
      </div> <!-- End of annotation_menu -->

      <div class="clear"></div>
      <div id="codeviewer">

      </div> <!-- codeviewer --> 
      
    </div> <!-- End of Code holder -->
  
    <div id="annotations_summary" class="tabbedArea">    
      <h3>Current Annotations</h3>
      <p>Current annotations across all submission files. Click on the line number to jump to the location in the file.</p>
    
      <ul id="annotation_summary_list">
      </ul>
      
      <h3>Overall Comments</h3>
      
      <% form_tag({}, {:id => "overall_comment_box"}) do %>
            <label>Comment:</label>
            <%= text_area_tag :overall_comment, result.overall_comment, :cols => 50, :rows => 5 %>
      <% end -%>
      <%= observe_form "overall_comment_box", :url => { :action => 'update_comment', :result_id => result.id} -%>
    </div> <!-- Annotations Summary -->
  </div> <!-- Code Pane -->
  
  <!-- Divider  -->
  <div id="pane_divider">
  </div>
  <!-- End Divider -->

  <div id="rubric_pane" style="float:left;">
    <ul id="rubric_tabs" class="subsection_tabs">
      <li class="tab"><a href="#rubric_viewer">Rubric</a></li>
      <li class="tab"><a href="#summary_viewer">Summary</a></li>
    </ul>  
    <div id="rubric_viewer" class="tabbedArea">
      <div class="rubric_tools">
         <%= button_to_remote("Expand All", :url => {:controller => 'annotations', :action => 'expand_criteria', :expand => true, :aid => @assignment.id, :rid => result.id}) %>
         <%= button_to_remote("Collapse All", :url => {:controller => 'annotations', :action => 'expand_criteria', :expand => false, :aid => @assignment.id, :rid => result.id}) %>
         <%= button_to_remote("Expand Unmarked", :url => {:controller => 'annotations', :action => 'expand_criteria', :expand => true, :unmarked => true, :aid => assignment.id, :rid => result.id}) %>
       </div>  <!-- Rubric Tools -->
    
       <div id="rubric_criteria_pane">
          <ul id="rubric_criteria_pane_list">
            <%# also need to render the mark per criteria (if exist) %>
            <% @rubric_criteria.each do |rubric_criterion| -%>
            <%= render :partial => "results/marker/marker_rubric_criterion_li", :locals => {:rubric_criterion => rubric_criterion, :result => result, :mark => marks_map[rubric_criterion.id]} %>
            <% end -%>
          </ul> <!-- Rubric Criteria Pane List -->
       </div> <!-- Rubric Criteria Pane -->
       
    </div>  <!-- Rubric Viewer -->
  
    <div id="summary_viewer" class="marks_summary_pane tabbedArea">
    <%= render :partial => "results/marker/marker_summary", :locals => {:rubric_criteria => rubric_criteria, :marks_map => marks_map, :assignment => assignment, :result => result, :extra_marks => extra_marks}%>
   </div>
  
  <div id="annotation_holder">
  </div>
  
  <div id="create_annotation_dialog" style="display:none;">
    <p>
      <h2>Create new annotation</h2>
    </p>
    <p>
      <textarea id="new_annotation_content"></textarea>
    </p>
    <p>
      <h3>Annotation Category</h3>
      <select id="new_annotation_category">
        <option value="">Uncategorized</option>
        <% @annotation_categories.each do |annotation_category| %>
        <option value="<%=h(annotation_category.id)%>"><%=h(annotation_category.annotation_category_name)%></option>
        <% end %>
      </select>
      </p>
      <p style="margin-top: 5px; border-top: 1px solid #000000; padding-top: 10px;">
        <button onClick="submit_new_annotation(escape($F('new_annotation_content')), $F('new_annotation_category'));">Create New Annotation</button>
        <button onClick="modal.close();">Cancel</button>
      </p>
      
</div> <!-- pane_holders -->
