<div id="summary_criteria_pane">
  <%= render :partial => "results/common/marks_summary_table", :locals => {:rubric_criteria => rubric_criteria, :marks_map => marks_map} %>
</div>  <!-- Summary Criteria Pane -->
      
    <div class="mark_subtotal">
      <span">Subtotal: </span>
      <span id="current_subtotal_div"> <%= h(result.get_subtotal) %></span>
      <span> /<%= h(assignment.total_mark) %>  </span>
    </div>

    <div class="clear"></div><br/>
    
    <div id="extra_marks_pane" class="extra_marks_pane">
      <div class="bonus_deduction" onclick="unselect_extra_mark();"><b>Bonus/Deductions</b></div>
    <%= render :partial => 'results/common/extra_marks_table', :locals => {:extra_marks => extra_marks, :result_id => result.id} %>
    </div>      
      <div class="clear"></div>
       <b>Extra Marks:&nbsp;</b>
      <span id="positive_extra_points"><%= h(@result.get_positive_extra_points) %></span>
       <b>Deducted Marks:&nbsp;</b>
      <span id="negative_extra_points"><%= h(result.get_negative_extra_points) %></span>

    
    <div class="clear"></div>

    <div class="mark_total">
      <span>Final Mark&nbsp;</span>
      <span id="current_total_mark_div"> <%= h(result.total_mark) %>   </span>
      <span> / <%= h(assignment.total_mark) %>  </span>

</div>
