<div id='panes-content'>
  <div id='panes'>
    <div id='left-pane'></div>

    <div id='drag'></div>

    <div id='right-pane'>
      <div class='tab-pane flex-pane' id='mark_pane'>
        <ul id='mark_tabs' class='subsection_tabs'>
          <li><a href='#mark_viewer'><%= Mark.model_name.human.pluralize %></a></li>
          <li><a href='#summary_viewer'><%= t('results.summary') %></a></li>
          <% unless @result.is_a_review? %>
            <li><a href='#tag_viewer'><%= Tag.model_name.human.pluralize %></a></li>
          <% end %>
        </ul>

        <div id='mark_viewer' class='flex-col'></div>

        <div id='summary_viewer' class='marks_summary_pane flex-col'>
          <%= render partial: 'results/marker/marker_summary',
                     locals: { mark_criteria: mark_criteria,
                               marks_map: marks_map,
                               old_marks_map: old_marks_map,
                               assignment: assignment,
                               old_result: @old_result,
                               result: result,
                               extra_marks_points: extra_marks_points,
                               extra_marks_percentage: extra_marks_percentage } %>
        </div>

        <!-- Tag insertion pane. -->
        <% unless @result.is_a_review? %>
          <div id='tag_viewer' class='flex-col'>
            <%= render partial: 'results/marker/tag_summary',
                       locals: { assignment: assignment,
                                 old_result: @old_result,
                                 result: result } %>
          </div>
        <% end %>

        <!-- Annotation pane-->
        <div id='annotation_holder'></div>

        <!-- Modal element -->
        <aside class='dialog' id='annotation_dialog'></aside>

      </div> <!-- Mark pane -->
    </div>
  </div>
</div>
