<%
# Erb template for display flexible criterion in the grader view
%>

<li id="<%= "flexible_criterion_#{mark_criterion.id}" %>">
  <!--Mark update info -->
  <div id="mark_verify_result_<%=mark.id%>" class="error" style="display:none;">
    <%= I18n.t("marker.marks.invalid_mark") %>
  </div>
  <div class="criterion_title" id="<%= "mark_criterion_title_#{mark_criterion.id}"%>" onclick="<%="focus_mark_criterion(#{mark_criterion.id})"%>">
    <div id="<%="mark_criterion_title_#{mark_criterion.id}_expand"%>"
      class="float_left flexible_criterion_expand expanded" >- &nbsp;</div>
    <div id="<%="mark_criterion_title_#{mark_criterion.id}_name"%>"
      class="mark_criterion_title_div_level float_left">
      <strong><%=(mark_criterion.flexible_criterion_name)%></strong>
    </div>
    <div id="<%="mark_criterion_title_#{mark_criterion.id}_old_mark"%>"
      class="mark_criterion_old_mark float_left">
	  <strong><%= if(!old_mark.nil? && !old_mark.mark.nil?) then 
        "#{I18n.t('marker.marks.old')}#{old_mark.mark.to_s}"
        else "" end %></strong>
    </div>
    <div id="mark_flexible_<%=mark.id%>" class="float_right">
      <%= text_field_tag('mark_' + mark.id.to_s, mark.mark,
          size: 4,
          class: 'mark_grade_input',
          'data-action' => url_for(action: :update_mark,
                            mark_id: mark.id)) %>
  	 /&nbsp; <span id="mark_flexible_max_<%=mark.id%>"><%= mark_criterion.max.to_s%> </span>
    </div>
    <div class="clear"></div>
    <div id="<%="mark_criterion_inputs_#{mark_criterion.id}"%>" class="mark_criterion_level_container">
      <div class="float_left" >
        <%=mark_criterion.description %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</li>
