<%
# Erb template for display rubric criterion in the grader view
%>
<li id='<%= "mark_criterion_#{mark_criterion.id}" %>' class='rubric_criterion expanded'>
  <div class='criterion_title' id='<%= "mark_criterion_title_#{mark_criterion.id}" %>' onclick='<%= "focus_mark_criterion(#{mark_criterion.id})" %>'>
    <div id='<%= "mark_criterion_title_#{mark_criterion.id}_expand" %>'
      class='criterion_expand' >
      - &nbsp;
    </div>
    <%= render partial: 'results/common/rubric_criterion',
               locals: {mark_criterion: mark_criterion,
                        mark: mark,
                        old_mark: old_mark} %>
    <div id='<%= "criterion_info_#{mark_criterion.id}" %>'>
      <div class='mark_criterion_level_container' data-id='<%= mark_criterion.id %>'>
        <div class='cursor_hand'>
          <table id='mark_<%= mark.id %>_table'>
           <%
             (0...RubricCriterion::RUBRIC_LEVELS).each do |num_levels|
              if (!old_mark.nil? && num_levels == (old_mark.mark.nil? ? old_mark.mark : old_mark.mark / mark_criterion.weight))
                td_class = 'rubric_criterion_level_old_mark'
              elsif (num_levels == (mark.mark.nil? ? mark.mark : mark.mark / mark_criterion.weight))
                td_class = 'rubric_criterion_level_selected'
              else
                td_class = 'rubric_criterion_level'
              end

              level_name = mark_criterion['level_' + num_levels.to_s + '_name']
              level_desc = mark_criterion['level_' + num_levels.to_s + '_description']

              if level_desc && !level_desc.empty? -%>
                <tr>
                  <td id='mark_<%= mark.id %>_<%= num_levels %>' class='<%= td_class %>'
                      <% if result.is_a_review? %>
                        <% action_path_to_use = update_mark_assignment_results_path(
                              mark_id: mark.id, mark: num_levels, id: result.id) %>
                      <% else %>
                        <% action_path_to_use = update_mark_assignment_submission_results_path(
                              mark_id: mark.id, mark: num_levels, id: result.id) %>
                      <% end %>
                      data-action='<%= action_path_to_use %>'
                      onclick='update_rubric_mark(this, <%= mark.id %>, <%= num_levels %>)'
                      data-id='<%= mark_criterion.id %>' >
                    <div class='description'>
                       <strong> <%= level_name %></strong>
                       &nbsp;<%= level_desc %>
                    </div>
                    <div class='mark'><%= (num_levels * mark_criterion.weight).round(2) %> / <%= mark_criterion.max_mark %></div>
                   </td>
                </tr>
              <% end -%>
            <% end -%>
          </table>
        </div>
      </div>
    </div>
  </div>
</li>
