<div id="pane_holders">
  <div id="code_pane">
    <ul id="code_and_annotations_tabs" class="subsection_tabs">
       <li class="tab"><a href="#code_holder">Source Code</a></li>
       <li class="tab"><a href="#annotations_summary">Annot. Summary</a></li>
    </ul>  
    <div id="code_holder" class="tabbedArea">
      <div id="annotation_menu">
        <button id="new_annotation_button" onClick="make_new_annotation(); return false;">New Annot.</button>
        <%= render :partial => "annotations/annotation_categories", :locals => {:annotation_categories => annotation_categories}%>
         <div class="clear"></div>  
      </div> <!-- End of annotation_menu -->

      <div class="clear"></div>
      <div id="codeviewer">

      </div> <!-- codeviewer --> 
      
    </div> <!-- End of Code holder -->
  
    <div id="annotations_summary" class="tabbedArea">    

      <h3>Overall Comments</h3>

       <%= render :partial => 'results/marker/overall_comment', :locals => {:result => result} %>
       
      <h3>Current Annotations</h3>
      <p>Current annotations across all submission files. Click on the line number to jump to the location in the file.</p>
    
      <ul id="annotation_summary_list">
      </ul>
      

    </div> <!-- Annotations Summary -->
  </div> <!-- Code Pane -->
  
  <!-- Divider  -->
  <div id="pane_divider">
  </div>
  <!-- End Divider -->

  <div id="mark_pane" class="float_left">
    <ul id="mark_tabs" class="subsection_tabs">
      <li class="tab"><a href="#mark_viewer">Marks</a></li>
      <li class="tab"><a href="#summary_viewer">Summary</a></li>
      <li class="tab"><a href="#submission_rule_viewer">Submission Rule</a></li>
    </ul>  
    <div id="mark_viewer" class="tabbedArea">
      <div class="mark_tools">
         <%= button_to_remote("Expand All", :url => {:controller => 'results', :action => 'expand_criteria', :aid => @assignment.id}) %>
         <%= button_to_remote("Collapse All", :url => {:controller => 'results', :action => 'collapse_criteria', :aid => @assignment.id}) %>
         <%= button_to_remote("Expand Unmarked", :url => {:controller => 'results', :action => 'expand_unmarked_criteria', :aid => assignment.id, :rid => result.id}) %>
       </div>  <!-- Criterion Tools -->
       <div id="mark_criteria">
          <ul id="mark_criteria_pane_list">
            <%# also need to render the mark per criteria (if exist) %>
            <% @mark_criteria.each do |mark_criterion| -%>
            <%= render :partial => "results/marker/marker_#{@assignment.marking_scheme_type}_criterion_li", :locals => {:mark_criterion => mark_criterion, :result => result, :mark => marks_map[mark_criterion.id]} %>
            <% end -%>
          </ul> <!-- Criterion Pane List -->
       </div> <!-- Criterion Pane -->
       
    </div>  <!-- Criterion Viewer -->
  
  <div id="summary_viewer" class="marks_summary_pane tabbedArea">
    <%= render :partial => "results/marker/marker_summary", :locals => {:mark_criteria => mark_criteria, :marks_map => marks_map, :assignment => assignment, :result => result, :extra_marks_points => extra_marks_points, :extra_marks_percentage => extra_marks_percentage}%>
  </div>
   
  <div id="submission_rule_viewer" class="tabbedArea">
    <%= render :partial => assignment.submission_rule.grader_tab_partial, :locals => {:grouping => result.submission.grouping} %>
  </div>
  
  <!-- Annotation pane-->
  <div id="annotation_holder">
  </div>
  
  <div id="create_annotation_dialog" style="display:none;">
    <p>
      <h2>Create new annotation</h2>
    </p>
    <p>
      <textarea id="new_annotation_content"></textarea>
    </p>
    <p>
      <h3>Annotation Category</h3>
      <select id="new_annotation_category">
        <option value=""><%=t('annotations.one_time_only')%></option>
        <% @annotation_categories.each do |annotation_category| %>
        <option value="<%=h(annotation_category.id)%>"><%=h(annotation_category.annotation_category_name)%></option>
        <% end %>
      </select>
      </p>
      <p style="margin-top: 5px; border-top: 1px solid #000000; padding-top: 10px;">
        <button onClick="submit_new_annotation($F('new_annotation_content'), $F('new_annotation_category'));">Create New Annotation</button>
        <button onClick="modal.close();">Cancel</button>
      </p>
      
</div> <!-- pane_holders -->
