<div id='panes-content'>
  <div id='panes'>
    <div id='left-pane'>
      <div class='tab-pane' id='code_pane'>
        <ul id='code_and_annotations_tabs' class='subsection_tabs'>
           <li><a href='#code_holder'><%= t('marker.source_code') %></a></li>
           <li><a href='#annotations_summary'><%= t('marker.annot_summary') %></a></li>
           <% if can_show_remark_request_tab_in_marker_pane(submission) %>
              <li><a href='#remark_request_tab'><%= t('marker.remark_request') %></a></li>
           <% end %>
        </ul>

        <div id='code_holder'>
          <%# For image/PDF annotations %>
          <div id='sel_box'></div>

          <div id='annotation_menu'>
            <button id='new_annotation_button' onclick='make_new_annotation(); return false;'>
              <%= t('marker.new_annot')%>
            </button>

            <%= render partial: 'annotations/annotation_categories',
                       locals: { annotation_categories: annotation_categories } %>
          </div>

          <div id='codeviewer'></div>
        </div>

        <div id='annotations_summary'>
          <div id='annotations_summary_head'>
            <h3><%= t('marker.overall_comments') %></h3>

            <%= render partial: 'results/marker/overall_comment',
                       locals: { result: old_result ? old_result : result } %>

            <h3><%= t('marker.current_annotations') %></h3>
            <p><%= t('marker.across_all_submission_files') %></p>
          </div>

          <ul id='annotation_summary_list'></ul>
        </div>

        <div id='remark_request_tab' style='display:none;'>
          <% if @submission.has_remark? %>
            <%= render partial: 'results/marker/remark_request',
                       locals: { result: result,
                                 submission: submission,
                                 assignment: assignment } %>
          <% end %>
        </div>
      </div> <%# Code Pane %>
    </div>

    <div id='drag'></div>

    <div id='right-pane'>
      <div class='tab-pane' id='mark_pane'>
        <ul id='mark_tabs' class='subsection_tabs'>
          <li><a href='#mark_viewer'><%= t('marker.marks.marks') %></a></li>
          <li><a href='#summary_viewer'><%= t('marker.marks.summary') %></a></li>
          <li><a href='#submission_rule_viewer'><%= t('marker.marks.submission_rule') %></a></li>
        </ul>

        <div id='mark_viewer'>
          <div class='mark_tools'>
            <button class='inline-button' id='expand_all'>
              <%= t('marker.marks.expand_all') %>
            </button>
            <button class='inline-button' id='collapse_all'>
              <%= t('marker.marks.collapse_all') %>
            </button>
            <button class='inline-button' id='expand_unmarked'>
              <%= t('marker.marks.expand_unmarked') %>
            </button>
          </div>

          <div id='mark_criteria'>
            <ul id='mark_criteria_pane_list'>
              <%# Also need to render the mark per criteria (if exist) %>
              <% @mark_criteria.each do |mark_criterion| -%>
              <%= render partial: "results/marker/marker_#{@assignment.marking_scheme_type}_criterion_li",
                         locals: { mark_criterion: mark_criterion,
                                   result: result,
                                   mark: marks_map[mark_criterion.id],
                                   old_mark: @old_marks_map[mark_criterion.id] } %>
              <% end -%>
            </ul>
          </div>
        </div> <%# Criterion Viewer %>

        <div id='summary_viewer' class='marks_summary_pane'>
          <%= render partial: 'results/marker/marker_summary',
                     locals: { mark_criteria: mark_criteria,
                               marks_map: marks_map,
                               old_marks_map: @old_marks_map,
                               assignment: assignment,
                               old_result: @old_result,
                               result: result,
                               extra_marks_points: extra_marks_points,
                               extra_marks_percentage: extra_marks_percentage } %>
        </div>

        <div id='submission_rule_viewer'>
          <%= render partial: assignment.submission_rule.grader_tab_partial,
                     locals: { grouping: result.submission.grouping } %>
        </div>

        <!-- Annotation pane-->
        <div id='annotation_holder'></div>

        <aside class='dialog' id='create_annotation_dialog'>
          <input type='hidden' id='x1' value=''>
          <input type='hidden' id='x2' value=''>
          <input type='hidden' id='y1' value=''>
          <input type='hidden' id='y2' value=''>
          <p>
            <h2><%= I18n.t('marker.annotation.new_annotation') %></h2>
          </p>
          <p>
            <textarea id='new_annotation_content'></textarea>
          </p>
          <p>
            <h3><%= I18n.t('marker.annotation.annotation_category') %></h3>
            <select id='new_annotation_category'>
              <option value=''><%= t('annotations.one_time_only') %></option>
              <% @annotation_categories.each do |annotation_category| %>
                <option value='<%= annotation_category.id %>'>
                  <%= annotation_category.annotation_category_name %>
                </option>
              <% end %>
            </select>
          </p>

          <section class='dialog-actions'>
            <button onclick="submit_new_annotation(
                              jQuery('#new_annotation_content').val(),
                              jQuery('#new_annotation_category').val(),
                              jQuery('#x1').val(),
                              jQuery('#x2').val(),
                              jQuery('#y1').val(),
                              jQuery('#y2').val());">
              <%= I18n.t('marker.annotation.new_annotation') %>
            </button>
            <%= button_to_function t('cancel'), 'modal.close();' %>
          </section>
        </aside>
      </div> <!-- Mark pane -->
    </div>
  </div>
</div>
