<tr id="add_extra_mark_prompt">
<td colspan="3">
<%= form_for :extra_mark,
             url: {action: 'add_extra_mark', id: result.id},
             remote: true do |f| %>
  <%= f.label :description, I18n.t("marker.marks.comment") %>
  <%= f.text_field :description %><br>
  <%= f.label :extra_mark, I18n.t("marker.marks.mark") %>
  <%= f.text_field :extra_mark, size: 3 %> <br>
  <div class="error" style="display:none;" id="new_extra_mark_error">
  </div>
  <%= f.submit t('save'), data: { disable_with: t('working') }%>
<% end %>
</td>
</tr>
