<div id="remark_request">
  <h3><%= Assignment.human_attribute_name(:remark_message) %></h3>
  <%= assignment.remark_message %>
  <h3><%= Submission.human_attribute_name(:submitted_remark) %></h3>
	<div id="remark_request_text">
    <p><%= t('results.remark.submitted_on', time: l(submission.remark_request_timestamp)) %></p>
    <%= markdown(submission.remark_request) %>
  </div>
  <div id="overall_remark_comment">
    <h3><%= Result.human_attribute_name(:overall_comment) %></h3>
    <% if !result.released_to_students %>
      <%= render partial: 'results/marker/overall_remark_comment', locals: {result: result} %>
    <% else %>
      <div id="overall_remark_comment_show">
        <%= result.overall_comment %>
      </div>
    <% end %>
  </div>
</div>
