<div id="remark_request">
  <h3><%= I18n.t("marker.remark_instructions") %></h3>
  <%= h(assignment.remark_message) %>
  <h3><%= I18n.t("marker.remark_request") %></h3>
  <div id="remark_request_text">
    <%= h(submission.remark_request) %>
  </div>
  <div id="overall_remark_comment">
    <h3><%= I18n.t("marker.overall_comments") %></h3>
    <% if !result.released_to_students %>
      <%= render :partial => 'results/marker/overall_remark_comment', :locals => {:result => result} %>
    <% else %>
      <div id="overall_remark_comment_show">
        <%= h(result.overall_comment) %>
      </div>
    <% end %>
  </div>
</div>