<div id='used_tags_pane'>
  <%= javascript_include_tag 'Results/tag_operations.js' %>

  <div class='tag_collector_pane'>
    <span><%= t('marker.marks.current_tags').html_safe %></span>
    <div id='active_tags' class='tag_list'>
      <% @all_tags.each do |tag| %>
        <%= tag('span', id: tag.id, class: 'tag_element') %>
          <%= tag.name %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<!-- Displays tags that can be assigned to the assignment -->
<% if !old_result %>
  <div id='available_tags_pane'>
    <div class='tag_collector_pane'>
      <span><%= t('marker.marks.available_tags').html_safe %></span>
      <div class='tag_list'>
        <% Tag.all.each do |tag| %>
          <%= tag('span', id: tag.id, class: 'tag_element') %>
            <%= tag.name %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- Provides quick tag summary -->
<hr>
<div class='tag_summary'>
  <span><%= t('marker.marks.tag_summary').html_safe %></span>
  <div class='top_tag_list'>
    <!-- TODO: Replace with actual data for tags -->
    <div class='tag_line'><span class='tag_element'>Improper Syntax</span> x 10</div>
    <div class='tag_line'><span class='tag_element'>Great Assignment</span> x 7</div>
    <div class='tag_line'><span class='tag_element'>Extension</span> x 4</div>
    <div class='tag_line'><span class='tag_element'>Bad Assignment</span> x 2</div>
    <div class='tag_line'><span class='tag_element'>Needs Further Attention</span> x 1</div>
  </div>
</div>

<!-- Allows admins to add tags. -->
<% if @current_user.admin? %>
  <hr>
  <div class='tag_admin'>
    <%= button_tag t('marker.marks.new_tag'),
                   onclick: 'modal_create_new.open()' %>
    <%= button_tag t('marker.marks.delete_tag'),
                   onclick: 'modal_delete_tags.open()' %>
  </div>
<% end %>