<div id='used_tags_pane'>
  <div class='tag_collector_pane'>
    <%= t('tags.results.current_tags') %>
    <div id='active_tags' class='tag_list'>
      <% if @grouping_tags.length == 0 %>
        <span id='active-none' class='no_tags'><%= t('tags.results.no_current_tags') %></span>
      <% else %>
        <span id='active-none' class='no_tags_hidden'><%= t('tags.results.no_current_tags') %></span>
      <% end %>
      <% @grouping_tags.each do |tag| %>
        <%= tag('span', id: tag.id, class: 'tag_element') %>
            <%= link_to tag.name,
                        '#',
                        onClick: "formatTag(\"remove\",#{tag.id},#{@grouping.id})",
                        class: 'remove_tag_url'%>
        </span>
        <%= tag('span', id: "#{tag.id}-space") %>&nbsp;</span>
      <% end %>
    </div>
  </div>
</div>

<!-- Displays tags that can be assigned to the assignment -->
<% unless old_result %>
  <div id='available_tags_pane'>
    <div class='tag_collector_pane'>
      <%= t('tags.results.available_tags') %>
      <div id='available_tags' class='tag_list'>
        <% if @not_grouping_tags.length == 0 %>
          <span id='available-none' class='no_tags'><%= t('tags.results.no_available_tags') %></span>
        <% else %>
          <span id='available-none' class='no_tags_hidden'><%= t('tags.results.no_available_tags') %></span>
        <% end %>
        <% @not_grouping_tags.each do |tag| %>
          <%= tag('span', id: tag.id, class: 'tag_element') %>
              <%= link_to tag.name,
                          '#',
                          onClick: "formatTag(\"add\",#{tag.id},#{@grouping.id})",
                          class: 'add_tag_url'%>
          </span>
          <%= tag('span', id: "#{tag.id}-space") %>&nbsp;</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- Provides quick tag summary -->
<hr>
<div class='tag_summary'>
  <%= t('tags.results.common_tags') %>
  <div class='top_tag_list'>
    <% @top_tags.each do |tag| %>
      <div class='tag_line'>
        <%= tag('span', id: tag.id, class: 'tag_element') %>
          <%= tag.name %>
        </span>
        &nbsp;x <%= @top_tags_num[tag.id] %>
      </div>
    <% end %>
  </div>
</div>

<!-- Allows admins to add tags. -->
<% if @current_user.admin? %>
  <hr>
  <div class='tag_admin'>
    <%= button_tag t('helpers.submit.create', model: Tag.model_name.human),
                   onclick: 'modal_create_new.open()' %>
  </div>
<% end %>
