<script type="text/jsx">
  /** @jsx React.DOM */

  var CourseSummariesTable = React.createClass({
    getDefaultProps: function() {
      var columns = [
        {
          id: 'student_user_name',
          content: '<%= j raw I18n.t('course_summaries_index.user_name') %>',
          sortable: true,
          compare: compare_anchor_text,
          searchable: true
        },
        {
          id: 'student_first_name',
          content: '<%= j raw I18n.t('course_summaries_index.first_name') %>',
          sortable: true,
          compare: compare_anchor_text,
          searchable: false
        },
        {
          id: 'student_last_name',
          content: '<%= j raw I18n.t('course_summaries_index.last_name') %>',
          sortable: true,
          compare: compare_anchor_text,
          searchable: false
        }
      ];
      
      <% for assignment in @assignments %>
        columns.push({
          id: 'assignment_' + <%= assignment.id %>,
          content: '<%= assignment.short_identifier %>',
          sortable: true,
          compare: compare_anchor_text,
          searchable: false
        });
      <% end %>

      <% for grade_entry_from in @grade_entry_forms %>
        columns.push({
          id: 'gef_' + <%= grade_entry_from.id %>,
          content: '<%= grade_entry_from.short_identifier %>',
          sortable: true,
          compare: compare_anchor_text,
          searchable: false
        });
      <% end %>

      <% for marking_scheme in @marking_schemes %>
        columns.push({
          id: 'marking_scheme_' + <%= marking_scheme.id %>,
          content: '<%= marking_scheme.name %>',
          sortable: false,
          compare: compare_anchor_text,
          searchable: false
        });
      <% end %>

      return {columns: columns};
    },
    getInitialState: function() {
      return {
        courseSummaries: []
      };
    },
    componentWillMount: function() {
      this.refresh();
    },
    // inpired by http://monicalent.com/blog/2013/06/28/quick-tip-use-jquery-\
    // to-complete-an-arbitrary-number-of-ajax-calls-before-firing-an-event/
    createRequest: function(data, args) {
      return jQuery.ajax({
        url: data.url,
        method: data.method,
        dataType: data.dataType,
        data: (args) ? args : {}
      });
    },
    // get info
    refresh: function() {
      document.getElementById('working').style.display = '';
      var ajaxCalls = [];

      // add the populate call
      ajaxCalls.push(this.createRequest({
        url: 'course_summaries/populate',
        method: 'GET',
        dataType: 'json'
      }));

      var that = this;
      jQuery.when.apply(this, ajaxCalls).done(function(students) {
        debugger;
        that.setState({
          courseSummaries: students
        });
        document.getElementById('working').style.display = 'none';
      });
    },
    render: function() {
      that = this;
      var course_summaries_data = this.state.courseSummaries.map(function(courseSummary) {
        var cs = {};

        cs['id'] = courseSummary.id;
        cs['student_user_name'] = courseSummary.user_name;
        cs['student_first_name'] = courseSummary.first_name;
        cs['student_last_name'] = courseSummary.last_name;

        <% for assignment in @assignments %>
          var id = <%= assignment.id %>;
          var key = "assignment_" + id;
          var value = courseSummary.assignment_marks[id]
          cs[key] = value ? value : "NA";
        <% end %>

        <% for grade_entry_from in @grade_entry_forms %>
          var id = <%= grade_entry_from.id %>;
          var key = "gef_" + id;
          var value = courseSummary.grade_entry_form_marks[id];
          cs[key] = (value) ? value : "NA";
        <% end %>

        <% for marking_scheme in @marking_schemes %>
          var id = <%= marking_scheme.id %>;
          var key = "marking_scheme_" + id;
          var value = parseFloat(courseSummary.weighted_marks[id]);
          cs[key] = value ? value : "NA";
        <% end %>
        
        return cs;
      });

      return (
        <div>
          <Table data={course_summaries_data}
            columns={this.props.columns}
          />
        </div>
      );
    }
  });

  React.renderComponent(<CourseSummariesTable />, document.getElementById('course_summaries_table'));

</script>