<% unless marking_scheme.nil? %>
    <p class="due_date">
      <%= I18n.t(:marking_scheme, marking_scheme_id: marking_scheme.id) %>
    </p>

    <table>
      <tr>
        <td><%= I18n.t(:course_summary_weighted_average) %></td>
        <td>
          <%= I18n.t(:percentage, percentage: number_with_precision(marking_scheme.calculate_released_weighted_average, precision: 1) || '0') %>
        </td>
      </tr>

      <tr>
        <td><%= I18n.t(:course_summary_weighted_median) %></td>
        <td>
          <%= I18n.t(:percentage, percentage: number_with_precision(marking_scheme.calculate_released_weighted_median, precision: 1) || '0') %>
        </td>
      </tr>
    </table>
<% end %>
