<% unless marking_scheme.nil? %>
  <p>
    <%= t(:marking_scheme_with_id, marking_scheme_id: marking_scheme.id) %>
  </p>

  <div class="grid-2-col">
    <span><%= t(:average) %></span>
    <span>
      <%= number_to_percentage(DescriptiveStatistics.mean(grades) || 0, precision: 1) %>
    </span>

    <span><%= t(:median) %></span>
    <span>
      <%= number_to_percentage(DescriptiveStatistics.median(grades) || 0, precision: 1) %>
    </span>
  </div>
<% end %>
