<%= content_for :head do %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener('DOMContentLoaded', () => {
      makeGradesSummaryDisplay(document.getElementById('grades_summary_display'),
                               { course_id: <%= @current_course.id %>, student: <%= @current_role.student? %> });
    });
  <% end %>
<% end %>
<% if @current_role.student? %>
  <%= content_for :title, t('course_summary.student_title') %>
<% else %>
  <%= content_for :title, t('course_summary.title') %>

  <%
    @heading_buttons = [
      { link_text: MarkingScheme.model_name.human.pluralize,
        link_path: course_marking_schemes_path(@current_course) }
    ]
    if @current_role.admin?
      @heading_buttons += [
        { link_text: t('download_the', item: t('course_summary.grade_report')),
          link_path: download_csv_grades_report_course_course_summaries_path(@current_course) }
      ]
    end
  %>
<% end %>
<div id='grades_summary_display'></div>
