<div class='float-right'>

  <% released = !criterion.results_unreleased? %>

  <% if released %>
    <span class="button disabled"><%= t('rubric_criteria.level.add') %></span>
  <% else %>
  <%= link_to t('rubric_criteria.level.add'),
              '#',
              class: 'button',
              id: 'add-criterion-level' %>
  <% end %>

  <%= button_to "#{t(:delete)} #{Criterion.model_name.human}",
                course_criterion_path(@current_course, criterion),
                data: { confirm: t('helpers.confirm.delete', model: Criterion.model_name.human) },
                method: :delete,
                class: 'delete',
                form_class: 'display-inline-block',
                title: t('helpers.submit.delete', model: Criterion.model_name.human),
                remote: true,
                disabled: released
                %>
</div>

<h2>
  <%= criterion.name %> (<%= t('criteria.rubric') %>)
</h2>

<%= form_for criterion,
             url: course_criterion_path(@current_course, criterion),
             method: :patch,
             html: { class: 'edit-rubric-criterion' },
             remote: true do |f| %>

  <div class='main_rubric_criteria_edit'>
    <p id="<%= "criterion_inputs_#{criterion.id}" %>">
      <%= f.label :name, Criterion.human_attribute_name(:name) %>
      <%= f.text_field :name, readonly: released %>
    </p>
    <p>
      <%= f.label :max_mark, Criterion.human_attribute_name(:max_mark) %>
      <%= f.number_field :max_mark, value: "#{criterion.max_mark}", step: 0.1, readonly: released %>
    </p>
    <p>
      <%= f.label :bonus,
                  Criterion.human_attribute_name(:bonus) %>
      <%= f.check_box :bonus, { disabled: released } %>
    </p>
    <% if criterion.assignment.assignment_files.exists? %>
      <span id="<%= "criterion_inputs_#{criterion.id}" %>">
        <% selected_files = criterion.criteria_assignment_files_joins.map { |join| join.assignment_file } %>
        <p><%= f.label :assignment_files, AssignmentFile.model_name.human %></p>
        <%= f.collection_select(:assignment_files, criterion.assignment.assignment_files, :id, :filename,
                                { selected: selected_files.map { |file| file.id } },
                                { multiple: true }) %>
      </span>
    <% end %>
    <h4><%= t('criteria.visibility') %></h4>
    <div class='inline-labels'>
      <%= f.label :ta_visible,
                  Criterion.human_attribute_name(:ta_visible) %>
      <%= f.check_box :ta_visible, { disabled: released } %>
      <%= f.label :peer_visible,
                  Criterion.human_attribute_name(:peer_visible) %>
      <%= f.check_box :peer_visible, { disabled: released } %>
    </div>
    <p><%= f.submit t(:save), data: { disable_with: t('working') }, disabled: released %></p>
  </div>

  <div id='rubric-criteria-levels' class='rubric-criteria-levels'>
    <%= render partial: 'rubric_criteria/rubric_criterion_levels',
               locals: { criterion: criterion } %>
  </div>

<% end %>
