<%#
# Erb template for display rubric criterion levels in the assignment rubric manager
%>
<div class="rubric_level_header">
  <%= f.label "level_#{rubric_level_index}_name".to_sym,
              I18n.t("rubric_criteria.level.level_index",
                     index: rubric_level_index),
              class: "bold_inline_label" %>
</div>
<%= f.label :name, RubricCriterion.human_attribute_name(:level_name), class: 'required rubric_label' %>
<%= f.text_field :name, value: "#{criterion.levels[rubric_level_index].name}", class: 'rubric_field'%>
<%= f.label :mark, RubricCriterion.human_attribute_name(:level_mark) + " (#{criterion.levels[rubric_level_index].mark}/#{criterion.max_mark})",
            class: 'rubric_label required' %>
<%= f.number_field :mark, value: "#{criterion.levels[rubric_level_index].mark}", step: 0.1, class: 'rubric_field'%>
<%= f.label :description, RubricCriterion.human_attribute_name(:level_description), class: 'rubric_label'%>
<%= f.text_area :description, value: "#{criterion.levels[rubric_level_index].description}"%>
<br>
<br>
