<div class='section'>
  <% if @assignments.empty? %>
    <p><%= t('assignments.none') %></p>
  <% else %>
    <div class="table">
      <table>
        <thead>
        <tr>
          <th><%= Assignment.model_name.human %></th>
          <th><%= Assignment.human_attribute_name(:due_date) %></th>
        </tr>
        </thead>
        <tbody>
        <% @assignments.each do |assignment| -%>
          <tr>
            <td>
              <% if assignment.is_hidden %>
                <%= link_to truncate(t('assignments.hidden',
                                       assignment_text:
                                         "#{h(assignment.short_identifier)}: #{h(assignment.description)}")),
                            view_summary_course_assignment_path(@current_course, assignment.id),
                            data: { remote: true, id: assignment.short_identifier },
                            class: (assignment.id == @current_assignment.id ? "inactive" : "") %>
              <% else %>
                <%= link_to assignment.short_identifier + ': ' + assignment.description,
                            view_summary_course_assignment_path(@current_course, assignment.id),
                            data: { remote: true, id: assignment.short_identifier },
                            class: (assignment.id == @current_assignment.id ? "inactive" : "") %>
              <% end %>
            </td>

            <td>
              <%= l(assignment.due_date) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
