<div id='role_switch_text'>
  <%= form_tag switch_role_course_path(@current_course),
               { method: 'post', remote: true } do %>
    <div id='role_switch_error'></div>

    <h2><%= t('main.role_switch.switch_role') %></h2>

    <%= text_field_tag 'effective_user_login',
                       nil,
                       placeholder: t('main.role_switch.log_in_as'),
                       'aria-label': t('main.role_switch.log_in_as'),
                       autocorrect: 'off',
                       autocomplete: 'off' %>

    <section class='dialog-actions'>
      <%= submit_tag t('main.log_in'),
                     data: { disable_with: t('main.logging_in') } %>
      <%= button_tag t(:cancel),
                     id: 'role-switch-modal-cancel' %>
    </section>
  <% end %>
</div>
