<%
   # Required:  :per_page, :current_page, :page_items, :total_items, :assignment, :filter
   current_page_low = (per_page.to_i * (current_page.to_i - 1)) + 1
   current_page_high = current_page_low + page_items.to_i - 1
   last_page = total_items / per_page.to_i + 1
%>

<%=
link_to_if(current_page_low > 1, '<< ' + I18n.t("pagination.first"),
    :id => assignment.id,
    :filter => filter,
    :page => 1,
    :per_page => per_page,
    :sort_by => sort_by,
    :desc => desc ) do
  "<< " + I18n.t("pagination.first")
end
%>



<span class="ap_prev_link">
<%=
link_to_if( current_page_low > 1, '< ' + I18n.t("pagination.prev"),
    :id => assignment.id,
    :filter => filter,
    :page => current_page - 1,
    :per_page => per_page,
    :sort_by => sort_by,
    :desc => desc ) do
  "< " + I18n.t("pagination.prev")
end
%>

</span>

<strong><%= I18n.t("pagination.of", :low => current_page_low, :high => current_page_high, :total => total_items) %></strong>

<span class="ap_next_link">
<%=
link_to_if( current_page_high < total_items, I18n.t("pagination.next") + ' >',
    :id => assignment.id,
    :filter => filter,
    :page => current_page + 1,
    :per_page => per_page,
    :sort_by => sort_by,
    :desc => desc ) do
  I18n.t("pagination.next") + ' >'
end
%>
</span>

<%=
link_to_if( current_page_high < total_items, I18n.t("pagination.last") + ' >>',
    :id => assignment.id,
    :filter => filter,
    :page => last_page,
    :per_page => per_page,
    :sort_by => sort_by,
    :desc => desc ) do
  I18n.t("pagination.last") + ' >>'
end
%>
