<div class='float-right'>
  <%= button_to t(:delete),
                course_criterion_path(@current_course, criterion),
                data: { confirm: t('helpers.confirm.delete', model: Criterion.model_name.human) },
                method: :delete,
                class: 'delete',
                form_class: 'display-inline-block',
                title: t('helpers.submit.delete', model: Criterion.model_name.human),
                remote: true,
                disabled: marks_released %>
</div>

<h2>
  <%= criterion.name %> (<%= t('criteria.flexible') %>)
</h2>

<%= form_for criterion,
             url: course_criterion_path(@current_course, criterion),
             method: :patch,
             remote: true do |f| %>

  <div class='inline-labels'>
    <%= f.label :name, Criterion.human_attribute_name(:name) %>
    <%= f.text_field :name, readonly: marks_released %>
    <%= f.label :max_mark, Criterion.human_attribute_name(:max_mark) %>
    <%= f.number_field :max_mark, step: 0.1, readonly: marks_released %>
    <%= f.label :bonus,
                Criterion.human_attribute_name(:bonus) %>
    <%= f.check_box :bonus, { disabled: marks_released } %>
    <% if criterion.assignment.assignment_files.exists? %>
      <% selected_files = criterion.criteria_assignment_files_joins.map { |join| join.assignment_file } %>
      <%= f.label :assignment_files, AssignmentFile.model_name.human %>
      <%= f.collection_select(:assignment_files, criterion.assignment.assignment_files, :id, :filename,
                              { selected: selected_files.map { |file| file.id } },
                              { multiple: true }) %>
    <% end %>
    <%= f.label :description, Criterion.human_attribute_name(:description) %>
    <div>
      <%= f.text_area :description, rows: 6, cols: 50, readonly: marks_released %>
      <p><%= t('criteria.description_hint') %></p>
    </div>
  </div>

  <h4><%= t('criteria.visibility') %></h4>
  <div class='inline-labels'>
    <%= f.label :ta_visible,
                Criterion.human_attribute_name(:ta_visible) %>
    <%= f.check_box :ta_visible, { disabled: marks_released } %>
    <%= f.label :peer_visible,
                Criterion.human_attribute_name(:peer_visible) %>
    <%= f.check_box :peer_visible, { disabled: marks_released } %>
  </div>

  <p><%= f.submit t(:save), data: { disable_with: t('working') }, disabled: marks_released %></p>
<% end %>

<% unless criterion.description.blank? %>
  <h3><%= t(:preview) %></h3>
  <div>
    <%= markdown(criterion.description) %>
  </div>
<% end %>
