<%= render 'shared/flash_message' %>
<div id="rubrics_help">
  <h2><%= I18n.t(:help)%></h2>
  <h3><%= I18n.t(:editing_criteria)%></h3>
  <p><%= I18n.t(:help_editing_flexible_criteria_message)%></p>
  <h3><%= I18n.t(:ordering_criteria) %></h3>
  <p><%= I18n.t(:help_ordering_criteria_message)%></p>
</div>
