<li class="criterion_holder <%= cycle('rowA', 'rowB') %>"
	id="criterion_<%=(criterion.id)%>">
  <span class="criterion_handle">
    <%= image_tag "handle.png" %>
  </span>
  <span class="criterion_title_div link">
    <%= link_to truncate(criterion.flexible_criterion_name,
                                  :length => 30,
                                  :omission => '...'),
		        edit_assignment_flexible_criterium_path(@assignment.id, criterion.id),
				:id => "criterion_title_#{criterion.id}",
				:remote => true %>
  </span>
  <span class="criterion_arrow">
    <% if location != :first and location != :single %>
    <%=  link_to image_tag('icons/bullet_arrow_up.png',
			   :alt => t('flexible_criteria.move_up')),
			   move_criterion_assignment_flexible_criterium_path(
			   @assignment,
			   criterion,
			   :direction => :up),
		 :remote => true %>
    <% end %> <br /> <% if  location != :last and location != :single %>
    <%= link_to image_tag('icons/bullet_arrow_down.png',
			  :alt =>  t('flexible_criteria.move_down')),
	          move_criterion_assignment_flexible_criterium_path(
			  @assignment,
			  criterion,
			  :direction => :down),
		:remote => true %>
    <% end %>
  </span>
  <span id="criterion_max_<%=(criterion.id)%>" class="criterion_max">
  	<%= criterion.max %>
  </span>
</li>
