<ul class='annotation_text_list'>
  <% if annotation_category.annotation_texts.empty? %>
    <li><%= t('marker.annotation.no_annotation_in_this_category') %></li>
  <% end %>

  <% annotation_category.annotation_texts.each do |annotation_text| %>
    <li id='annotation_text_<%= annotation_text.id %>'
        onclick='add_existing_annotation(<%= annotation_text.id %>, <%= result_id %>); return false;'
        onMouseDown='return false;'
        title='<%= annotation_text.content %>'>
      <%= truncate(annotation_text.content, length: 70) %>
    </li>
  <% end %>
</ul>
