<%= form_for :annotation_text,
             url: form_url,
             remote: true,
             html: { onsubmit: 'commit.disabled = true;'} do |f| %>

  <% form_values.each do |key, val| %>
    <input type='hidden' name='<%= key %>' value='<%= val %>'>
  <% end %>
  <div>
    <div style="float: left;">
      <h2><%= title %></h2>
      <p>
        <%= f.text_area :content, id: 'new_annotation_content', name: 'content', value: content, required: true,
                        placeholder: t('results.annotation.placeholder') %>
      </p>
      <h3 id="annotation_preview_title"><%= t(:preview) %></h3>
      <div id="annotation_preview" style="word-wrap: break-word;"></div>
      <% if new_annotation %>
        <% if current_user.is_reviewer_for?(assignment.pr_assignment, result) %>
          <%= hidden_field_tag 'new_annotation_category', value: t('annotation_categories.one_time_only') %>
        <% else %>
          <h3><%= AnnotationCategory.model_name.human %></h3>
          <select id='new_annotation_category' name='category_id'>
            <option value=''><%= t('annotation_categories.one_time_only') %></option>
            <% annotation_categories.each do |annotation_category| %>
              <option value='<%= annotation_category.id %>'>
                <%= annotation_category.annotation_category_name %>
              </option>
            <% end %>
          </select>
        <% end %>
      <% end %>

      <section class='dialog-actions'>
        <%= submit_tag title, id:'submit_annotation', data: submit_btn_data %>
        <%= button_tag t('cancel'), type: 'button', onclick: 'close_annotation_modal();' %>
      </section>
    </div>
  </div>
<% end %>
