<%= form_for :annotation_text,
             url: { action: 'create',
                    controller: 'annotations' },
             remote: true,
             html: { onsubmit: 'commit.disabled = true;'} do |f| %>

  <% form_values.each do |key, val| %>
    <input type='hidden' name='<%= key %>' value='<%= val %>'>
  <% end %>
  <div>
    <div style="float: left;">
      <h2><%= title %></h2>
      <p>
        <%= f.text_area content, id: 'new_annotation_content', name: 'content', required: true %>
      </p>
      <%= button_tag t('marker.annotation.preview'), type: 'button', onclick: 'updateAnnotationPreview();' %>
      <% if new_annotation %>
        <% if current_user.is_reviewer_for?(assignment.pr_assignment, result) %>
          <%= hidden_field_tag 'new_annotation_category', value: t('annotations.one_time_only') %>
        <% else %>
          <h3><%= I18n.t('marker.annotation.annotation_category') %></h3>
          <select id='new_annotation_category'>
            <option value=''><%= t('annotations.one_time_only') %></option>
            <% annotation_categories.each do |annotation_category| %>
              <option value='<%= annotation_category.id %>'>
                <%= annotation_category.annotation_category_name %>
              </option>
            <% end %>
          </select>
        <% end %>
      <% end %>

      <section class='dialog-actions'>
        <%= submit_tag title, data: submit_btn_data %>
        <%= button_tag t('cancel'), type: 'button', onclick: 'close_annotation_modal();' %>
      </section>
    </div>
    <div style="float: right">
      <h2 id="annotation_preview_title" style="display: none"><%= t('marker.annotation.preview_title') %></h2>
      <p id="annotation_preview" style="display: none; word-wrap: break-word;"></p>
    </div>
    <div style="clear:both;"></div>
  </div>
<% end %>