<ul class='annotation_text_list'>
  <%
    text = []
    annotation_category.annotation_texts.each do |annotation_text|
      if (annotation_text.user.nil? || (annotation_text.user.admin? || annotation_text.user == @current_user))
        text << annotation_text
      end
    end
  %>
  <% if text.empty? %>
    <li><%= t('annotation_categories.no_annotations') %></li>
  <% end %>

  <% text.each do |annotation_text| %>
    <li id='annotation_text_<%= annotation_text.id %>'
        onclick='add_existing_annotation(<%= annotation_text.id %>, <%= result_id %>); return false;'
        onMouseDown='return false;'
        title='<%= annotation_text.content %>'>
      <%= truncate(annotation_text.content, length: 70) %>
    </li>
  <% end %>
</ul>
