<%= form_for :annotation_text,
             url: form_url,
             remote: true,
             html: { onsubmit: 'commit.disabled = true;'} do |f| %>

  <% form_values.each do |key, val| %>
    <input type='hidden' name='<%= key %>' value='<%= val %>'>
  <% end %>
  <div>
    <div>
      <h2><%= title %></h2>
      <p>
        <%= f.text_area :content, id: 'new_annotation_content', name: 'content', value: content, required: true,
                        placeholder: t('results.annotation.placeholder'),
                        rows: 8 %>
      </p>
      <h3><%= t(:preview) %></h3>
      <div id="annotation_preview" class="preview"></div>
      <% if @current_user.is_reviewer_for?(assignment.pr_assignment, result) %>
        <%= hidden_field_tag 'new_annotation_category', value: t('annotation_categories.one_time_only') %>
      <% else %>
        <h3><%= AnnotationCategory.model_name.human %></h3>
        <% options = [[t('annotation_categories.one_time_only'), '']] %>
        <% assignment.annotation_categories.each do |annotation_category| %>
          <% c = annotation_category.flexible_criterion_id.nil? ? '' :
                   " [#{annotation_category.flexible_criterion.name}]" %>
          <% options << [annotation_category.annotation_category_name + c, annotation_category.id] %>
        <% end %>
        <% selected = annotation&.annotation_text&.annotation_category_id %>
        <select id='new_annotation_category' name='category_id' onchange="check_criterion()"
                <%= "disabled='true'" unless annotation.nil? %>>
          <%= options_for_select(options, selected) %>
        </select>
        <p id='deduction_disclaimer' class='hidden'>
          <%= t('annotations.default_deduction') %>
        </p>
      <% end %>

      <section class='dialog-actions'>
        <%= submit_tag title, id:'submit_annotation', data: submit_btn_data %>
        <%= button_tag t('cancel'), type: 'button', onclick: 'close_annotation_modal();' %>
      </section>
    </div>
  </div>
<% end %>
