<div class="criteria_fieldset">
  <div id="rubric_criteria_list_title_bar">
    <span class="criterion_title_div"><b><%= I18n.t("criteria") %></b></span>
            <span class="criterion_weight"><b><%= I18n.t("weight") %></b> (
              <span id="rubric_total_weight"><%= @assignment.total_criteria_weight %></span>
            )</span>
  </div>
  <div class="clear"></div>
  <ul id="rubric_criteria_pane_list">
    <% @criteria.each do |criterion| -%>
      <% if @criteria.length == 1 %>
      <%= render :partial => "rubrics/rubric_criterion",
                 :locals => {:criterion => criterion, :location => :single} %>
      <% elsif criterion == @criteria.first %>
      <%= render :partial => "rubrics/rubric_criterion",
                 :locals => {:criterion => criterion, :location => :first} %>
      <% elsif criterion == @criteria.last %>
      <%= render :partial => "rubrics/rubric_criterion",
                 :locals => {:criterion => criterion, :location => :last} %>
      <% else %>
      <%= render :partial => "rubrics/rubric_criterion",
                 :locals => {:criterion => criterion, :location => :middle} %>
     <% end %>
    <% end %>
  </ul>
</div>
<%= sortable_element("rubric_criteria_pane_list",
		     :url => update_positions_assignment_rubrics_path(
				  @assignment)) %>
