<%= stylesheet_link_tag("livepipe/tabs") %>
<%= javascript_include_tag  'livepipe/livepipe' %>
<%= javascript_include_tag  'rubrics' %>
<%= javascript_include_tag  '16accordion' %>

<script>
var create_num = <%=@assignment.rubric_criteria.length%> + 1;
var authenticity_token = '<%=form_authenticity_token%>';
var selected_criterion_id = null;
var xhr_in_progress = false;
</script>

<div id="title_bar">
  <h1>Rubric Management:  <%= h(sanitize(@assignment.name)) %></h1>	
</div>

<div class="wrapLeft">
<% if flash[:upload_notice] && flash[:invalid_lines].empty? -%>
  <div>
    <p class="success"><%= h(flash[:upload_notice]) %></p>
  </div>
<% end -%>
<p id="criterion_error" class="warning" style="display: none;">
  
</p>

<div class="colLeft">
      <div id="rubric_criteria_pane_menu">
        <h2 id="rubricCriteria">Rubric Criteria <span id="addCriterion"><%= link_to_remote 'Add Criterion', :url => { :action => 'add_criterion', :id => @assignment.id}, :with => "'create_num='+create_num", :before => "create_num++;" %></span>
</h2>
      
</div>
  <div id="rubric_criteria_pane">
  <!--  Gives controller and instruction
              Views can be dynamic
              Controller: add_action, with the id,
              :with => attach these parameters
              :before => before the counters
              Also passing the number of critieras
        -->
      <ul id="rubric_criteria_pane_list">
         <li><span class="criterion_weight"><%= h(@assignment.total_mark/4) %></span></li>
        <% @criteria.each do |criterion| -%>
          <%= render :partial => "rubrics/manage/criterion", :locals => {:criterion => criterion} %>
         <% end -%>

    </ul>  <!-- Rubric Criteria Pane -->
      <%= sortable_element("rubric_criteria_pane_list", :url => { :action => "update_positions" }) %>		
      
</div>
<!------------------------------------------------------------------- -->    

    <div id="rubric_levels_pane">
      <div id="rubric_levels_pane_menu">
        <h2><span id="selected_criterion_name"></span></h2>
	<div id="rubrics_help">
	  <h2><%= I18n.t(:help)%></h2>
	    <h3><%= I18n.t(:editing_criteria)%></h3>
	       <p><%= I18n.t(:help_editing_criteria_message)%></p>
	     <h3><%= I18n.t(:ordering_criteria) %></h3>
	       <p><%= I18n.t(:help_ordering_criteria_message)%></p>
	</div>
        <div id="rubric_levels_pane_list">
        </div>
    </div>
  
   <div class="clear"></div>
  
  </div> <!-- Edit Canvas -->
 </div>
<div class="colRight" >
    <div id="test-accordion" class="accordion"> 
    <div class="accordion-toggle">Upload Rubric File</div>
    <div class="accordion-content">
    <p>
    Select a CSV or YAML file to upload
    <!-- Need a better message
    Select a CSV file of the following form:<br /><br />
    <code>level1_name,level2_name,level3_name,level4_name,level5_name <br />
          criterion,weight,level0_desc,level1_desc,level2_desc,level3_desc,level4_desc<br />
          ...</code><br />-->
    </p>
  
    <p>
      <% form_for :upload_rubric, :html => {:multipart => true}, :url => { :controller=>"rubrics",
                      :action => 'upload_rubric',
                      :id => @assignment.id,
                      :html => {:multipart => true }} do |f| -%>
      <p>
          <%= f.file_field :rubric %>
      </p>
          <p> File type: &nbsp;
            <%= f.radio_button :file_type, "csv", :checked => "checked" %>csv &nbsp;
            <%= f.radio_button :file_type, "yml" %>yml
          </p>
      <p>
        <%= submit_tag("Upload") %>
      </p>
       <% end %>
    </p>
    
    <% # display lines in csv file that has not been successfully processed %>
    <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
    <div class="errorExplanation" id="errorExplanation">
      <h2>The following criteria has not been successfully added:</h2>
      <br />
      <ul style="padding-left:20px;">
        <% for line in flash[:invalid_lines] -%>
        <li><%= h(line) %></li>
        <% end -%>
      </ul>
      <h5>Make sure that:</h5>
      <ul style="padding-left:20px;">
        <li>There are no more than 5 rubric levels</li>
        <li>Criterion weight is numeric</li>
        <li>Each field is separated by a comma</li>
        <li>Each line has the required fields specified above</li>
      </ul>
    </div>
    <% end -%>
 </div> 
  
    <div class="accordion-toggle">Download Rubric File</div>
    <div class="accordion-content">
    <p>What format would you like to download the rubric in?</p>
  
    <ul>
      <li><%= link_to 'Download rubric in CSV Format', {:controller=>"rubrics", :action=>"download_rubric", :format => 'csv', :id=> @assignment.id}%></li>
      <li><%= link_to 'Download rubric in YML Format', {:controller=>"rubrics", :action=>"download_rubric", :format => 'yml', :id=> @assignment.id}%></li>
    </ul>
    
    <% # display lines in csv file that has not been successfully processed %>
    <% if flash[:invalid_lines] && !flash[:invalid_lines].empty? -%>
    <div class="errorExplanation" id="errorExplanation">
      
    <h2>The following problems were encountered:</h2>
      
      <ul style="padding-left:20px;">
        <% for line in flash[:invalid_lines] -%>
          <li><%= h(line) %></li>
        <% end -%>
      </ul>
      
    </div>
    <% end -%>
  
  </div> <!-- Download canvas -->
</div> <!-- Tabbed Area -->
</div>
</div>
