<% content_for :head do %>
  <%= javascript_include_tag 'Rubrics/index' %>

  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
<% end %>

<% if @assignment.past_due_date? %>
  <div class='warning'>
    <%= t('past_due_date_warning') %>
  </div>
<% end %>

<div class='title_bar'>
  <h1>
    <%= t('rubric_criteria.criteria_management',
          identifier: @assignment.short_identifier) %>
  </h1>
  <div class='heading_buttons'>
        <%= link_to_function t('add_criterion'),
            %| if($('new_rubric_criterion') != null) {
              $('rubric_criterion_rubric_criterion_name').select();
              $('rubric_criterion_rubric_criterion_name').focus();
            } else {
              #{remote_function url: new_assignment_rubric_path(@assignment),
                                method: 'get'}
            }| %>
  <span class='menu_bar'></span>
  <%= link_to t(:download),
              '#',
              onclick: 'modal_download.open()' %>
  <span class='menu_bar'></span>
  <%= link_to t('rubric_criteria.upload.csv'),
              '#',
              onclick: 'modal_upload_csv.open()' %>
  <span class='menu_bar'></span>
  <%= link_to t('rubric_criteria.upload.yml'),
              '#',
              onclick: 'modal_upload_yml.open()' %>
  </div>
</div>

<div class='wrapper'>
  <%= render 'shared/flash_message' %>

  <p id='new_criterion_error' class='warning' style='display: none;'></p>

  <div id='rubric_criteria_pane'>
    <%= render partial: 'rubrics/rubric_criteria_pane' %>
  </div>

  <div id='rubric_levels_pane'>
    <div id='rubric_levels_pane_menu'>
      <%= render partial: 'rubric_manager_help' %>
      <div id='rubric_criteria_pane_list'></div>
    </div>
  </div>
</div>

<aside class='dialog' id='upload_csv_dialog'>
  <h1><%= t('rubric_criteria.upload.csv_title') %></h1>
  <p><%= t('rubric_criteria.upload.csv_prompt') %></p>
  <%= form_for :csv_upload,
               url: { controller: 'rubrics',
                      action: 'csv_upload',
                      id: @assignment.id},
                      html: { multipart: true, size: 1 } do |f| %>
    <div>
      <p><%= f.file_field :rubric %></p>
      <%= t('rubric_criteria.upload.format_csv_html') %>
      <%= t('csv_special_characters_html') %>
    </div>

    <div>
      <%= t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </div>

    <section class='dialog-actions'>
      <%= f.submit t(:upload),
                   data: { disable_with: t(:uploading_please_wait) } %>
      <input type='reset'
             value='<%= t(:cancel) %>'
             onclick='modal_upload_csv.close();'>
    </section>
  <% end %>
</aside>

<aside class='dialog' id='upload_yml_dialog'>
  <h1><%= t('rubric_criteria.upload.yml_title') %></h1>
  <p><%= t('rubric_criteria.upload.yml_prompt') %></p>
  <%= form_for :yml_upload,
               url: yml_upload_assignment_rubrics_path(@assignment),
               html: { multipart: true, size: 1 } do |f| %>
    <div>
      <p><%= f.file_field :rubric %></p>
      <%= t('rubric_criteria.upload.format_yml_html') %>
    </div>

    <div>
      <%= t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </div>

    <section class='dialog-actions'>
      <%= f.submit t(:upload),
                   data: { disable_with: t(:uploading_please_wait) } %>
      <input type='reset'
             value='<%= t(:cancel) %>'
             onclick='modal_upload_yml.close();'>
    </section>
  <% end %>
</aside>

<aside class='dialog' id='download_dialog'>
  <h2><%= t('rubric_criteria.download.title') %></h2>
  <p><%= t('rubric_criteria.download.prompt') %></p>

  <ul>
    <li>
      <%= link_to t('rubric_criteria.download.link_csv'),
                  download_csv_assignment_rubrics_path(@assignment),
                  onclick: 'modal_download.close();' %>
    </li>
    <li>
      <%= link_to t('rubric_criteria.download.link_yml'),
                  download_yml_assignment_rubrics_path(@assignment),
                  onclick: 'modal_download.close();' %>
    </li>
  </ul>

  <section class='dialog-actions'>
    <input type='reset'
           value='<%= t('cancel') %>'
           onclick='modal_download.close();'>
  </section>
</aside>
