<%= stylesheet_link_tag("livepipe/tabs") %>
<% # UI LIBRARIES %>
<%= javascript_include_tag "livepipe/livepipe.js",
	"livepipe/window.js",
	"livepipe/tabs.js" ,
	"effects.js",
	"dragdrop.js" %>

<script type="text/javascript">
//<![CDATA[

  var modalUpload = null;
  var modalDownload = null;

  function upload_criteria(){
    modalUpload.open();
    return false;
  }

  function download_criteria(){
    modalDownload.open();
    return false;
  }


  document.observe("dom:loaded", function(){

    modalUpload = new Control.Modal($('upload_dialog'),
    {
      overlayOpacity: 0.75,
      className: 'modalUpload',
      fade: false
    });

    modalDownload = new Control.Modal($('download_dialog'),
    {
      overlayOpacity: 0.75,
      className: 'modalDownload',
      fade: false
    });

  });
//]]>
</script>

<% if @assignment.past_due_date?%>
  <div class="notice">
    <%=t('past_due_date_warning')%>
  </div>
<% end %>

<div id="title_bar">
  <h1><%= I18n.t("rubric_criteria.criteria_management",
                 :identifier => @assignment.short_identifier) %>
  </h1>
  <div class="headingButtons">
        <%= link_to_function t("add_criterion"),
            %| if($('new_rubric_criterion') != null) {
              $('rubric_criterion_rubric_criterion_name').select();
              $('rubric_criterion_rubric_criterion_name').focus();
            } else {
              #{remote_function :url => new_assignment_rubric_path(@assignment),
                                :method => 'get'}
            }|%>
   <span class="menu_bar" >|</span>
    <%= button_to_function I18n.t("upload"), "upload_criteria();"%>
   <span class="menu_bar" >|</span>
    <%= button_to_function I18n.t("download"), "download_criteria();"%>

  </div>
</div><!-- Title bar-->

<div class="wrapLeft">
<% if flash[:upload_notice] %>
  <div class="success">
    <p><%= h(flash[:upload_notice]) %></p>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="error">
    <p><%= h(flash[:error]) %></p>
    <% if !flash[:invalid_lines].nil? && !flash[:invalid_lines].empty? %>
      <ul>
        <% flash[:invalid_lines].each do |message| %>
          <li><%=h(message)%></li>
        <% end %>
      </ul>
  <% end %>
  </div>
<% end %>

<% if !flash[:success].nil? %>
  <div class="success">
    <%= flash[:success] %>
  </div>
<% end %>

<p id="new_criterion_error" class="warning" style="display: none;">

</p>

<div id="rubric_criteria_pane">
  <%=  render :partial => "rubrics/rubric_criteria_pane" %>
</div>

<!------------------------------------------------------------------- -->

    <div id="rubric_levels_pane">
      <div id="rubric_levels_pane_menu">
	<%= render :partial => 'rubric_manager_help' %>
        <div id="rubric_levels_pane_list">
        </div>
    </div><!--rubric level pane -->
</div>
</div>

<div id="upload_dialog">
  <h1><%= t('rubric_criteria.upload.csv_title') %></h1>
  <p><%= t('rubric_criteria.upload.csv_prompt') %></p>
  <%= form_for :csv_upload, :url => {:controller=>"rubrics",
                                :action => 'csv_upload',
                                :id => @assignment.id},
                                :html => {:multipart => true, :size => 1 } do |f| %>
    <p><%= f.file_field :rubric %></p>
    <%= t('rubric_criteria.upload.format_csv_html') %>
	<%= t('csv_special_characters_html') %>
    <br />
    <br />
    <%=h I18n.t("encoding") %>
    <%= select_tag(:encoding, options_for_select(@encodings)) %>
    <br />
    <br />
    <p>
      <%= f.submit t(:upload), :disable_with => t(:uploading_please_wait) %>
      <input type="reset" value="<%= t(:cancel) %>" onclick="modalUpload.close();">
    </p>
  <% end %>

  <h1><%= t('rubric_criteria.upload.yml_title') %></h1>
  <p><%= t('rubric_criteria.upload.yml_prompt') %></p>
  <%= form_for :yml_upload,
	       :url => yml_upload_assignment_rubrics_path(@assignment),
               :html => {:multipart => true, :size => 1 } do |f| %>
    <p><%= f.file_field :rubric %></p>
    <%= t('rubric_criteria.upload.format_yml_html') %>
    <br />
    <br />
    <%=h I18n.t("encoding") %>
    <%= select_tag(:encoding, options_for_select(@encodings)) %>
    <br />
    <br />
    <p>
      <%= f.submit t(:upload), :disable_with => t(:uploading_please_wait) %>
      <input type="reset" value="<%= t(:cancel) %>" onclick="modalUpload.close();">
    </p>
  <% end %>

</div>

<div id="download_dialog">
  <h2><%= t('rubric_criteria.download.title') %></h2>
  <p><%= t('rubric_criteria.download.prompt') %></p>

  <ul>
    <li><%= link_to t('rubric_criteria.download.link_csv'),
		    download_csv_assignment_rubrics_path(@assignment),
		    :onclick => "modalDownload.close();" %></li>
    <li><%= link_to t('rubric_criteria.download.link_yml'),
		    download_yml_assignment_rubrics_path(@assignment),
		    :onclick => "modalDownload.close();" %></li>
  </ul>
  <input type="reset" value="<%=t('cancel')%>" onclick="modalDownload.close();">
</div>
