<%= form_for(@key_pair) do |f| %>
  <% if @key_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key_pair.errors.count, "error") %> prohibited this key_pair from being saved:</h2>

      <ul>
      <% @key_pair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
    <p><strong>OR</strong></p>
    <%= f.label :Copy_and_paste_your_public_key %>
    <br>
    <textarea cols="55" rows="14" id="key_pair_key_string" name="key_pair[key_string]"></textarea>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
