<%= form_for(@key_pair) do |f| %>
  <div class="field">
    <%= f.label t('key_pairs.file') %><br>
    <%= f.file_field :file, {accept: '.pub'} %>
    <p><strong><%= t('key_pairs.or') %></strong></p>
    <%= f.label t('key_pairs.copy_paste_key') %>
    <br>
    <textarea cols="55" rows="14" id="key_pair_key_string" name="key_pair[key_string]"></textarea>
  </div>

  <div class="actions">
    <%= f.submit(t('key_pairs.create_key_pair')) %>
  </div>

<% end %>
