<h1>Your Key Pairs</h1>

<table>
  <tr>
    <th>User name</th>
    <th>File name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @key_pairs.each do |key_pair| %>
  <tr>
    <td><%= key_pair.user_name %></td>
    <td><%= key_pair.file_name %></td>
    <td><%= link_to 'Show', key_pair %></td>
    <td><%= link_to 'Edit', edit_key_pair_path(key_pair) %></td>
    <td><%= link_to 'Destroy', key_pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Key pair', new_key_pair_path %>
