<h1><%= t('key_pairs.key_pairs_title') %></h1>

<br>

<%= render 'shared/flash_message' %>

<table>
  <tr>
    <th><%= t('key_pairs.time_of_upload') %> |</th>
    <th><%= t('key_pairs.key_content') %></th>
    <th></th>
  </tr>


<% @key_pairs.each do |key_pair, key_string| %>
  <tr>
    <td><%= key_pair.created_at %></td>
    <td><textarea cols="55" rows="10" readonly><%= key_string %></textarea></td>
    <td><%= link_to t('key_pairs.remove_key'), key_pair, method: :delete, data: { confirm: t('key_pairs.are_you_sure') } %></td>
  </tr>

<% end %>
</table>

<br />

<%= link_to t('key_pairs.new_key_pair'), new_key_pair_path %>

<hr>
<h2>Need help?</h2>
<br>
<a href="https://github.com/MarkUsProject/Markus/wiki/SSH_Keypair_Instructions_Windows" target="_blank">Instructions for users on Windows</a>
<br>
<a href="https://github.com/MarkUsProject/Markus/wiki/SSH_Keypair_Instructions_Linux-OSX" target="_blank">Instructions for users on Mac OS / Linux</a>
