<li id='annotation_text_<%= annotation_text.id %>'>
  <div id='annotation_text_<%= annotation_text.id %>_control' style="word-break: break-all">
    <%= markdown(annotation_text.content) %>

    <div class='annotation_text_details'>
      <%= link_to t(:edit),
                  'javascript:void(0);',
                  onclick:"$('#annotation_text_' + #{annotation_text.id} + '_control').hide();
                  $('#annotation_text_' + #{annotation_text.id} + '_edit').show();",
        class: 'button inline-button' %>
      <%= button_to t(:delete),
                    destroy_annotation_text_assignment_annotation_categories_path(id: annotation_text.id),
                    method: 'delete',
                    data: { confirm: t('annotation_categories.destroy_annotation_text.confirm') },
                    remote: true,
                    class: 'inline-button' %>
    </div>
    <div class='annotation_text_details'>
      <%= Annotation.human_attribute_name(:creator) %>
      <% if annotation_text.creator.nil? %>
        <%= 'N/A' %>
      <% else %>
        <%= annotation_text.creator.user_name %>
      <% end %>
    </div>
    <div class='annotation_text_details'>
      <%= t('annotations.last_edited_by') %>
      <% if annotation_text.last_editor.nil? %>
        <%= 'N/A' %>
      <% else %>
        <%= annotation_text.last_editor.user_name %>
      <% end %>
    </div>
    <div>
      <%= link_to 'show stats',
                  'javascript:void(0);',
                  onclick:"makeAnnotationStatPanel(#{annotation_text.id});",
                  class: 'button inline-button' %>
    </div>
    <div id='annotation-stat-panel'></div>
  </div>

  <div id='annotation_text_<%= annotation_text.id %>_edit' style='display:none;'>
    <%= form_for annotation_text,
                 url: update_annotation_text_assignment_annotation_categories_path(id: annotation_text.id),
                 method: 'put',
                 remote: true do |f| %>
      <%= f.hidden_field :annotation_category_id %>
      <%= f.text_area :content, cols: 50, rows: 5 %>

      <p>
        <%= f.submit t(:save) , data: { disable_with: t('working') } %>

        <input type='reset'
               value='<%= t(:cancel) %>'
               onclick="$('#annotation_text_' + <%= annotation_text.id %> + '_edit').hide();
                        $('#annotation_text_' + <%= annotation_text.id %> + '_control').show();">
      </p>
    <% end %>
  </div>
</li>
