<%= javascript_tag nonce: true do %>
  (function(){
    const domContentLoadedCB = function() {
      $('#annotation-text-details-edit-<%= annotation_text[:id] %>').click(function(e) {
        $('#annotation_text_' + '<%= annotation_text[:id] %>' + '_control').hide();
        $('#annotation_text_' + '<%= annotation_text[:id] %>' + '_edit').show();
        e.preventDefault();
      });
      $('#annotation-text-edit-<%= annotation_text[:id] %>').on("reset", function(e) {
        $('#annotation_text_' + '<%= annotation_text[:id] %>' + '_edit').hide();
        $('#annotation_text_' + '<%= annotation_text[:id] %>' + '_control').show();
        e.preventDefault();
      });
    }
    if (document.readyState === "loading") {
      document.addEventListener("DOMContentLoaded", domContentLoadedCB);
    }else{
      domContentLoadedCB();
    }
  })();
<% end %>

<li id='annotation_text_<%= annotation_text[:id] %>'>
  <div id='annotation_text_<%= annotation_text[:id] %>_control' class="word-break-all">
    <%= markdown(annotation_text[:content]) %>

    <div class='annotation-text-details'>
      <%= link_to t(:edit),
                  '#',
                  id: "annotation-text-details-edit-#{annotation_text[:id]}",
                  key: annotation_text[:id],
                  class: 'button inline-button' %>
      <%= button_to t(:delete),
                    destroy_annotation_text_course_assignment_annotation_categories_path(
                      @current_course,
                      @assignment,
                      annotation_text_id: annotation_text[:id]
                    ),
                    method: 'delete',
                    data: { confirm: t('annotation_categories.destroy_annotation_text.confirm') },
                    remote: true,
                    class: 'inline-button',
                    form_class: 'display-inline-block' %>
    </div>
    <div class='annotation-text-details'>
      <%= AnnotationText.human_attribute_name(:creator) %>
      <% if annotation_text[:creator].nil? %>
        <%= t('not_applicable') %>
      <% else %>
        <%= annotation_text[:creator] %>
      <% end %>
    </div>
    <div class='annotation-text-details'>
      <%= t('annotations.last_edited_by') %>
      <% if annotation_text[:last_editor].nil? %>
        <%= t('not_applicable') %>
      <% else %>
        <%= annotation_text[:last_editor] %>
      <% end %>
    </div>
    <% unless annotation_text[:deduction].nil? %>
      <div class='annotation-text-details'>
        <%= AnnotationText.human_attribute_name(:deduction) %>
        <%= annotation_text[:deduction] %>
      </div>
    <% end %>
    <% if annotation_text[:annotation_category].nil? %>
      <div class='annotation-text-details'>
        <%= t('activerecord.models.submission', count: 1) + ': ' %>
        <%= link_to annotation_text[:group_name],
                    edit_course_result_url(@current_course, annotation_text[:result_id]) %>
      </div>
    <% else %>
      <div id='annotation-text-<%= annotation_text[:id] %>-usage-panel'></div>
    <% end %>
  </div>

  <div id='annotation_text_<%= annotation_text[:id] %>_edit' class="no-display">
    <%= form_with url: update_annotation_text_course_assignment_annotation_categories_path(
                         @current_course, @assignment, annotation_text_id: annotation_text[:id]
                       ),
                  method: 'put',
                  id: "annotation-text-edit-#{annotation_text[:id]}" do |f| %>
      <p>
        <%= f.text_area :content, cols: 50, rows: 5, value: annotation_text[:content], id: "annotation_text_content" %>
      </p>
      <% unless annotation_text[:deduction].nil? %>
        <div class='inline-labels'>
          <% max_mark = annotation_text[:max_mark] %>
          <% marks_released = annotation_text[:released] > 0 %>
          <%= f.label :deduction,
                      AnnotationText.human_attribute_name(:deduction) %>
          <%= f.number_field :deduction, { min: 0.0,
                                           max: max_mark,
                                           step: 0.01,
                                           disabled: marks_released,
                                           value: annotation_text[:deduction] } %>
        </div>
      <% end %>

      <p>
        <%= f.submit t(:save) , data: { disable_with: t('working') } %>

        <input type='reset'
               value='<%= t(:cancel) %>'>
      </p>
    <% end %>
  </div>
</li>

<% unless annotation_text[:annotation_category].nil? %>
  <%= javascript_tag nonce: true do %>
    (() => {
      let usagePanel = document.getElementById('annotation-text-' + <%= annotation_text[:id] %> + '-usage-panel');
      window.AnnotationUsagePanel = window.makeAnnotationUsagePanel(
        usagePanel,
        {
          course_id: <%= @current_course.id %>,
          annotation_id: <%= annotation_text[:id] %>,
          assignment_id: <%= annotation_text[:assignment_id] %>,
          num_used: <%= annotation_text[:num_uses] %>
        }
      );
    })();
  <% end %>
<% end %>
