<li id='annotation_text_<%= annotation_text.id %>'>
  <div id='annotation_text_<%= annotation_text.id %>_control'>
    <%= markdown(annotation_text.content) %>

    <div class='annotation_text_details'>
      <%= link_to t(:edit),
                  'javascript:void(0);',
                  onclick:"$('#annotation_text_' + #{annotation_text.id} + '_control').hide();
                  $('#annotation_text_' + #{annotation_text.id} + '_edit').show();",
        class: 'button inline-button' %>
      <%= button_to t(:delete),
                    destroy_annotation_text_assignment_annotation_categories_path(id: annotation_text.id),
                    method: 'delete',
                    data: { confirm: t('annotation_categories.destroy_annotation_text.confirm') },
                    remote: true,
                    class: 'inline-button' %>
    </div>
    <div class='annotation_text_details'>
      <%= AnnotationText.human_attribute_name(:creator) %>
      <% if annotation_text.creator.nil? %>
        <%= 'N/A' %>
      <% else %>
        <%= annotation_text.creator.user_name %>
      <% end %>
    </div>
    <div class='annotation_text_details'>
      <%= t('annotations.last_edited_by') %>
      <% if annotation_text.last_editor.nil? %>
        <%= 'N/A' %>
      <% else %>
        <%= annotation_text.last_editor.user_name %>
      <% end %>
    </div>
    <div class='annotation_text_details'>
      <%= AnnotationText.human_attribute_name(:deduction) %>
      <% if annotation_text.deduction.nil? %>
        <%= 'None' %>
      <% else %>
        <%= annotation_text.deduction.to_s %>
      <% end %>
    </div>
  </div>

  <div id='annotation_text_<%= annotation_text.id %>_edit' style='display:none;'>
    <%= form_for annotation_text,
                 url: update_annotation_text_assignment_annotation_categories_path(id: annotation_text.id),
                 method: 'put',
                 remote: true do |f| %>
      <div class='inline-labels'>
        <%= f.hidden_field :annotation_category_id %>
        <%= f.text_area :content, cols: 50, rows: 5 %>
        <% unless annotation_text.annotation_category.flexible_criterion.nil? %>
          <% max_mark = annotation_text.annotation_category.flexible_criterion.max_mark %>
          <%= f.label :deduction,
                      AnnotationText.human_attribute_name(:deduction) %>
          <%= f.number_field :deduction, {min: 0.0, max: max_mark, step: 0.01 }%>
        <% end %>
      </div>

      <p>
        <%= f.submit t(:save) , data: { disable_with: t('working') } %>

        <input type='reset'
               value='<%= t(:cancel) %>'
               onclick="$('#annotation_text_' + <%= annotation_text.id %> + '_edit').hide();
                        $('#annotation_text_' + <%= annotation_text.id %> + '_control').show();">
      </p>
    <% end %>
  </div>
</li>
