<div id='current_annotation_category' class='annotation_category_edit'>

  <div id='annotation_category_controls'>
    <div class='float_right'>
    <%= button_to t('annotations.delete.delete_message'),
                  [@assignment, annotation_category],
                  method: 'delete',
                  data: { confirm: t('annotations.delete.annotation_category') },
                  html: { class: 'delete' },
                  remote: true %>
    </div>
    <h2><%= annotation_category.annotation_category_name %></h2>

    <fieldset>
       <%= form_for [@assignment, annotation_category],
                    remote: true do |f| %>
       <span id='annotation_category_inputs'>
         <%= f.label :annotation_category_name,
                     t('annotations.update.annotation_category_name') %>
         <%= f.text_field :annotation_category_name, rows: '3' %>
       </span>

       <%= f.submit t(:save), data: { disable_with: t('working') } %>
     <% end %>
    </fieldset>
  </div>
</div>
