<li id='annotation_text_<%= annotation_text.id %>'>
  <div id='annotation_text_<%= annotation_text.id %>_control' style="word-break: break-all">
    <%= markdown(annotation_text.content) %>

    <div class='annotation_text_details'>
      <%= link_to t(:edit),
                  'javascript:void(0);',
                  onclick:"$('#annotation_text_' + #{annotation_text.id} + '_control').hide();
                  $('#annotation_text_' + #{annotation_text.id} + '_edit').show();",
        class: 'button inline-button' %>
      <%= button_to t(:delete),
                    destroy_annotation_text_assignment_annotation_categories_path(id: annotation_text.id),
                    method: 'delete',
                    data: { confirm: t('annotation_categories.destroy_annotation_text.confirm') },
                    remote: true,
                    class: 'inline-button' %>
    </div>
    <div class='annotation_text_details'>
      <%= AnnotationText.human_attribute_name(:creator) %>
      <% if annotation_text.creator.nil? %>
        <%= 'N/A' %>
      <% else %>
        <%= annotation_text.creator.user_name %>
      <% end %>
    </div>
    <div class='annotation_text_details'>
      <%= t('annotations.last_edited_by') %>
      <% if annotation_text.last_editor.nil? %>
        <%= 'N/A' %>
      <% else %>
        <%= annotation_text.last_editor.user_name %>
      <% end %>
    </div>
    <% unless annotation_text.deduction.nil?  %>
      <div class='annotation_text_details'>
        <%= AnnotationText.human_attribute_name(:deduction) %>
        <%= annotation_text.deduction %>
      </div>
    <% end %>
    <div id='annotation-text-<%= annotation_text.id %>-usage-panel'></div>
  </div>

  <div id='annotation_text_<%= annotation_text.id %>_edit' style='display:none;'>
    <%= form_for annotation_text,
                 url: update_annotation_text_assignment_annotation_categories_path(id: annotation_text.id),
                 method: 'put',
                 remote: true do |f| %>
      <%= f.hidden_field :annotation_category_id %>
      <p>
        <%= f.text_area :content, cols: 50, rows: 5 %>
      </p>
      <% unless annotation_text.annotation_category.flexible_criterion.nil? %>
        <div class='inline-labels'>
          <% max_mark = annotation_text.annotation_category.flexible_criterion.max_mark %>
          <% marks_released = !annotation_text.annotations.joins(:result)
                                                          .where('results.released_to_students' => true).empty? %>
          <%= f.label :deduction,
                      AnnotationText.human_attribute_name(:deduction) %>
          <%= f.number_field :deduction, { min: 0.0, max: max_mark, step: 0.01, disabled: marks_released } %>
        </div>
      <% end %>

      <p>
        <%= f.submit t(:save) , data: { disable_with: t('working') } %>

        <input type='reset'
               value='<%= t(:cancel) %>'
               onclick="$('#annotation_text_' + <%= annotation_text.id %> + '_edit').hide();
                        $('#annotation_text_' + <%= annotation_text.id %> + '_control').show();">
      </p>
    <% end %>
  </div>
</li>

<!--<script>-->
<!--  (() => {-->
<!--    let usagePanel = document.getElementById('annotation-text-' + <%#= annotation_text.id %> + '-usage-panel');-->
<!--    window.AnnotationUsagePanel = window.makeAnnotationUsagePanel(-->
<!--      usagePanel,-->
<!--      {-->
<!--        annotation_id: <%#= annotation_text.id %>,-->
<!--        assignment_id: <%#= annotation_text.annotation_category.assessment_id %>,-->
<!--        num_used: <%#= annotation_text.annotations.count %>-->
<!--      }-->
<!--    );-->
<!--  })();-->
<!--</script>-->
