<div id='current_annotation_category'>
  <div class='float-right'>
    <%= form_tag course_annotation_category_path(@current_course, annotation_category),
                 method: 'delete',
                 id: 'delete_annotation_category',
                 remote: true do |f| %>
      <%= submit_tag t(:delete),
                     data: { confirm: t('annotation_categories.destroy.warning') },
                     class: 'delete' %>
    <% end %>
  </div>
  <h2><%= annotation_category.annotation_category_name %></h2>
  <% released = annotation_category.marks_released? %>

  <%= form_for [@current_course, annotation_category],
               remote: true do |f| %>
    <div class='inline-labels'>
      <%= f.label :annotation_category_name,
                  AnnotationCategory.human_attribute_name(:annotation_category_name) %>
      <%= f.text_field :annotation_category_name, rows: '3' %>
      <%= f.label :flexible_criterion_id,
                  AnnotationCategory.human_attribute_name(:flexible_criterion) %>
      <%= f.collection_select :flexible_criterion_id,
                              annotation_category.assignment
                                                 .criteria
                                                 .where(type: 'FlexibleCriterion'),
                              :id,
                              :name,
                              { include_blank: t('annotation_categories.unselected_criterion') },
                              { disabled: released } %>
    </div>

    <p><%= f.submit t(:save), data: { disable_with: t('working') } %></p>
  <% end %>
</div>
