<div id="current_annotation_category" class="annotation_category_edit">
 <div class="float_right">
   <%= link_to_remote "Delete annotation category",
        :url => {:action => "delete_annotation_category",
	         :id => annotation_category.id},
	:confirm => t('annotations.delete.annotation_category'),
	:html => {:class => 'delete'}
   %>
 </div>
 <div id="annotation_category_controls">
   <h2><%=h(annotation_category.annotation_category_name)%></h2>
 <%= link_to_function "Edit", "$('annotation_category_edit').show();$('annotation_category_controls').hide();" %>
 </div>
 <div id="annotation_category_edit" style="display:none;">
   <% remote_form_for :annotation_category, annotation_category, :url => {:action => 'update_annotation_category', :id => annotation_category.id } do |f| %>
   <span id="annotation_category_inputs">
     <%= f.label :annotation_category_name %>
     <%= f.text_field :annotation_category_name %>
   </span>
 <%= f.submit %>
  <input type="reset" value="Cancel" onclick="$('annotation_category_edit').hide();$('annotation_category_controls').show();">
 <% end %>
  </div>
</div>

