<li id='annotation_text_<%= annotation_text.id %>'>
  <div id='annotation_text_<%= annotation_text.id %>_control'>
    <p><%= markdown(annotation_text.content) %></p>

    <div class='annotation_text_details'>
      <%= link_to t(:edit),
                  'javascript:void(0);',
                  onclick:"jQuery('#annotation_text_' + #{annotation_text.id} + '_control').hide();
                  jQuery('#annotation_text_' + #{annotation_text.id} + '_edit').show();",
        class: 'button inline-button' %>
      <%= button_to t(:delete),
                    delete_annotation_text_assignment_annotation_category_path(id: annotation_text.id),
                    method: 'delete',
                    data: { confirm: t('annotations.delete.annotation_text') },
                    remote: true,
                    class: 'inline-button' %>
    </div>
    <div class='annotation_text_details'>
      <p><%= t('annotations.created_by') %>
        <% if annotation_text.get_creator.nil? %>
          <%= 'N/A' %>
        <% else %>
          <%= annotation_text.get_creator.user_name %>
        <% end %>
      </p>
    </div>
    <div class='annotation_text_details'>
      <p><%= t('annotations.last_edited_by') %>
        <% if annotation_text.get_last_editor.nil? %>
          <%= 'N/A' %>
        <% else %>
          <%= annotation_text.get_last_editor.user_name %>
        <% end %>
      </p>
    </div>
  </div>

  <div id='annotation_text_<%= annotation_text.id %>_edit' style='display:none;'>
    <%= form_for annotation_text,
                 url: update_annotation_assignment_annotation_category_path(id: annotation_text.id),
                 method: 'put',
                 remote: true do |f| %>
      <%= f.text_area(:content, cols: 50, rows: 5) %>
      <%= f.submit t(:save) , data: { disable_with: t('working') } %>

      <input type='reset'
             value='<%= t(:cancel) %>'
             onclick="jQuery('#annotation_text_' + <%= annotation_text.id %> + '_edit').hide();
                      jQuery('#annotation_text_' + <%= annotation_text.id %> + '_control').show();">
    <% end %>
  </div>
</li>
