<div id="current_annotation_category" class="annotation_category_edit">
 <%= render 'shared/flash_message' %>
 <div class="float_right">
   <%= button_to t("annotations.delete.delete_message"),
                delete_annotation_category_assignment_annotation_category_path(
                      :id => annotation_category.id),
                :method => 'delete',
	        :confirm => t('annotations.delete.annotation_category'),
	        :html => {:class => 'delete'},
		:remote => true
   %>
 </div>
 <div id="annotation_category_controls">
   <h2><%=(annotation_category.annotation_category_name)%></h2>

<fieldset>
   <%= form_for :annotation_category,
		            :as => :annotation_category,
		            :url => {:action => 'update_annotation_category',
			                   :id => annotation_category.id},
		            :remote => true do |f| %>
   <span id="annotation_category_inputs">
     <%= f.label :annotation_category_name,
		 I18n.t("annotations.update.annotation_category_name") %>
     <%= f.text_field :annotation_category_name, :rows => '3' %>
   </span>
 <%= f.submit t(:save), :disable_with => I18n.t('working') %>
 <% end %>
</fieldset>
  </div>
</div>

