<li id='add_annotation_text'>
  <%= form_with url: { action: 'create_annotation_text' } do |f| %>
    <%= f.hidden_field :annotation_category_id, value: annotation_category.id %>
    <p>
      <%= f.text_area :content, cols: 50, rows: 5, id: "annotation_text_content" %>
    </p>
    <% unless annotation_category.flexible_criterion.nil? %>
      <div class='inline-labels'>
        <% max_mark = annotation_category.flexible_criterion.max_mark %>
        <%= f.label :deduction,
                    AnnotationText.human_attribute_name(:deduction) %>
        <%= f.number_field :deduction, { min: 0.0, max: max_mark, step: 0.01, value: 0.0 } %>
      </div>
    <% end %>
    <p><%= f.submit t(:save), data: { disable_with: t('working') } %></p>
  <% end %>
</li>
