<% content_for :head do %>
  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
  <%= render partial: 'layouts/mathjax_config' %>
  <%= javascript_include_tag 'MathJax_lib/MathJax.js?config=TeX-AMS-MML_HTMLorMML', nonce: true %>
  <%= javascript_include_tag 'MathJax/mathjax_helpers', nonce: true %>
  <%= javascript_tag nonce: true do %>
    (function(){
      const domContentLoadedCB = function() {
        $('#add-annotation-category').click(function(e) {
          add_annotation_category('<%= new_course_assignment_annotation_category_path(@current_course, @assignment) %>');
          e.preventDefault();
        })
      }

      if (document.readyState === "loading") {
          document.addEventListener("DOMContentLoaded", domContentLoadedCB);
      }else{
          domContentLoadedCB()
      }
    })();
  <% end %>
<% end %>

<% content_for :title, t('.title',
  assignment_short_identifier: @assignment.is_peer_review? ?
    @assignment.parent_assignment.short_identifier + ' ' + PeerReview.model_name.human :
    @assignment.short_identifier) %>

<% @heading_buttons = [
  { link_text: t('.add_annotation_category'),
    link_path: '#',
    html_options: { id: 'add-annotation-category' } },
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>


<p id='criterion_error' class='warning no-display'></p>
<div class='pane-wrapper'>
  <div class="annotation-pane-wrapper">
    <%= render partial: 'annotation_categories/annotation_category_pane' %>
  </div>

  <div id='annotations_pane' class='pane'>
    <div id='annotation_list_holder'>
      <div id='annotations_help'>
        <h2><%= t(:help) %></h2>
        <p><%= t('annotations.help_message') %></p>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<%= render partial: 'annotation_download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'annotation_upload_modal', layout: 'layouts/modal_dialog'  %>
