<% content_for :head do %>
  <%= stylesheet_link_tag('livepipe/tabs') %>
<% end %>

<% # UI LIBRARIES %>
<%= javascript_include_tag 'livepipe/livepipe',
                           'livepipe/window',
                           'livepipe/tabs' %>

<%= render partial: 'boot',
           formats: [:js],
           handlers: [:erb] %>

<div class='title_bar'>
  <h1>
    <%= t('annotations.title',
          assignment_short_identifier: @assignment.short_identifier) %>
  </h1>
  <div class='heading_buttons'>
    <% path = add_annotation_category_assignment_annotation_categories_path(
                id: @assignment.id) %>

    <%= link_to_function t('annotations.add_annotation_category'),
                         onclick: "add_annotation_category('#{path}')" %>
    <span class='menu_bar'></span>
    <%= link_to_function t('download'), 'modal_download.open();' %>
    <span class='menu_bar'></span>
    <%= link_to_function t('upload'), 'modal_upload.open();' %>
  </div>
</div>

<div class='wrapper'>
  <div id='annotation_category_pane'>
    <div class='sortable'>
      <header>
        <span><%= t('annotations.annotation_category') %></span>
      </header>
      <ul id='annotation_category_pane_list'>
        <% if @annotation_categories.length > 0 %>
            <% @annotation_categories.each do |annotation_category| %>
              <%= render partial: 'annotation_category',
                         locals: { annotation_category: annotation_category } %>
            <% end %>
        <% else %>
          <div id='no_annotation_categories_info' class='information'>
            <%= t('annotations.no_annotation_categories') %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>

  <div id='annotations_pane'>
    <div id='annotation_list_holder'>
      <div id='annotations_help'>
        <h2><%= t(:help) %></h2>
        <p><%= t('annotations.help_message') %></p>
      </div>
    </div>
  </div>
</div>

<aside class='dialog' id='upload_dialog' >
  <h1><%= t('annotations.upload.upload_annotations') %></h1>
  <%= t('annotations.upload.upload_message_csv').html_safe %>
  <%= form_tag({ action: 'csv_upload',
                 id: @assignment.id },
               { multipart: true }) do %>
    <p><%= file_field_tag :annotation_category_list_csv, size: 0 %></p>
    <div>
      <%= I18n.t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </div>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload), data: { disable_with: t(:uploading_please_wait) } %>
      <input type='reset' value='<%= t(:cancel) %>' onclick='modal_upload.close();' />
    </section>
  <% end %>

  <%= t('annotations.upload.upload_message_yml').html_safe %>
  <%= form_tag({ action: 'yml_upload',
                 id: @assignment.id },
               { multipart: true }) do %>
    <p><%= file_field_tag :annotation_category_list_yml, size: 0 %></p>
    <div>
      <%= I18n.t('encoding') %>
      <%= select_tag(:encoding, options_for_select(@encodings)) %>
    </div>

    <section class='dialog-actions'>
      <%= submit_tag t(:upload), data: { disable_with: t(:uploading_please_wait) } %>
      <input type='reset' value='<%= t(:cancel) %>' onclick='modal_upload.close();' />
    </section>
  <% end %>
</aside>

<aside class='dialog' id='download_dialog'>
  <h1><%= t('annotations.download.download_annotations') %></h1>
  <ul>
    <li>
      <%= link_to t('annotations.download.download_csv'),
                  { ction: 'download',
                    d: @assignment.id,
                    ormat: 'csv' },
                  onclick: 'modal_download.close();' %>
    </li>
    <li>
      <%= link_to t('annotations.download.download_yml'),
                  { action: 'download',
                    id: @assignment.id,
                    format: 'yml' },
                  onclick: 'modal_download.close();' %>
    </li>
  </ul>

  <section class='dialog-actions'>
    <input type='reset' value='<%= t(:cancel) %>' onclick='modal_download.close();'>
  </section>
</aside>
