<% content_for :head do %>
  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
  <%= javascript_include_tag 'https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %>
  <%= javascript_include_tag 'MathJax/mathjax_helpers' %>
  <%= stylesheet_link_tag('clickable') %>
<% end %>

<% content_for :title, t('annotations.title',
  assignment_short_identifier: @assignment.is_peer_review? ?
    @assignment.parent_assignment.short_identifier + ' ' + t('assignment.review') :
    @assignment.short_identifier) %>

<% path = new_assignment_annotation_category_path %>

<% @heading_buttons = [
  { link_text: t('annotations.add_annotation_category'),
    link_path: '#',
    html_options: { onclick: "add_annotation_category('#{path}')" } },
  { link_text: t('download'),
    link_path: '#',
    html_options: { onclick: 'modal_download.open()' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { onclick: 'modal_upload.open()' } }
] %>


<p id='criterion_error' class='warning' style='display: none;'></p>
<div id='annotation_category_pane'>
  <%= render partial: 'annotation_categories/annotation_category_pane' %>
</div>

<div id='annotations_pane'>
  <div id='annotation_list_holder'>
    <div id='annotations_help'>
      <h2><%= t(:help) %></h2>
      <p><%= t('annotations.help_message') %></p>
    </div>
  </div>
</div>

<!-- Modals -->
<%= render partial: 'annotation_download_modal', layout: 'layouts/modal_dialog'  %>
<%= render partial: 'annotation_upload_modal', layout: 'layouts/modal_dialog'  %>
