<% content_for :head do %>
  <%= render partial: 'boot',
             formats: [:js],
             handlers: [:erb] %>
  <%= javascript_tag nonce: true do %>
    document.addEventListener("DOMContentLoaded", function() {
      $('#add-annotation-category').click(function(e) {
        add_annotation_category('<%= new_course_assignment_annotation_category_path(@current_course, @assignment) %>');
        e.preventDefault();
      })
    });
  <% end %>
<% end %>

<% content_for :title, t('.title',
  assignment_short_identifier: @assignment.is_peer_review? ?
    @assignment.parent_assignment.short_identifier + ' ' + PeerReview.model_name.human :
    @assignment.short_identifier) %>

<% @heading_buttons = [
  { link_text: t('.add_annotation_category'),
    link_path: '#',
    html_options: { id: 'add-annotation-category' } },
  { link_text: t('download'),
    link_path: '#',
    html_options: { id: 'downloadModal' } },
  { link_text: t('upload'),
    link_path: '#',
    html_options: { id: 'uploadModal' } }
] %>

<p id='criterion_error' class='warning no-display'>
  <i class="fa-solid fa-warning"></i>
</p>
<div class='pane-wrapper'>
  <div class="annotation-pane-wrapper">
    <%= render partial: 'annotation_categories/annotation_category_pane' %>
  </div>

  <div id='annotations_pane' class='pane'>
    <div id='annotation_list_holder'>
      <div id='annotations_help'>
        <h2><%= t(:help) %></h2>
        <p><%= t('annotations.help_message') %></p>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<%= render partial: 'annotation_download_modal', layout: 'layouts/modal_dialog' %>
<%= render partial: 'annotation_upload_modal', layout: 'layouts/modal_dialog' %>
