<%= stylesheet_link_tag("mapping") %>
<%= javascript_include_tag("prototype") %>
<%= javascript_include_tag("mapping") %>
<script>
  var authenticity_token = '<%=form_authenticity_token%>';
</script>

<h1>TA Assignment</h1>

<div class="colsLeftHeavy">

  <div class="colLeft"><div class="wrapLeft">

    <h2>Current Groups</h2>
    
    <p>Toggle Groups:
    <%# TODO: implement functionality %>
    <select id="select_ta_id" name="select_ta_id">
      <option>Assigned groups</option>
      <option>Unassigned groups</option>
      <% @tas.each do |ta| %>
        <option value="<%= ta.id %>">
          Groups assigned to <%= ta.user_name %>
        </option>
      <% end %>
    </select></p>
  
    <div class="section">
      
      <div id="groups_container">
        <% 
          # TODO: Groups that already been assigned to a TA should be marked as such
          # Include method in the model that returns True if a group has a TA
        %>
        <% @groupings.each do |grouping| -%>
          <%= render :partial => "ta_assignments/grouping", :locals => {:grouping => grouping} %>
        <% end -%>
      </div>

    </div>
    
    <h2>Students without a Grouping for <%=@assignment.name%></h2>

    <div class="section">
      <ul id="student_list">
        <% 
          # See ta_assignment/_group; students that are in groups are deleted from the groups array
        %>
        <% @students.each do |user_id, s| -%>
          <li id="user_<%= s.user_name %>"><%= s.user_name %></li>
        <% end -%>
      </ul>
    </div>

  </div></div>
  
  <div class="colRight">
  
    <h2>Current TAs</h2>
    
    <div class="section">
      <ul id="ta_list">
        <%
          # TODO: Groups that already been assigned to a TA should be matched as such
          # Include method in the model that returns the number of assignment each TA has
        %>
        <% @tas.each do |t| -%>
          <li id="ta_<%= t.id %>" class="<%= cycle('rowA', 'rowB') %>" onclick="toggle_ta(<%=t.id%>); if (this_ta_selected(<%=t.id%>)) {<%= remote_function :url => { :action => 'focus_ta', :id => @assignment.id, :ta_id => t.id }%>} else { clear_show_ta_assignment();}">
            <%= t.user_name %> (<span id="ta_<%=t.id%>_membership_count"><%= t.memberships_for_assignment(@assignment.id).length %></span>)
          </li>
        <% end -%>
      </ul>
    </div>
    
    <%
      # JavaScript/Prototype helper; see ActionView::Helpers::PrototypeHelper
      # Will use ajax to pass information to the controller via POST
      # See public/javascript/mapping.js
    %>
    <%= button_to_remote "Assign TA", {:url => { :action => "assign", :id => @assignment.id}, :with => "'ta_id=' + selectedTA + '&selected_groups=' + selectedGroups.toJSON()"}, {:id => "assign_ta_button", :disabled => true}%>
    <%= button_to_remote "UnAssign TA", {:url => { :action => "unassign", :id => @assignment.id}, :with => "'ta_id=' + selectedTA + '&selected_groups=' + selectedGroups.toJSON()"}, {:id => "unassign_ta_button", :disabled => true}%>
  </div>
    
</div>
