<header id='header'>
  <div id="logo" ><a href="" ></a></div>
  <div id='user-info'>
    <strong><%= Settings.course_name %></strong>
  </div>
  <div id='user-info'>
    <span id='logout_area'>
      <span id='admin_logged_in_as'>
        <% if session[:real_uid] %>
          <strong><%= User.find_by_id(session[:real_uid]).first_name %></strong>
        <% end %>
      </span>
      <span id='user-id'>
        <%= @current_user.display_name %>
        ( <strong><%= @current_user.user_name %></strong> )
      </span>
    </span>
  </div>


  <div id='working' class="no-display">
    <span><%= t(:working) %></span>
    <span id='ellipsis'></span>
  </div>
</header>

<%= javascript_tag nonce: true do %>
  <%= render partial: 'shared/poll_job', formats: [:js], handlers: [:erb] %>
  set_theme('<%= @current_user.theme %>');
<% end %>
