<header id='header'>
  <div id='course'>
    <strong><%= MarkusConfigurator.markus_config_course_name %></strong>
  </div>
  <div id='user-info'>
    <span id='logout_area'>
      <span id='admin_logged_in_as'>
        <% if !session[:real_uid].nil? %>
          <strong><%= User.find_by_id(session[:real_uid]).first_name %></strong>
        <% end %>
      </span>
      <span id='user-id'>
        <%= @current_user.first_name %> <%= @current_user.last_name %>
        ( <strong><%= @current_user.user_name %></strong> )
      </span>
      <% if @current_user.admin? %>
        <%= link_to image_tag('icons/group_go.png',
                              alt: t(:switch_role),
                              title: t(:switch_role),
                              id: 'switch_role_icon'),
                    role_switch_main_index_path,
                    remote: true %>
      <% end %>

      <%= link_to(t(:log_out),
                  id: 'logout_link',
                  controller: 'main',
                  action: 'logout') unless
                  MarkusConfigurator.markus_config_logout_redirect == 'NONE' %>

      <% if MarkusConfigurator.markus_config_remote_user_auth &&
            !session[:real_uid].nil? %>
        <%= link_to t(:clear_role_switch_session_link),
                    controller: 'main',
                    action: 'clear_role_switch_session' %>
      <% end %>
    </span>
  </div>

  <div id='working' style='display:none;'>
    <span><%= t(:working) %></span>
    <span id='ellipsis'></span>
  </div>
</header>
