<div id="header">  
  <div id="user_info">
    <%= link_to_remote( image_tag("icons/information.png", :alt => "About "+ I18n.t(:markus), :title => "About "+ I18n.t(:markus), :id => "about_icon"),
          :url =>{ :action => "about", :controller => "main" }, :complete => "about_modal.open();" ) %>
     | Logged in as <span id="user_name"><b><%= h( @current_user.first_name + " " + @current_user.last_name ) %></b> <%= h( "(" + @current_user.user_name + ")" ) %></span> | 
    <%= link_to "Log out", :controller => 'main', :action => 'logout' %>
  </div>
  <div id="working" style="display:none;">
    Working...
  </div>
  <div id="course"><b><%=h COURSE_NAME %></b></div>
</div>
<div id="logo">
  <%= render :partial => 'layouts/breadcrumb'%>
</div>

