<% is_not_admin_route = controller.class.module_parent.to_s != 'Admin' %>
<header id='header'>
  <% if allowed_to?(:role_is_switched?) %>
    <span id='logo-img'></span>
  <% else %>
    <a href='<%= root_path %>' id='logo-img' aria-label='<%= t('menu.home') %>'></a>
  <% end %>
  <div id='course'>
    <% if is_not_admin_route && @current_course %>
      <h1><%= @current_course.display_name %></h1>
    <% end %>
  </div>
  <div id='user-info'>
    <ul>
      <li id="user-info-dropdown">
        <div class="dropdown">
        <% if allowed_to?(:role_is_switched?) %>
          <strong>(<%= @real_user.display_name %>)</strong>
        <% end %>
          <span id='user-id'>
           <%= @current_user.display_name %> <%= "\u25bc" %>
        </span>

          <ul>
            <% unless allowed_to?(:role_is_switched?) %>
              <li>
                <i class="fa-solid fa-gear"></i>
                <%= link_to t('menu.settings'),
                            settings_users_path,
                            class: 'settings' %>
              </li>
            <% end %>
            <% if is_not_admin_route && @current_course && allowed_to?(:role_switch?, @current_course) %>
              <li>
                <i class="fa-solid fa-user-group"></i>
                <%= link_to t('main.role_switch.switch_role'),
                            role_switch_course_path(@current_course.id),
                            remote: true,
                            class: 'switch-role' %>
              </li>
            <% end %>
            <% if is_not_admin_route && @current_course && allowed_to?(:clear_role_switch_session?, @current_course) %>
              <li>
                <i class="fa-solid fa-user-group"></i>
                <%= link_to t('main.role_switch.clear_role_switch_session'),
                            clear_role_switch_session_course_path(@current_course),
                            class: 'switch-role' %>
              </li>
            <% end %>
            <li>
              <i class="fa-solid fa-question"></i>
              <a href="https://github.com/MarkUsProject/Wiki/blob/<%= Rails.configuration.markus_version %>/Home.md">
                <%= t(:help) %>
              </a>
            </li>
            <li>
              <i class="fa-solid fa-info"></i>
              <%= link_to t(:about_markus),
                          about_main_index_path,
                          remote: true,
                          class: 'about-markus' %>
            </li>
            <li>
              <i class="fa-brands fa-github"></i>
              <a class='github' href="https://github.com/MarkUsProject/Markus/issues/">
                <%= t(:issues) %>
              </a>
            </li>
            <li>
              <i class="fa-solid fa-sign-out"></i>
              <%= link_to(t('main.log_out'),
                          logout_main_index_path,
                          id: 'logout_link',
                          class: 'logout',
                          method: :post) %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div id='working' class="no-display">
    <span><%= t(:working) %></span>
    <span id='ellipsis'></span>
  </div>
</header>

<%= javascript_tag nonce: true do %>
  <%= render partial: 'shared/poll_job', formats: [:js], handlers: [:erb] %>
  set_theme('<%= @current_user.theme %>');
<% end %>
