<header id='header'>
  <div id='course'>
    <% if @current_course %>
      <strong><%= @current_course.display_name %></strong>
      <% end %>
  </div>
  <div id='user-info'>
    <span id='logout_area'>
      <span id='admin_logged_in_as'>
        <% if @real_user != @current_user %>
          <strong><%= @real_user.display_name %></strong>
        <% end %>
      </span>
      <span id='user-id'>
        <%= @current_user.display_name %>
        ( <strong><%= @current_user.user_name %></strong> )
      </span>
      <% if @current_course && allowed_to?(:role_switch?, @current_course) %>
        <%= link_to t('main.role_switch.switch_role'),
                    role_switch_course_path(@current_course.id),
                    remote: true,
                    class: 'button inline-button switch-role' %>
      <% end %>

      <% if @current_course && allowed_to?(:clear_role_switch_session?, @current_course) %>
        <%= link_to t('main.role_switch.clear_role_switch_session'),
                    clear_role_switch_session_course_path(@current_course),
                    class: 'button inline-button switch-role' %>
      <% end %>

      <%= link_to(t('main.log_out'),
                  logout_main_index_path,
                  id: 'logout_link',
                  method: :post,
                  class: 'button inline-button') unless Settings.logout_redirect == 'NONE' %>
    </span>
  </div>

  <div id='working' class="no-display">
    <span><%= t(:working) %></span>
    <span id='ellipsis'></span>
  </div>
</header>

<%= javascript_tag nonce: true do %>
<%= render partial: 'shared/poll_job', formats: [:js], handlers: [:erb] %>
set_theme('<%= @current_user.theme %>');
<% end %>
