<div id="header">
  <div id="user_info">
    <span id="lang_chooser">
      <%= I18n.t(:choose_language) %>
      <%= select_tag( :locale, options_for_select( @available_locales, :selected => "#{I18n.locale}" ),
                    { :onchange => "javascript:window.location.href = " +
                      "'#{request.request_uri}'.replace(/#{I18n.locale}/, this.options[this.selectedIndex].value);" } ) %>
    </span>
    <%= link_to_remote( image_tag("icons/information.png",
				  :alt => I18n.t(:about_markus),
				  :title => I18n.t(:about_markus),
				  :id => "about_icon" ),
                        :url => { :action => "about",
		                  :controller => "main" },
		        :complete => "about_modal.open();" ) %>

    <%= @current_user.first_name %> <%= @current_user.last_name %>
     ( <b><%= @current_user.user_name %></b> )
    <%= link_to(I18n.t(:log_out),
               :controller => 'main',
	       :action => 'logout') unless
	       MarkusConfigurator.markus_config_logout_redirect == "NONE"
	       %>
  </div>
  <div id="working" style="display:none;">
    <%= I18n.t(:working) %>
  </div>
  <div id="course">
    <b><%=h MarkusConfigurator.markus_config_course_name %></b>
  </div>
</div>
<div id="logo">
  <%= render :partial => 'layouts/breadcrumb'%>
</div>

