<% # MENU
%>

<div id="menu">
<% if @current_user.admin? %>
       <span<% if controller.controller_name == 'main'%>
      id="menu_active"<%end%>>
      <%= link_to I18n.t(:dashboard), :controller => 'main'%>
      </span>

      <span <% if controller.controller_name == 'assignments' or
                  controller.controller_name == 'flexible_criteria' or
                  controller.controller_name == 'rubrics' or
                  controller.controller_name == 'ta_assignments' or
                  controller.controller_name == 'submissions' or
                  controller.controller_name == 'groups' or
                  controller.controller_name == 'graders' or
                  controller.controller_name == 'marks_graders' or
                  controller.controller_name == 'results' or
                  controller.controller_name == 'annotation_categories' or
                  controller.controller_name == 'grade_entry_forms' or
                  controller.controller_name == 'automated_tests'
           %> id ="menu_active"<% end %>>
	   <%= link_to I18n.t(:assignments), :controller => 'assignments'%>
	</span>

        <span <% if
		  controller.controller_name == 'admins' or
	          controller.controller_name == 'students' or
		  controller.controller_name == 'tas'
	     %>
	       id = "menu_active"
	     <% end %>>

	<%= link_to I18n.t(:users), :controller => 'students' %>

        </span>
        <span <% if
		  controller.controller_name == 'sections'
	     %>
	       id = "menu_active"
	     <% end %>>
            <%= link_to 'Sections', :controller => 'sections' %>
        </span>


<% else %>
      <span <% if controller.controller_name == 'assignments' or
                  controller.controller_name == 'flexible_criteria' or
                  controller.controller_name == 'rubrics' or
                  controller.controller_name == 'ta_assignments' or
                  controller.controller_name == 'submissions' or
                  controller.controller_name == 'groups' or
                  controller.controller_name == 'results' or
                  controller.controller_name == 'grade_entry_forms'
           %> id ="menu_active"<% end %>>
	   <%= link_to I18n.t(:home), :controller => 'assignments'%>
	</span>
<% end %>

<% if @current_user.admin? || @current_user.ta? %>
	  <span<% if controller.controller_name == 'notes'%>
      id="menu_active"<%end%>>
          <%= link_to I18n.t('notes.title'), notes_path() %>
      </span>
<% end %>

</div>
