
<div id="menu_header">  
<h1 id="title_header">Assignment <%=h(sanitize(@assignment.short_identifer)) %></h1>
<% if @current_user.admin? -%>
  <div id="admin_task">
    <ul>
       <li>
           <%= link_to "Home", :controller => 'main', :action =>
	   'index' %>
       </li>
       <li <% if controller.controller_name == 'assignments' %>
id="active" <% end %> ><%= link_to 'Properties', :controller =>
'assignments', :action => "edit", :id => @assignment.id %></li>
      <li <% if controller.controller_name == 'groups' %> id="active" <% end %> > 
      <%= link_to "Groups", :controller => 'groups', :action => "manage", :id => @assignment.id %></li>
      <li <% if controller.controller_name == 'ta_assignments' %> id="active" <% end %> ><%= link_to " TAs ", :controller => 'ta_assignments', :action => "list", :id => @assignment.id %></li>
       <li <% if controller.controller_name == 'rubrics' %>
id="active" <% end %> ><%= link_to " Rubrics ", :controller => 'rubrics',
:action => "index", :id => @assignment.id %></li>
       <li <% if controller.controller_name == 'results' or
controller.controller_name == 'submissions' %>
id="active" <% end %> ><%= link_to "Submissions", :controller =>
'submissions',
:action => "browse", :id => @assignment.id %></li>


  </div>
<% end -%>

<% if @current_user.ta? -%>
  <div id="ta_task">
  <ul>
     <li>
           <%= link_to "Home", :controller => 'main', :action =>
	   'index' %>
       </li>

     <li><%= link_to "Submissions", :controller => "submissions", :action => "browse", :id => @assignment.id %></li>
  </ul>
</div>
<% end -%>

<% if @current_user.student? -%>
  <div id="student_task">
  <ul>
       <li>
           <%= link_to "Home", :controller => 'main', :action =>
	   'index' %>
       </li>

       <li <% if controller.controller_name == 'assignments' %> id="active" <% end %> > 
<%= link_to "Assignment's Rule", :controller => "assignments",
:action => 'student_interface', :id => @assignment.id %></li>
      <li <% if controller.controller_name == 'submissions' %>
id="active" <% end %>><%= link_to "Submissions", :controller =>
"submissions", :action => "file_manager", :id => @assignment.id %></li>
      <li <% if controller.controller_name == 'groups' %> id="active" <% end %> > 
<%= link_to "Group", :controller => "groups",
:action => 'student_interface', :id => @assignment.id %></li>
      <li <% if controller.controller_name == 'results' %> id="active" <% end %> > 
<%= link_to "Assignment Marks", :controller => "results",
:action => 'view_marks', :id => @assignment.id %></li>

  </ul>
  </div>
<% end -%>
  
</div> 















