<% if allowed_to?(:view_sub_sub_tabs?) %>
  <% if (controller.controller_name == 'assignments' &&
         controller.action_name != 'index' &&
         controller.action_name != 'new' &&
         controller.action_name != 'batch_runs' &&
         controller.action_name != 'summary') ||
        controller.controller_name == 'criteria' ||
        controller.controller_name == 'annotation_categories' ||
        controller.controller_name == 'tags' ||
        controller.controller_name == 'automated_tests' ||
        controller.controller_name == 'exam_templates' %>

    <ul class='sub_sub'>
      <% if !@assignment.nil? && !@assignment.id.nil? %>
        <% if controller.controller_name != 'assignments' ||
              (controller.controller_name == 'assignments' &&
               controller.action_name != 'new' ) %>
          <% if allowed_to?(:manage?, @assignment) %>
            <li <% if controller.controller_name == 'assignments' && controller.action_name != 'starter_file' %>
                class='active'
                <% end %>>
              <%= link_to t('menu.properties'), edit_course_assignment_path(@current_course, @assignment) %>
            </li>
          <% end %>
          <% if @assignment.scanned_exam? %>
            <% if allowed_to?(:manage?, with: ExamTemplatePolicy) %>
              <li class='<%= "active" if controller.controller_name == 'exam_templates' %>'>
                <%= link_to ExamTemplate.model_name.human.pluralize,
                            course_assignment_exam_templates_path(@current_course, @assignment) %>
              </li>
            <% end %>
          <% end %>
          <% if allowed_to?(:manage?, with: TagPolicy) %>
            <li class='<%= "active" if controller.controller_name == 'tags' %>'>
              <%= link_to Tag.model_name.human.pluralize,
                          course_tags_path(@current_course, assignment_id: @assignment.id) %>
            </li>
          <% end %>
          <% if allowed_to?(:manage?, with: CriterionPolicy) %>
            <li <% if controller.controller_name == 'criteria' %>
                class='active'
                <% end %>>
              <%= link_to Criterion.model_name.human.pluralize,
                          course_assignment_criteria_path(@current_course, @assignment) %>
            </li>
          <% end %>
          <% if allowed_to?(:read_starter_files?, with: AssignmentPolicy) %>
            <li <% if controller.controller_name == 'assignments' && controller.action_name == 'starter_file' %>
                class='active'
                <% end %>>
              <%= link_to I18n.t('assignments.starter_file.title'),
                          starter_file_course_assignment_path(@current_course, @assignment) %>
            </li>
          <% end %>
          <% if allowed_to?(:manage?, with: AnnotationCategoryPolicy) %>
            <li class='<%= "active" if controller.controller_name == 'annotation_categories' %>'>
              <%= link_to Annotation.model_name.human.pluralize,
                          course_assignment_annotation_categories_path(@current_course, @assignment) %>
            </li>
          <% end %>
          <% if allowed_to?(:manage?, with: AutomatedTestPolicy) %>
            <% if @assignment.course.autotest_setting && !@assignment.is_peer_review? && !@assignment.scanned_exam? %>
              <li class='<%= "active" if controller.controller_name == 'automated_tests' %>'>
                <%= link_to t('automated_tests.title'),
                            manage_course_assignment_automated_tests_path(@current_course, @assignment) %>
              </li>
            <% end %>
          <% end %>
          <% if LtiDeployment.where(course: @current_course).any? %>
          <li class='<%= "active" if controller.action_name == 'lti_settings' %>'>
            <%= link_to I18n.t('lti.lti_settings'),
                        lti_settings_course_assignment_path(@current_course, @assignment) %>
          </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
