<% if @current_user.admin?%>
<% if controller.controller_name == 'assignments' or
  controller.controller_name == 'rubrics' or
  controller.controller_name == 'flexible_criteria' or
  controller.controller_name == 'submissions' or
  controller.controller_name == 'groups' or
  controller.controller_name == 'results' or
  controller.controller_name == 'ta_assignments' or
  controller.controller_name == 'annotation_categories' or
  controller.controller_name == 'grade_entry_forms'
%>
<div id="sub_menu">
  <ul id="root" class="level1 horizontal">
    <li class="level1 visible_dropdown">

      <% # Display an appropriate message in the dropdown menu
      %>   	
      <% if @assignment.nil? and @grade_entry_form.nil? %>
        <span id="choose_an_assignment"><%= I18n.t(:choose_assignment)%></span>
      <% elsif controller.controller_name == 'assignments' and
           controller.action_name == 'new'
      %>
        <span id="choose_an_assignment"><%= I18n.t(:create_new_assignment)%></span>
      <% elsif controller.controller_name == 'grade_entry_forms' and
           controller.action_name == 'new'
      %> 
        <span id="choose_an_assignment"><%= I18n.t(:create_new_grade_entry_form)%></span>
      <% elsif !@assignment.nil? %>

        <% # Display the assignment's short identifier
        %>
        <span id="choose_an_assignment"><%=h(@assignment.short_identifier)%></span>
      <% elsif !@grade_entry_form.nil? %>
 
        <% # Display the grade entry form's short identifier 
        %>  
        <span id="choose_an_assignment"><%=h(@grade_entry_form.short_identifier)%></span>
      <% end %>
      <ul class="level2 dropdown">
        <%= render :partial => 'shared/assignments_dropdown_menu'%>
      </ul>
   </li>

  <% if !@grade_entry_form.nil? %>
	
    <% # For now, GradeEntryForms only have a Properties tab 
    %>
    <% if (controller.controller_name == 'grade_entry_forms' and 
          controller.action_name != 'new') %>
      <li <% if controller.action_name == 'edit' %>
            id="sub_menu_active"
          <% end %>>
        <%= link_to I18n.t(:properties), :controller => 'grade_entry_forms', 
                    :action => 'edit', :id => @grade_entry_form.id %>
      </li> 
      <li <% if controller.action_name == 'grades' %>
            id="sub_menu_active"
          <% end %>>
        <%= link_to I18n.t(:grades), :controller => 'grade_entry_forms', 
                    :action => 'grades', :id => @grade_entry_form.id %>
      </li>  
    <% end %>
  <% end %>

  <% if !@assignment.nil?%>
    <% if controller.controller_name != 'assignments' or
    (controller.controller_name == 'assignments' and 
     controller.action_name != 'new')	 %>
          <li <% if controller.controller_name == 'assignments' %> 
         id="sub_menu_active"
         <%end%>>
          <%= link_to I18n.t(:properties), :controller => 'assignments', :action =>
	 'edit', :id => @assignment.id %>
       </li>
       <li <% if controller.controller_name == 'rubrics' or controller.controller_name == 'flexible_criteria'%> 
        id="sub_menu_active"
      <% end %>>
	  <% if @assignment.marking_scheme_type == Assignment::MARKING_SCHEME_TYPE[:rubric] %>
         <%= link_to I18n.t(:marking_scheme), :controller => 'rubrics', :action => 'index', :id => @assignment.id%>
	  <% else %>
	     <%= link_to I18n.t(:marking_scheme), :controller => 'flexible_criteria', :action => 'index', :id => @assignment.id %>		 
	  <% end %>
	  
      </li>
      <li <% if controller.controller_name == 'annotation_categories'%> 
        id="sub_menu_active"
      <% end %>>
         <%= link_to I18n.t('annotations.annotations'), :controller => 'annotation_categories', :action => 'index', :id => @assignment.id%>
      </li>
      <li <%if controller.controller_name == 'groups'%> 
         id="sub_menu_active"
      <%end%>>
         <%= link_to I18n.t(:groups_and_graders), :controller => 'groups', :action => 'manage', :id => @assignment.id%>
      </li>
       <li <% if controller.controller_name == 'submissions' or
       controller.controller_name == 'results' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to I18n.t(:submissions), :controller => 'submissions', :action => 'browse', :id =>
@assignment.id %>
      </li>
  <% end %>
<% end %>
    </ul>
  </div>
<% elsif 
	 controller.controller_name == 'users' or
	 controller.controller_name == 'admins' or
         controller.controller_name == 'students' or
	 controller.controller_name == 'tas'
%>
<div id="sub_menu">
  <ul>
    <li <% if controller.controller_name == 'students'%> 
      id="sub_menu_active"
    <% end %>>
      <%= link_to 'Students', :controller => 'students'%>
    </li>
    <li <% if controller.controller_name == 'tas'%> 
      id="sub_menu_active"
    <% end %>>
      <%= link_to 'Graders', :controller => 'tas'%>
    </li>
    <li <% if controller.controller_name == 'admins'%> 
      id="sub_menu_active"
    <% end %>>
      <%= link_to 'Admins', :controller => 'admins'%>
    </li>

  </ul>
</div>

<% end %>
<% elsif @current_user.ta? and controller.controller_name == 'assignments' %>
<div id="sub_menu">
  <ul id="root" class="level1 horizontal">
   <li class="level1 visible_dropdown">
     <% if @assignment.nil?%>
       <span id="choose_an_assignment"><%= I18n.t(:choose_assignment) %></span>
     <% else %>
       <span id="choose_an_assignment"><%=
h(sanitize(@assignment.short_identifier))%></span>
     <% end %>
        <ul class="level2 dropdown">
           <%= render :partial => 'shared/assignments_dropdown_menu'%>
        </ul>
   </li>
  <% if controller.controller_name == 'submissions' or
        controller.controller_name == 'results' %>
  <li <% if controller.controller_name == 'submissions' or
       controller.controller_name == 'results' %> 
          id="sub_menu_active"<% end %>>
 <%= link_to I18n.t(:submissions), :controller => 'submissions', :action => 'browse', :id => @assignment.id %> 
 </li>
 <% end %>
  </ul>
</div> 
<% elsif @current_user.student?%>
<% if controller.controller_name != 'main'%>
<div id="sub_menu">
  <ul id="root" class="level1 horizontal">
   <li class="level1 visible_dropdown">
     <% if @assignment.nil?%>
       <span id="choose_an_assignment"><%= I18n.t(:choose_assignment) %></span>
     <% else %>
       <span id="choose_an_assignment"><%=
h(sanitize(@assignment.short_identifier))%></span>
     <% end %>
        <ul class="level2 dropdown">
           <%= render :partial => 'shared/assignments_dropdown_menu'%>
        </ul>
   </li>

  <% if 
    !@assignment.nil? and @current_user.has_accepted_grouping_for?(@assignment)
  %>
 <li <% if controller.controller_name == 'assignments' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to 'assignments', :controller => 'assignments',
	  :action => 'student_interface', :id => @assignment.id %>
  </li>
  <li <% if controller.controller_name == 'submissions' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to 'Submissions', :controller => 'submissions',
	  :action => 'file_manager', :id => @assignment.id %>
  </li>
   <li <% if controller.controller_name == 'results' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to 'results', :controller => 'results',
	  :action => 'view_marks', :id => @assignment.id %>
  </li>
  
   <% end %>
   </ul>
</div>
<% end %>
<% end %>
