<% if @current_user.admin? %>
  <% if (controller.controller_name == 'assignments' and
          (controller.action_name != 'index' and
           controller.action_name != 'new') ) or
    controller.controller_name == 'rubrics' or
    controller.controller_name == 'flexible_criteria' or
    controller.controller_name == 'annotation_categories' or
    controller.controller_name == 'automated_tests' %>

    <ul class="sub_sub">
      <% if !@assignment.nil? && !@assignment.id.nil? %>
        <% if controller.controller_name != 'assignments' or
              (controller.controller_name == 'assignments' and
               controller.action_name != 'new' ) %>
          <li <% if controller.controller_name == 'assignments' %>
             class='active'
          <%end%>>
            <%= link_to I18n.t(:properties), edit_assignment_path(@assignment) %>
          </li>

          <li <% if controller.controller_name == 'rubrics' or
                    controller.controller_name == 'flexible_criteria'%>
            class='active'
          <% end %>>
            <% if @assignment.marking_scheme_type == Assignment::MARKING_SCHEME_TYPE[:rubric] %>
              <%= link_to I18n.t(:marking_scheme),
                        assignment_rubrics_path(@assignment) %>
            <% else %>
              <%= link_to I18n.t(:marking_scheme),
                     assignment_flexible_criteria_path(@assignment) %>
            <% end %>
          </li>

          <li <% if controller.controller_name == 'annotation_categories'%>
            class='active'
          <% end %>>
            <%= link_to I18n.t('annotations.annotations'),
            assignment_annotation_categories_path(
           @assignment)%>
          </li>
          <li <% if controller.controller_name == 'automated_tests'%>
             class='active'
            <% end %>>
            <%= link_to I18n.t("automated_tests.automated_tests"),
                    manage_assignment_automated_tests_path(@assignment) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
