<% if @current_user.admin?%>
<% if
  controller.controller_name == 'assignments'  or
  controller.controller_name == 'rubrics' or
  controller.controller_name == 'submissions' or
  controller.controller_name == 'groups' or
  controller.controller_name == 'results' or
  controller.controller_name == 'ta_assignments'
%>
<div id="sub_menu">
  <ul id="root" class="level1 horizontal">
   <li class="level1">
     <% if @assignment.nil?%>
       <span id="choose_an_assignment"><%= I18n.t(:choose_assignment)%></span>
     <% else %>
       <span id="choose_an_assignment"><%=h(sanitize(@assignment.name))%></span>
     <% end %>
        <ul class="level2 dropdown">
           <%= render :partial => 'layouts/assignments_dropdown_menu'%>
        </ul>
   </li>

  <% if 
    !@assignment.nil?
  %>
          <li <% if controller.controller_name == 'assignments' %> 
         id="sub_menu_active"
         <%end%>>
	 <% if @current_user.student? %>
            <%= link_to I18n.t(:rules), :controller => 'assignments', :action =>
	 'student_interface', :id => @assignment.id %>

	 <% elsif @current_user.ta? %>  <%= link_to I18n.t(:rules), :controller => 'assignments', :action =>
	 'edit', :id => @assignment.id %>
	 <% else %>
          <%= link_to I18n.t(:rules), :controller => 'assignments', :action =>
	 'edit', :id => @assignment.id %>

	 <% end %>
       </li>
       <li <% if controller.controller_name == 'submissions' or
       controller.controller_name == 'results' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to I18n.t(:submissions), :controller => 'submissions', :action => 'browse', :id =>
@assignment.id %>
      </li>
      <li <%if controller.controller_name == 'groups'%> 
         id="sub_menu_active"
      <%end%>>
         <%= link_to I18n.t(groups_and_graders), :controller => 'groups', :action => 'manage', :id => @assignment.id%>
      </li>
      <li <% if controller.controller_name == 'rubrics'%> 
        id="sub_menu_active"
      <% end %>>
         <%= link_to I18n.t(:rubrics), :controller => 'rubrics', :action => 'index', :id => @assignment.id%>
      </li>

  <% end %>

    </ul>
  </div>
<% elsif controller.controller_name == 'admins' or
         controller.controller_name == 'students' or
	 controller.controller_name == 'tas'
%>
<div id="sub_menu">
  <ul>
    <li <% if controller.controller_name == 'students'%> 
      id="sub_menu_active"
    <% end %>>
      <%= link_to 'Students', :controller => 'students'%>
    </li>
    <li <% if controller.controller_name == 'tas'%> 
      id="sub_menu_active"
    <% end %>>
      <%= link_to 'Graders', :controller => 'tas'%>
    </li>
    <li <% if controller.controller_name == 'admins'%> 
      id="sub_menu_active"
    <% end %>>
      <%= link_to 'Admins', :controller => 'admins'%>
    </li>

  </ul>
</div>

<% end %>
<% elsif @current_user.ta? %>
<div id="sub_menu">
  <ul id="root" class="level1 horizontal">
   <li class="level1">
     <% if @assignment.nil?%>
       <span id="choose_an_assignment"><%= I18n.t(:choose_assignment) %></span>
     <% else %>
       <span id="choose_an_assignment"><%=
h(sanitize(@assignment.name))%></span>
     <% end %>
        <ul class="level2 dropdown">
           <%= render :partial => 'layouts/assignments_dropdown_menu'%>
        </ul>
   </li>

  <% if 
    !@assignment.nil?
  %>
  <%%>
  <% end %> 
  </ul>
</div> 
<% elsif @current_user.student?%>
<% if controller.controller_name != 'checkmark'%>
<div id="sub_menu">
  <ul id="root" class="level1 horizontal">
   <li class="level1">
     <% if @assignment.nil?%>
       <span id="choose_an_assignment"><%= I18n.t(:choose_assignment) %></span>
     <% else %>
       <span id="choose_an_assignment"><%=
h(sanitize(@assignment.name))%></span>
     <% end %>
        <ul class="level2 dropdown">
           <%= render :partial => 'layouts/assignments_dropdown_menu'%>
        </ul>
   </li>

  <% if 
    !@assignment.nil?
  %>
 <li <% if controller.controller_name == 'assignments' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to 'assignments', :controller => 'assignments',
	  :action => 'student_interface', :id => @assignment.id %>
  </li>
  <li <% if controller.controller_name == 'submissions' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to 'Submissions', :controller => 'submissions',
	  :action => 'file_manager', :id => @assignment.id %>
  </li>
   <li <% if controller.controller_name == 'results' %> 
          id="sub_menu_active"
        <%end%>>
	  <%= link_to 'results', :controller => 'results',
	  :action => 'view_marks', :id => @assignment.id %>
  </li>
  
   <% end %>
   </ul>
</div>
<% end %>
<% end %>
