<% if @current_user.admin? %>
  <% if controller.controller_name == 'assignments' ||
        controller.controller_name == 'criteria' ||
        controller.controller_name == 'submissions' ||
        controller.controller_name == 'summaries' ||
        controller.controller_name == 'groups' ||
        controller.controller_name == 'graders' ||
        controller.controller_name == 'marks_graders' ||
        controller.controller_name == 'results' ||
        controller.controller_name == 'ta_assignments' ||
        controller.controller_name == 'annotation_categories' ||
        controller.controller_name == 'grade_entry_forms' ||
        controller.controller_name == 'automated_tests' ||
        controller.controller_name == 'tags' ||
        controller.controller_name == 'peer_reviews' %>

    <% is_viewing_a_peer_review_result = (!@result.nil? && @result.is_a_review?) %>

    <ul class='sub'>
      <li id='dropdown'>
        <div class='dropdown'>
          <%# Display an appropriate message in the dropdown menu %>
          <% if @assignment.nil? && @grade_entry_form.nil? %>
            <%= t(:choose_assignment) %>
          <% elsif controller.controller_name == 'assignments' &&
                   (controller.action_name == 'new' ||
                    controller.action_name == 'create') %>
            <%= t(:create_new_assignment) %>
          <% elsif controller.controller_name == 'grade_entry_forms' &&
                   (controller.action_name == 'new' ||
                    controller.action_name == 'create') %>
            <%= t(:create_new_grade_entry_form) %>
          <% elsif !@assignment.nil? %>
            <%# Display the assignment's short identifier %>
            <%# Check to see if the assignment is hidden %>
            <% if @assignment.is_hidden %>
              <% if !@assignment.is_peer_review? && is_viewing_a_peer_review_result %>
                  <%= @assignment.short_identifier + ' ' + t('assignment.review') + " (hidden)" %>
              <% else %>
                <%= @assignment.is_peer_review? ?
                        @assignment.parent_assignment.short_identifier + ' ' + t('assignment.review') + " (hidden)" :
                        @assignment.short_identifier + " (hidden)"%>
              <% end %>
            <% else %>
              <% if !@assignment.is_peer_review? && is_viewing_a_peer_review_result %>
                <%= @assignment.short_identifier + ' ' + t('assignment.review') %>
              <% else %>
                <%= @assignment.is_peer_review? ?
                        @assignment.parent_assignment.short_identifier + ' ' + t('assignment.review') :
                        @assignment.short_identifier %>
              <% end %>
            <% end %>
          <% elsif !@grade_entry_form.nil? %>
            <%# Display the grade entry form's short identifier %>
            <% if @grade_entry_form.is_hidden %>
              <%= @grade_entry_form.short_identifier + " (hidden)" %>
            <% else %>
              <%= @grade_entry_form.short_identifier %>
            <% end %>
          <% end %>
          <ul>
            <%= render partial: 'shared/assignments_dropdown_menu' %>
          </ul>
        </div>
      </li>

      <% if !@grade_entry_form.nil? && !@grade_entry_form.id.nil? %>
        <% if ((controller.controller_name == 'grade_entry_forms' &&
                controller.action_name != 'new') ||
               controller.controller_name == 'marks_graders') %>
          <li class='<%= "active" if controller.action_name == 'edit' %>'>
            <%= link_to t(:properties),
                        edit_grade_entry_form_path(@grade_entry_form) %>
          </li>
          <li class='<%= "active" if controller.action_name == 'grades' %>'>
            <%= link_to t(:grades),
                        grades_grade_entry_form_path(@grade_entry_form) %>
          </li>
          <li class='<%= "active" if controller.controller_name == 'marks_graders' %>'>
            <%= link_to t('graders.graders'),
                        grade_entry_form_marks_graders_path(@grade_entry_form) %>
          </li>
        <% end %>
      <% end %>

      <% if !@assignment.nil? %>
        <% if controller.controller_name != 'assignments' ||
              (controller.controller_name == 'assignments' &&
               controller.action_name != 'new' &&
               controller.action_name != 'create') %>
          <li <% if ['assignments',
                     'criteria',
                     'annotation_categories',
                     'automated_tests'].include?(controller.controller_name) %>
                class='active'
              <% end %>>
            <%= link_to t('settings'),
                        controller: 'assignments',
                        action: 'edit',
                        id: is_viewing_a_peer_review_result ? @assignment.pr_assignment.id :
                            @assignment.id %>
          </li>
          <li class='<%= "active" if controller.controller_name == 'groups' %>'>
            <%= link_to t('groups.groups'),
                        assignment_groups_path(is_viewing_a_peer_review_result ? @assignment.pr_assignment :
                                                 @assignment) %>
          </li>
          <% unless @assignment.is_peer_review? || is_viewing_a_peer_review_result %>
            <li class='<%= "active" if controller.controller_name == 'graders' %>'>
              <%= link_to t('graders.graders'),
                          assignment_graders_path(@assignment) %>
            </li>
          <% end %>
          <% if @assignment.is_peer_review? || is_viewing_a_peer_review_result %>
            <li class='<%= 'active' if controller.controller_name == 'peer_reviews' %>'>
              <%= link_to t('peer_review.assign'), assignment_peer_reviews_path(
                  is_viewing_a_peer_review_result ? @assignment.pr_assignment.id :
                    @assignment.id) %>
            </li>
            <li class='<%= "active" if controller.controller_name == 'graders' %>'>
              <%= link_to t('graders.graders'),
                          assignment_graders_path(@assignment) %>
            </li>

          <% end %>
          <li <% if controller.controller_name == 'submissions' ||
                    controller.controller_name == 'results' %>
                class='active'
              <% end %>>
             <%= link_to @assignment.is_peer_review? || is_viewing_a_peer_review_result ?
                             t('peer_review.reviews') : t(:submissions),
                         browse_assignment_submissions_path(is_viewing_a_peer_review_result ?
                                                              @assignment.pr_assignment :
                                                              @assignment) %>
          </li>
          <% unless @assignment.is_peer_review? || is_viewing_a_peer_review_result %>
            <li class='<%= "active" if controller.controller_name == 'summaries' %>'>
              <%= link_to t(:summaries),
                          assignment_summaries_path(@assignment) %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% elsif controller.controller_name == 'admins' ||
           controller.controller_name == 'students' ||
           controller.controller_name == 'tas' ||
           controller.controller_name == 'sections' %>
    <ul class='sub'>
      <li class='<%= "active" if controller.controller_name == 'students' %>'>
        <%= link_to t('students.students'), controller: 'students' %>
      </li>
      <li class='<%= "active" if controller.controller_name == 'sections' %>'>
        <%= link_to t(:sections), controller: 'sections' %>
      </li>
      <li class='<%= "active" if controller.controller_name == 'tas' %>'>
        <%= link_to t('graders.graders'), controller: 'tas' %>
      </li>
      <li class='<%= "active" if controller.controller_name == 'admins' %>'>
        <%= link_to t('admins.admins'), controller: 'admins' %>
      </li>
    </ul>
  <% end %>
<% elsif @current_user.ta? && (controller.controller_name == 'assignments' ||
                               controller.controller_name == 'submissions' ||
                               controller.controller_name == 'results' ||
                               controller.controller_name == 'summaries') %>
  <ul class='sub'>
    <li id='dropdown'>
      <span class='dropdown'>
        <% if @assignment.nil? && @grade_entry_form.nil? %>
          <%= t(:choose_assignment) %>
        <% else %>
          <%= @assignment.is_peer_review? ?
                  @assignment.parent_assignment.short_identifier + ' ' + t('assignment.review') :
                  @assignment.short_identifier %>
        <% end %>
        <ul>
           <%= render partial: 'shared/assignments_dropdown_menu' %>
        </ul>
      </span>
    </li>
    <% if controller.controller_name == 'submissions' ||
          controller.controller_name == 'results' ||
          controller.controller_name == 'summaries' %>
      <li <% if controller.controller_name == 'submissions' ||
                controller.controller_name == 'results' %>
            class='active'
          <% end %>>
        <%= link_to t(:submissions),
                    controller: 'submissions',
                    action: 'browse',
                    id: @assignment.id %>
      </li>
      <li <% if controller.controller_name == 'summaries' %>
            class='active'
          <% end %>>
        <%= link_to t(:summaries),
                    assignment_summaries_path(@assignment) %>
      </li>
    <% end %>
  </ul>
<% elsif @current_user.student? %>
  <% if controller.controller_name != 'main' %>
    <ul class='sub'>
      <li id='dropdown'>
        <span class='dropdown'>
          <% if @assignment.nil? && @grade_entry_form.nil? %>
            <%= t(:choose_assignment) %>
          <% elsif !@assignment.nil? %>
            <% # Display the assignment's short identifier %>
              <%= @assignment.is_peer_review? ?
                      @assignment.parent_assignment.short_identifier + ' ' + t('assignment.review') :
                      @assignment.short_identifier %>
          <% elsif !@grade_entry_form.nil? %>
            <% # Display the grade entry form's short identifier %>
            <%= @grade_entry_form.short_identifier %>
          <% end %>
          <ul>
            <%= render partial: 'shared/assignments_dropdown_menu'%>
          </ul>
        </span>
      </li>

      <% if !@grade_entry_form.nil? %>
        <li class='<%= "active" if controller.controller_name == 'grade_entry_forms' %>'>
          <%= link_to t(:grades),
                      controller: 'grade_entry_forms',
                      action: 'student_interface',
                      id: @grade_entry_form.id %>
        </li>
      <% end %>

      <% if !@assignment.nil? &&
            @current_user.has_accepted_grouping_for?(@assignment) %>
        <li class='<%= "active" if controller.controller_name == 'assignments' && controller.action_name != 'peer_review' %>'>
          <%= link_to t('assignments'),
                      controller: 'assignments',
                      action: 'student_interface',
                      id: @assignment.id %>
        </li>


        <li class='<%= "active" if controller.controller_name == 'submissions' %>'>
          <%= link_to t('submissions'),
                      file_manager_assignment_submissions_path(@assignment) %>
        </li>

        <% @grouping = @current_user.accepted_grouping_for(@assignment.id) %>
        <% @submission = @grouping.nil? ? nil : @grouping.current_submission_used %>
        <% @result = @submission.nil? ? nil : @submission.get_original_result %>
        <% if !@grouping.nil? && !@submission.nil? && !@result.nil? %>
        <li class='<%= "active" if controller.controller_name == 'results' &&
             !@result.is_a_review? %>'>
          <%= link_to t('results.results_name'),
                      view_marks_assignment_submission_result_path(@assignment.is_peer_review? ?
                                                                       @assignment.parent_assignment :
                                                                       @assignment,
                                                                   submission_id: @submission.id,
                                                                   id: @result.id) %>
        </li>
        <% end %>
        <% if @assignment.enable_student_tests && (@assignment.unlimited_tokens ||
                                          @assignment.tokens_per_period > 0) %>
          <li class='<%= "active" if controller.controller_name == 'automated_tests' %>'>
            <%= link_to t('automated_tests.title'),
                        controller: 'automated_tests',
                        action:'student_interface',
                        id: @assignment.id %>
          </li>
        <% end %>
        <% if @assignment.has_peer_review? && !@assignment.pr_assignment.is_hidden %>
          <li class='<%= "active" if controller.controller_name == 'assignments' && controller.action_name == 'peer_review'%>'>
            <%= link_to t('assignment.start_peer_review'),
                        controller: 'assignments',
                        action: 'peer_review',
                        id: @assignment.id %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% end %>
