<%= form_for @user, as: :user do |f| %>
  <div class='inline-labels'>
    <%= f.label :user_name, User.human_attribute_name(:user_name) %>
    <%= f.text_field :user_name %>

    <%= f.label :last_name, User.human_attribute_name(:last_name) %>
    <%= f.text_field :last_name %>

    <%= f.label :first_name, User.human_attribute_name(:first_name) %>
    <%= f.text_field :first_name %>

    <%= f.label :email, User.human_attribute_name(:email) %>
    <%= f.text_field :email %>
  </div>

  <%= f.hidden_field :id %>

  <p>
    <%= f.submit t(:save),
                 name: 'submit',
                 data: { disable_with: t('working') } %>
    <%= link_to t(:cancel),
                { controller: controller },
                class: 'button' %>
  </p>
<% end %>
