<div class='section'>
  <%= form_for @user, as: :user do |f| %>
    <table>
      <tr>
        <td><%= raw(f.label(:user_name, User.human_attribute_name(:user_name))) %>:</td>
        <td><%= raw(f.text_field :user_name) %></td>
      </tr>

      <tr>
        <td><%= raw(f.label(:last_name, User.human_attribute_name(:last_name))) %>:</td>
        <td><%= raw(f.text_field :last_name) %></td>
      </tr>

      <tr>
        <td><%= raw(f.label(:first_name, User.human_attribute_name(:first_name))) %>:</td>
        <td><%= raw(f.text_field :first_name) %></td>
      </tr>

      <tr>
        <td><%= raw(f.label(:email, User.human_attribute_name(:email))) %>:</td>
        <td><%= raw(f.text_field :email) %></td>
      </tr>
    </table>

    <%= f.hidden_field :id %>
    <%= f.submit t(:submit),
                 name: 'submit',
                 data: { disable_with: t('working') } %>
    <%= link_to t(:cancel),
                { controller: controller },
                class: 'button' %>
  <% end %>
</div>
