<%= form_for [@current_course, @role], as: :role do |f| %>
  <%= f.fields_for(@role.user || EndUser.new) do |u_f| %>
    <div class='inline-labels'>
      <%= u_f.label :user_name, User.human_attribute_name(:user_name) %>
      <%= u_f.text_field :user_name, required: true, pattern: '[a-zA-Z0-9\-_]+' %>
      <%= f.label :hidden, t('students.status') %>
      <span id='set-active'>
      <%= f.select :hidden,
                   options_for_select([[t('students.active'), false], [t('students.inactive'), true]],
                                      selected: @role.hidden,
                                      disabled: !@current_user.admin_user?) %>
      </span>
    </div>
  <% end %>

  <%= f.hidden_field :id %>

  <p>
    <%= f.submit t(:save),
                 name: 'submit',
                 data: { disable_with: t('working') } %>
    <%= link_to t(:cancel),
                { controller: controller },
                class: 'button' %>
  </p>
<% end %>
