<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) + ' - ' + (content_for?(:html_title) ? yield(:html_title) : controller.action_name.titleize) %></title>
  <%= javascript_include_tag 'application_webpack', nonce: true %>
  <%= javascript_include_tag 'application', nonce: true %>
  <% unless session[:auth_type] == 'remote' %>
    <%= javascript_include_tag 'check_timeout', nonce: true %>
  <% end %>
  <%= render partial: 'layouts/jsroutes_config' %>
  <%= render partial: 'layouts/pdfjs_config' %>
  <%= yield :head %>
</head>
<body>
<div id='<%= controller.action_name == "login" ? "loggedOut" : "loggedIn" %>'>
  <div id='mobile_menu'>
    <a id='menu_icon'></a>
  </div>
  <div id='wrapper'>
    <nav id='menus'>
      <div id='menus_child'>
        <%= render partial: 'layouts/header' %>
        <%= render partial: 'layouts/menu' %>
        <%= render partial: 'layouts/sub_menu' %>
        <%= render partial: 'layouts/sub_sub_menu' %>
      </div>
    </nav>

    <%= render partial: 'layouts/modals' %>

    <section id='content'>
      <div class='title_bar'>
        <h1>
          <%= yield(:title) %>
        </h1>
        <div class='heading_buttons'>
          <%= render partial: "layouts/heading_buttons",
                     collection: @heading_buttons,
                     as: :heading_button,
                     spacer_template: "layouts/heading_buttons_spacer" %>
          <%= yield(:additional_headings) %>
        </div>
      </div>
      <%= render partial: 'shared/flash_message' %>
      <%= render partial: 'layouts/noscript' %>
      <%= content_for?(:content) ? yield(:content) : yield %>

      <div class='wrapLeft'>
        <%= yield(:wrap_left_content) %>
      </div>
    </section>
  </div>
</div>
</body>
</html>
