<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name %></title>
  <%= javascript_include_tag 'application', 'prototype' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag params[:controller], media: 'all' %>
  <% # UI LIBRARIES %>
  <%= javascript_include_tag 'menu',
                             'layouts',
                             'prototype-snippet' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div id='<%= controller.action_name == "login" ? "loggedOut" : "loggedIn" %>'>
    <div id='mobile_menu'>
      <a id='menu_icon'></a>
    </div>
    <nav id='menus'>
      <div id='menus_child'>
        <%= render partial: 'layouts/header' %>
        <%= render partial: 'layouts/menu' %>
        <%= render partial: 'layouts/sub_menu' %>
        <%= render partial: 'layouts/sub_sub_menu' %>
        <%= render partial: 'layouts/footer' %>
      </div>
    </nav>

    <%= render partial: 'layouts/about' %>
    <%= render partial: 'layouts/role_switch' %>
    <%= render partial: 'layouts/redirect' %>

    <section id='content'>
      <%= render partial: 'layouts/noscript'%>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>

    <%= render partial: 'layouts/footer' %>
  </div>

  <%= render 'layouts/redirect', formats: [:js], handlers: [:erb] %>

  <%# Toggle jQuery's noConflict mode so it does not conflict with Prototype %>
  <script>
    jQuery.noConflict();
  </script>
</body>
</html>
