<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<%= render :partial => 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name %></title>
  <%= javascript_include_tag 'application.js',
      'jquery.js',
      'prototype.js',
      'rails.js',
      'jquery-ui.js'%>
  <%= stylesheet_link_tag 'main.css', :media => 'all' %>
  <%= stylesheet_link_tag 'jquery-ui.css', :media => 'all' %>
  <% # UI LIBRARIES %>
  <%= javascript_include_tag 'menu.js',
                             'livepipe/livepipe.js',
                             'livepipe/window.js',
                             'livepipe/tabs.js',
                             'layouts',
                             'prototype-snippet' %>
  <%= stylesheet_link_tag "livepipe/tabs.css", :media => 'all' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>

<body>
  <div id="<%= controller.action_name == 'login' ? "loggedOut" : "loggedIn" %>">
    <%= render :partial => 'layouts/header' %>
    <%= render :partial => 'layouts/menu' %>
    <%= render :partial => 'layouts/sub_menu' %>
    <%= render :partial => 'layouts/sub_sub_menu' %>
    <%= render :partial => 'layouts/about' %>
    <%= render :partial => 'layouts/role_switch' %>
    <%= render :partial => 'layouts/redirect' %>
    <div id="container">
      <div id="content">
        <%= render :partial => 'layouts/noscript'%>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div> <!-- content -->
    </div> <!-- container -->
  </div>

  <!-- Toggle jQuery's noConflict mode so it does not conflict with Prototype -->
  <script type="text/javascript">
    jQuery.noConflict();
  </script>
  <%= render 'layouts/redirect.js.erb' %>
</body>
</html>
