<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= t(:markus) %> - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main.css', :media => 'all' %>
  <%= stylesheet_link_tag "livepipe/tabs.css", :media => 'all' %>
  <%= javascript_include_tag :defaults -%>
  <%= javascript_include_tag 'menu.js' -%>

</head>

<body>
  <div id="<%= if (controller.action_name == 'login') then 
                  "loggedOut" 
               else 
                  "loggedIn" 
               end %>">
  <%= render :partial => 'layouts/header' %>
  <%= render :partial => 'layouts/menu' %>
  <%= render :partial => 'layouts/sub_menu' %>
  <%= render :partial => 'layouts/about' %>
<div id="container">
  <div id="content">
<%= render :partial => 'layouts/noscript'%>
    <%= @content_for_layout %>
  </div> <!-- content -->
</div> <!-- container -->
</div>

</body>
</html>
