<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name.titleize %></title>
  <%# React stuff (compressed version + JSX transformer) %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/react/0.11.0/react.min.js',
                             'https://cdnjs.cloudflare.com/ajax/libs/react/0.11.0/JSXTransformer.js' %>
  <%= javascript_include_tag 'application' %>
  <% # UI LIBRARIES %>
  <%= javascript_include_tag 'menu',
                             'layouts',
                             'help-system' %>
  <%= yield :head %>
</head>
<body>
<div id='<%= controller.action_name == "login" ? "loggedOut" : "loggedIn" %>'>
  <div id='mobile_menu'>
    <a id='menu_icon'></a>
  </div>
  <div id='wrapper'>
    <nav id='menus'>
      <div id='menus_child'>
        <%= render partial: 'layouts/header' %>
        <%= render partial: 'layouts/menu' %>
        <%= render partial: 'layouts/sub_menu' %>
        <%= render partial: 'layouts/sub_sub_menu' %>
        <%= render partial: 'layouts/footer' %>
      </div>
    </nav>

    <%= render partial: 'layouts/about' %>
    <%= render partial: 'layouts/role_switch' %>
    <%= render partial: 'layouts/redirect' %>

    <section id='content'>
      <%= render partial: 'layouts/noscript'%>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
  </div>

  <%= render partial: 'layouts/footer' %>

</div>

<%= render partial: 'layouts/redirect', formats: [:js], handlers: [:erb] %>

<%# Toggle jQuery's noConflict mode so it does not conflict with Prototype %>
<script>
  jQuery.noConflict();
  jQuery(document).ready(
      function($){
        setInterval(function(){
          jQuery.get('<%= check_timeout_main_index_path %>');
        }, 120000);
      });
</script>
</body>
</html>
