<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if @file_type == 'jupyter-notebook' %>
      <%= stylesheet_link_tag 'notebook_common' %>
      <% if @current_user&.theme == 'dark' %>
        <%= stylesheet_link_tag 'notebook_dark' %>
      <% else %>
        <%= stylesheet_link_tag 'notebook_light' %>
      <% end %>
    <% elsif @file_type == 'rmarkdown' %>
      <%= stylesheet_link_tag 'rmd' %>
      <% if @current_user&.theme == 'dark' %>
        <%= stylesheet_link_tag 'rmd_dark' %>
      <% end %>
    <% end %>
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>
