<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if @file_type == 'jupyter-notebook' %>
      <%= stylesheet_link_tag 'notebook_common' %>
      <% if @current_user&.theme == 'dark' %>
        <%= stylesheet_link_tag 'notebook_dark' %>
      <% else %>
        <%= stylesheet_link_tag 'notebook_light' %>
      <% end %>
    <% elsif @file_type == 'rmarkdown' %>
      <%= stylesheet_link_tag 'rmd' %>
      <% if @current_user&.theme == 'dark' %>
        <%= stylesheet_link_tag 'rmd_dark' %>
      <% end %>
    <% end %>
    <%= javascript_tag nonce: true do %>
      // Same as mathjax_config.js except startup.typeset is true
      window.MathJax = {
        startup: {
          typeset: true
        },
        tex: {
          // Allow inline single dollar sign notation
          inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"]
          ],
          processEnvironments: true,
          processRefs: false
        },
        options: {
          ignoreHtmlClass: "tex2jax_ignore",
          processHtmlClass: "tex2jax_process"
          },
        svg: {
          fontCache: "global"
        }
      };
    <% end %>
    <%= javascript_include_tag 'markus_notebook', nonce: true %>
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>
