<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name %></title>
  <%= yield :head %>
</head>
<body>
  <%= yield :layout %>
</body>
</html>
