<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application.css', media: 'all' %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <%= yield :layout %>
</body>
</html>
