<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>  
    <%= render :partial => 'layouts/head' %>

    <title><%= t(:markus) %> - <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'main.css', :media => 'all' %>
    <%= stylesheet_link_tag 'jquery-ui.css', :media => 'all' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield :layout %>
  </body>
</html>
