<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name %></title>
  <%= javascript_include_tag 'application_webpack', nonce: true %>
  <%= javascript_include_tag 'application', nonce: true %>
  <%= javascript_include_tag 'menu', nonce: true %>
  <% unless session[:auth_type] == 'remote' %>
    <%= javascript_include_tag 'check_timeout', nonce: true %>
  <% end %>
  <%= yield :head %>
</head>
<body>
  <div id="<%= controller.action_name == 'login' ? "loggedOut" : "loggedIn" %>">

    <%= render partial: 'layouts/header' unless controller.action_name == 'login' %>
    <%= render partial: 'layouts/menu' unless controller.action_name == 'login' %>
    <%= render partial: 'layouts/sub_menu', locals: { no_menu_header: 'true' } %>
    <%= render partial: 'layouts/modals' %>

    <div id='content'>
      <%= yield :layout %>
    </div>
  </div>

</body>
</html>
