<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name %></title>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'menu' %>
  <%= yield :head %>
</head>
<body>
  <div id="<%= controller.action_name == 'login' ? "loggedOut" : "loggedIn" %>">

    <%= render partial: 'layouts/header' unless controller.action_name == 'login' %>
    <%= render partial: 'layouts/menu' unless controller.action_name == 'login' %>
    <%= render partial: 'layouts/sub_menu', locals: { no_menu_header: 'true' } %>
    <%= render partial: 'layouts/about' %>
    <%= render partial: 'layouts/redirect' %>

    <div id='content'>
      <%= yield :layout %>
    </div>
  </div>

  <%= render partial: 'layouts/redirect', formats: [:js], handlers: [:erb] %>
</body>
</html>
