<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>  
  <%= render :partial => 'layouts/head' %>
  <title>Markus - <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main.css', :media => 'all' %>
  <%= javascript_include_tag :defaults -%>
  <%= javascript_include_tag 'menu.js' -%>
  <%= yield :head %>
</head>

<body>

  <div id="<%= if (controller.action_name == 'login') then
                  "loggedOut"
               else
                  "loggedIn"
               end %>">

  <%= render :partial => 'layouts/header' unless controller.action_name == 'login' %>
  <%= render :partial => 'layouts/menu' unless controller.action_name == 'login' %>
  <%= render :partial => 'layouts/sub_menu', :locals =>{:no_menu_header => 'true'}%>
  <%= render :partial => 'layouts/about' %>
  <%= render :partial => 'layouts/redirect' %>

  <div id="container">
    <div id="content">
       <%= yield :layout %>
    </div><!-- Content -->
  </div><!-- Container -->
</div>

<%= render 'layouts/redirect.js.erb' %>

</body>
</html>
