<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <% if @notebook_type == 'jupyter-notebook' %>
      <%= stylesheet_link_tag 'jupyterlab' %>
      <%= stylesheet_link_tag 'jupyterlab-extra' %>
      <%= stylesheet_link_tag 'common/jupyterlab-markus-custom' %>
      <% if @current_user&.theme == 'dark' %>
        <%= stylesheet_link_tag 'jupyterlab-theme-dark-extension' %>
        <%= stylesheet_link_tag 'pygments-monokai' %>
      <% else %>
        <%= stylesheet_link_tag 'jupyterlab-theme-light-extension' %>
        <%= stylesheet_link_tag 'pygments-default' %>
      <% end %>
      <%= javascript_include_tag 'require', nonce: true %>
      <%= javascript_tag nonce: true do %>
        // Same as mathjax_config.js except startup.typeset is true
        window.MathJax = {
          startup: {
            typeset: true
          },
          tex: {
            // Allow inline single dollar sign notation
            inlineMath: [
              ["$", "$"],
              ["\\(", "\\)"]
            ],
            processEnvironments: true,
            processRefs: false
          },
          options: {
            ignoreHtmlClass: "tex2jax_ignore",
            processHtmlClass: "tex2jax_process"
            },
          svg: {
            fontCache: "global"
          }
        };
      <% end %>
      <%= javascript_include_tag 'markus_notebook', nonce: true %>
      <%= javascript_include_tag 'plotly', nonce: true %>
    <% end %>
  </head>
  <body>
    <%= yield :layout %>
  </body>
</html>
