<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/head' %>
  <title>Test Result: <%= @test_result.filename %></title>
  <%= stylesheet_link_tag params[:controller], media: 'all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= yield :head %>
</head>
<body>
  <%= yield :layout %>
</body>
</html>
