<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render partial: 'layouts/head' %>
  <title><%= t(:markus) %> - <%= controller.action_name.titleize %></title>
  <%= javascript_include_tag 'application_webpack', nonce: true %>
  <%= javascript_include_tag 'application', nonce: true %>
  <% unless session[:auth_type] == 'remote'%>
    <%= javascript_include_tag 'check_timeout', nonce: true %>
  <% end %>
  <%= render partial: 'layouts/jsroutes_config' %>
  <%= render partial: 'layouts/pdfjs_config' %>
  <%= yield :head %>
</head>
<body>
<div id='<%= controller.action_name == "login" ? "loggedOut" : "loggedIn" %>'>
  <div id='mobile_menu'>
    <a id='menu_icon'></a>
  </div>
  <div id='wrapper' class='flex-col'>
    <nav id='menus'>
      <div id='menus_child'>
        <%= render partial: 'layouts/header' %>
        <%= render partial: 'layouts/menu' %>
        <%= render partial: 'layouts/sub_menu' %>
      </div>
      <%= render partial: 'layouts/modals' %>
    </nav>

    <div id='working' class="no-display">
      <span><%= t(:working) %></span>
      <span id='ellipsis'></span>
    </div>

    <section id='content' class='flex-col'>
      <%= render partial: 'shared/flash_message' %>
      <%= render partial: 'layouts/noscript'%>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </section>
  </div>
</div>
</body>
</html>
